<div class="block-merchants {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
		<form action="{user_list_href}" name="merchant" method="get">
		<input type="hidden" name="category_id" value="{category_id}" />
			<!-- begin merchants_list -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<!-- BEGIN merchants -->
			<tr><td class="usualbg">
				<a class="title" href="{merchant_url}"><img src="{merchant_logo}" width="175px" /></a>
				<a class="title" href="{merchant_url}">{merchant_name}</a> ({merchant_products})
				<span class="merchantDescription">{merchant_short_description}</span>
				<a href="/map_store.php?id={merchant_id}">На карте</a>
				
				<div class="additional_props">
					<!-- begin additional_props_list -->
						<div>{additional_prop_name}</div>
						<img src="{additional_prop_img_src}"/>
					<!-- end additional_props_list -->
				</div>
				
			</td></tr>
			<!-- END merchants --> 
			</table>
			<!-- end merchants_list -->
		  
			<!-- begin merchants_select -->
			<table border="0" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td>
					<select class="field" name="user">
					
						<option value=""></option>
						<!-- begin merchants_options --><option {merchant_selected} value="{merchant_id}">{merchant_name} ({merchant_products})</option><!-- end merchants_options -->
					</select>
					<span class="submit"><input class="submit" type="submit" value="{GO_BUTTON}" /></span>
				</td>
			</tr>
			</table>
			<!-- end merchants_select -->
		</form>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>