<div class="user-shipping-modules">
    <div class="BlockTop">
        <div class="TopCenter">
            <div class="TopLeftBgr">
                <div class="TopRightBgr">
                    <div class="TopLeft"></div>
                    <div class="TopRight"></div>
                    <div class="TopTitle">
                        <div class="TopTitleBgr"><div>Редактирование способов доставки</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="BlockMiddle">
        <div class="MiddleCenter">
            <table border="0" cellspacing="1" cellpadding="6" width="100%"><!-- BEGIN sorters --> 
            <tr align="center" class="middlebg">
                <td>{sorter_shipping_type_id}</td>
                <td>{sorter_shipping_type_desc}</td>
                <td>{sorter_is_active}</td>
                <td>&nbsp;</td>
            </tr><!-- END sorters --><!-- BEGIN records -->
            <tr class="usual" align="center">
                <td>{shipping_type_id}</td>
                <td align="left">{shipping_type_desc}</td>
                <td>{is_active}</td>
                <td><a href="{admin_shipping_type_href}?shipping_type_id={shipping_type_id}">{EDIT_SHIPPING_TYPE_MSG}</a></td>
            </tr><!-- END records --><!-- BEGIN no_records -->
            <tr class="usual">
                <td colspan="4">{NO_RECORDS}</td>
            </tr><!-- END no_records -->
            <tr class="middlebg">
                <td colspan="4">
                    <div class="floatright"><!-- begin navigator_block -->{navigator}<!-- end navigator_block --></div>
                    <a href="{admin_shipping_type_href}?shipping_module_id={shipping_module_id}">{NEW_SHIPPING_TYPE_MSG}</a>
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>