﻿<div style="background: orange; margin-bottom: 20px; padding: 20px;">
	
	<pre>{debug}</pre>
	
	<div>
		{BALANCE_COUNT_MSG}: {balance_count}
	</div>
	
	<div>
		{BLOCKED_BALANCE_MSG}: {blocked_balance}
	</div>
	<div>
		<a href="#">{ADD_BALANCE}</a>
	</div>
	<div>
		{TARIF_PLAN_MSG}: {tarif_name}
	</div>
</div>