<div class="block-articles-latest {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">

			<table width="100%" border="0" cellspacing="0" cellpadding="0"><!-- BEGIN latest_rows -->
			<tr><!-- BEGIN latest_cols -->
				<td align="left" valign="top" width="{latest_column}" class="padding10px">


					<table width="100%" border="0" cellspacing="2" cellpadding="0">
					<!-- begin articles_category -->
					<tr><td class="categoryStripe"><a href="{list_url}">{category_name}</a></td></tr>
					<!-- end articles_category -->
					<!-- begin articles_top -->
					<tr>
						<td class="topArticle">
							<!-- begin image_small_block --><a href="{details_url}"><img src="{src}" width="210px" vspace="2" hspace="5" border="0" align="left" alt="{alt}" /></a><!-- end image_small_block -->
				    
							<div><a href="{details_url}" class="{restricted_class}"><b>{latest_item_name}</b><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>
							<span class="articleDate">{article_date}</span>

							<!-- begin article_desc -->				    
							<div align="justify">
							{desc_text} &nbsp;<a class="buttonMore" href="{details_url}"><span><b>{READ_MORE_MSG}</b></span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
							</div>
							<!-- end article_desc -->				    
						</td>
					</tr>
					<!-- end articles_top -->
					<tr>
						<td class="subArticle">
						<!-- begin articles_sub --><div>&nbsp;<a class="subArticle {restricted_class}" href="{details_url}">{latest_item_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a> <span class="articleDate">({article_date})</span> </div><!-- end articles_sub -->
						</td>
					</tr>
					</table>



				</td><!-- END latest_cols -->
			</tr><!-- END latest_rows -->
			</table>


	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>