<div class="random-review">
    <div class="rComment">
        <div class="rBaloon" id="rBaloon">
            <div class="rCom" id="rCom">{comment}</div>
            <div class="rAuth" id="rAuth">{author}</div>
        </div>
        <div class="rNav">
        <a class="orange" id="othRev" href="#" data-id="{id}">Другой отзыв</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="orange" href="articles_reviews.php?category_id=33&article_id=31">Посмотреть все отзывы</a>
        </div>
    </div>
    <div class="clearboth"></div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){

    $('#othRev').click(function(e){
        var id = $(this).attr('data-id');
        e.preventDefault();
        $.ajax({
            url: "index.php",
            type: "GET",
            data: {
                is_ajax : 1,
                id: id
            },
            success: parseData,
            dataType: "json"
        });
    });
    
    parseData = function(ans) {
        $('#rCom').html(ans.comment);
        $('#rAuth').html(ans.author);
        $('#othRev').attr('data-id', ans.id);
    };
});
</script>