<div class="block-categories-catalog {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">

		<table border="0" cellspacing="0" class="padding4px" width="100%"><!-- BEGIN catalog_rows -->
		<tr valign="top"><!-- BEGIN catalog_top -->
			<td align="center" class="category_cat_img"><!-- begin catalog_image --><a href="{list_url}" title="{top_a_title}"><img src="{src}" {width} {height} alt="{alt}" border="0" /></a><!-- end catalog_image --></td>
			<td width="{column_width}">
				<a class="bigtitle cat_{class_top_selected} {restricted_class}" href="{list_url}" title="{top_a_title}">{catalog_top_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a><!-- BEGIN category_rss -->
				<a class="rss" href="{rss_href}?category_id={catalog_top_id}"><img src="images/ico-rss.gif" alt="RSS" border="0" /></a><!-- END category_rss -->
				<div class="smallText"><!-- begin catalog_description -->
					<div class="comment">{short_description}</div><!-- end catalog_description --><!-- begin catalog_sub -->
					<a class="smallText cat_{class_sub_selected} {restricted_sub_class}" href="{list_url}" title="{sub_a_title}">{catalog_sub_name}<!--begin restricted_sub_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_sub_image--></a><!-- begin catalog_sub_separator -->   / <!-- end catalog_sub_separator --><!-- end catalog_sub --><!-- begin catalog_sub_more -->
					<a class="smallText" href="{list_url}">{MORE_MSG}</a><!-- begin sub_separator -->, <!-- end sub_separator --><!-- end catalog_sub_more -->
				</div>
			</td><!-- END catalog_top -->
		</tr><!-- END catalog_rows -->
		</table>

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>