<h1>{block_title}</h1>
<div class="block-category-description {block_class}" style="{block_style}">
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<!-- begin image_large_block --><img src="{src}" {width} {height} border="0" hspace="5" align="left" alt="{alt}" /><!-- end image_large_block -->
			 {full_description}
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
				