<script language="JavaScript" type="text/javascript">
//<![CDATA[
var compareMinAllowed = "{COMPARE_MIN_ALLOWED_MSG}";
var compareMaxAllowed = "{COMPARE_MAX_ALLOWED_MSG}";
//]]>
</script>
<div class="block-products-recently-viewed {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

	<form action="{compare_href}" name="{compare_name}" method="get">
	<input type="hidden" name="items" value="" />
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<!-- begin recently_viewed_rows -->
		<tr>
		<!-- begin recently_viewed_cols -->
			<td align="left" valign="top" class="top padding10px" width="{recent_viewed_column}">

				<!-- begin top_image --><a href="{details_href}" title="{item_name}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{item_name}" title="{item_name}"align="left" /></a><!-- end top_image -->
	  
				
				<a class="{product_new_class} {restricted_class}" href="{details_href}" title="{item_name}">{top_name}<!--begin product_new_image--><img src="images/tr.gif" alt="" class="{product_new_class}" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a> 
				<!-- begin top_value_block -->
				- <span class="ourprice">{top_value} {top_tax_price}</span>
				<!-- end top_value_block -->
				
				<!-- begin top_desc -->
				<br />{desc_text}
				<!-- end top_desc -->

				<!-- begin recent_compare -->
				<div align="right">
					<input type="checkbox" name="compare" value="{item_id}" />
					<a class="smallText" title="Сравнить {item_name}" href="#" onclick="return compareRecentItems('{compare_name}');">{COMPARE_MSG}</a>
				</div><!-- end recent_compare -->

			</td><!-- end recently_viewed_cols -->
		</tr><!-- end recently_viewed_rows -->
		</table>
	</form>

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>