<div class="block-products-releases {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

		<table border="0" width="100%" cellspacing="1" align="center" class="padding6px">
		<tr>
			<td>
				<div class="bigtitle">{PROD_RELEASES_MSG}</div>
				<hr size="1">
				<!-- begin releases -->
				<br />
				<table border="0" width="100%" cellspacing="0" cellpadding="0">
				<tr valign="top">
					<td><div class="title">{release_title} {version})<br /></div></td>	
				</tr>
				</table>
				<div align="justify">{release_desc}</div><br />
				<!-- begin download -->
				<div class="smallText">{PROD_DOWNLOAD_MSG}: <a class="smallText" href="{download_url}">{filename}</a></div>
				<!-- end download -->
				<!-- end releases -->
				<!-- BEGIN no_releases -->
				<div>{NO_PROD_RELEASES_MSG}</div><!-- END no_releases -->
				<br />
			</td>
		</tr>
		</table>	

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>