<div class="user-shipping-system">
    <div class="BlockTop">
        <div class="TopCenter">
            <div class="TopLeftBgr">
                <div class="TopRightBgr">
                    <div class="TopLeft"></div>
                    <div class="TopRight"></div>
                    <div class="TopTitle">
                        <div class="TopTitleBgr"><div>Редактирование модуля доставки</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="BlockMiddle">
        <div class="MiddleCenter">
            <form action="user_shipping_system.php" name="record" method="post">
            <input type="hidden" name="operation" value="save" />
            <input type="hidden" name="shipping_module_id" value="{shipping_module_id}" />
            <input type="hidden" name="more_parameters" value="0" />
            <input type="hidden" name="number_parameters" value="{number_parameters}" />
            <input type="hidden" name="is_default" value="0" />
            <input type="hidden" name="is_call_center" value="0" />
            <input type="hidden" name="available_for_user" value="1" />
            <input type="hidden" name="user_added_id" value="{user_added_id}" />
            <!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->

                <table cellspacing="1" cellpadding="6" border="0" width="100%">
                <tr class="usual">
                    <td><label for="is_active">{IS_ACTIVE_MSG}</label></td>
                    <td colspan="4"><input type="checkbox" name="is_active" id="is_active" {is_active} value="1"></td>
                </tr>
                <tr class="usual">
                    <td>{SHIPPING_MODULE_NAME_MSG} *</td>
                    <td colspan="4"><input type="text" class="field" name="shipping_module_name" value="{shipping_module_name}" size="100"></td>
                </tr>
                <tr class="usual">
                    <td>{USER_MODULE_NAME_MSG}</td>
                    <td colspan="4"><input type="text" class="field" name="user_module_name" value="{user_module_name}" size="100"></td>
                </tr>

                <tr class="usual">
                    <td>{NOTES_MSG}</td>
                    <td colspan="4"><textarea cols="100" rows="15" name="module_notes">{module_notes}</textarea></td>
                </tr>
                <tr class="usual">
                    <td>{COST_ADD_PERCENT_MSG}</td>
                    <td colspan="4"><input type="text" class="field" name="cost_add_percent" value="{cost_add_percent}" size="10"></td>
                </tr>
                <tr class="middlebg" style="display:none;">
                    <td colspan="5">{OTHER_PARAMETERS_MSG}</td>
                </tr>
                <tr class="usual" style="display:none;">
                    <td><label for="is_external">{IS_EXTERNAL_MSG}</label></td>
                    <td colspan="4"><input type="checkbox" name="is_external" id="is_external" {is_external} value="1"></td>
                </tr>
                <tr class="usual" style="display:none;">
                    <td>{PHP_EXTERNAL_LIBRARY_MSG}</td>
                    <td colspan="4">
                        <input type="text" class="field" name="php_external_lib" value="{php_external_lib}" size="70"> 
                        &nbsp; ({CALCULATE_SHIPPING_NOTE})
                    </td>
                </tr>
                <tr class="usual" style="display:none;">
                    <td>{EXTERNAL_URL_MSG}</td>
                    <td colspan="4"><input type="text" class="field" name="external_url" value="{external_url}" size="70"></td>
                </tr>
                <tr class="usual" style="display:none;">
                    <td>{TRACKING_URL_MSG}</td>
                    <td colspan="4">
                        <input type="text" class="field" name="tracking_url" value="{tracking_url}" size="70"> 
                        &nbsp; ({TRACKING_URL_NOTE})
                    </td>
                </tr>
                <tr class="middlebg" style="display:none;">
                    <td colspan="5">{PARAMETERS_LIST_MSG}</td>
                </tr>
                <tr align="center" class="middlebg" style="display:none;">
                    <td class="small">#</td>
                    <td class="small">{PARAMETER_NAME_MSG}</td>
                    <td class="small">{PARAMETER_SOURCE_MSG}</td>
                    <td class="small">{NOT_PASSED_MSG}</td>
                    <td class="small">{DELETE_BUTTON}</td>
                </tr><!-- begin parameters --><!-- begin parameters_errors -->
                <tr class="usual" align="center" style="display:none;">
                    <td>&nbsp;</td>
                    <td colspan="3" class="errorbg">{errors_list}</td>
                    <td>&nbsp;</td> 
                </tr><!-- end parameters_errors -->
                <tr class="usual" align="center" style="display:none;">
                    <td class="small">
                        {row_number}
                        <input type="hidden" name="parameter_id_{parameters_number}" value="{parameter_id}">
                        <input type="hidden" name="shipping_module_id_{parameters_number}" value="{shipping_module_id}">
                    </td>
                    <td><input type="text" class="field"  name="parameter_name_{parameters_number}" value="{parameter_name}" size="40"></td>
                    <td><input type="text" class="field"  name="parameter_source_{parameters_number}" value="{parameter_source}" size="40"></td>
                    <td align="center"><input type="checkbox" name="not_passed_{parameters_number}" {not_passed} value="1"></td>
                    <td align="center"><input type="checkbox" name="parameters_delete_{parameters_number}" {parameters_delete} value="1"></td>
                </tr><!-- end parameters -->
                <tr class="usual" style="display:none;">
                    <td colspan="5" align="right">
                        {ADD_MORE_PARAMETERS_QST} <span class="button"><input class="submit" type="submit" value={ADD_BUTTON} onClick="document.record.more_parameters.value=1"></span>
                    </td>
                </tr>
                <tr class="middlebg">
                    <td>&nbsp;</td>
                    <td colspan="4">
                        <span class="button"><input class="submit" type="submit" value="{save_button}" onCLick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
                        <span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onCLick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
                        <span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
                    </td>
                </tr>
                </table>
            </form>

        </div>

    </div>

</div>