<div class="user-payments-system">
    <div class="BlockTop">
        <div class="TopCenter">
            <div class="TopLeftBgr">
                <div class="TopRightBgr">
                    <div class="TopLeft"></div>
                    <div class="TopRight"></div>
                    <div class="TopTitle">
                        <div class="TopTitleBgr"><div>Платежные системы пользователя</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="BlockMiddle">
        <div class="MiddleCenter">
            <form action="{user_payments_href}" method="post" name="record">
                <input type="hidden" name="operation" value="save" />
                <!-- begin ps_info_block -->
                <div class="psInfo">
                    Если платежные системы не выбраны, клиенту будет предоставлен выбор из платежных систем доступных на сайте.
                </div>
                <!-- end ps_info_block -->
                <div class="psList">
                    <!-- begin user_ps -->
                    <div class="uPS">
                        <label>
                            <input type="checkbox" name="user_payments[]" value="{ps_id}" {ps_selected} />
                            <span class="psName">{ps_name}</span>
                        </label>
                    </div><!-- end user_ps -->
                </div>

                    <span class="submit"><input class="submit" type="submit" value="{SAVE_BUTTON}" onclick="document.record.operation.value='save';" /></span> &nbsp; <!-- BEGIN delete -->
                    <span class="submit"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');" /></span><!-- END delete -->
                    <span class="submit"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel';" /></span>
            </form>
        </div>
    </div>
</div>