<div class="block-merchant-info {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
            <h3>{nickname}</h3>
			<div class="merchantLogoContainer" style="height: 1%; overflow: hidden;"><!-- begin personal_image_block -->
				<img class="merchantLogo" src="{personal_image_src}" {image_size} border="0" hspace="5" alt="{alt}" /><!-- end personal_image_block -->
			</div>

            <div id="tabsData">
                <div class="info" id="info">
                    <!-- begin member_since_block -->
                    <div>{MEMBER_SINCE_MSG}: <b>{member_since}</b></div><!-- end member_since_block -->
                    <!-- begin merchant_site_block -->
                    <div>Сайт: <b><a href="{merchant_site}" target="_blank">{merchant_site}</a></b></div><!-- end merchant_site_block -->
                    <!-- begin nickname_block -->
                    <div>Продавец: <b>{nickname}</b>
                    <!-- begin nickname_country_block -->
                    <img src="{country_image_src}" {image_size} border="0" hspace="5" alt="{alt}"><!-- end nickname_country_block -->
                    </div><!-- end nickname_block -->
                    <!-- begin daytime_phone_block -->
                    <div>Контактный телефон: <b>{daytime_phone}</b></div><!-- end daytime_phone_block -->
                    <!-- begin icq_number_block -->
                    <div>Номер ICQ: <b>{icq_number}</b></div><!-- end icq_number_block -->
                    <!-- begin merchant_description_block -->
                    <div>Описание: {merchant_description}</div><!-- end merchant_description_block -->
                    <!-- begin prod_link_block -->
                    <div><a href="{merchant_products_url}">{VIEW_MERCHANT_PRODUCTS_MSG}</a></div><!-- end prod_link_block -->
                    <!-- begin merchant_rating_block -->
                    <div>Рейтинг: <a href="merchant_reviews.php?user={merchant_id}#mReview"><img class="{average_rating_image}" src="images/tr.gif" align="top" alt="{average_rating_alt}" /></a></div><!-- end merchant_rating_block -->
                    <div class="merchantReviewsLinks">
                        <!-- begin merchant_links_view -->
                        <a href="merchant_reviews.php?user={merchant_id}#mReview">Посмотреть отзывы</a> | <!-- end merchant_links_view -->
                        <!-- begin merchant_links_add -->
                        <a href="merchant_reviews.php?user={merchant_id}#mReview">Добавить отзыв</a><!-- end merchant_links_add -->
                    </div>
                    <!-- begin online_status_block -->
                    <div>{STATUS_MSG}: <b>{online_status}</b></div><!-- end online_status_block -->
                    <!-- begin country_block -->
                    <div>{COUNTRY_FIELD}: <img src="{country_image_src}" {image_size} border="0" hspace="5" alt="{alt}" /></div><!-- end country_block -->
                    <!-- begin merchant_city_block -->
                    <div>Город: <b>{merchant_city}</b></div><!-- end merchant_city_block -->
                    <!-- begin ss_record_block -->
                    <div>
                    <b>Способы доставки:</b><br/>
                    <!-- begin ss_module_name --> - {shipping_name}<br/><!-- end ss_module_name -->
                    <span class="shippingDetails">Узнайте точный список вариантов доставки в Ваш регион — воспользуйтесь Калькулятором доставки.</span>
                    </div><!-- end ss_record_block -->
                    <!-- begin minimal_order_block -->
                    <div>Минимальная сумма заказа: <b>{minimal_order}руб.</b></div><!-- end minimal_order_block -->
                    <!-- begin minimal_order_shipping_block -->
                    <div>Бесплатная доставка Продавцом при заказе от: <b>{user_shipping_minimal}руб.</b></div><!-- end minimal_order_shipping_block -->
                    <!-- begin free_shipping_condition_block -->
                    <div>Условия бесплатной доставки: <b>{free_shipping_condition}</b></div><!-- end free_shipping_condition_block -->
                    <!-- begin ps_record_block -->
                    <div>
                    <b>Способы оплаты:</b><br/>
                    <!-- begin ps_module_name --> - {payment_name}<br/><!-- end ps_module_name -->
                    </div><!-- end ps_record_block -->
                    <!-- begin work_with_block -->
                    <div>Работаем с:<br/>
                        <!-- begin work_with_private_block --><b> - частные лица</b><br/><!-- end work_with_private_block -->
                        <!-- begin work_with_companies_block --><b> - юрлица</b><br/><!-- end work_with_companies_block -->
                    </div><!-- end work_with_block -->
                     <!-- begin warranty_and_returning_block -->
                    <div>Бесплатный возврат и условия гарантии: <span id="showMerchantWarrantyInfo">Посмотреть</span>
                        <span id="merchantWarrantyInfo">{warranty_and_returning}</span>
                    </div>
                    <script type="text/javascript">
                    $(document).ready(function(){
                        $("#showMerchantWarrantyInfo").on("click", function(){
                            var container = $("#WarrantyText");    
                            if(!container.length){
                                textInfo = $("#merchantWarrantyInfo").html();
                                createContainer(textInfo);
                            }
                            showContainer();
                        });

                        function createContainer(textData){
                            var body = $("body").eq(0),
                                cloud = $("<div></div>",{
                                    id: "pageCloud",
                                    class: "pageCloud",
                                    click: hideCloud
                                }),
                                noteContainer = $("<div></div>",{
                                    class: "WarrantyText",
                                    id: "WarrantyText",
                                    text:textData
                                }),
                                buttonClose = $("<div></div>",{
                                    id: "buttonClose",
                                    class: "buttonClose",
                                    click: hideCloud,
                                    text: "Закрыть"
                                });

                                cloud.appendTo(body);
                                buttonClose.appendTo(noteContainer);
                                noteContainer.appendTo(body);
                                noteContainer.BLZAlignFixed();

                        }

                        function showContainer(){
                            $("#pageCloud").css({display:"block"});
                            $("#WarrantyText").css({display:"block"});
                        }
                        function hideCloud(){
                            $("#pageCloud").css({display:"none"});
                            $("#WarrantyText").css({display:"none"});
                            
                        }
                    });

                    </script>
                    <!-- end warranty_and_returning_block -->
                    <!-- begin remark_block -->
                    <div>Примечание: <b>{remark}</b></div><!-- end remark_block -->
                    <!-- begin legal_block -->
                    <div>Юридические данные: <span id="showMerchantLegalInfo">Посмотреть</span>
                        <span id="merchantLegalInfo">{legal_combained}</span>
                    </div>
                    <script type="text/javascript">
                    $(document).ready(function(){
                        $("#showMerchantLegalInfo").on("click", function(){
                            var container = $("#LegalText");    
                            if(!container.length){
                                textInfo = $("#merchantLegalInfo").html();
                                createContainerL(textInfo);
                            }
                            showContainerL();
                        });

                        function createContainerL(textData){
                            var body = $("body").eq(0),
                                cloud = $("<div></div>",{
                                    id: "pageCloudL",
                                    class: "pageCloudL",
                                    click: hideCloudL
                                }),
                                noteContainer = $("<div></div>",{
                                    class: "LegalText",
                                    id: "LegalText",
                                    html:textData
                                }),
                                buttonClose = $("<div></div>",{
                                    id: "buttonClose",
                                    class: "buttonClose",
                                    click: hideCloudL,
                                    text: "Закрыть"
                                });

                                cloud.appendTo(body);
                                buttonClose.appendTo(noteContainer);
                                noteContainer.appendTo(body);
                                noteContainer.BLZAlignFixed();

                        }

                        function showContainerL(){
                            $("#pageCloudL").css({display:"block"});
                            $("#LegalText").css({display:"block"});
                        }
                        function hideCloudL(){
                            $("#pageCloudL").css({display:"none"});
                            $("#LegalText").css({display:"none"});
                            
                        }
                    });

                    </script>
                    <!-- end legal_block -->


                </div>
                
            </div>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
<script type="text/javascript">
    jQuery.fn.BLZAlignFixed = function () {
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2)) + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
        return this;
    }
</script>