<div class="user-shipping-systems">
    <div class="BlockTop">
        <div class="TopCenter">
            <div class="TopLeftBgr">
                <div class="TopRightBgr">
                    <div class="TopLeft"></div>
                    <div class="TopRight"></div>
                    <div class="TopTitle">
                        <div class="TopTitleBgr"><div>Настройка единой доставки</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="BlockMiddle">
        <div class="MiddleCenter">

            <form action="{user_shipping_href}" method="post" name="record">
                <div class="edDostavka">
                    
                    <div style="margin-bottom:6px;">Стоимость единой доставки</div>
                    <div style="margin-bottom:6px;">
                        <input type="text" name="per_order" value="{per_order}" style="width:70px" /> руб, за заказ
                    </div>
                    <div style="margin-bottom:6px;">
                        <input type="text" name="per_kg" value="{per_kg}" style="width:70px" /> руб, за килограмм
                    </div>
                </div>

                <div class="BlockTop">
                    <div class="TopCenter">
                        <div class="TopLeftBgr">
                            <div class="TopRightBgr">
                                <div class="TopLeft"></div>
                                <div class="TopRight"></div>
                                <div class="TopTitle">
                                    <div class="TopTitleBgr"><div>Выбор активных систем доставки</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="operation" value="save" />
                <!-- begin ss_info_block -->
                <div class="psInfo">
                    Если системы доставки не выбраны, клиенту будет предоставлен выбор из систем доставки доступных на сайте.
                </div>
                <!-- end ss_info_block -->
                <div class="psList">
                    <!-- begin user_ss -->
                    <div class="uPS">
                        <label>
                            <span class="psName">{ss_name}</span>
                            <input type="checkbox" name="user_shippings[]" value="{ss_id}" {ss_selected} />
                        </label>
                    </div><!-- end user_ss -->
                </div>

                <!--begin available_systems_block -->
                <div style="padding:10px;text-align:center;"><b>Доступные системы доставки</b></div>
                    <table border="0" cellspacing="1" cellpadding="6" width="100%"><!-- BEGIN sorters --> 
                        <tr align="center" class="middlebg">
                            <td>{sorter_shipping_module_id}</td>
                            <td>{sorter_shipping_module_name}</td>
                            <td>{sorter_is_active}</td> 
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr><!-- END sorters --><!-- BEGIN records -->
                        <tr class="usual" align="center">
                            <td>{shipping_module_id}</td>
                            <td align="left">{shipping_module_name}</td>
                            <td>{is_active}</td>

                            <td>
                                <!-- begin edit_link -->
                                <a href="user_shipping_system.php?shipping_module_id={shipping_module_id}">Редактировать модуль</a><!-- end edit_link -->
                            </td>
                            <td><!-- begin edit_types_link -->
                                <a href="user_shipping_modules.php?shipping_module_id={shipping_module_id}">Редактировать методы</a><!-- end edit_types_link -->
                            </td>
                        </tr><!-- END records --><!-- BEGIN no_records -->
                        <tr class="usual">
                            <td colspan="7">Записей нет</td>
                        </tr><!-- END no_records -->

                    </table>
                <!--end available_systems_block -->
                <div class="buttons">
                    <br />
                    <span class="submit"><input class="submit" type="submit" value="{SAVE_BUTTON}" onclick="document.record.operation.value='save';" /></span> &nbsp;
                    <span class="submit"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel';" /></span> &nbsp;
                    <!-- begin button_add -->
                    <span class="submit"><input class="submit" type="button" value="Добавить систему" onclick="location.href='user_shipping_system.php'" /></span><!-- end button_add -->
                </div>
            </form>
        </div>
    </div>
</div>