<div class="footerAll" style="{block_style}">
	<div class="footerMenu"><!-- begin footer_links -->
	<!-- begin page_separator -->
		<span> | </span><img class="separator" src="images/tr.gif" alt="" /><!-- end page_separator -->
				<a class="smallText" href="{menu_url}" {menu_target} onclick="{onclick_code}">{menu_title}</a><!-- end footer_links -->
	</div>
	<div class="footerHTML">{footer_html}</div>
</div>