<div>
<div id="map" style="width: 2000px; height: 1000px"></div>
<br>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB20P6KPCCUZuBOBcHnRa8NydacTKuNKBs&signed_in=true&libraries=geometry,places"></script>
<script type="text/javascript" src="http://js.maxmind.com/js/apis/geoip2/v2.0/geoip2.js"></script>
<script>

var markers = [];


var addresses = '{shop_addresses}'.split('|');

console.log(addresses);
 geoip2.city(function(location){
    MapApi = {
	initMap: function() {
		if (location) {
			center = {lat: location.location.latitude, lng: location.location.longitude};
		} else center = {lat: 55.751244, lng: 37.618423};
              		
		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 8,
			center: center,
		});	
		for (var i in addresses) {
			if (!addresses[i]) continue;
			$.ajax({
				url: "http://maps.googleapis.com/maps/api/geocode/json?address=" + addresses[i],
				async: false,
				cache: false
			})
			.done(function( response ) {
				console.log(response);

				result = response['results'][0];
				lat = result['geometry']['location']['lat'];
				lng = result['geometry']['location']['lng'];
				if ('{set_center}') map.setCenter({lat:lat, lng:lng});
				MapApi.addMarker({lat:lat, lng:lng});

			});
		}	
	},

	addMarker: function(location) {
		var marker = new google.maps.Marker({
	    	position: location,
	    	map: map
	 	 });
	  	markers.push(marker);	
	},

	clearAll: function() {
		for (var i = 0; i < markers.length; i++) {
    		markers[i].setMap(null);
  		}
  		markers = [];
	},

	getRadius: function(currentLat, currentLng, radius) {
		currentPosition = new google.maps.LatLng(currentLat, currentLng);
	
		for (var i in markers) {
			if (google.maps.geometry.spherical.computeDistanceBetween(markers[i].getPosition(), currentPosition) < radius) {
				markers[i].setVisible(false);
			}
		}
	},
}
MapApi.initMap();
});




</script>
</div>