<div class="block-merchant-info {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
            <h3>{nickname}</h3>
			<div style="height: 1%; overflow: hidden;"><!-- begin personal_image_block -->
				<img src="{personal_image_src}" {image_size} border="0" hspace="5" align="left" alt="{alt}" /><!-- end personal_image_block -->
			</div>
            <div class="merchantTabs">
                <div class="tab active" data-connection="info">Инфо</div>
                <div class="tab" data-connection="connect">Связаться</div>
                <div class="tab" data-connection="map" {map_style}>Карта</div>
                <div class="clear"></div>
            </div>
            <div id="tabsData">
                <div class="info" id="info">
                    <!-- begin nickname_block -->
                    <div>Продавец: <b>{nickname}</b>
                    <!-- begin nickname_country_block -->
                    <img src="{country_image_src}" {image_size} border="0" hspace="5" alt="{alt}"><!-- end nickname_country_block -->
                    </div><!-- end nickname_block -->
                    <!-- begin merchant_description_block -->
                    <div>{merchant_description}</div><!-- end merchant_description_block -->
                    <!-- begin merchant_rating_block -->
                    <div>Рейтинг: <img class="{average_rating_image}" src="images/tr.gif" align="top" alt="{average_rating_alt}" /></div><!-- end merchant_rating_block -->
                    <div class="merchantReviewsLinks">
                        <!-- begin merchant_links_view -->
                        <a href="merchant_reviews.php?user={merchant_id}#mReview">Посмотреть отзывы</a> | <!-- end merchant_links_view -->
                        <!-- begin merchant_links_add -->
                        <a href="merchant_reviews.php?user={merchant_id}#mReview">Добавить отзыв</a><!-- end merchant_links_add -->
                    </div>
                    <!-- begin online_status_block -->
                    <div>{STATUS_MSG}: <b>{online_status}</b></div><!-- end online_status_block -->
                    <!-- begin country_block -->
                    <div>{COUNTRY_FIELD}: <img src="{country_image_src}" {image_size} border="0" hspace="5" alt="{alt}" /></div><!-- end country_block -->
                    <!-- begin merchant_city_block -->
                    <div>Город: <b>{merchant_city}</b></div><!-- end merchant_city_block -->
                    <!-- begin merchant_site_block -->
                    <div>Сайт: <b><a href="{merchant_site}" target="_blank">{merchant_site}</a></b></div><!-- end merchant_site_block -->
                    <!-- begin member_since_block -->
                    <div>{MEMBER_SINCE_MSG}: <b>{member_since}</b></div><!-- end member_since_block -->
                    <!-- begin minimal_order_block -->
                    <div>Минимальная сумма заказа: <b>{minimal_order}</b>руб.</div><!-- end minimal_order_block -->
                    <!-- begin prod_link_block -->
                    <div><a href="{merchant_products_url}">{VIEW_MERCHANT_PRODUCTS_MSG}</a></div><!-- end prod_link_block -->
                </div>
                <div class="connect" id="connect" style="display:none;">
                    {merchant_form_include}
                </div>
                <div class="map" id="map" style="display:none;">
                    <!-- begin merchant_map_block -->
                    
                    <div id="userMap" style="width:210px;height:340px"></div>
                    <script src="http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
                    <script type="text/javascript">
                        var userMapCont,
                            contWidth = ($('#tabsData').width()) - 2,
                            mapContainer = $('#userMap');

                        mapContainer.width(contWidth);

                        ymaps.ready(init);

                        function init () {

                            userMapCont = new ymaps.Map('userMap', {

                                center:[{user_yandex_center}],
                                zoom:15,
                                type: 'yandex#map'
                            }),
                            userPlacemark = new ymaps.Placemark([{user_yandex_point}], {
                                hintContent: "{nickname}"
                            });
                            
                            userMapCont.geoObjects.add(userPlacemark);
                            userMapCont.controls.add('zoomControl', { left: 5, top: 5 })
                        }    
                    </script>
                    <!-- end merchant_map_block -->
                </div>
            </div>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
    var tabsData = $('#tabsData > div'),
        tabs = $('.merchantTabs .tab')

    tabs.on('click', function(evt){
        
        var $this = $(this),
            dataConnection = $this.attr('data-connection');
        if(dataConnection){
            tabs.removeClass('active');
            $this.addClass('active');
            tabsData.css({display: 'none'})
            $('#' + dataConnection).css({display: 'block'});
;
        }
    })
})
</script>