<div class="block-banners {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px"><!-- begin banners --><!-- begin title_block -->
			<div class="b-r-title"><a href="{bc_url}" target="{target}">{banner_title}</a></div><!-- end title_block --><!-- begin banner_image -->
			<div class="b-r-image"><a href="{bc_url}" target="{target}"><img src="{src}" {image_size} border="0" alt="{alt}" /></a></div><!-- end banner_image -->
			<div class="b-r-text">{html_text}</div><!-- end banners -->
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>