<div class="block-products-changes-log {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

		<table cellspacing="1" width="100%" border="0" class="padding6px">
		<tr>
			<td>
				<div class="bigtitle">{PROD_CHANGES_LOG_MSG}</div>
				<hr size="1">
				<!-- begin releases -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="title">&nbsp;{release_title} ({PROD_VER_MSG} {version})</td>
					<td align="right"><span class="articleDate">{release_date}</span>&nbsp;</td>
				</tr>
				</table>
				<ul><!-- BEGIN changes -->
					<li>{change_desc}</li><!-- END changes -->
				</ul>
				<!-- end releases -->
				<!-- BEGIN no_releases -->
				<div class="title">{NO_RELEASE_CHANGES_MSG}</div><!-- END no_releases -->
			</td>
		</tr>
		</table>	

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
