<noindex>
<div class="block-login verh2" style="{block_style}">
<a name="block_login_{pb_id}"></a>

<div class="BlockMiddle1">
	<div class="MiddleCenter1">
		<div class="smallText1">

<form action="{login_form_url}#block_login_{pb_id}" name="login" method="post">
<input type="hidden" name="login_action" value="{login_action}" />
<input type="hidden" name="return_page" value="{return_page}" />
{hidden_parameters}

<table align="center" border="0" id="tabaut">
<!-- BEGIN login_errors -->
<tr>
	<td colspan="2" align="center">
		<div class="errorbg">{errors_list}</div>
	</td>
</tr>
<!-- END login_errors -->
<!-- BEGIN login_form -->
<tr>
<td align="right" id="aut"><span class="aut"> <a href="/user_login.php">Войти     </a> | <a href="/user_profile.php?type=1">Зарегистрироваться</a></span></td>
</tr>

<!-- END login_form --><!-- BEGIN logout_form -->
<tr>
<td align="right"><b>{user_login}</b>: <a href="{user_home_href}">Личный кабинет</a> <input class="submit2"type="submit" value="Выход" /></td>

</tr>
<!-- END logout_form -->
</table>
</form>

		</div>
	</div>
</div>

</div>
</noindex>