<div class="block-manufacturers {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr2"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
		<form action="{products_href}" name="manufacturers" method="get">
		<input type="hidden" name="category_id" value="{category_id}" />
			<!-- begin manufacturers_list -->
			<!-- BEGIN manufacturers -->	
			<a class="title" title="{manufacturer_name}" href="{manufacturer_href}">{manufacturer_name}&nbsp;&nbsp;&nbsp; </a>
			<!-- END manufacturers --> 
			<!-- end manufacturers_list -->
		  
			<!-- begin manufacturers_select -->
			<div align="center">
				<select class="field" name="manf">
					<option value=""></option>
					<!-- begin manufacturers_options --><option {manufacturer_selected} value="{manufacturer_id}">{manufacturer_name} ({manufacturer_products})</option><!-- end manufacturers_options -->
				</select>
				<span class="submit"><input class="submit" type="submit" value="{GO_BUTTONV}" /></span>
			</div>
			<!-- end manufacturers_select -->
		</form>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>