<div class="block-merchant-info {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title} {nickname}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<!-- begin prod_link_block -->
			<div><a href="{merchant_products_url}">{VIEW_MERCHANT_PRODUCTS_MSG}</a></div>
			<!-- end prod_link_block -->
		</div>
		<div style="height: 1%; overflow: hidden;"><!-- begin personal_image_block -->
				<img src="{personal_image_src}" width="250px" border="0" hspace="5" align="left" alt="{alt}" /><!-- end personal_image_block -->
				<!-- begin merchant_description_block -->
				{merchant_description}<!-- end merchant_description_block -->
			</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>