<a name="block_{pb_id}"></a>
<div class="block-subscribe-simple {block_class}" style="{block_style}">

	<div class="padding10px">
		<table border="0" cellspacing="0" cellpadding="0"><!-- begin subscribe_error -->
		<tr>
			<td>
				<div class="errorbg"><b>{error_desc}</b></div>
			</td>
		</tr><!-- end subscribe_error --><!-- begin subscribe_message -->
		<tr>
			<td>
				<div class="messagebg"><b>{message_desc}</b></div>
			</td>
		</tr><!-- end subscribe_message -->
		<tr>
			<td>
				<form action="{current_href}#block_{pb_id}" method="get">
				{hidden_parameters}
				<input class="field" type="text" name="subscribed_email" value="{subscribed_email}" />
				<span class="submit"><input class="submit" type="submit" value="{SUBSCRIBE_BUTTON}" /></span>
				</form>
			</td>
		</tr>
		</table>
	</div>

</div>
