<div class="block-categories-list {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
		<!-- BEGIN categories_rows -->
		<ul class="{category_list_class}">
		<!-- BEGIN categories -->
			<li class="{category_class}" id="c_{pb_id}_{category_id}">
				<!-- begin category_image --><a href="{list_url}" {onclick}><img id="img_{pb_id}_{category_id}" class="category_img" src="{src}" {width} {height} alt="{alt}" border="0" /></a><!-- end category_image -->
				<a class="title {restricted_class}" href="{list_url}" title="{a_title}">{category_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a>
				<!-- BEGIN category_rss -->
				<a class="h4" href="{rss_href}?category_id={category_id}"><img src="images/ico-rss.gif" alt="RSS" border="0" /></a>
				<!-- END category_rss -->
				<!-- BEGIN subcategories_rows --><ul id="sc_{pb_id}_{category_id}" class="{sub_category_list_class}">{subcategories}</ul><!-- END subcategories_rows --> 
			</li>
		<!-- END categories -->
		</ul>
		<!-- END categories_rows --> 
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>