<div class="block-sliders-content">
<form name="block" action=""><input type="hidden" name="pb_id" value="{pb_id}" /><input type="hidden" name="slider_type" value="{slider_type}" /></form>

	<div class="BlockData" style="{data_block_style}">
		<!-- begin data -->
		<div class="Data" id="{data_id}" style="{data_style}">
		<table width="{table_width}" border="0" cellspacing="0" cellpadding="1" id="slid_im"><!-- begin rows -->
		<tr><!-- BEGIN cols -->
			<td align="left" valign="top" width="{column_width}"><!-- begin slider_image -->
				<a href="{slider_link}"><img border="0" src="{src}" {width} {height} alt="" /></a><!-- end slider_image -->
				{slider_html}
			</td><!-- END cols -->
		</tr><!-- end rows -->
		</table>
		</div>
		<!-- end data -->
	</div>

</div>