<div class="block-products-recently-viewed {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="left" valign="top" width="100%" class="padding5px">

                    <a href="'.$random_url.'"><img src="'.$random_image.'" hspace="5" border="0" alt="'.$random_image_alt.'" align="left"></a>

                    <a href="'.$random_url.'" class=""><b>'.$random_name.'</b></a><br><br>
					<div align=justify>
                    '.$random_desc.'</div>
                </td>
            </tr>
            </table>;

<div class="BlockMiddle">
	<div class="MiddleCenter">

	
</div>
</div>
