<div class="block-user-payment {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
		<tr class="middlebg" align="center">
			<td>{sorter_item_name}</td>
			<td>{sorter_amount}</td>
			<td>{sorter_type}</td>
			<td>{sorter_date}</td>
		</tr><!-- end sorters --><!-- BEGIN records -->
		<tr class="usualbg" valign="top" align="center">
			<td align="left">{item_name}</td>
			<td align="right">{commission_amount}</td>
			<td>{commission_type}</td>
			<td>{date_added}</td>
		</tr><!-- END records --><!-- BEGIN no_records -->
		<tr class="usualbg">
			<td colspan="4">{NO_COMMISSIONS_MSG}</td>
		</tr><!-- END no_records -->
		<tr class="middlebg" valign="top" align="center">
			<td align="left">{TOTAL_MSG}</td>
			<td align="right">{commissions_total}</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		</table>	

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>