<div class="Header" style="{block_style}">
	<div class="HeaderLogo"><a href="{site_url}"><img style="background: url('{logo_src}') no-repeat;" class="png" src="images/tr.gif" {logo_size} alt="{logo_alt}" title="{logo_alt}" /></a></div>
	{header_menu}
</div>