<div class="block-wishlist-search {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
		<form action="{search_href}" method="get">
			{FIND_WISHLIST_DESC}<br /><br />
			{EMAIL_FIELD}: <input class="search" type="text" name="se" value="{se}" />
			<span class="submit"><input class="submit" type="submit" name="search" value="{FIND_WISHLIST_BUTTON}" /></span>
		</form>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>