<!-- begin column_on -->&nbsp;<a href="{sorting_href}">{column_name}</a>&nbsp;<!-- end column_on -->
<!-- begin column_off -->&nbsp;{column_name}&nbsp;<!-- end column_off -->
<!-- begin image_on_asc --><img src="images/icons/asc_on.gif" width="13" height="10" border="0" alt="" /><!-- end image_on_asc -->
<!-- begin image_off_asc --><a href="{sorting_href}"><img src="images/icons/asc_off.gif" width="13" height="10" border="0" alt="" /></a><!-- end image_off_asc -->
<!-- begin image_on_desc --><img src="images/icons/desc_on.gif" width="13" height="10" border="0" alt="" /><!-- end image_on_desc -->
<!-- begin image_off_desc --><a href="{sorting_href}"><img src="images/icons/desc_off.gif" width="13" height="10" border="0" alt="" /></a><!-- end image_off_desc -->
