<div class="block-search-simple {block_class}" style="{block_style}">

	<div class="padding10px">
		<form action="{search_href}" method="get"><!-- BEGIN search_categories -->
			<select class="search field" name="search_category_id"><!-- begin search_category_id -->
				<option {search_category_id_selected} value="{search_category_id_value}">{search_category_id_description}</option><!-- end search_category_id -->
			</select><!-- END search_categories --><!-- begin no_search_categories -->
			<input type="hidden" name="search_category_id" value="{top_id}" /><!-- end no_search_categories -->
			<input class="search field" type="text" name="search_string" value="{search_string}" />
			<span class="submit"><input class="submit" type="submit" name="search" value=" {GO_BUTTON} " /></span>
			<!-- BEGIN advanced_search --><a class="advancedSearch" href="{advanced_search_href}">{ADVANCED_SEARCH_TITLE}</a><!-- END advanced_search -->
		</form>
		</div>

</div>