<div class="block-user-support {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
		<tr class="middlebg" align="center">
			<td>{sorter_summary}</td>
			<td>{sorter_status}</td>
			<td>{sorter_type}</td>
			<td>{sorter_modified}</td>
			<td>&nbsp;</td>
		</tr><!-- end sorters --><!-- BEGIN records -->
		<tr class="usualbg" valign="top" align="center">
			<td align="left">{summary}</td>
			<td>{status_name}</td>
			<td>{type_name}</td>
			<td>{date_modified}</td>
			<td><a href="{support_messages_href}?support_id={support_id}&vc={vc}">{VIEW_MSG}</a></td>
		</tr><!-- END records --><!-- BEGIN no_records -->
		<tr class="usualbg">
			<td>{NO_SUPPORT_REQUEST_MSG}</td>
		</tr><!-- END no_records -->
		</table>	
		<table border="0" cellspacing="1" width="100%" class="padding6px">
		<tr class="middlebg">
			<td colspan="4"><a href="{support_href}">{NEW_SUPPORT_REQUEST_MSG}</a></td>
			<td align="right">&nbsp;{navigator}</td>
		</tr>
		</table>	

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>