<div class="block-products-latest {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

			<table width="100%" border="0" cellspacing="0" cellpadding="0"><!-- BEGIN lp_rows -->
			<tr><!-- BEGIN lp_cols -->
				<td align="left" valign="top" width="{latest_column}" class="padding10px">

					<!-- begin lp_image --><a href="{details_url}" title="{a_title}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{alt}" align="left" /></a><!-- end lp_image -->

					<a href="{details_url}" class="{restricted_class}" title="{a_title}"><b>{item_name}</b><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a>
					<!-- begin lp_price_block -->
					 <br> <span class="salesPrice">{lp_price} {lp_tax_price}</span>
					<!-- end lp_price_block -->
<!-- begin price_block -->
						<div id="price_block{form_id}" class="{price_block_class}">{PRICE_MSG}:&nbsp;<span id="price{form_id}" class="price">{price_control}</span> <span class="priceTax">{tax_price}</span></div><!-- end price_block -->
						<!-- begin sales -->
						<div class="salesBlock">{OUR_PRICE_MSG}:&nbsp;<span id="sales_price{form_id}" class="salesPrice">{sales_price_control}</span><span class="akcia"><img src="images/akcia.png" /></span> <span class="salesTax">{tax_sales}</span></div><!-- end sales -->
					
					<!-- begin lp_desc -->
					<br />{desc_text}
					<!-- end lp_desc -->

				</td><!-- END lp_cols -->
			</tr><!-- END lp_rows -->
			</table>

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
