<div class="block-ads-hot {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">

			<table width="100%" border="0" cellspacing="0" cellpadding="2"><!-- BEGIN hot_rows -->
			<tr><!-- BEGIN hot_cols -->
				<td align="left" valign="top" width="{hot_column}">
					<div><a class="bigtitle {restricted_class}" href="{details_href}">{hot_item_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>
					<div align="justify">
					<!-- begin image_small --><a href="{details_href}"><img src="{src}" {width} {height} border="0" alt="{alt}" align="left" /></a><!-- end image_small -->
					{hot_description} &nbsp;<a class="buttonMore" href="{details_href}"><span><b>{READ_MORE_MSG}</b>.</span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
					</div>
				</td><!-- END hot_cols -->
			</tr><!-- END hot_rows -->
			</table>

			<!-- begin hot_navigator_block -->
			<div class="padding2px" align="right">{hot_navigator}</div>
			<!-- end hot_navigator_block -->
		
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>