<script language="JavaScript" type="text/javascript">
//<![CDATA[
var addSubscription = "{CONFIRM_SUBSCRIPTION_MSG}";
var confirmAdd = "{confirm_add}";
var compareMinAllowed = "{COMPARE_MIN_ALLOWED_MSG}";
var compareMaxAllowed = "{COMPARE_MAX_ALLOWED_MSG}";
//]]>
</script>

<div class="block-subscriptions {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><h1>{block_title}</h1></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<!-- BEGIN subscriptions_items -->
			<!-- BEGIN subscription_group --><div class="middlebg padding6px"><b>{group_name}</b></div><!-- END subscription_group -->
			<div class="{class_item_td}">
				<a name="f{form_id}"></a>
				<!-- BEGIN subscription_added --><div class="message" align="center">{added_message}</div><!-- END subscription_added -->
				<!-- BEGIN sc_errors --><div class="error" align="center">{errors_list}</div><!-- END sc_errors -->
				<form name="form_{form_id}" method="post" action="{subscriptions_href}#f{form_id}">
				<input type="hidden" name="group_id" value="{group_id}" />
				<input type="hidden" name="rp" value="{rp}" />
				<input type="hidden" name="rnd" value="{rnd}" />
				<input type="hidden" name="cart" value="SUBSCRIPTION" />
				<div class="padding2px">
					<!-- begin subscription_value -->
					<input type="hidden" name="subscription_id" value="{subscription_id_value}" />
					<span class="title">{subscription_name}</span> - <span class="ourprice">{subscription_fee}</span> ({subscription_period})<br />
					<!-- end subscription_value -->
					<!-- begin subscription_id -->
					<input type="radio" name="subscription_id" {subscription_id_checked} value="{subscription_id_value}" />
					<span class="title">{subscription_name}</span> - <span class="ourprice">{subscription_fee}</span> ({subscription_period})<br /><!-- end subscription_id -->
				</div>
				<div class="padding2px">
					<!-- begin add_button -->
					<a class="button button-add" id="add_{form_id}" href="{buy_href}" onclick="return confirmSubscription(document.form_{form_id});"><span>{ADD_TO_CART_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}" /></a> 
					<!-- end add_button -->
					<!-- begin view_button -->
					<a class="button button-view" id="view_{form_id}" href="{basket_href}?rp={rp_url}"><span>{VIEW_CART_MSG}</span><img src="images/tr.gif" alt="{VIEW_CART_MSG}" /></a> 
					<!-- end view_button -->
					<!-- begin checkout_button -->
					<a class="button button-check" id="check_{form_id}" href="{checkout_href}?rp={rp_url}"><span>{GOTO_CHECKOUT_MSG}</span><img src="images/tr.gif" alt="{GOTO_CHECKOUT_MSG}" /></a>
					<!-- end checkout_button -->
				</div>
				</form>
			</div>
			<!-- END subscriptions_items -->
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
