<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function openProductWindow(formId)
	{
		var productWin = window.open ('{user_product_select_href}?form_id=' + formId, 'subproductWin', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		productWin.focus();
	}

	function setProduct(itemId, itemName, itemPrice, formId)
	{
		document.record.sub_item_id.value = itemId;
		document.record.property_name.value = itemName;
		var basicPrice = document.getElementById("basic_price");
		if (basicPrice) {
			basicPrice.innerHTML = "&nbsp;&ndash;&nbsp;" + itemPrice;
		}
	}

//]]>
</script>

<div class="block-user-product-subcomponent {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

<form action="{admin_component_single_href}" name="record" method="post">
<input type="hidden" name="operation" value="save" />
<input type="hidden" name="property_id" value="{property_id}" />
<input type="hidden" name="item_id" value="{item_id}" />
<input type="hidden" name="sort_dir" value="{sort_dir}" />
<input type="hidden" name="sort_ord" value="{sort_ord}" />
<input type="hidden" name="page" value="{page}" />
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table width="100%" border="0" cellspacing="1" class="padding4px">
<tr class="usualbg">
	<td>{SUBCOMP_ID_MSG} <span class="required">*</span></td>
	<td>
		<input class="field" type="text" name="sub_item_id" value="{sub_item_id}" size="20" />
		&nbsp;<a href="#" onclick="openProductWindow(''); return false;"><b>{SELECT_PRODUCT_MSG}</b></a>
	</td>
</tr>
<tr class="usualbg">
	<td>{SUBCOMP_NAME_MSG} <span class="required">*</span></td>
	<td><input class="field" type="text" name="property_name" value="{property_name}" size="60" /></td>
</tr>
<tr class="usualbg">
	<td>{QUANTITY_MSG} <span class="required">*</span></td>
	<td><input class="field" type="text" name="quantity" value="{quantity}" size="20" /></td>
</tr>
<tr class="usualbg">
	<td>{SUBCOMP_PRICE_MSG}</td>
	<td>
		<input class="field" type="text" name="additional_price" value="{additional_price}" size="20" />
		({SUBCOMP_PRICE_NOTE}<b><span id="basic_price">{basic_price}</span></b>)
	</td>
</tr><!-- begin trade_additional_price_block -->
<tr class="usualbg">
	<td>Subcomponent Trade Price</td>
	<td><input class="field" type="text" name="trade_additional_price" value="{trade_additional_price}" size="20" /></td>
</tr><!-- end trade_additional_price_block -->
<tr class="middlebg">
	<td>&nbsp;</td>
	<td>
		<span class="submit"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save';" /></span> &nbsp; <!-- BEGIN delete -->
		<span class="submit"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');" /></span> &nbsp; <!-- END delete -->
		<span class="submit"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel';" /></span>
	</td>
</tr>
</table>
</form>

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>