﻿/*
 * Sliding Cart - jQuery plugin v1.1
 * MainOlMa
 */
#cart_popup {
	display: none;
	position: absolute;	
	border: 1px solid #d0d0d0;
	width: 300px;
	right: -1px;
	background: #fff;	
	padding: 10px 10px 5px 10px;
	z-index:1500;
	top:105px;
}
#cart_popup.empty{width: 150px; text-align: center;}

.cartItem{
	background: #fff;
	margin-bottom: 5px;
	display: table;
	clear: both;
	color: #000;
	z-index:1502;
	line-height: 28px;
	width: 100%;}

.cartItem .image,.cartItem .name,.cartItem .quantity,.cartItem .price,.cartItem .itogo{
	display: block; float: left;}
	
.cartItem .image{width: 60px;}	
.cartItem .name{width: 140px;}
.cartItem .itogo{width: 190px;}
.cartItem .quantity{width: 30px;}
.cartItem .price{width: 70px;}
.cartItem.total {border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-top: 10px;}
.cartItem.links .button-check {float: left;}
.cartItem.links .button-view {float: right;}
.cartItem img {vertical-align: middle; width: 50px;}

.header {overflow: visible;z-index: 1101;}