<div class="block-categories-catalog {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>
	<div class="BlockData">			<table border="0" cellspacing="0" class="padding4px" width="100%"><!-- BEGIN catalog_rows -->
			<tr valign="top"><!-- BEGIN catalog_top -->
				<td align="center" class="category_cat_img"><!-- begin catalog_image --><a href="{list_url}" title="{top_a_title}"><img src="{src}" {width} {height} alt="{alt}" border="0" /></a><!-- end catalog_image --></td>
				<td width="{column_width}">									<div class="ta-c">					
						<a class="bigtitle cat_{class_top_selected} {restricted_class}" href="{list_url}" title="{top_a_title}">{catalog_top_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a><!-- BEGIN category_rss --><!-- END category_rss -->
						<div class="smallText"><!-- begin catalog_description -->
							<div class="comment">{short_description}</div><!-- end catalog_description --><!-- begin catalog_sub -->
							<br /><a class="cat_{class_sub_selected} {restricted_sub_class} f16" href="{list_url}" title="{sub_a_title}">{catalog_sub_name}<!--begin restricted_sub_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_sub_image--></a><!-- begin catalog_sub_separator -->, <br /><!-- end catalog_sub_separator --><!-- end catalog_sub --><!-- begin catalog_sub_more -->
							<a class="" href="{list_url}">{MORE_MSG}</a><!-- begin sub_separator -->, <!-- end sub_separator --><!-- end catalog_sub_more -->
						</div>										</div>
				</td><!-- END catalog_top -->
			</tr><!-- END catalog_rows -->
		</table>
	</div>
</div>