<div class="block-cart-save {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
			<form name="record" action="{cart_save_href}">
			<input type="hidden" name="operation" value="save" />
			<input type="hidden" name="rnd" value="{random_value}" />
			<input type="hidden" name="rp" value="{rp}" />
			<br />
			<table cellspacing="0" class="padding4px" border="0" width="95%" align="center">
			<tr>
				<td colspan="2">{SAVE_CART_INFO_MSG}<br /></td>
			</tr><!-- begin success_block -->
			<tr>
				<td colspan="2"><div class="messagebg">{success_message}</div></td>
			</tr><!-- end success_block --><!-- begin errors -->
			<tr>
				<td colspan="2"><div class="errorbg">{errors_list}</div></td>
			</tr><!-- end errors -->
			<tr>
				<td align="right">{CART_NAME_FIELD}&nbsp;</td>
				<td><input type="text" class="text" name="cart_name" value="{cart_name}" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<span class="submit"><input class="submit" type="submit" value="{SAVE_CART_BUTTON}" onclick="document.record.operation.value='save'" /></span>
					<span class="submit"><input class="submit" id="cancel" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'" /></span>
				</td>
			</tr>
			</table>
			<br />
			</form>

	</div>
</div>