<div class="block-forum-latest {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="usualbg padding10px">
			<table width="100%" border="0" cellspacing="0" cellpadding="2"><!-- BEGIN latest_rows -->
				<tr><!-- BEGIN latest_cols -->
					<td align="left" valign="top" width="{latest_column}">
						<div><!--begin block_topic-->
						<img src="./images/icons/closed.gif" alt="Restricted Topic" border="0" align="absmiddle" /><!--end block_topic-->
						<a class="f16" href="{forum_topic_url}"><b>{topic_title}</b></a></div><!-- begin latest_topic_pages_block -->
						<div class="smallText">[ <img src="images/icons/mini_page.gif" alt="" />&nbsp;<a class="smallText" href="{forum_topic_url}">1</a><!-- begin latest_topic_pages -->,<a class="smallText" href="{forum_topic_page_url}">{page_number}</a><!-- end latest_topic_pages --> ]</div><!-- end latest_topic_pages_block -->												<span class="articleDate">{latest_updated}</span>												<br />						
					</td><!-- END latest_cols -->
				</tr><!-- END latest_rows -->
			</table>

		</div>
	</div>
</div>