<div class="block-banners {block_class}" style="{block_style}">
	<div class="BlockData">
		<div class="usualbg padding10px"><!-- begin banners --><!-- begin title_block -->
			<div class="b-r-title"><a href="{bc_url}" target="{target}">{banner_title}</a></div><!-- end title_block --><!-- begin banner_image -->
			<div class="b-r-image"><a href="{bc_url}" target="{target}"><img src="{src}" {image_size} border="0" alt="{alt}" /></a></div><!-- end banner_image -->
			<div class="b-r-text">{html_text}</div><!-- end banners -->
		</div>
	</div>
</div>