<div class="block-user-product-registrations {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
			<tr class="middlebg" align="center">
				<td width="100">{sorter_id}</td>
				<td>{sorter_status}</td><!--begin category_id_title-->
				<td>{sorter_category_id}</td><!--end category_id_title--><!--begin item_id_title-->
				<td>{sorter_item_id}</td><!--end item_id_title--><!--begin item_code_title-->
				<td>{sorter_item_code}</td><!--end item_code_title--><!--begin item_name_title-->
				<td>{sorter_item_name}</td><!--end item_name_title--><!--begin serial_number_title-->
				<td>{sorter_serial_number}</td><!--end serial_number_title--><!--begin invoice_number_title-->
				<td>{sorter_invoice_number}</td><!--end invoice_number_title--><!--begin store_name_title-->
				<td>{sorter_store_name}</td><!--end store_name_title--><!--begin purchased_day_title-->
				<td>{sorter_purchased_day}</td><!--end purchased_day_title--><!--begin purchased_month_title-->
				<td>{sorter_purchased_month}</td><!--end purchased_month_title--><!--begin purchased_year_title-->
				<td>{sorter_purchased_year}</td><!--end purchased_year_title-->
			</tr><!-- end sorters --><!-- begin records -->
			<tr class="usualbg" valign="top" align="center">
				<td>{registration_id}</td>
				<td>{is_approved}</td><!--begin category_id_block-->
				<td>{category_name}</td><!--end category_id_block--><!--begin item_id_block-->
				<td align="left">{item_id_name}</td><!--end item_id_block--><!--begin item_code_block-->
				<td align="right">{item_code}</td><!--end item_code_block--><!--begin item_name_block-->
				<td align="left">{item_name}</td><!--end item_name_block--><!--begin serial_number_block-->
				<td align="right">{serial_number}</td><!--end serial_number_block--><!--begin invoice_number_block-->
				<td>{invoice_number}</td><!--end invoice_number_block--><!--begin store_name_block-->
				<td>{store_name}</td><!--end store_name_block--><!--begin purchased_day_block-->
				<td>{purchased_day}</td><!--end purchased_day_block--><!--begin purchased_month_block-->
				<td>{purchased_month}</td><!--end purchased_month_block--><!--begin purchased_year_block-->
				<td>{purchased_year}</td><!--end purchased_year_block-->
			</tr><!-- end records --><!-- begin no_records -->
			<tr class="usualbg">
				<td colspan="{total_cols}">{NO_PRODUCT_REGISTRATIONS_MSG}</td>
			</tr><!-- end no_records -->
			</table>	
			<table border="0" cellspacing="1" width="100%" class="padding6px">
			<tr class="middlebg">
				<td><!-- BEGIN add_product_registration_block -->
					{delimiter}<a href="{user_product_registration_href}">{REGISTER_PRODUCT_MSG}</a><!-- END add_product_registration_block -->
				</td><!-- begin navigator_block -->
				<td align="right">{navigator}</td><!-- end navigator_block -->
			</tr>
		</table>
	</div>
</div>