<div class="block-forum-search {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<form action="{forum_href}" method="get">
		<div class="padding10px"><!-- BEGIN search_categories -->
			<select name="sf" class="search field"><!-- begin sf -->
				<option {sf_selected} value="{sf_value}">{sf_description}</option><!-- end sf -->
			</select><!-- END search_categories -->
			<input class="search field" type="text" name="sw" value="{sw}" />&nbsp; 
			<input type="submit" value="{SEARCH_BUTTON}" class="submit" />						<div class="clearboth"></div>
		</div>
		</form>
	</div>
</div>