<div class="block-categories-list {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>
	<div class="BlockData">
		<!-- BEGIN categories_rows -->
		<ul class="CategoryList">
		<!-- BEGIN categories -->
			<li class="{category_class}">
				<!-- begin category_image --><a href="{list_url}"><img class="category_img" src="{src}" {width} {height} alt="{alt}" border="0" /></a><!-- end category_image -->
				<a class="title {restricted_class}" href="{list_url}" title="{a_title}">{category_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a>
				<!-- BEGIN category_rss --><!-- END category_rss -->
				<!-- BEGIN subcategories_rows --> 
				<ul class="SubCategoryList">{subcategories}</ul>
				<!-- END subcategories_rows --> 
			</li>
		<!-- END categories -->
		</ul>
		<!-- END categories_rows --> 
	</div>	</div>