<div class="block-products-releases-hot {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
			<!-- begin releases -->
			<div class="padding2px">
				<a class="title" href="{releases_href}?item_id={item_id}">{release_title} ({PROD_VER_MSG} {version})</a>
				<div class="articleDate">{release_date}</div>
				<div class="smallText" align="justify">{release_desc}&nbsp;<a class="smallText" href="{releases_href}?item_id={item_id}"><b>{MORE_MSG}</b></a></div>
			</div><!-- end releases -->
		</div>
	</div>
</div>