<div class="block-ads-details {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>
	<div class="BlockData">
		<!-- begin no_item --><div class="errorbg padding10px">{NO_AD_MSG}</div><!-- end no_item -->
		<!-- begin item -->
		<div class="padding10px adsBody">
			<!-- start item table -->
			<form name="form_{item_id}" action="{ads_details_href}" method="post">
				<div>
					<!-- begin big_image --><img src="{src}" {width} {height} border="0" hspace="0" alt="{alt}" /><!-- end big_image -->
				</div>
				<div>
					<b>{TYPE_MSG}</b>:&nbsp;{type_name}<br />						<b>{PRICE_MSG}</b>:&nbsp;<font class="ourprice">{price}</font><br />	
					<!-- begin user_block --><b>{AD_SELLER_MSG}</b>:&nbsp;{user_name}<br /><!-- end user_block -->	
					<!-- begin quantity_block --><b>{AD_QTY_MSG}</b>:&nbsp;{quantity}<br /><!-- end quantity_block -->	
					<!-- begin availability_block --><b>{AD_AVAILABILITY_MSG}</b>:&nbsp;{availability}</font><br /><!-- end availability_block -->	
					<!-- begin location_block --><b>{AD_LOCATION_MSG}</b>:&nbsp;{location}<br /><!-- end location_block -->	
				</div>
				<div>
						<!-- begin properties --><b>{property_name}</b>: {property_value}<br /><!-- end properties -->
				</div>
			</form>

		</div><!-- end item -->
		<!-- begin tabs -->
			<table border="0" cellspacing="0" cellpadding="5">
				<tr>
					<!-- BEGIN tab_desc -->
					<td class="usualbg">&nbsp;</td><td class="{tab_style}">&nbsp;<a href="{tab_href}" class="{tab_style}">{AD_DESCRIPTION_MSG}</a>&nbsp;</td>
					<!-- END tab_desc -->
					<!-- begin tab_spec -->
					<td class="usualbg">&nbsp;</td><td class="{tab_style}">&nbsp;<a href="{tab_href}" class="{tab_style}">{AD_SPECIFICATION_MSG}</a>&nbsp;</td>
					<!-- end tab_spec -->
					<!-- begin tab_images -->
					<td class="usualbg">&nbsp;</td><td class="{tab_style}">&nbsp;<a href="{tab_href}" class="{tab_style}">{IMAGES_MSG}</a>&nbsp;</td>
					<!-- end tab_images -->
				</tr>                      	
			</table>
			<!-- end tabs -->
			<!-- begin description_block -->
			<!-- begin title_desc -->
			<table width="100%" border="0" cellspacing="0" cellpadding="6">
			<tr>
				<td class="middlebg"><div class="bigtitle">&nbsp;{AD_DESCRIPTION_MSG}</div></td>                    	
			</tr>                      	
			</table>
			<!-- end title_desc -->
			<table width="100%" border="0" cellspacing="0" cellpadding="10">
			<tr>
				<td><!-- begin description --><div>{full_description}</div><!-- end description --></td>
			</tr>				
			</table>
			<!-- end description_block -->


			<!-- begin specification -->
			<!-- begin title_spec -->
			<br />
			<table width="100%" border="0" cellspacing="0" cellpadding="6">
			<tr>
				<td class="middlebg"><div class="bigtitle">&nbsp;{AD_SPECIFICATION_MSG}</div></td>                    	
			</tr>                      	
			</table>
			<!-- end title_spec -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr><td class="padding10px">
					<!-- begin groups -->
					<table cellspacing=0 cellpadding=0 width="100%" align="center" class=headerbg border="0">
						<tr><td>
						<table cellspacing=1 cellpadding=4 width="100%" align="center" border="0">
							<tr>
								<td class="headerbg" colspan=2><b>{group_name}</b></td>
							</tr>
							<!-- begin features -->
							<tr>
								<td class="middlebg" valign="top" width="35%">{feature_name}</td>
								<td class="usualbg" valign="top">{feature_value}</td>
							</tr>
							<!-- end features -->
						</table>
						</td></tr>
					</table>
					<!-- end groups -->
				</td></tr>
			</table>
			<!-- end specification -->


			<!-- begin images -->
			<!-- begin title_images -->
			<br />
			<table width="100%" border="0" cellspacing="0" cellpadding="6">
			<tr>
				<td class="middlebg"><div class="bigtitle">&nbsp;{IMAGES_MSG}</div></td>                    	
			</tr>                      	
			</table>
			<!-- end title_images -->
			<br />
			<table cellspacing=0 cellpadding=5 width="100%" align="center" border="0">
			<!-- begin images_rows -->
			<tr valign="top" align="center">
				<!-- begin images_cols -->
				<td>
					<div class="title">{image_title}</div>
					<a href="{image_large}" target="_blank"><img src="{image_small}" {image_width} {image_height} border="0" /></a>
					<div class="smallText">{image_description}</div>
				</td>
				<!-- end images_cols -->
			</tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<!-- end images_rows -->
			</table>
			<!-- end images -->

	</div>
	<h2 class="blockTitle">{AD_REQUEST_TITLE}</h2>

	<div class="BlockData">
		<div class="padding10px">
			<form name="review" action="{ads_details_href}" method="post">
			<input type="hidden" name="rnd" value="{rnd}" />
			<input type="hidden" name="operation" value="1" />
			<input type="hidden" name="item_id" value="{item_id}" />
			<input type="hidden" name="category_id" value="{category_id}" />
			
			<!-- begin request_sent -->
				<div class="messagebg"><b>{AD_SENT_MSG}</b></div><!-- end request_sent -->
			<!-- begin errors -->
				<div class="errorbg">{errors_list}</div><!-- end errors -->								<div>				
					{PRICE_MSG} ({ad_currency_code})								</div>								<div>
					<input class="text" type="text" name="offer_price" size="40" value="{offer_price}" maxlength="64" />								</div>								<div>				
					{AD_OFFER_MESSAGE_MSG} *								</div>								<div>				
					<textarea name="offer_message" cols="40" rows="10">{offer_message}</textarea>									</div>				
				<input class="submit" type="submit" value="{AD_REQUEST_BUTTON}" />
			</form>
		</div>
	</div>
</div>