<div class="block-site-search-form {block_class}" style="{block_style}">
    <h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
            <form action="{search_href}" method="get">
                <input class="search" type="text" name="sq" value="{sq}" />
                <input class="submit" type="submit" name="search" value="{SEARCH_BUTTON}" />                                <div class="clearboth"></div>
            </form>
		</div>
	</div>
</div>