<div class="block-sliders {block_class}">
<form name="block" action=""><input type="hidden" name="pb_id" value="{pb_id}" /><input type="hidden" name="slider_type" value="{slider_type}" /></form>

<div class="BlockMiddle" >
	<div class="MiddleCenter">
		<div class="usualbg padding10px">

			<div class="BlockData" style="{data_block_style}">
				<!-- begin data -->
				<div class="Data" id="{data_id}" style="{data_style}">
				<table width="100%" border="0" cellspacing="0" cellpadding="1"><!-- begin rows -->
				<tr><!-- BEGIN cols -->
					<td align="center" valign="top" width="100%"><!-- begin slider_image -->
						<a href="{slider_link}"><img border="0" src="{src}" width="100%" alt="" /></a><!-- end slider_image -->
					
					</td>
				</tr>
				<tr>
					<td align="center" valign="top" width="{column_width}">
						{slider_html}
					</td><!-- END cols -->
				</tr>
				<!-- end rows -->
				</table>
				</div>
				<!-- end data -->
			</div>
				
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>