<div class="block-user-wishlist {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
			<tr class="middlebg" align="center">
				<td>{sorter_item_name}</td>
				<td>{sorter_price}</td>
				<td>{sorter_quantity}</td>
				<td>{sorter_quantity_bought}</td>
				<td>{sorter_type}</td>
				<td>{sorter_date}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr><!-- end sorters --><!-- BEGIN records -->
			<tr class="usualbg" valign="top" align="center">
				<td align="left">{item_name}</td>
				<td align="right">{price}</td>
				<td>{quantity}</td>
				<td>{quantity_bought}</td>
				<td>{type_name}</td>
				<td>{date_added}</td>
				<td><a href="{cart_url}">{ADD_TO_CART_MSG}</a></td>
				<td><a href="{delete_url}" onclick="return confirm('{CONFIRM_WISHLIST_DELETE_MSG}');">{DELETE_BUTTON}</a></td>
			</tr><!-- END records --><!-- BEGIN no_records -->
			<tr class="usualbg">
				<td colspan="8">No wishlist items were found</td>
			</tr><!-- END no_records --><!-- begin navigator_block -->
			<tr class="middlebg">
				<td colspan="8" align="right">{navigator}</td>
			</tr><!-- end navigator_block -->
		</table>	
	</div>
</div>