<div class="block-user-orders {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
			<tr class="middlebg" align="center">
				<td>{sorter_id}</td>
				<td>{sorter_status}</td>
				<td>{sorter_date}</td>
				<td>{sorter_total}</td>
				<!-- begin reorder_header -->
				<td class="titleText">{REORDER_MSG}</td><!-- end reorder_header -->
				<td>&nbsp;</td>
			</tr><!-- end sorters --><!-- begin records -->
			<tr class="usualbg" valign="top" align="center">
				<td>{order_id}</td>
				<td>{order_status}</td>
				<td>{order_placed_date}</td>
				<td align="right">{order_total}</td>
				<!-- begin invoice_links --><!-- end invoice_links -->
				<!-- begin reorder_body -->
				<td>
					<a href="{user_orders_href}?operation=restore&order_id={order_id}&rp={user_orders_href}"><img src="./images/icons/user_cart.png" width="16" height="16" border="0" /></a>
				</td><!-- end reorder_body -->
				<td id="butTd">
					<a href="{user_order_href}?order_id={order_id}">{VIEW_ORDER_DETAILS_MSG}</a><!-- begin pay_link -->
					<span> | </span>
					<a href="{user_order_payment_href}?order_id={order_id}&vc={vc}">{PAY_FOR_YOUR_ORDER_MSG}</a><!-- end pay_link -->
				</td>
			</tr><!-- end records --><!-- begin no_records -->
			<tr class="usualbg">
				<td colspan="6">{NO_ORDERS_MSG}</td>
			</tr><!-- end no_records --><!-- begin navigator_block -->
			<tr class="middlebg">
				<td colspan="6" align="right">{navigator}</td>
			</tr><!-- end navigator_block -->
		</table>	
	</div>
</div>