<script language="JavaScript" type="text/javascript">
//<![CDATA[
	var site_url = "{site_url}";
//]]>
</script>
<script language="JavaScript" type="text/javascript" src="js/editor.js"></script>

<div class="block-user-profile {block_class}" style="{block_style}">
<!-- begin intro_block --><div class="introBlock">{intro_text}</div><!-- end intro_block -->

	<h2 class="blockTitle">{regisration_step}  {block_title}</h2>	<div class="BlockData">

		<form action="{user_profile_url}" name="user_profile" method="post" onsubmit="submit_editor(Array('editor_sd','editor_fd'));">
			<input type="hidden" name="operation" value="save" />
			<input type="hidden" name="type" value="{type}" />
			<input type="hidden" name="ssl" value="{ssl}" />
			<input type="hidden" name="return_page" value="{return_page}" />
			<input type="hidden" name="site_url" value="{site_url}" />
			<input type="hidden" name="affiliate_help" value="{AFFILIATE_CODE_HELP_MSG}" />						<!-- BEGIN success --><!-- END success -->						<!-- BEGIN errors -->			<div class="errorbg">{errors_list}</div><!-- END errors -->			<!-- begin subscription_title -->			<div class="middlebg padding6px">{SUBSCRIPTION_MSG}</div><!-- end subscription_title -->						<!-- begin current_subscription -->			<div class="formElem">				<span>{CURRENT_SUBSCRIPTION_MSG}</span><br />				<span class="title">{subscription_name}</span> - <span class="ourprice">{subscription_fee}</span> ({subscription_period})<br />			</div><!-- end current_subscription -->						<!-- begin expiry_date_info -->						<div class="formElem">				<span>{SUBSCRIPTION_EXPIRATION_MSG}</span><br />				<span>{expiry_date}</span>							</div><!-- end expiry_date_info -->						<!-- begin subscription_options -->			<div class="formElem"><!-- begin subscription_id -->				<input type="radio" name="subscription_id" {subscription_id_checked} value="{subscription_id_value}" />				<span class="title">{subscription_name}</span> - <span class="ourprice">{subscription_fee}</span> ({subscription_period})<br /><!-- end subscription_id -->			</div><!-- end subscription_options -->						<!-- begin profile_sections -->						<!-- begin profile_section -->			<div class="middlebg padding6px">							{section_name}						</div><!-- end profile_section -->							<!-- begin profile_properties -->			<div class="formElem" id="pp_block_{property_id}">								<span style="{property_style}">{property_name} <span class="required">{property_required}</span></span><br />					<span style="{property_style}">{property_control}</span>			</div><!-- end profile_properties --><!-- end profile_sections -->				
			<!-- begin login_block -->			<!-- begin login_info -->			<div class="middlebg padding6px">				{LOGIN_INFO_MSG}						</div><!-- end login_info -->											<div class="formElem">							<span>{LOGIN_FIELD}{login_desc} <span class="required">*</span></span><br />				<span><input class="text" type="text" name="login" value="{login}" maxlength="64" /></span>						</div><!-- end login_block -->						<!-- begin affiliate_code_block -->			<div class="formElem">				<span>{AFFILIATE_CODE_FIELD} <span class="required">*</span></span><br />				<span>					<input class="text" type="text" name="affiliate_code" value="{affiliate_code}" maxlength="64" onchange="changeAffiliateCode();" onkeyup="changeAffiliateCode();" />					<br />(<span id="affiliate_help_info">{affiliate_code_help}</span>)				</span>			</div><!-- end affiliate_code_block -->						<!-- begin password_block -->			<div class="formElem">					<span>{PASSWORD_FIELD} <span class="required">*</span></span><br />					<span><input class="text" type="password" name="password" value="{password}" maxlength="32" /></span>			</div><!-- end password_block -->						<!-- begin confirm_block -->			<div class="formElem">				<span>{CONFIRM_PASS_FIELD} <span class="required">*</span></span><br />				<span><input class="text" type="password" name="confirm" value="{confirm}" /></span>			</div><!-- end confirm_block -->						<!-- begin affiliate_code_info_block -->			<div class="formElem">				<span>{AFFILIATE_CODE_FIELD}</span><br />				<span><b>{affiliate_code_info}</b> 						<input type="hidden" name="affiliate_code_info" value="{affiliate_code_info}" /><br />						(<span id="affiliate_help_info">{affiliate_code_help}</span>)				</span>			</div><!-- end affiliate_code_info_block -->						<!-- begin personal -->			<div class="middlebg padding6px">				{PERSONAL_DETAILS_MSG}			</div><!-- end personal -->						<!-- begin name_block -->			<div class="formElem">					<span>{NAME_MSG} <span class="required">{name_required}</span></span><br />					<span><input class="text" type="text" name="name" value="{name}" maxlength="128" /></span>			</div><!-- end name_block -->						<!-- begin first_name_block -->			<div class="formElem">					<span>{FIRST_NAME_FIELD} <span class="required">{first_name_required}</span></span><br />					<span><input class="text" type="text" name="first_name" value="{first_name}"maxlength="64" /></span>			</div><!-- end first_name_block -->						<!-- begin last_name_block -->			<div class="formElem">					<span>{LAST_NAME_FIELD} <span class="required">{last_name_required}</span></span><br />					<span><input class="text" type="text" name="last_name" value="{last_name}" maxlength="64" /></span>			</div><!-- end last_name_block -->						<!-- begin company_id_block -->			<div class="formElem">					<span>{COMPANY_SELECT_FIELD} <span class="required">{company_id_required}</span></span><br />					<span>						<select class="text" name="company_id"><!-- begin company_id -->							<option {company_id_selected} value="{company_id_value}">{company_id_description}</option><!-- end company_id -->						</select>					</span>			</div><!-- end company_id_block -->						<!-- begin company_name_block -->			<div class="formElem">					<span>{COMPANY_NAME_FIELD} <span class="required">{company_name_required}</span></span><br />					<span><input class="text" type="text" name="company_name" value="{company_name}" maxlength="128" /></span>			</div><!-- end company_name_block -->							<!-- begin email_block -->			<div class="formElem">					<span>{EMAIL_FIELD} <span class="required">{email_required}</span></span><br />					<span><input class="text" type="text" name="email" value="{email}" maxlength="128" /></span>			</div><!-- end email_block -->								<!-- begin address1_block -->			<div class="formElem">				<span>{STREET_FIRST_FIELD} <span class="required">{address1_required}</span></span><br />				<span><input class="text" type="text" name="address1" value="{address1}" maxlength="255" /></span>			</div><!-- end address1_block -->								<!-- begin address2_block -->			<div class="formElem">				<span>{STREET_SECOND_FIELD} <span class="required">{address2_required}</span></span><br />				<span><input class="text" type="text" name="address2" value="{address2}" maxlength="255" /></span>			</div><!-- end address2_block -->								<!-- begin city_block -->			<div class="formElem">				<span>{CITY_FIELD} <span class="required">{city_required}</span></span><br />				<span><input class="text" type="text" name="city" value="{city}" maxlength="128" /></span>			</div><!-- end city_block -->							<!-- begin province_block -->			<div class="formElem">				<span>{PROVINCE_FIELD} <span class="required">{province_required}</span></span><br />				<span><input class="text" type="text" name="province" value="{province}" maxlength="128" /></span>			</div><!-- end province_block -->						<!-- begin state_id_block -->			<div class="formElem">				<span>{STATE_FIELD} <span class="required">{state_id_required}</span></span><br />				<span>					<select class="text" name="state_id"><!-- begin state_id -->						<option {state_id_selected} value="{state_id_value}">{state_id_description}</option><!-- end state_id -->					</select>				</span>			</div><!-- end state_id_block -->						<!-- begin zip_block -->			<div class="formElem">				<span>{ZIP_FIELD} <span class="required">{zip_required}</span></span><br />				<span><input class="text" type="text" name="zip" value="{zip}" maxlength="16" /></span>			</div><!-- end zip_block -->						<!-- begin country_id_block -->			<div class="formElem">				<span>{COUNTRY_FIELD} <span class="required">{country_id_required}</span></span><br />				<span>					<select class="text" name="country_id"><!-- begin country_id -->						<option {country_id_selected} value="{country_id_value}">{country_id_description}</option><!-- end country_id -->					</select>				</span>			</div><!-- end country_id_block -->						<!-- begin phone_block -->			<div class="formElem">				<span>{PHONE_FIELD} <span class="required">{phone_required}</span></span><br />				<span>					<!-- begin phone_code_block -->					<select class="text" name="phone_code"><!-- begin phone_code -->						<option {phone_code_selected} value="{phone_code_value}">{phone_code_description}</option><!-- end phone_code -->					</select><!-- end phone_code_block -->					<input class="text" type="text" name="phone" value="{phone}" maxlength="32" />				</span>			</div><!-- end phone_block -->						<!-- begin daytime_phone_block -->			<div class="formElem">				<span>{DAYTIME_PHONE_FIELD} <span class="required">{daytime_phone_required}</span></span><br />				<span>					<!-- begin daytime_phone_code_block -->					<select class="text" name="daytime_phone_code"><!-- begin daytime_phone_code -->						<option {daytime_phone_code_selected} value="{daytime_phone_code_value}">{daytime_phone_code_description}</option><!-- end daytime_phone_code -->					</select><!-- end daytime_phone_code_block -->					<input class="text" type="text" name="daytime_phone" value="{daytime_phone}" maxlength="32" />				</span>			</div><!-- end daytime_phone_block -->						<!-- begin evening_phone_block -->			<div class="formElem">				<span>{EVENING_PHONE_FIELD} <span class="required">{evening_phone_required}</span></span><br />				<span>					<!-- begin evening_phone_code_block -->					<select class="text" name="evening_phone_code"><!-- begin evening_phone_code -->						<option {evening_phone_code_selected} value="{evening_phone_code_value}">{evening_phone_code_description}</option><!-- end evening_phone_code -->					</select><!-- end evening_phone_code_block -->					<input class="text" type="text" name="evening_phone" value="{evening_phone}" maxlength="32" />				</span>			</div><!-- end evening_phone_block -->						<!-- begin cell_phone_block -->			<div class="formElem">				<span>{CELL_PHONE_FIELD} <span class="required">{cell_phone_required}</span></span><br />				<span>					<!-- begin cell_phone_code_block -->					<select class="text" name="cell_phone_code"><!-- begin cell_phone_code -->						<option {cell_phone_code_selected} value="{cell_phone_code_value}">{cell_phone_code_description}</option><!-- end cell_phone_code -->					</select><!-- end cell_phone_code_block -->					<input class="text" type="text" name="cell_phone" value="{cell_phone}" maxlength="32" />				</span>			</div><!-- end cell_phone_block -->						<!-- begin fax_block -->			<div class="formElem">				<span>{FAX_FIELD} <span class="required">{fax_required}</span></span><br />				<span>					<!-- begin fax_code_block -->					<select class="text" name="fax_code"><!-- begin fax_code -->						<option {fax_code_selected} value="{fax_code_value}">{fax_code_description}</option><!-- end fax_code -->					</select><!-- end fax_code_block -->					<input class="text" type="text" name="fax" value="{fax}" maxlength="32" />				</span>			</div><!-- end fax_block -->						<!-- begin birth_date_block -->			<div class="formElem">				<span>{BIRTHDAY_MSG} <span class="required">{birth_date_required}</span></span><br />				<span>					<input class="text" type="text" name="birth_day" value="{birth_day}" size="2" maxlength="2" />, 					<select class="text" name="birth_month"><!-- begin birth_month -->						<option {birth_month_selected} value="{birth_month_value}">{birth_month_description}</option><!-- end birth_month -->					</select>, 					<input class="text" type="text" name="birth_year" value="{birth_year}" size="5" maxlength="4" />					({DAY_MSG}, {MONTH_MSG}, {YEAR_MSG})				</span>			</div><!-- end birth_date_block -->						<!-- begin personal_image_block -->			<div class="formElem">				<span>{PERSONAL_IMAGE_FIELD}</span><br />				<span>					<input class="text" type="text" maxlength="255" name="personal_image" value="{personal_image}" /> 					&nbsp;<a href="javascript:openWindow('{user_upload_href}', 'personal_image')"><b>{UPLOAD_IMAGE_MSG}</b></a>				</span>			</div><!-- end personal_image_block -->						<!-- begin delivery -->			<div class="middlebg">				<span>					<b>{DELIVERY_DETAILS_MSG}</b><!-- begin same_as_personal_block -->					<br /><br />										<div class="smallText">						<label for="samedetails">{SAME_DETAILS_MSG}</label><br />						<input type="checkbox" name="same_as_personal" {same_as_personal} value="1" onclick="checkSame();" id="samedetails" /><br />					</div><!-- end same_as_personal_block -->				</span>			</div><!-- end delivery -->						<!-- begin delivery_name_block -->			<div class="formElem">				<span>{NAME_MSG} <span class="required">{delivery_name_required}</span></span><br />				<span><input class="text" type="text" name="delivery_name" value="{delivery_name}" maxlength="128" onchange="uncheckSame();" /></span>			</div><!-- end delivery_name_block -->						<!-- begin delivery_first_name_block -->			<div class="formElem">				<span>{FIRST_NAME_FIELD} <span class="required">{delivery_first_name_required}</span></span><br />				<span><input class="text" type="text" name="delivery_first_name" value="{delivery_first_name}" maxlength="64" onchange="uncheckSame();" /></span>			</div><!-- end delivery_first_name_block -->						<!-- begin delivery_last_name_block -->			<div class="formElem">				<span>{LAST_NAME_FIELD} <span class="required">{delivery_last_name_required}</span></span><br />				<span><input class="text" type="text" name="delivery_last_name" value="{delivery_last_name}" maxlength="64" onchange="uncheckSame();"/></span>			</div><!-- end delivery_last_name_block -->						<!-- begin delivery_company_id_block -->			<div class="formElem">				<span>{COMPANY_SELECT_FIELD} <span class="required">{delivery_company_id_required}</span></span><br />				<span>					<select class="text" name="delivery_company_id" onchange="uncheckSame();"><!-- begin delivery_company_id -->						<option {delivery_company_id_selected} value="{delivery_company_id_value}">{delivery_company_id_description}</option><!-- end delivery_company_id -->					</select>				</span>			</div><!-- end delivery_company_id_block -->						<!-- begin delivery_company_name_block -->			<div class="formElem">				<span>{COMPANY_NAME_FIELD} <span class="required">{delivery_company_name_required}</span></span><br />				<span><input class="text" type="text" name="delivery_company_name" value="{delivery_company_name}" maxlength="128" onchange="uncheckSame();" /></span>			</div><!-- end delivery_company_name_block -->						<!-- begin delivery_email_block -->			<div class="formElem">				<span>{EMAIL_FIELD} <span class="required">{delivery_email_required}</span></span><br />				<span><input class="text" type="text" name="delivery_email" value="{delivery_email}" maxlength="128" onchange="uncheckSame();" /></span>			</div><!-- end delivery_email_block -->						<!-- begin delivery_address1_block -->			<div class="formElem">				<span>{STREET_FIRST_FIELD} <span class="required">{delivery_address1_required}</span></span><br />				<span><input class="text" type="text" name="delivery_address1" value="{delivery_address1}" maxlength="255" onchange="uncheckSame();" /></span>			</div><!-- end delivery_address1_block -->						<!-- begin delivery_address2_block -->			<div class="formElem">				<span>{STREET_SECOND_FIELD} <span class="required">{delivery_address2_required}</span></span><br />				<span><input class="text" type="text" name="delivery_address2" value="{delivery_address2}" maxlength="255" onchange="uncheckSame();" /></span>			</div><!-- end delivery_address2_block -->						<!-- begin delivery_city_block -->			<div class="formElem">				<span>{CITY_FIELD} <span class="required">{delivery_city_required}</span></span><br />				<span><input class="text" type="text" name="delivery_city" value="{delivery_city}" maxlength="128" onchange="uncheckSame();" /></span>			</div><!-- end delivery_city_block -->						<!-- begin delivery_province_block -->			<div class="formElem">				<span>{PROVINCE_FIELD} <span class="required">{delivery_province_required}</span></span><br />				<span><input class="text" type="text" name="delivery_province" value="{delivery_province}" maxlength="128" onchange="uncheckSame();" /></span>			</div><!-- end delivery_province_block -->						<!-- begin delivery_state_id_block -->			<div class="formElem">				<span>{STATE_FIELD} <span class="required">{delivery_state_id_required}</span></span><br />				<span>					<select class="text" name="delivery_state_id" onchange="uncheckSame();"><!-- begin delivery_state_id -->						<option {delivery_state_id_selected} value="{delivery_state_id_value}">{delivery_state_id_description}</option><!-- end delivery_state_id -->					</select>				</span>			</div><!-- end delivery_state_id_block -->						<!-- begin delivery_zip_block -->			<div class="formElem">				<span>{ZIP_FIELD} <span class="required">{delivery_zip_required}</span></span><br />				<span><input class="text" type="text" name="delivery_zip" value="{delivery_zip}" maxlength="16" onchange="uncheckSame();" /></span>			</div><!-- end delivery_zip_block -->						<!-- begin delivery_country_id_block -->			<div class="formElem">				<span>{COUNTRY_FIELD} <span class="required">{delivery_country_id_required}</span></span><br />				<span>					<select class="text" name="delivery_country_id" onchange="uncheckSame();"><!-- begin delivery_country_id -->						<option {delivery_country_id_selected} value="{delivery_country_id_value}">{delivery_country_id_description}</option><!-- end delivery_country_id -->					</select>				</span>			</div><!-- end delivery_country_id_block -->						<!-- begin delivery_phone_block -->			<div class="formElem">				<span>{PHONE_FIELD} <span class="required">{delivery_phone_required}</span></span><br />				<span>					<!-- begin delivery_phone_code_block -->					<select class="text" name="delivery_phone_code"><!-- begin delivery_phone_code -->						<option {delivery_phone_code_selected} value="{delivery_phone_code_value}">{delivery_phone_code_description}</option><!-- end delivery_phone_code -->					</select><!-- end delivery_phone_code_block -->					<input class="text" type="text" name="delivery_phone" value="{delivery_phone}" maxlength="32" onchange="uncheckSame();" />				</span>			</div><!-- end delivery_phone_block -->						<!-- begin delivery_daytime_phone_block -->			<div class="formElem">				<span>{DAYTIME_PHONE_FIELD} <span class="required">{delivery_daytime_phone_required}</span></span><br />				<span>					<!-- begin delivery_daytime_phone_code_block -->					<select class="text" name="delivery_daytime_phone_code"><!-- begin delivery_daytime_phone_code -->						<option {delivery_daytime_phone_code_selected} value="{delivery_daytime_phone_code_value}">{delivery_daytime_phone_code_description}</option><!-- end delivery_daytime_phone_code -->					</select><!-- end delivery_daytime_phone_code_block -->					<input class="text" type="text" name="delivery_daytime_phone" value="{delivery_daytime_phone}" maxlength="32" onchange="uncheckSame();" />				</span>			</div><!-- end delivery_daytime_phone_block -->						<!-- begin delivery_evening_phone_block -->			<div class="formElem">				<span>{EVENING_PHONE_FIELD} <span class="required">{delivery_evening_phone_required}</span></span><br />				<span>					<!-- begin delivery_evening_phone_code_block -->					<select class="text" name="delivery_evening_phone_code"><!-- begin delivery_evening_phone_code -->						<option {delivery_evening_phone_code_selected} value="{delivery_evening_phone_code_value}">{delivery_evening_phone_code_description}</option><!-- end delivery_evening_phone_code -->					</select><!-- end delivery_evening_phone_code_block -->					<input class="text" type="text" name="delivery_evening_phone" value="{delivery_evening_phone}" maxlength="32" onchange="uncheckSame();" />				</span>			</div><!-- end delivery_evening_phone_block -->						<!-- begin delivery_cell_phone_block -->			<div class="formElem">				<span>{CELL_PHONE_FIELD} <span class="required">{delivery_cell_phone_required}</span></span><br />				<span>					<!-- begin delivery_cell_phone_code_block -->					<select class="text" name="delivery_cell_phone_code"><!-- begin delivery_cell_phone_code -->						<option {delivery_cell_phone_code_selected} value="{delivery_cell_phone_code_value}">{delivery_cell_phone_code_description}</option><!-- end delivery_cell_phone_code -->					</select><!-- end delivery_cell_phone_code_block -->					<input class="text" type="text" name="delivery_cell_phone" value="{delivery_cell_phone}" maxlength="32" onchange="uncheckSame();" />				</span>			</div><!-- end delivery_cell_phone_block -->						<!-- begin delivery_fax_block -->			<div class="formElem">				<span>{FAX_FIELD} <span class="required">{delivery_fax_required}</span></span><br />				<span>					<!-- begin delivery_fax_code_block -->					<select class="text" name="delivery_fax_code"><!-- begin delivery_fax_code -->						<option {delivery_fax_code_selected} value="{delivery_fax_code_value}">{delivery_fax_code_description}</option><!-- end delivery_fax_code -->					</select><!-- end delivery_fax_code_block -->					<input class="text" type="text" name="delivery_fax" value="{delivery_fax}" maxlength="32" onchange="uncheckSame();" />				</span>			</div><!-- end delivery_fax_block -->						<!-- begin additional -->			<div class="middlebg">				{ADDITIONAL_DETAILS_MSG}			</div><!-- end additional -->						<!-- BEGIN nickname_block -->			<div class="formElem">				<span>{NICKNAME_FIELD} <span class="required">{nickname_required}</span></span><br />				<span><input class="text" type="text" name="nickname" value="{nickname}" maxlength="255" /></span>			</div><!-- END nickname_block -->						<!-- BEGIN friendly_url_block -->			<div class="formElem">				<span>{FRIENDLY_URL_MSG} <span class="required">{friendly_url_required}</span></span><br />				<span><input class="text" type="text" name="friendly_url" value="{friendly_url}" maxlength="255" /></span>			</div><!-- END friendly_url_block -->						<!-- begin tax_id_block -->			<div class="formElem">				<span>{TAX_ID_FIELD} <span class="required">{tax_id_required}</span></span><br />				<span><input class="text" type="text" name="tax_id" value="{tax_id}" maxlength="128" /></span>			</div><!-- end tax_id_block -->						<!-- begin paypal_account_block -->			<div class="formElem">				<span>{PAYPAL_ACCOUNT_FIELD} <span class="required">{paypal_account_required}</span></span><br />				<span><input class="text" type="text" name="paypal_account" value="{paypal_account}" maxlength="128" /></span>			</div><!-- end paypal_account_block -->						<!-- begin msn_account_block -->			<div class="formElem">				<span>{MSN_ACCOUNT_FIELD} <span class="required">{msn_account_required}</span></span><br />				<span><input class="text" type="text" name="msn_account" value="{msn_account}" maxlength="128" /></span>			</div><!-- end msn_account_block -->							<!-- begin icq_number_block -->			<div class="formElem">				<span>{ICQ_NUMBER_FIELD} <span class="required">{icq_number_required}</span></span><br />				<span><input class="text" type="text" name="icq_number" value="{icq_number}" maxlength="128" /></span>			</div><!-- end icq_number_block -->							<!-- begin user_site_url_block -->			<div class="formElem">				<span>{USER_SITE_URL_FIELD} <span class="required">{user_site_url_required}</span></span><br />				<span><input class="text" type="text" name="user_site_url" value="{user_site_url}" maxlength="128" /></span>			</div><!-- end user_site_url_block -->								<!-- begin short_description_block -->			<div class="formElem">				<span>{SHORT_DESCRIPTION_MSG} <span class="required">{short_description_required}</span></span><br />				<span>					<textarea class="text" name="short_description" style="display: block; width: 280px; height: 100px;">{short_description}</textarea>					<script language= "JavaScript" type= "text/javascript">					//<![CDATA[						var editor_sd = new VA_HTMLeditor('content_sd','','{short_description_editor}');						editor_sd.text_field_name = 'short_description';						editor_sd.formname = 'user_profile';						editor_sd.css_file = '{css_file}';						editor_sd.editor_type = 'user_editor';						editor_sd.displayEditor('editor_sd', 565, 100);					//]]>					</script>				</span>			</div><!-- end short_description_block -->							<!-- begin full_description_block -->			<div class="formElem">				<span>{FULL_DESCRIPTION_MSG} <span class="required">{full_description_required}</span></span><br />				<span>					<textarea class="text" name="full_description" style="display: block; width: 280px; height: 200px;">{full_description}</textarea>					<script language= "JavaScript" type= "text/javascript">					//<![CDATA[						var editor_fd = new VA_HTMLeditor('content_fd','','{full_description_editor}');						editor_fd.text_field_name = 'full_description';						editor_fd.formname = 'user_profile';						editor_fd.css_file = '{css_file}';						editor_fd.editor_type = 'user_editor';						editor_fd.displayEditor('editor_fd', 565, 200);					//]]>					</script>				</span>			</div><!-- end full_description_block -->						<!-- begin is_hidden_block -->			<div class="formElem">				<span>{HIDE_MY_ONLINE_STATUS_MSG} <span class="required">{is_hidden_required}</span></span><br />				<span><!-- begin is_hidden -->					<input type="radio" name="is_hidden" {is_hidden_checked} value="{is_hidden_value}" />{is_hidden_description}<!-- end is_hidden -->				</span>			</div><!-- end is_hidden_block -->						<!-- begin subscribe_block -->			<div class="middlebg" style="height:1px">			</div>			<div class="formElem">				<span>					<label><input type="checkbox" name="subscribe" {subscribe} value="1" /> {SUBSCRIBE_CHECKBOX_MSG}</label>				</span>			</div><!-- end subscribe_block -->						<!-- begin validation_number_block -->			<div class="formElem">				<span>{VALIDATION_CODE_FIELD} <span class="required">{validation_number_required}</span></span><br />				<span class="usualbg">					<input class="field" type="text" name="validation_number" size="4" value="{validation_number}" />					<br />											<img src="validation_image.php" />				</span>			</div><!-- end validation_number_block -->						<div class="middlebg">				<!-- BEGIN save_button -->				<input class="submit" type="submit" value="{save_button_title}" onclick="document.user_profile.operation.value='save';" /><!-- END save_button --> 				<input class="submit" id="cancel" type="submit" value="{CANCEL_BUTTON}" onclick="document.user_profile.operation.value='cancel';" />				<div class="clearboth"></div>			</div>
		</form>
	</div>
</div>