<div class="block-user-order-update {block_class}" style="{block_style}">	<h2 class="blockTitle">{section_name}</h2>	<div class="BlockData">

	<form action="{user_order_update_url}" name="record" method="post">
		<input type="hidden" name="operation" value="save" />
		<input type="hidden" name="order_id" value="{order_id}" />
		<input type="hidden" name="od" value="{od}" />
		<input type="hidden" name="type" value="{type}" />
		<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
		<table width="100%" border="0" cellspacing="1" class="padding6px" align="center"><!-- begin form_sections --><!-- end form_sections --><!-- begin form_section -->
			<tr class="middlebg">
				<td colspan="2">{section_name}</td>
			</tr><!-- end form_section --><!-- begin order_properties -->
			<tr id="op_block_{property_id}" class="usualbg">
				<td style="{property_style}">{property_name} <span class="required">{property_required}</span></td>
				<td style="{property_style}">{property_control} </td>
			</tr><!-- end order_properties --><!-- begin name_block -->
			<tr class="usualbg">
				<td>{NAME_MSG} <span class="required">{name_required}</span></td>
				<td><input class="field" type="text" name="name" value="{name}" size="40" maxlength="128" /></td>
			</tr><!-- end name_block --><!-- begin first_name_block -->
			<tr class="usualbg">
				<td>{FIRST_NAME_FIELD} <span class="required">{first_name_required}</span></td>
				<td><input class="field" type="text" name="first_name" value="{first_name}" size="40" maxlength="64" /></td>
			</tr><!-- end first_name_block --><!-- begin last_name_block -->
			<tr class="usualbg">
				<td>{LAST_NAME_FIELD} <span class="required">{last_name_required}</span></td>
				<td><input class="field" type="text" name="last_name" value="{last_name}" size="40" maxlength="64" /></td>
			</tr><!-- end last_name_block --><!-- begin company_id_block -->
			<tr class="usualbg">
				<td>{COMPANY_SELECT_FIELD} <span class="required">{company_id_required}</span></td>
				<td>
					<select class="search" name="company_id"><!-- begin company_id -->
						<option {company_id_selected} value="{company_id_value}">{company_id_description}</option><!-- end company_id -->
					</select>
				</td>
			</tr><!-- end company_id_block --><!-- begin company_name_block -->
			<tr class="usualbg">
				<td>{COMPANY_NAME_FIELD} <span class="required">{company_name_required}</span></td>
				<td><input class="field" type="text" name="company_name" value="{company_name}" size="40" maxlength="128" /></td>
			</tr><!-- end company_name_block --><!-- begin email_block -->
			<tr class="usualbg">
				<td>{EMAIL_FIELD} <span class="required">{email_required}</span></td>
				<td><input class="field" type="text" name="email" value="{email}" size="40" maxlength="128" /></td>
			</tr><!-- end email_block --><!-- begin address1_block -->
			<tr class="usualbg">
				<td>{STREET_FIRST_FIELD} <span class="required">{address1_required}</span></td>
				<td><input class="field" type="text" name="address1" value="{address1}" size="40" maxlength="255" /></td>
			</tr><!-- end address1_block --><!-- begin address2_block -->
			<tr class="usualbg">
				<td>{STREET_SECOND_FIELD} <span class="required">{address2_required}</span></td>
				<td><input class="field" type="text" name="address2" value="{address2}" size="40" maxlength="255" /></td>
			</tr><!-- end address2_block --><!-- begin city_block -->
			<tr class="usualbg">
				<td>{CITY_FIELD} <span class="required">{city_required}</span></td>
				<td><input class="field" type="text" name="city" value="{city}" size="40" maxlength="128" /></td>
			</tr><!-- end city_block --><!-- begin province_block -->
			<tr class="usualbg">
				<td>{PROVINCE_FIELD} <span class="required">{province_required}</span></td>
				<td><input class="field" type="text" name="province" value="{province}" size="40" maxlength="128" /></td>
			</tr><!-- end province_block --><!-- begin state_id_block -->
			<tr class="usualbg">
				<td>{STATE_FIELD} <span class="required">{state_id_required}</span></td>
				<td>
					<select name="state_id"><!-- begin state_id -->
						<option {state_id_selected} value="{state_id_value}">{state_id_description}</option><!-- end state_id -->
					</select>
				</td>
			</tr><!-- end state_id_block --><!-- begin zip_block -->
			<tr class="usualbg">
				<td>{ZIP_FIELD} <span class="required">{zip_required}</span></td>
				<td><input class="field" type="text" name="zip" value="{zip}" size="10" maxlength="16" /></td>
			</tr><!-- end zip_block --><!-- begin country_id_block -->
			<tr class="usualbg">
				<td>{COUNTRY_FIELD} <span class="required">{country_id_required}</span></td>
				<td>
					<select name="country_id"><!-- begin country_id -->
						<option {country_id_selected} value="{country_id_value}">{country_id_description}</option><!-- end country_id -->
					</select>
				</td>
			</tr><!-- end country_id_block --><!-- begin phone_block -->
			<tr class="usualbg">
				<td>{PHONE_FIELD} <span class="required">{phone_required}</span></td>
				<td><input class="field" type="text" name="phone" value="{phone}" size="40" maxlength="32" /></td>
			</tr><!-- end phone_block --><!-- begin daytime_phone_block -->
			<tr class="usualbg">
				<td>{DAYTIME_PHONE_FIELD} <span class="required">{daytime_phone_required}</span></td>
				<td><input class="field" type="text" name="daytime_phone" value="{daytime_phone}" size="40" maxlength="32" /></td>
			</tr><!-- end daytime_phone_block --><!-- begin evening_phone_block -->
			<tr class="usualbg">
				<td>{EVENING_PHONE_FIELD} <span class="required">{evening_phone_required}</span></td>
				<td><input class="field" type="text" name="evening_phone" value="{evening_phone}" size="40" maxlength="32" /></td>
			</tr><!-- end evening_phone_block --><!-- begin cell_phone_block -->
			<tr class="usualbg">
				<td>{CELL_PHONE_FIELD} <span class="required">{cell_phone_required}</span></td>
				<td><input class="field" type="text" name="cell_phone" value="{cell_phone}" size="40" maxlength="32" /></td>
			</tr><!-- end cell_phone_block --><!-- begin fax_block -->
			<tr class="usualbg">
				<td>{FAX_FIELD} <span class="required">{fax_required}</span></td>
				<td><input class="field" type="text" name="fax" value="{fax}" size="40" maxlength="32" /></td>
			</tr><!-- end fax_block -->
			<!-- begin delivery_name_block -->
			<tr class="usualbg">
				<td>{NAME_MSG} <span class="required">{delivery_name_required}</span></td>
				<td><input class="field" type="text" name="delivery_name" value="{delivery_name}" size="40" maxlength="128" /></td>
			</tr><!-- end delivery_name_block --><!-- begin delivery_first_name_block -->
			<tr class="usualbg">
				<td>{FIRST_NAME_FIELD} <span class="required">{delivery_first_name_required}</span></td>
				<td><input class="field" type="text" name="delivery_first_name" value="{delivery_first_name}" size="40" maxlength="64" /></td>
			</tr><!-- end delivery_first_name_block --><!-- begin delivery_last_name_block -->
			<tr class="usualbg">
				<td>{LAST_NAME_FIELD} <span class="required">{delivery_last_name_required}</span></td>
				<td><input class="field" type="text" name="delivery_last_name" value="{delivery_last_name}" size="40" maxlength="64" /></td>
			</tr><!-- end delivery_last_name_block --><!-- begin delivery_company_id_block -->
			<tr class="usualbg">
				<td>{COMPANY_SELECT_FIELD} <span class="required">{delivery_company_id_required}</span></td>
				<td>
					<select name="delivery_company_id"><!-- begin delivery_company_id -->
						<option {delivery_company_id_selected} value="{delivery_company_id_value}">{delivery_company_id_description}</option><!-- end delivery_company_id -->
					</select>
				</td>
			</tr><!-- end delivery_company_id_block --><!-- begin delivery_company_name_block -->
			<tr class="usualbg">
				<td>{COMPANY_NAME_FIELD} <span class="required">{delivery_company_name_required}</span></td>
				<td><input class="field" type="text" name="delivery_company_name" value="{delivery_company_name}" size="40" maxlength="128" /></td>
			</tr><!-- end delivery_company_name_block --><!-- begin delivery_email_block -->
			<tr class="usualbg">
				<td>{EMAIL_FIELD} <span class="required">{delivery_email_required}</span></td>
				<td><input class="field" type="text" name="delivery_email" value="{delivery_email}" size="40" maxlength="128" /></td>
			</tr><!-- end delivery_email_block --><!-- begin delivery_address1_block -->
			<tr class="usualbg">
				<td>{STREET_FIRST_FIELD} <span class="required">{delivery_address1_required}</span></td>
				<td><input class="field" type="text" name="delivery_address1" value="{delivery_address1}" size="40" maxlength="255" /></td>
			</tr><!-- end delivery_address1_block --><!-- begin delivery_address2_block -->
			<tr class="usualbg">
				<td>{STREET_SECOND_FIELD} <span class="required">{delivery_address2_required}</span></td>
				<td><input class="field" type="text" name="delivery_address2" value="{delivery_address2}" size="40" maxlength="255" /></td>
			</tr><!-- end delivery_address2_block --><!-- begin delivery_city_block -->
			<tr class="usualbg">
				<td>{CITY_FIELD} <span class="required">{delivery_city_required}</span></td>
				<td><input class="field" type="text" name="delivery_city" value="{delivery_city}" size="40" maxlength="128" /></td>
			</tr><!-- end delivery_city_block --><!-- begin delivery_province_block -->
			<tr class="usualbg">
				<td>{PROVINCE_FIELD} <span class="required">{delivery_province_required}</span></td>
				<td><input class="field" type="text" name="delivery_province" value="{delivery_province}" size="40" maxlength="128" /></td>
			</tr><!-- end delivery_province_block --><!-- begin delivery_state_id_block -->
			<tr class="usualbg">
				<td>{STATE_FIELD} <span class="required">{delivery_state_id_required}</span></td>
				<td>
					<select name="delivery_state_id"><!-- begin delivery_state_id -->
						<option {delivery_state_id_selected} value="{delivery_state_id_value}">{delivery_state_id_description}</option><!-- end delivery_state_id -->
					</select>
				</td>
			</tr><!-- end delivery_state_id_block --><!-- begin delivery_zip_block -->
			<tr class="usualbg">
				<td>{ZIP_FIELD} <span class="required">{delivery_zip_required}</span></td>
				<td><input class="field" type="text" name="delivery_zip" value="{delivery_zip}" size="10" maxlength="16" /></td>
			</tr><!-- end delivery_zip_block --><!-- begin delivery_country_id_block -->
			<tr class="usualbg">
				<td>{COUNTRY_FIELD} <span class="required">{delivery_country_id_required}</span></td>
				<td>
					<select name="delivery_country_id"><!-- begin delivery_country_id -->
						<option {delivery_country_id_selected} value="{delivery_country_id_value}">{delivery_country_id_description}</option><!-- end delivery_country_id -->
					</select>
				</td>
			</tr><!-- end delivery_country_id_block --><!-- begin delivery_phone_block -->
			<tr class="usualbg">
				<td>{PHONE_FIELD} <span class="required">{delivery_phone_required}</span></td>
				<td><input class="field" type="text" name="delivery_phone" value="{delivery_phone}" size="40" maxlength="32" /></td>
			</tr><!-- end delivery_phone_block --><!-- begin delivery_daytime_phone_block -->
			<tr class="usualbg">
				<td>{DAYTIME_PHONE_FIELD} <span class="required">{delivery_daytime_phone_required}</span></td>
				<td><input class="field" type="text" name="delivery_daytime_phone" value="{delivery_daytime_phone}" size="40" maxlength="32" /></td>
			</tr><!-- end delivery_daytime_phone_block --><!-- begin delivery_evening_phone_block -->
			<tr class="usualbg">
				<td>{EVENING_PHONE_FIELD} <span class="required">{delivery_evening_phone_required}</span></td>
				<td><input class="field" type="text" name="delivery_evening_phone" value="{delivery_evening_phone}" size="40" maxlength="32" /></td>
			</tr><!-- end delivery_evening_phone_block --><!-- begin delivery_cell_phone_block -->
			<tr class="usualbg">
				<td>{CELL_PHONE_FIELD} <span class="required">{delivery_cell_phone_required}</span></td>
				<td><input class="field" type="text" name="delivery_cell_phone" value="{delivery_cell_phone}" size="40" maxlength="32" /></td>
			</tr><!-- end delivery_cell_phone_block --><!-- begin delivery_fax_block -->
			<tr class="usualbg">
				<td>{FAX_FIELD} <span class="required">{delivery_fax_required}</span></td>
				<td><input class="field" type="text" name="delivery_fax" value="{delivery_fax}" size="40" maxlength="32" /></td>
			</tr><!-- end delivery_fax_block --><!-- begin payment_info_block -->
			<tr class="usualbg">
				<td colspan="2">{payment_info}</td>
			</tr><!-- end payment_info_block --><!-- begin cc_name_block -->
			<tr class="usualbg">
				<td>
					{CC_NAME_FIELD} <span class="required">{cc_name_required}</span>
					<div class="smallText">&nbsp;({CC_NAME_DESC})</div>
				</td>
				<td><input class="text" type="text" name="cc_name" size="50" value="{cc_name}" /></td>
			</tr><!-- end cc_name_block --><!-- begin cc_first_name_block -->
			<tr class="usualbg">
				<td>{CC_FIRST_NAME_FIELD} <span class="required">{cc_first_name_required}</span></td>
				<td><input class="text" type="text" name="cc_first_name" size="50" value="{cc_first_name}" /></td>
			</tr><!-- end cc_first_name_block --><!-- begin cc_last_name_block -->
			<tr class="usualbg">
				<td>{CC_LAST_NAME_FIELD} <span class="required">{cc_last_name_required}</span></td>
				<td><input class="text" type="text" name="cc_last_name" size="50" value="{cc_last_name}" /></td>
			</tr><!-- end cc_last_name_block --><!-- begin cc_number_block -->
			<tr class="usualbg">
				<td>{CC_NUMBER_FIELD} <span class="required">{cc_number_required}</span></td>
				<td><input class="text" type="text" name="cc_number" size="50" value="{cc_number}" /></td>
			</tr><!-- end cc_number_block --><!-- begin cc_start_date_block -->
			<tr class="usualbg">
				<td>{CC_START_DATE_FIELD} <span class="required">{cc_start_date_required}</span></td>
				<td>
					<select class="text" name="cc_start_month"><!-- begin cc_start_month -->
						<option {cc_start_month_selected} value="{cc_start_month_value}">{cc_start_month_description}</option><!-- end cc_start_month -->
					</select>
					<select class="text" name="cc_start_year"><!-- begin cc_start_year -->
						<option {cc_start_year_selected} value="{cc_start_year_value}">{cc_start_year_description}</option><!-- end cc_start_year -->
					</select>
				</td>
			</tr><!-- end cc_start_date_block --><!-- begin cc_expiry_date_block -->
			<tr class="usualbg">
				<td>{CC_EXPIRY_DATE_FIELD} <span class="required">{cc_expiry_date_required}</span></td>
				<td>
					<select class="text" name="cc_expiry_month"><!-- begin cc_expiry_month -->
						<option {cc_expiry_month_selected} value="{cc_expiry_month_value}">{cc_expiry_month_description}</option><!-- end cc_expiry_month -->
					</select>
					<select class="text" name="cc_expiry_year"><!-- begin cc_expiry_year -->
						<option {cc_expiry_year_selected} value="{cc_expiry_year_value}">{cc_expiry_year_description}</option><!-- end cc_expiry_year -->
					</select>
				</td>
			</tr><!-- end cc_expiry_date_block --><!-- begin cc_type_block -->
			<tr class="usualbg">
				<td>{CC_TYPE_FIELD} <span class="required">{cc_type_required}</span></td>
				<td>
					<select class="text" name="cc_type"><!-- begin cc_type -->
						<option {cc_type_selected} value="{cc_type_value}">{cc_type_description}</option><!-- end cc_type -->
					</select>
				</td>
			</tr><!-- end cc_type_block --><!-- begin cc_issue_number_block -->
			<tr class="usualbg">
				<td>{CC_ISSUE_NUMBER_FIELD} <span class="required">{cc_issue_number_required}</span></td>
				<td>
					<select class="text" name="cc_issue_number" width=20><!-- begin cc_issue_number -->
							<option {cc_issue_number_selected} value="{cc_issue_number_value}">{cc_issue_number_description}</option><!-- end cc_issue_number -->
					</select>
					&nbsp;({CC_ISSUE_NUMBER_DESC})
				</td>
			</tr><!-- end cc_issue_number_block --><!-- begin cc_security_code_block -->
			<tr class="usualbg">
				<td>{CC_SECURITY_CODE_FIELD} <span class="required">{cc_security_code_required}</span></td>
				<td>
					<input class="text" type=text name="cc_security_code" width=10 value="{cc_security_code}" /> 
						<a href="{cc_security_code_help_href}" target="_blank" 
							onclick="window.open('{cc_security_code_help_href}', 'cc_security_code_help', 'width=425,height=300,location=no,menubar=no,status=no,toolbar=no');return false;" 
							class="tocreverse">{CC_SECURITY_CODE_HELP_MSG}</a>
				</td>
			</tr><!-- end cc_security_code_block --><!-- begin pay_without_cc_block -->
			<tr class="usualbg">
				<td valign="top">
					{PAY_WITHOUT_CC_FIELD} <span class="required">{pay_without_cc_required}</span>
					<div class="smallText">&nbsp;({PAY_WITHOUT_CC_DESC})</div>
				</td>
				<td><textarea class="text" name="pay_without_cc" cols="50" rows="5">{pay_without_cc}</textarea></td>
			</tr><!-- end pay_without_cc_block -->
			<tr class="middlebg">
				<td></td>
				<td>
					<span class="submit"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onclick="document.record.operation.value='save'" /></span> &nbsp;
					<span class="submit"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'" /></span>
				</td>
			</tr>
		</table>
	</form>
	</div>
</div>