<div class="block-merchant-info {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
			<div style="height: 1%; overflow: hidden;"><!-- begin personal_image_block -->
				<img src="{personal_image_src}" {image_size} border="0" hspace="5" align="left" alt="{alt}" /><!-- end personal_image_block --><!-- begin merchant_description_block -->
				{merchant_description}<!-- end merchant_description_block -->
			</div>
			<!-- begin nickname_block -->
			<div>{NICKNAME_FIELD}: <b>{nickname}</b>
			<!-- begin nickname_country_block -->
			<img src="{country_image_src}" {image_size} border="0" hspace="5" alt="{alt}"><!-- end nickname_country_block -->
			</div><!-- end nickname_block -->
			<!-- begin online_status_block -->
			<div>{STATUS_MSG}: <b>{online_status}</b></div><!-- end online_status_block -->
			<!-- begin country_block -->
			<div>{COUNTRY_FIELD}: <img src="{country_image_src}" {image_size} border="0" hspace="5" alt="{alt}" /></div><!-- end country_block -->
			<!-- begin member_since_block -->
			<div>{MEMBER_SINCE_MSG}: <b>{member_since}</b></div><!-- end member_since_block -->
			<!-- begin prod_link_block -->
			<div><a href="{merchant_products_url}">{VIEW_MERCHANT_PRODUCTS_MSG}</a></div><!-- end prod_link_block -->

		</div>
	</div>
</div>