<div class="block-products-compare {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<!-- BEGIN compared -->
		<table cellspacing="1" width="100%" border="0" class="padding6px">
			<tr>
			  <td width="15%">&nbsp;</td><!-- BEGIN top_title -->
			  <td valign="top" align="center">
					<!-- BEGIN exclude_link -->
					<a href="{exclude_href}" title="{COMPARE_REMOVE_HELP_MSG}">{COMPARE_REMOVE_MSG}</a><br /><br />
					<!-- END exclude_link -->
					<b><a href="product_details.php?item_id={item_id}" title="{a_title}">{item_name}</a></b><br />
					<!-- begin image_block -->
					<a href="product_details.php?item_id={item_id}" title="{a_title}"><img src="{image_src}" alt="{image_alt}" hspace="5" vspace="5" {image_width} {image_height} border="0" /></a>
					<!-- end image_block -->
					<br />
					<!-- begin price_block -->
					<div id="price_block_{item_id}" class="{price_block_class}">{PRICE_MSG}:&nbsp;<span id="price_{item_id}" class="price">{price_control}</span> <span class="priceTax">{tax_price}</span></div><!-- end price_block -->
					<!-- begin sales -->
					<div class="salesBlock">{OUR_PRICE_MSG}:&nbsp;<span id="sales_price_{item_id}" class="salesPrice">{sales_price_control}</span> <span class="salesTax">{tax_sales}</span></div><!-- end sales -->
					<br />
				</td><!-- END top_title -->
			</tr>
			<!-- BEGIN features_groups -->
			<tr>
				<td colspan="{colspan}" class="headerbg"><b>{group_name}</b></td>
			</tr><!-- BEGIN features -->
			<tr class="usual">
			  <td valign="top" class="middlebg" width="15%"><b>{feature_name}</b></td><!-- BEGIN features_values -->
			  <td valign="top" width="{column_width}">{feature_value}</td><!-- END features_values -->
			</tr><!-- END features --><!-- END features_groups -->
		</table>

		<!-- END compared -->

		<!-- BEGIN errors_block --><div align="center" class="errorbg"><b>{errors}</b></div><!-- END errors_block -->
	</div>
</div>