<div class="block-products-releases {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<table border="0" width="100%" cellspacing="1" align="center" class="padding6px">
			<tr>
				<td>
					<div class="bigtitle">{PROD_RELEASES_MSG}</div>
					<hr size="1">
					<!-- begin releases -->
					<br />
					<table border="0" width="100%" cellspacing="0" cellpadding="0">
					<tr valign="top">
						<td><div class="title">{release_title} ({PROD_VER_MSG} {version})<br /></div></td>
						<td align="right">
							<div class="articleDate"><span class="nobr">&nbsp;{release_date}</span></div>
							<div><a class="smallText" href="{changes_log_href}?release_id={release_id}">{CHANGES_LOG_MSG}</a>&nbsp;</div>
						</td>
					</tr>
					</table>
					<div align="justify">{release_desc}</div><br />
					<!-- begin download -->
					<div class="smallText">{PROD_DOWNLOAD_MSG}: <a class="smallText" href="{download_url}">{filename}</a></div>
					<!-- end download -->
					<!-- end releases -->
					<!-- BEGIN no_releases -->
					<div class="title">{NO_PROD_RELEASES_MSG}</div><!-- END no_releases -->
					<br />
				</td>
			</tr>
		</table>	
	</div>
</div>