<div class="block-ads-add {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>
	<!-- BEGIN ads_types -->
	<div class="mButton">			<a href="{user_ad_href}?type_id={type_id}&category_id={category_id}">{type_name}</a>			</div><!-- END ads_types -->
</div>