<script language="JavaScript" type="text/javascript">
//<![CDATA[
var compareMinAllowed = "{COMPARE_MIN_ALLOWED_MSG}";
var compareMaxAllowed = "{COMPARE_MAX_ALLOWED_MSG}";
//]]>
</script>
<div class="block-ads-list {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>
	<div class="BlockData">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<!-- begin search_and_navigation -->
		<tr class="middlebg"> 
			<td valign="top">
				<!-- begin search_results -->&nbsp;&nbsp;&nbsp;&nbsp;{FOUND_ADS_MSG}<!-- end search_results -->
				<!-- begin navigator_block -->&nbsp;{navigator}&nbsp;<!-- end navigator_block -->
			</td>
		</tr>
		<!-- end search_and_navigation -->
		<tr class="usualbg"> 
			<td valign="top">
					<!-- begin no_items -->
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr><td align="center" class="padding10px">{NO_ADS_MSG}</td></tr>
					</table>
					<!-- end no_items -->
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<!-- BEGIN items_rows -->
					<tr>
						<!-- BEGIN items_cols -->
						<td valign="top" width="{item_column}" class="padding10px">
							<a name="p{form_id}"></a>
							<form name="form_{form_id}" method="post" action="{ads_href}#p{form_id}">
							<table border="0" cellspacing="0" cellpadding="3" width="100%">
								<tr>
									<td colspan="2">
										<a class="bigtitle {restricted_class}" href="{ads_details_url}">{item_title}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a>
										<!-- begin found_in_category -->
										<div class="smallText">{FOUND_IN_MSG}: <!-- BEGIN found_categories -->
										<a class="smallText {restricted_cat_class}" href="{ads_href}?category_id={ic_id}">{item_category}<!--begin restricted_cat_image--><img src="images/tr.gif" alt="" class="{restricted_cat_class}" /><!--end restricted_cat_image--></a>{ic_separator} <!-- END found_categories -->	
										</div><!-- end found_in_category -->
									</td>
								</tr>
								<tr>
									<td align="left" width="30%" valign="top">
										<!-- begin small_image --><a href="{ads_details_url}"><img src="{src}" {width} {height} border="0" vspace="0" hspace="5" alt="{alt}" /></a><!-- end small_image -->
										<!-- begin compare -->
										<div align="center">
											<input type="checkbox" name="compare" value="{item_id}" />
											<a href="#" onclick="return compareItems();"><b>{COMPARE_MSG}</b></a>
										</div>
										<!-- end compare -->
									</td>
									<td align="left" width="70%" valign="top">
										<div>
											<b>{TYPE_MSG}</b>:&nbsp;{type_name}<br />	
											<b>{PRICE_MSG}</b>:&nbsp;<font class="ourprice">{price}</font><br />	
											<!-- begin user_block --><b>{AD_SELLER_MSG}</b>:&nbsp;{user_name}<br /><!-- end user_block -->	
											<!-- begin quantity_block --><b>{AD_QTY_MSG}</b>:&nbsp;<font class="smallText">{quantity}</font><br /><!-- end quantity_block -->	
											<!-- begin availability_block --><b>{AD_AVAILABILITY_MSG}</b>:&nbsp;<font class="smallText">{availability}</font><br /><!-- end availability_block -->																						</div>																				<!-- begin properties -->										<div class="smallText"><b>{property_name}</b>: {property_value}</div><!-- end properties -->
									</td>
								</tr>
								<!-- begin description -->
								<tr>
									<td colspan="2" align="center"><p>{short_description}</p></td>
								</tr><!-- end description -->
							</table>
							</form>
						</td>
						<!-- END items_cols -->
					</tr>
					<!-- begin delimiter -->
					<tr><td colspan="{total_columns}" class="hDelimiter"><img src="images/tr.gif" alt="" /></td></tr>
					<!-- end delimiter -->
					<!-- END items_rows -->
					</table>
			</td>
		</tr>
		<!-- begin search_and_navigation -->
		<tr class="middlebg"> 
			<td valign="top">
				<!-- begin search_results -->&nbsp;&nbsp;&nbsp;&nbsp;{FOUND_ADS_MSG}<!-- end search_results -->
				<!-- begin navigator_block -->&nbsp;{navigator}&nbsp;<!-- end navigator_block -->			</tr>
		<!-- end search_and_navigation -->
		</table>
		<form name="compare_form" action="{compare_href}">
		<input type="hidden" name="items" value="" />
		</form>
		<form name="forms_names" action="{compare_href}"><!-- begin forms -->
		<input type="hidden" name="form_name" value="form_{form_id}" /><!-- end forms -->
		</form>
	</div>
</div>