<div class="block-navigation {block_class}" style="{block_style}">
	<div class="BlockData">
		<ul>
			<!-- BEGIN item -->
			<li class="customMenu{level} {item_class}" {td_id}>
				<!-- begin image_prefix --><img src="{src}" border="0" align="left" alt="{title}" /><!-- end image_prefix -->
				<a href="{url}" {target} class="{item_class}"><!-- begin image --><img src="{src}" border="0" align="left" alt="{title}" /><!-- end image -->{title}</a>
				{subitems}
			</li>
			<!-- END item -->
		</ul>
	</div>
</div>
