<div class="block-search {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	
	<div class="BlockData">
		<form action="{search_href}" method="get">
		<div class="padding10px"><!-- BEGIN search_categories -->
			<select class="search field" name="search_category_id"><!-- begin search_category_id -->
				<option {search_category_id_selected} value="{search_category_id_value}">{search_category_id_description}</option><!-- end search_category_id -->
			</select><!-- END search_categories --><!-- begin no_search_categories -->
			<input type="hidden" name="search_category_id" value="{top_id}" /><!-- end no_search_categories -->
			<input class="search field" type="text" name="search_string" value="{search_string}" />		</div>				<div>
						<input class="submit" type="submit" name="search" value="{GO_BUTTON}" />
			<!-- BEGIN advanced_search --><a class="submit" href="{advanced_search_href}">{ADVANCED_SEARCH_TITLE}</a><!-- END advanced_search -->
		</div>
		</form>
	</div>


</div>