<div class="block-category-description {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
			<!-- begin image_large_block --><img src="{src}" {width} {height} border="0" hspace="5" align="left" alt="{alt}" /><!-- end image_large_block -->
			 {full_description}
		</div>
	</div>
</div>