<div class="block-forums-related {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<!-- BEGIN forums_related_rows -->
			<tr>
				<!-- BEGIN forums_related_cols -->
				<td align="left" valign="top" width="{forums_related_column}" class="padding10px">
					<div><!--begin block_topic-->
					<img src="./images/icons/closed.gif" alt="Restricted Topic" border="0" align="absmiddle" />
					<!--end block_topic-->
					<a href="{forum_topic_url}"><b>{topic_title}</b></a></div>
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr><!-- BEGIN forums_related_user_info_block -->
						<td width="100" align="center" valign="top">				
							<div class="padding4px {thread_user_class}">{thread_user_name}</div>
							<div class="padding4px"><!-- BEGIN user_image_block --><img src="{personal_image}" border="0" {image_size} alt="{thread_user_name}" /><!-- END user_image_block --></div>
						</td><!-- END forums_related_user_info_block--><!-- BEGIN topic_desc_block-->
						<td>
							<div align="justify">
								{topic_desc} <a class="buttonMore" href="{forum_message_page_url}"><span><b>{READ_MORE_MSG}</b>.</span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
							</div>				
						</td><!-- END topic_desc_block-->
					</tr>
					</table>
				</td>
				<!-- END forums_related_cols -->
			</tr>
			<!-- END forums_related_rows -->
		</table>

		<!-- begin forums_related_navigator_block -->
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="right" class="padding10px">&nbsp;{forums_related_navigator}&nbsp;</td></tr>
		</table><!-- end forums_related_navigator_block -->
	</div>
</div>