<a name="block_{pb_id}"></a>
<div class="block-unsubscribe-simple {block_class}" style="{block_style}">

	<div class="padding10px">
		<table border="0" cellspacing="0" cellpadding="0"><!-- begin unsubscribe_error -->
		<tr>
			<td>
				<div class="errorbg"><b>{error_desc}</b></div>
			</td>
		</tr><!-- end unsubscribe_error --><!-- begin unsubscribe_message -->
		<tr>
			<td>
				<div class="messagebg"><b>{message_desc}</b></div>
			</td>
		</tr><!-- end unsubscribe_message -->
		<tr>
			<td>
				<form action="{current_href}#block_{pb_id}" method="get">
				<input type="hidden" name="unsubscribe" value="1" />
				{hidden_parameters}
				<input class="field" type="text" name="unsubscribed_email" value="{unsubscribed_email}" />
				<span class="submit"><input class="submit" type="submit" value="{UNSUBSCRIBE_BUTTON}" /></span>
				</form>
			</td>
		</tr>
		</table>
	</div>

</div>
