<script type="text/javascript">
//<![CDATA[
var requiredProperty = "{REQUIRED_PROPERTY_MSG}";
var addProduct = "{ADD_PRODUCT_MSG}";
var confirmAdd = "{confirm_add}";
var compareMinAllowed = "{COMPARE_MIN_ALLOWED_MSG}";
var compareMaxAllowed = "{COMPARE_MAX_ALLOWED_MSG}";
//]]>
</script>

<div class="block-products-table-view {block_class}" style="{block_style}">

    <a name="block_products_{pb_id}"></a>

    <form name="products_{pb_id}" method="post" action="{products_form_url}#block_products_{pb_id}">
    
        <input type="hidden" name="pb_id" value="{pb_id}" />
    
        <input type="hidden" name="type" value="table" />
        
        <input type="hidden" name="rp" value="{rp}" />
        
        <input type="hidden" name="rnd" value="{rnd}" />
        
        <input type="hidden" name="cart" value="ADD" />
        
        <input type="hidden" name="redirect_to_cart" value="{redirect_to_cart}" />
        
        <input type="hidden" name="multi_add" value="{multi_add}" />
        
        <input type="hidden" name="add_id" value="" />
        
        <input type="hidden" name="saved_type_id" value="" />
        
        <input type="hidden" name="start_index" value="{start_index}" />
        
        <input type="hidden" name="item_index" value="" />
        
        <input type="hidden" name="form_id" value="" />
        
        <input type="hidden" name="items_indexes" value="{items_indexes}" />
        
        {hidden_parameters}

        <h2 class="blockTitle">{block_title}</h2>

        <div class="BlockData">

            <!-- begin search_and_navigation -->
            
            <div class="padding6px usualbg"><!-- begin search_results -->
                
                <div class="floatleft">{FOUND_PRODUCTS_MSG}</div><!-- end search_results --><!-- begin navigator_block -->
                
                <div class="floatleft f18">{navigator}</div><!-- end navigator_block -->
                
                <div class="clearboth"></div>
            
            </div><!-- end search_and_navigation -->
            
            <!-- begin products_sortings --><div class="padding6px middlebg ta-c f18">{PROD_SORT_BY_MSG}: {sorter_default} | {sorter_price} | {sorter_name} | {sorter_manufacturer} | {sorter_code}</div><!-- end products_sortings -->

            <!-- begin no_items -->
            
            <div class="errorbg">{NO_PRODUCTS_MSG}</div><!-- end no_items -->
            
            <!-- BEGIN item_added --><div class="messagebg" align="center">{added_message}</div><!-- END item_added -->
            
            <!-- BEGIN sc_errors --><div class="errorbg" align="center">{errors_list}</div><!-- END sc_errors -->

            <!-- begin category_items -->

            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="productsTable">
            
            <!-- begin items_category_name -->
            
            <tr>
            
                <td colspan="{tv_columns}" class="productsCategory">{category_name}</td>

            </tr><!-- end items_category_name -->
            
            <!-- begin items_category_desc -->
            
            <tr>
                
                <td colspan="{tv_columns}" class="productsCategoryDesc">{category_desc}</td>
            
            </tr><!-- end items_category_desc -->
            
            <!-- begin title_columns --><!-- end title_columns -->
            
            <tr>
                
                <td colspan="{tv_columns}" class="productsDelimiterTop"><img src="images/tr.gif" alt="" /></td>
            
            </tr>
            
            <!-- BEGIN items_rows -->
            
            <input type="hidden" name="item_id{form_id}" value="{item_id}" />
            
            <input type="hidden" name="tax_percent{form_id}" value="{tax_percent}" />
            
            <input type="hidden" name="product_params{form_id}" value="{product_params}" />

            
            <!-- BEGIN items_cols -->
            
            <tr valign="top">
            
                <td align="center">
                
                    <!-- begin column_data -->
                
                    <!-- begin column_html --><!-- end column_html -->
                    
                    <!-- begin item_name_block -->
                    
                    <h2 class="listing {product_new_class}"><a class="title" href="{product_details_url}" title="{a_title}">{item_name}</a><!--begin product_new_image--><img src="images/tr.gif" alt="" /><!--end product_new_image--></h2><!-- end item_name_block -->
                    
                    <!-- begin small_image -->
                    
                    <a href="{product_details_url}" title="{a_title}"><img class="productImg" name="image_{form_id}" src="{src}" {width} {height} border="0" alt="{alt}" /></a><br /><br /><!-- end small_image -->

                    <!-- begin compare -->
                    
                    <div align="center">
                    
                        <input type="checkbox" name="compare{form_id}" value="{item_id}" />
                        
                        <a href="#" onclick="return compareItems('products_{pb_id}');"><b>{COMPARE_MSG}</b></a>
                        
                    </div><!-- end compare -->

                    <!-- begin manufacturer -->
                    
                    <div>{manufacturer_name}</div><!-- end manufacturer -->
                    
                    <!-- begin manufacturer_code_block -->
                    
                    <div class="manufacturerCode"><b>{manufacturer_code}</b></div><!-- end manufacturer_code_block -->	

                    <!-- begin item_code_block -->
                    
                    <div class="productCode"><b>{item_code}</b></div><!-- end item_code_block -->	

                    <!-- begin found_in_category -->
                    
                    <div class="smallText">{FOUND_IN_MSG}: <!-- BEGIN found_categories --><a class="smallText" href="{products_href}?category_id={ic_id}">{item_category}</a>{ic_separator}<!-- END found_categories --></div><!-- end found_in_category -->

                    <!-- begin description -->
                    
                    <div align="justify">{short_description}</div><!-- end description -->

                    <!-- begin reviews -->
                    
                    <div class="rating"><a href="{reviews_url}"><img class="{rating_image}" src="images/tr.gif" alt="{rating_alt}" align="top" border="0" /></a></div><!-- end reviews -->

                    <!-- begin multi_properties -->
                    
                    <div id="{property_block_id}" style="{property_style}">{property_name}: {property_control}</div><!-- end multi_properties -->

                    <!-- begin single_properties -->
                    
                    <div id="{property_block_id}" style="{property_style}">{property_control}</div><!-- end single_properties -->

                    <!-- begin multi_fs_groups -->
                    
                    <div><b><u>{group_name}</u></b></div><!-- begin multi_features -->
                    
                    <div>{feature_name}: {feature_value}</div><!-- end multi_features --><!-- end multi_fs_groups -->

                    <!-- begin single_features -->
                    
                    <div>{feature_value}</div><!-- end single_features -->

                    <!-- begin price_block -->
                    
                    <div id="price_block{form_id}" class="{price_block_class}"><span id="price{form_id}" class="price">{price_control}</span> <span class="priceTax" style="display: none;">{tax_price}</span></div><!-- end price_block -->

                    <!-- begin sales -->
                    
                    <div class="salesBlock"><span id="sales_price{form_id}" class="salesPrice">{sales_price_control}</span> <span class="salesTax" style="display: none;">{tax_sales}</span></div><!-- end sales -->

                    <!-- begin availability -->
                    
                    <div id="block_sm{form_id}" class="productAvailasility" style="{sm_style}"><span id="sm{form_id}" class="smallText">{shipping_time_desc}</span></div><!-- end availability -->	

                    <!-- begin stock_level_block -->
                    
                    <div id="block_sl{form_id}" class="stockLevel" style="{sl_style}"><span id="sl{form_id}" class="stockLevel">{stock_level}</span></div><!-- end stock_level_block -->	

                    <!-- begin quantity -->
                    
                    {quantity_control}<!-- end quantity -->	
                    
                    <!-- begin add_button -->
                    
                    <a class="submit button-add f18" id="add{form_id}" href="{buy_href}" onclick="{buy_onclick}"><span>{ADD_TO_CART_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}" /></a><!-- end add_button -->
                    
                    <!-- begin add_button_disabled -->
                    
                    <a class="disabled" title="{PRODUCT_OUT_STOCK_MSG}" onclick="alert('{out_stock_alert}');">{ADD_BUTTON}</a><!-- end add_button_disabled -->

                    <!-- begin save -->
                    
                    <div class="priceSaveBlock">&nbsp;<span class="percent">{discount_percent}%</span></div><!-- end save --><!-- end column_data -->
                
                </td>
                
            </tr><!-- END items_cols -->
            
            <!-- begin delimiter -->
            
            <tr>
            
                <td colspan="{tv_columns}" class="productsDelimiter"><img src="images/tr.gif" alt="" /></td>
            
            </tr><!-- end delimiter --><!-- END items_rows -->
            
            <!-- begin multi_add_button -->
            
            <tr>
                
                <td colspan="{tv_columns}" align="right">
                    
                    &nbsp;<a class="submit button-add" id="multi_add{form_id}" href="#" onclick="confirmBuy('products_{pb_id}','','cart', 'multi_add{form_id}'); return false;"><span>{ADD_BUTTON}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}" /></a>&nbsp;
                
                </td>
                
            </tr><!-- end multi_add_button -->
            
            </table><!-- end category_items -->

            <!-- begin products_sortings --><div class="padding6px middlebg ta-c f18 m-b2">{PROD_SORT_BY_MSG}: {sorter_default} | {sorter_price} | {sorter_name} | {sorter_manufacturer} | {sorter_code}</div><!-- end products_sortings -->
            
            <!-- begin search_and_navigation -->
            
            <div class="padding6px usualbg"><!-- begin search_results -->
               
                <div class="floatleft">{FOUND_PRODUCTS_MSG}</div><!-- end search_results --><!-- begin navigator_block -->
                
                <div class="floatleft f18">{navigator}</div><!-- end navigator_block -->
                
                <div class="clearboth"></div>
                
            </div><!-- end search_and_navigation -->

        </div>

    </form>

    <form name="compare_form" action="{compare_href}">
    
        <input type="hidden" name="items" value="" />
        
    </form>
    
</div>