<div class="block-wishlist-search {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
			<form action="{search_href}" method="get">
				{FIND_WISHLIST_DESC}<br /><br />
				{EMAIL_FIELD}: <input class="search" type="text" name="se" value="{se}" />
				<span class="submit"><input class="submit" type="submit" name="search" value="{FIND_WISHLIST_BUTTON}" /></span>
			</form>
		</div>
	</div>
</div>