<a name="block_{pb_id}"></a>
<div class="block-subscribe {block_class}" style="{block_style}">
    <h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
			<!-- begin subscribe_error -->
			<div class="errorbg"><b>{error_desc}</b></div>
			<!-- end subscribe_error -->
			<!-- begin subscribe_message -->
			<div class="messagebg"><b>{message_desc}</b></div>
			<!-- end subscribe_message -->
			<div>{SUBSCRIBE_FORM_MSG}</div><br />
			<div>
				<form action="{current_href}#block_{pb_id}" method="get">
				{hidden_parameters}
				<input class="field" type="text" name="subscribed_email" value="{subscribed_email}" />
				<span class="submit"><input class="submit" type="submit" value="{SUBSCRIBE_BUTTON}" /></span>
				</form>
			</div>
		</div>
	</div>
</div>
