<div class="block-forum-breadcrumb {block_class}" style="{block_style}">
<div class="Breadcrumb">
	<div class="BreadcrumbCenter">
		<div class="BreadcrumbLeftBgr">
			<div class="BreadcrumbRightBgr">
				<div class="BreadcrumbLeft"></div>
				<div class="BreadcrumbRight"></div>
				<div class="BreadcrumbRSS"><div><!-- BEGIN rss --><a href="{rss_url}"><img src="images/ico-rss.gif" alt="RSS" border="0" /></a><!-- END rss --></div></div>
				<div class="Breadcrumbs">
					<div class="BreadcrumbsBgr"><div><a href="{index_href}">{HOME_PAGE_TITLE}</a><!-- BEGIN tree --><span> &nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp; </span><img src="images/tr.gif" alt="" /><a href="{tree_url}" class="{tree_class}">{tree_title}</a><!-- END tree --></div></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>