<div class="block-filter {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData ta-c f16">
	<!-- begin filter_properties_rows -->
	<!-- begin filter_properties_cols -->
				<div class="p-tb10"><b>{property_name}</b></div><!-- begin filter_values -->
				<a href="{filter_url}">{value_title} ({value_total})</a><br /><!-- end filter_values --><!-- begin filter_more_link -->
				<div>
					<a id="fp_link_{property_id}" href="#" onclick="popupBlock('fp_link_{property_id}', 'fp_more_{property_id}', 'fp_image_{property_id}'); return false;">
					<img id="fp_image_{property_id}" src="images/icons/plus_small.gif" width="9" height="9" border="0" alt="" />
					{MORE_MSG}
					</a>
				</div><!-- end filter_more_link -->

				<div id="fp_more_{property_id}" class="filterPopup"><!-- begin filter_more_values -->
				<span class="nobr"><a href="{filter_url}">{value_title} ({value_total})</a></span><br /><!-- end filter_more_values -->
				</div>

				<!-- begin filter_selected -->
				<b>{value_title}</b> - <a href="{filter_url}">{REMOVE_FILTER_MSG}</a><!-- end filter_selected -->
			<!-- end filter_properties_cols --><!-- end filter_properties_rows -->
	</div>
</div>