<div class="block-ads-sellers {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	
	<div class="BlockData">
		<div class="usualbg padding10px"><!-- BEGIN users -->
			<div class="padding2px">							<a class="title" href="{user_href}">{user_name}</a> ({user_ads})							</div><!-- END users --> 
		</div>
	</div>
</div>