<div class="Header" style="{block_style}">
	<div class="HeaderLogo"><a href="{site_url}"><img style="background: url('{logo_src}') no-repeat;" class="png" src="images/tr.gif" {logo_size} alt="{logo_alt}" title="{logo_alt}" /></a></div>
	
	<div class="globalBar">
	
		<a class="goHome" href="{site_url}"></a>
		
		<a class="goBasket" href="{basket_href}"></a>
		
		<form class="mobileSearch" method="get" action="products_search.php">
		
			<div class="globalSearch">
			
				<input class="searchField" type="text" value="" name="search_string">
				
				<input class="searchSubmit" type="submit" value="" name="search">
				
				<div class="clearboth"></div>
			</div>
		</form>
		
		<div class="clearboth"></div>
		
	</div>
</div>