
 <div class="gorod">
Ваш регион:	
<select onchange="if(this.options[this.selectedIndex].value!=''){window.location=this.options[this.selectedIndex].value}else{this.options[selectedIndex=0];}">
<option value="#">{site_name_main}</option>
<option value="http://dostavka34.ru/volgograd/">Волгоград</option>
<option value="http://dostavka34.ru/vlz/">Волжский</option>
<option value="http://dostavka34.ru/">Другой регион</option>
</select>

</div>
	