<div class="block-products-users-bought {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div><div class="TopTitleBgr" style="float:left;">{block_title}</div><div class="TopTitleBgr" style="text-transform:none; float:right;">{TOTAL_MSG}:&nbsp;{total_records}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

			<table width="100%" cellspacing="1" cellpadding="1" border="0">
			<tr>
				<td class="middlebg lineTop" colspan="{fields_colspan}"><img src="images/tr.gif" width="1" height="1" /></td>
			</tr>
			<tr class="middlebg">
				<!-- begin ubi_titles -->
				<!-- begin fn_title -->
				<td>{FIRST_NAME_FIELD}</td><!-- end fn_title -->
				<!-- begin ln_title -->
				<td>{LAST_NAME_FIELD}</td><!-- end ln_title -->
				<!-- begin name_title -->
				<td>{NAME_MSG}</td><!-- end name_title -->
				<!-- begin nickname_title -->
				<td>{NICKNAME_FIELD}</td><!-- end nickname_title -->
				<!-- begin cn_title -->
				<td>{COMPANY_NAME_FIELD}</td><!-- end cn_title -->
				<!-- begin email_title -->
				<td>{EMAIL_FIELD}</td><!-- end email_title -->
				<!-- begin country_title -->
				<td>{COUNTRY_FIELD}</td><!-- end country_title -->
				<!-- begin state_title -->
				<td>{STATE_FIELD}</td><!-- end state_title -->
				<!-- begin od_title -->
				<td>{DATE_OF_PURCHASE_MSG}</td><!-- end od_title -->
				<!-- begin title_separator -->
				<td class="middlebg"><img src="images/tr.gif" width="1" height="1" /></td><!-- end title_separator -->
				<!-- end ubi_titles -->
			</tr>
			<tr>
				<td class="middlebg lineTop" colspan="{fields_colspan}"><img src="images/tr.gif" width="1" height="1" /></td>
			</tr>
			<!-- BEGIN ubi_rows -->
			<tr>
				<!-- BEGIN ubi_row -->
				<!-- begin fn_block -->
				<td>{first_name}</td><!-- end fn_block -->
				<!-- begin ln_block -->
				<td>{last_name}</td><!-- end ln_block -->
				<!-- begin name_block -->
				<td>{name}</td><!-- end name_block -->
				<!-- begin nickname_block -->
				<td>{nickname}</td><!-- end nickname_block -->
				<!-- begin cn_block -->
				<td>{company_name}</td><!-- end cn_block -->
				<!-- begin email_block -->
				<td>{email}</td><!-- end email_block -->
				<!-- begin country_block -->
				<td>{country_name}</td><!-- end country_block -->
				<!-- begin state_block -->
				<td>{state_name}</td><!-- end state_block -->
				<!-- begin od_block -->
				<td>{order_placed_date}</td><!-- end od_block -->
				<!-- begin row_separator -->
				<td class="middlebg"><img src="images/tr.gif" width="1" height="1" /></td><!-- end row_separator -->
				<!-- END ubi_row -->
			</tr>
			<tr>
				<td class="middlebg lineTop" colspan="{fields_colspan}"><img src="images/tr.gif" width="1" height="1" /></td>
			</tr>
			<!-- END ubi_rows -->
			<!-- begin ubi_navigator_block -->
			<tr>
				<td align="right" colspan="{fields_colspan}">&nbsp;{ubi_navigator}&nbsp;</td>
			</tr>
			<!-- end ubi_navigator_block -->
			</table>

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
