<div class="block-user-orders {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
		<tr class="middlebg" align="center">
			<td>{sorter_id}</td>
			<td>{sorter_status}</td>
			<td>{sorter_date}</td>
			<td>{sorter_total}</td>
			<td class="titleText">{INVOICE_MSG}</td>
			<td>&nbsp;</td>
		</tr><!-- end sorters --><!-- begin records -->
		<tr class="usualbg" valign="top" align="center">
			<td>{order_id}</td>
			<td>{order_status}</td>
			<td>{order_placed_date}</td>
			<td align="right">{order_total}</td>
			<td><!-- begin invoice_links -->
				<a href="{user_invoice_html_href}?order_id={order_id}" target="_blank"><img src="images/html_icon.gif" border="0" /></a>&nbsp;
				<a href="{user_invoice_pdf_href}?order_id={order_id}"><img src="images/pdf_icon.gif" border="0" /></a><!-- end invoice_links -->
			</td>
			<td id="butTd">
				<a href="{user_order_href}?order_id={order_id}">{VIEW_ORDER_DETAILS_MSG}</a><!-- begin pay_link -->
				<span> | </span>
				<a href="{user_order_payment_href}?order_id={order_id}&vc={vc}">{PAY_FOR_YOUR_ORDER_MSG}</a><!-- end pay_link -->
			</td>
		</tr><!-- end records --><!-- begin no_records -->
		<tr class="usualbg">
			<td colspan="6">{NO_ORDERS_MSG}</td>
		</tr><!-- end no_records --><!-- begin navigator_block -->
		<tr class="middlebg">
			<td colspan="6" align="right">{navigator}</td>
		</tr><!-- end navigator_block -->
		</table>	

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>