<script type="text/javascript">
//<![CDATA[
var requiredProperty = "{REQUIRED_PROPERTY_MSG}";
var addProduct = "{ADD_PRODUCT_MSG}";
var confirmAdd = "{confirm_add}";
var compareMinAllowed = "{COMPARE_MIN_ALLOWED_MSG}";
var compareMaxAllowed = "{COMPARE_MAX_ALLOWED_MSG}";
//]]>
</script>
<div class="block-products-quick-add {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
	<form action="{current_href}" method="post" name="form_products_quick_add" />
	<div class="padding10px">
		<input type="hidden" name="form_name" value="products-quick-add" />
		<input type="hidden" name="fast_add_action" value="1" />
		<input type="hidden" name="errors" value="{errors}" />

		<!-- BEGIN errors_block --><div class="errorbg" align="center"><b>{errors}</b></div><!-- END errors_block -->
		<!-- BEGIN success_block --><div class="messagebg" align="center">{added_message}</div><!-- END success_block -->

		<table border="0" cellpadding="0" cellspacing="0">
			<tr><td valign="top">				
				<table border="0" cellpadding="3" cellspacing="3">		
				<tr>
					<td>
						{CODE_MSG}
					</td>
					<td>
						<input class="search" type="text" name="item_code" value="{item_code}" />
					</td>			
				</tr>
				<tr>
					<td>
						{QUANTITY_MSG}
					</td>
					<td>
						<input class="search" type="text" name="fast_quantity" value="{fast_quantity}" />
					</td>
				</tr>		
				<tr>
					<td></td>
					<td>
						<span class="submit"><input class="submit" type="submit" value="{ADD_TO_CART_MSG}" name="add_product" /></span>
					</td>
				</tr>
				</table>				
			</td>
			</tr>
		</table>
		<!-- BEGIN product_block-->
		<form name="form_{form_id}">
		<table width="100%" border="0" cellspacing="0" cellpadding="3">
			<tr>
				<td colspan="2">
					<h2 class="{product_new_class} {restricted_class}">
					<a class="bigtitle" href="{details_url}">{item_name}</a>
					<!--begin product_new_image--><img src="images/tr.gif" alt="" class="{product_new_class}" /><!--end product_new_image-->
					<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image-->
					</h2>
				</td>
			<tr>
				<td valign="top" align="left" width="20%">
					<!-- begin small_image -->
					<a href="{product_details_url}"><img class="productImg" name="image_{form_id}" src="{src}" {width} {height} border="0" vspace="10" hspace="10" alt="{alt}" /></a><!-- end small_image -->
					{product_previews}							
					<!-- begin compare -->
					<div align="center">
						<input type="checkbox" name="compare" value="{item_id}" />
						<a href="#" onclick="return compareItems();"><b>{COMPARE_MSG}</b></a>
					</div>
					<!-- end compare -->
				</td>
				<td align="left" valign="top">
					<!-- begin properties -->
					<div id="{property_block_id}" style="{property_style}">{property_name}: {property_control}</div><!-- end properties -->
				</td>
			</tr>
			<tr>
				<td colspan="2" align="left" valign="top">
					<!-- begin price_block -->
					<div id="price_block_{item_id}" class="{price_block_class}">{PRICE_MSG}:&nbsp;<span id="price_{item_id}" class="price">{price_control}</span> <span class="priceTax">{tax_price}</span></div><!-- end price_block -->
					<!-- begin sales -->
					<div class="salesBlock">{OUR_PRICE_MSG}:&nbsp;<span id="sales_price_{item_id}" class="salesPrice">{sales_price_control}</span> <span class="salesTax">{tax_sales}</span></div><!-- end sales -->
					<!-- begin save -->
					<div class="priceSaveBlock">{YOU_SAVE_MSG}: <span class="price">{you_save}</span> <span class="percent">({discount_percent}%)</span></div><!-- end save -->
	
					<!-- begin price_matrix -->
					<table cellspacing="0" cellpadding="2" border="0" class="matrix">
						<tr>
						<th class="matrixTop">{QTY_MSG}</th>
						<!-- begin matrix_quantities --><td class="matrixTop" align="center">{matrix_quantity}</td><!-- end matrix_quantities -->
						</tr>
						<tr>
						<th class="matrixBottom">{PRICE_MSG}</th>
						<!-- begin matrix_prices --><td class="matrixBottom" align="center"><span class="price">{matrix_price}</font> <span class="priceTax">{matrix_tax_price}</span></td><!-- end matrix_prices -->
						</tr>
					</table>
					<!-- end price_matrix -->
	
					<!-- begin points_price_block -->
					<div class="pointsPriceBlock">{POINTS_PRICE_MSG}:&nbsp;<span id="points_price_{item_id}" class="points">{points_price}</span></div><!-- end points_price_block -->
					<!-- begin reward_points_block -->
					<div class="rewardPointsBlock">{REWARD_POINTS_MSG}:&nbsp;<span id="reward_points_{item_id}" class="points">{reward_points}</span></div><!-- end reward_points_block -->
					<!-- begin reward_credits_block -->
					<div class="rewardCreditsBlock">{REWARD_CREDITS_MSG}:&nbsp;<span id="reward_credits_{item_id}" class="credits">{reward_credits}</span></div><!-- end reward_credits_block -->
	
					<!-- begin item_code_block -->
					{PROD_CODE_MSG}: <b>{item_code}</b><br /><!-- end item_code_block -->	
					<!-- begin manufacturer_code_block -->
					{MANUFACTURER_CODE_MSG}: <b>{manufacturer_code}</b><br /><!-- end manufacturer_code_block -->	
					<!-- begin reviews -->
					{RATING_MSG}: <a href="{reviews_url}"><img class="{rating_image}" src="images/tr.gif" alt="{rating_alt}" align="top" border="0" /></a><br /><!-- end reviews -->
					<!-- begin availability -->
					{PROD_AVAILABILITY_MSG}: <font class="smallText"><b>{shipping_time_desc}</b></font><br /><!-- end availability -->	
					<!-- begin stock_level_block -->
					{STOCK_LEVEL_MSG}: <span id="stock_level_{item_id}" class="stock_level">{stock_level}</span><br /><!-- end stock_level_block -->	
					<br />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div align="justify">{short_description}</div>
					<a class="buttonMore" href="{details_url}"><span><b>{READ_MORE_MSG}</b></span><img src="images/tr.gif" alt="" /></a>
				</td>
			</tr>
			<tr>
				<td colspan="2">

				<!-- begin view_button -->
				<a class="button button-view" id="view_{form_id}" href="{basket_href}?rp={rp_url}"><span>{VIEW_CART_MSG}</span><img src="images/tr.gif" alt="{VIEW_CART_MSG}" /></a> 
				<!-- end view_button -->
				<!-- begin checkout_button -->
				<a class="button button-check" id="check_{form_id}" href="{checkout_href}?rp={rp_url}"><span>{GOTO_CHECKOUT_MSG}</span><img src="images/tr.gif" alt="{GOTO_CHECKOUT_MSG}" /></a>
				<!-- end checkout_button -->
				</td>
			</tr>
 		</table>
		</form>
			<!-- END product_block-->
	</div>
	</form>
		
		
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>