<div class="block-products-top-viewed {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">

			<table width="100%" border="0" cellspacing="0" cellpadding="3">
			<!-- BEGIN top_viewed_rows -->
			<tr>
				<!-- BEGIN top_viewed_cols -->
				<td align="left" valign="top" class="top" width="{top_viewed_column}">
					<!-- begin top_image --><a href="{product_url}" title="{a_title}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{alt}" align="left" /></a><!-- end top_image -->
					<b>{top_position}.</b> <a class="top10 {product_new_class} {restricted_class}" href="{product_url}" title="{a_title}">{item_name}<!--begin product_new_image--><img src="images/tr.gif" alt="" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a> (<b>{total_views}</b>)
					<!-- begin top_desc --><br />{desc_text}<!-- end top_desc -->
				</td>
				<!-- END top_viewed_cols -->
			</tr>
			<!-- END top_viewed_rows -->
			</table>

		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>