<div class="block-ads-special {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">
			<table width="100%" border="0" cellspacing="0" cellpadding="2">
			<!-- BEGIN special_rows -->
			<tr>
				<!-- BEGIN special_cols -->
				<td align="left" valign="top" width="{special_column}">
					<div><a class="bigtitle {restricted_class}" href="{details_href}">{special_item_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>
					<div align="justify">
					<!-- begin image_small --><a href="{details_href}"><img src="{src}" {width} {height} border="0" alt="{alt}" align="left" /></a><!-- end image_small -->
					{special_description} &nbsp;<a class="buttonMore" href="{details_href}"><span><b>{READ_MORE_MSG}</b>.</span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
					</div>
				</td>
				<!-- END special_cols -->
			</tr>
			<!-- END special_rows -->
			</table>

			<!-- begin special_navigator_block -->
			<table width="100%" border="0" cellspacing="0" cellpadding="2">
			<tr><td colspan="2" align="right">&nbsp;{special_navigator}&nbsp;</td></tr>
			</table><!-- end special_navigator_block -->
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>