<div class="block-related {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{RELATED_TITLE}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">
			<!-- BEGIN related_items -->
			<div class="top10">
				<a href="{details_href}">{related_item_name}</a> <!-- begin article_date_block --><span class="articleDate">({article_date})</span><!-- end article_date_block -->
			</div>
			<!-- END related_items --> 
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>