<div class="block-site-search-simple {block_class}" style="{block_style}">
	<div class="padding10px">
		<form action="{search_href}" method="get">
			<input class="search" type="text" name="sq" value="{sq}" />
			<span class="submit"><input class="submit" type="submit" name="search" value="{SEARCH_BUTTON}" /></span>
		</form>
	</div>
</div>