<div class="headerCurrency"  style="{block_style}">
<span>{CURRENCY_TITLE}:</span>
	<form action="{current_href}" name="currency" method="get">
		{hidden_parameters}
		<!-- begin select_currencies -->
		<select class="field" name="currency_code">
			<!-- begin currencies -->
			<option {currency_selected} value="{currency_code}">{currency_title}</option>
			<!-- end currencies -->
		</select> <span class="submit"><input class="submit" type="submit"
			value="{APPLY_BUTTON}" />
		</span>
		<!-- end select_currencies -->
		<!-- begin currencies_images -->
		<a href="{current_href}{currency_query}"><img border="0"
			src="{src}"{width}{height}alt="{currency_title}"
			title="{currency_title}" />
		</a>
		<!-- end currencies_images -->

	</form>
</div>