<div class="Block">
<div class="BlockTitle">
	<a href="#" onClick="frameSettings('{tag_name}'); return false;"><img src="images/cms_settings.gif" border="0"></a>
	<a href="#" onClick="moveBlock('{tag_name}', '');return false;"><img src="images/cms_move.gif" border="0" alt="Move" title="Move"></a>
	<a href="#" onClick="addBlock('{tag_name}'); return false;"><img src="images/cms_add.gif" border="0" alt="Add" title="Add"></a>
	<span id="frame_title_{tag_name}">{frame_name}</span>
</div>
<div id="frame_updown_{tag_name}" class="BlockUpDown floatRight" style="display: none;">
	<a href="#" onClick="moveBlock('', -1);return false;" onDblClick="moveBlock('', -1);return false;"><img src="images/cms_up.gif" border="0" alt="Up" title="Up"></a><br>
	<a href="#" onClick="moveBlock('', 1);return false;" onDblClick="moveBlock('', 1);return false;"><img src="images/cms_down.gif" border="0" alt="Down" title="Down"></a>
</div>
<div id="frame_{tag_name}" class="BlockContent"></div>
</div>