<script type="text/javascript">
<!--
var site_url = "{site_url}";
//-->
</script>
<script language="JavaScript" type= "text/javascript" src="../js/ajax.js"></script>
<script language="JavaScript" type= "text/javascript" src="../js/admin.js"></script>

<div class="MainBlock">
<div class="Header">
	<div class="adminAdditional">
		<div class="searchAdd">
			<form action="{admin_global_search_href}" method="GET">
			<input class="field" name="s" value="" size="30" type="text">
			<span class="button"><input class="submit" name="search" value="{SEARCH_BUTTON}" type="submit"></span>
			</form>
		</div>
		<div class="newAdd">
			<!-- begin today_block -->
			<div class="newTxt">{TODAY_MSG}</div><!-- end today_block -->
			<!-- begin new_orders_block -->
			<div class="newOrders">
				<a href="admin_orders.php?s_os_list=17&s_sd={today_header}&s_ed={today_header}"><b>{new_orders}</b> {ORDERS_MSG}</a>
			</div><!-- end new_orders_block -->
			<!-- begin new_tickets_block -->
			<div class="newTickets">
				<a href="admin_support.php?s_sd={today_header}&s_ed={today_header}&s_in=0"><b>{new_tickets}</b> {TICKETS_MSG}</a>
			</div><!-- end new_tickets_block -->
			<!-- begin new_users_block -->
			<div class="newUsers">
				<a href="admin_users.php?s_sd={today_header}&s_ed={today_header}"><b>{new_users}</b> {USERS_MSG}</a>
			</div><!-- end new_users_block -->
		</div>
		<div class="linkAdd">
			<a href="{index_href}" target="_blank" class="linkAsButton"><span>{SITE_HOME_MSG}</span></a>
			{block_bookmarks}
			<a href="admin_login.php?operation=logout" class="linkAsButton logout"><span>{LOGOUT_BUTTON}</span></a>
		</div>
	</div>
	<div class="adminVersion">Viart {version_name} {version_type} v.{version_number}<br>Russian Edition</div>
	<div class="adminLogo">
		<a href="{admin_href}" title="Viart control panel"><span>{CONTROL_PANEL_MSG}</span></a>
	</div>
	<div class="adminTitle">{header_menu_title}</div>
	<div class="mainTabs">
		<ul>
			{block_leftside_topmenu}
		</ul>
	</div>
</div>
	
<div class="MainContent">
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td valign="top" width="220">
	{block_leftside_menu}
</td><td valign="top">