<table>
<tr>
	<td colspan="3">
		{header}
	</td>
</tr>
<tr valign="top">
	<td colspan="2" width="66%">{hot}</td>
	<td rowspan="2" width="33%">{right}</td>
</tr>
<tr valign="top">
	<td width="33%">{left}</td>
	<td width="33%">{middle}</td>
</tr>
<tr>
	<td colspan="3">{footer}</td>
</tr>
</table>
