<script type="text/javascript">
//<![CDATA[
var requiredProperty = "{REQUIRED_PROPERTY_MSG}";
var addProduct = "{ADD_PRODUCT_MSG}";
var confirmAdd = "{confirm_add}";
//]]>
</script>
<div class="block-product-options {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

			<!-- begin no_item -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center" class="padding10px"><div class="errorbg">{NO_PRODUCT_MSG}</div><td></tr>
			</table>
			<!-- end no_item -->

			<!-- BEGIN item -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="padding10px">
				<!-- start item table -->
				<!-- BEGIN item_added --><div class="messagebg" align="center">{added_message}</div><!-- END item_added -->
				<!-- BEGIN sc_errors --><div class="errorbg" align="center">{errors_list}</div><!-- END sc_errors -->
				<form name="form_{item_id}" action="{product_details_href}" method="post">
				<input type="hidden" name="rp" value="{rp}" />
				<input type="hidden" name="rnd" value="{rnd}" />
				<input type="hidden" name="cart" value="ADD" />
				<input type="hidden" name="cart_id" value="{cart_id}" />
				<input type="hidden" name="add_id" value="{item_id}" />
				<input type="hidden" name="saved_type_id" value="" />
				<input type="hidden" name="properties_discount" value="{properties_discount}" />
				<input type="hidden" name="quantity" value="{quantity}" />
				<input type="hidden" name="tax_percent" value="{tax_percent}" />
				<input type="hidden" name="product_params" value="{product_params}" />

				<table width="100%" border="0" cellspacing="0" cellpadding="3">
				<tr>
					<td colspan="3">
						<span class="bigtitle">{item_name}</span>
					</td>
				</tr>
				<tr>
					<td align="left" width="1%">
						<!-- begin big_image --><img name="image_{item_id}" src="{src}" {width} {height} border="0" hspace="0" alt="{alt}" /><!-- end big_image -->
					</td>
					<td>&nbsp;</td>
					<td align="left" valign="top">

						{PRICE_MSG}: 
						<span id="price_{item_id}" class="ourprice">{price}</span> 
						<span class="taxprice">{tax_price}</span>
						<br />
						<!-- begin item_code_block -->
						{PROD_CODE_MSG}: <b>{item_code}</b><br /><!-- end item_code_block -->	
						<!-- begin manufacturer_code_block -->
						{MANUFACTURER_CODE_MSG}: <b>{manufacturer_code}</b><br /><!-- end manufacturer_code_block -->	
						<br />
						<!-- begin properties -->
						<div id="{property_block_id}" style="{property_style}">{property_name}: {property_control}</div><!-- end properties -->

						<!-- begin add_button -->
						<br /><a class="button button-add" id="add{item_id}" href="{buy_href}" onclick="return confirmBuy(document.form_{item_id}, 'cart', this);"><span>{ADD_TO_CART_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}" /></a> 
						<!-- end add_button -->
						<!-- begin add_button_disabled -->
						<br /><a class="disabled" title="{PRODUCT_OUT_STOCK_MSG}" onclick="alert('{out_stock_alert}');">{ADD_TO_CART_MSG}</a> 
						<!-- end add_button_disabled -->

					</td>
				</tr>
				</table>
				</form>

				</td>
			</tr>
			</table>
			<!-- END item -->

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>