<div class="block-polls-previous-list {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
	<br />

<table border="0" width="90%" cellspacing="5" cellpadding="10" align="center"><!-- BEGIN records -->
<tr>
	<td valign="top" width="100" align="right">
		<i>{poll_date}</i>
	</td>
	<td>
		<a class="title" onclick="window.open('{poll_vote_href}?poll_id={poll_id}','vote','toolbar=no,scrollbars=yes,resizable=no,width=400,height=300'); return false;"
			href="{poll_vote_href}?poll_id={poll_id}" class="bigtitle">{poll_question}</a> &nbsp;
		<a class="smallText" onclick="window.open('{poll_vote_href}?poll_id={poll_id}','vote','toolbar=no,scrollbars=yes,resizable=no,width=400,height=300'); return false;"
			href="{poll_vote_href}?poll_id={poll_id}">{VIEW_RESULTS_MSG}</a>
	</td>
</tr><!-- END records -->
<!-- BEGIN navigator_block -->
<tr>
	<td></td>
	<td>
		{navigator}
	</td>
</tr><!-- END navigator_block --><!-- BEGIN no_records -->
<tr>
	<td colspan="2">
		{NO_POLLS_MSG}
	</td>
</tr><!-- END no_records -->
</table>	

	<br />
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>