<div class="block-currency {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">
		<form action="{current_href}" name="currency" method="get">
		{hidden_parameters}
		<div class="padding10px">
			<!-- begin select_currencies -->
			<select class="field" name="currency_code">
			<!-- begin currencies --><option {currency_selected} value="{currency_code}">{currency_title}</option><!-- end currencies -->
			</select>
			<span class="submit"><input class="submit" type="submit" value="{APPLY_BUTTON}" /></span>
			<!-- end select_currencies -->
			<!-- begin currencies_images --><a href="{current_href}{currency_query}"><img border="0" src="{src}" {width} {height} alt="{currency_title}" title="{currency_title}" /></a> <!-- end currencies_images -->
		</div>
		</form>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>