<div class="block-latest {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{LATEST_TITLE}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">

			<table width="100%" border="0" cellspacing="0" cellpadding="2">
			<!-- BEGIN latest_rows -->
			<tr>
				<!-- BEGIN latest_cols -->
				<td align="left" valign="top" width="{latest_column}">
					<span class="articleDate">{article_date}</span>
					<div><a href="{details_href}"><b>{latest_item_name}</b></a></div>

					<div align="justify">
					{short_description} &nbsp;<a class="buttonMore" href="{details_href}"><span><b>{READ_MORE_MSG}</b></span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
					</div>
				</td>
				<!-- END latest_cols -->
			</tr>
			<!-- END latest_rows -->
			</table>

		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>