<div class="block-user-payments {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
		<tr class="middlebg" align="center">
			<td>{sorter_id}</td>
			<td>{sorter_payment_name}</td>
			<td>{sorter_total}</td>
			<td>{sorter_date}</td>
			<td>&nbsp;</td>
		</tr><!-- end sorters --><!-- BEGIN records -->
		<tr class="usualbg" valign="top" align="center">
			<td>{payment_id}</td>
			<td align="left">&nbsp;{payment_name}</td>
			<td align="right">&nbsp;{payment_total}&nbsp;</td>
			<td>&nbsp;{date_paid}&nbsp;</td>
			<td>&nbsp;<a href="{user_payment_href}?payment_id={payment_id}">{VIEW_DETAILS_MSG}</a>&nbsp;</td>
		</tr><!-- END records --><!-- BEGIN no_records -->
		<tr class="usualbg">
			<td colspan="5">{NO_COMMISSION_PAYMENTS_MSG}</td>
		</tr><!-- END no_records --><!-- begin navigator_block -->
		<tr class="middlebg">
			<td colspan="5" align="right">{navigator}</td>
		</tr><!-- end navigator_block -->
		</table>	

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>