<script type="text/javascript" src="js/icons.js"></script>
<script type="text/javascript" src="js/attachments.js"></script>
<div class="block-forum-topic-new {block_class}" style="{block_style}">
<!-- begin topic_preview-->
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">{description}</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
<!-- end topic_preview-->

<!-- begin errors --><div class="errorbg" align="center">{errors_list}</div><br /><!-- end errors -->

<!-- begin forum_thanks --><div class="messagebg" align="center">{TOPIC_ADDED_MSG}</div><br /><!-- end forum_thanks -->

<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{NEW_TOPIC_MSG}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

		<form action="{forum_topic_new_href}" method="post" name="forum">
		<input type="hidden" name="forum_id" value="{forum_id}" />
		<input type="hidden" name="attachments_url" value="{user_forum_attachments_url}" />
		<input type="hidden" name="rnd" value="{rnd}" />
		<input type="hidden" name="operation" value="1" />
		<input type="hidden" name="u" value="{u}" />
		<table border="0" cellspacing="1" width="100%" class="padding6px">
			<tr class="usualbg">
				<td colspan="2" class="smallText" align="right">{ASTERISK_MSG}</td>
			</tr><!-- begin user_name_block -->
			<tr class="usualbg">
				<td class="{user_name_class}">{TOPIC_NICKNAME_FIELD} <span class="required">*</span></td>
				<td class="{user_name_class}"><input class="text" type="text" name="user_name" size="60" value="{user_name}" maxlength="64" /></td>
			</tr><!-- end user_name_block --><!-- begin user_email_block -->
			<tr class="usualbg">
				<td class="{user_email_class}">{TOPIC_EMAIL_FIELD} <span class="required">*</span></td>
				<td class="{user_email_class}"><input class="text" type="text" name="user_email" size="60" value="{user_email}" maxlength="128" /></td>
			</tr><!-- end user_email_block -->
			<tr class="usualbg">
				<td class="{topic_class}">{TOPIC_NAME_FIELD} <span class="required">*</span></td>
				<td class="{topic_class}"><input class="text" type="text" name="topic" size="60" value="{topic}" /></td>
			</tr><!-- begin attachments_block -->
			<tr class="usualbg">
				<td>
					<a href="#" onclick="attachFiles(document.forum);return false;">{ATTACHMENTS_MSG}</a>
					<a href="#" onclick="attachFiles(document.forum);return false;"><img src="images/clip.gif" align="top" border="0" alt="attachment" /></a>
				</td>
				<td>
					<div id="attachmentsBlock" style="{attachments_class}">
						<a href="#" onclick="attachFiles(document.forum);return false;">Attached Files</a>:&nbsp;
						&nbsp;<span id="attachedFiles">{attached_files}</span>
					</div>
				</td>
			</tr><!-- end attachments_block -->
			<tr class="usualbg" valign="top">
				<td class="{description_class}">
					{TOPIC_MESSAGE_FIELD} <span class="required">*</span><!-- begin icons_block -->
					<div align="center">
						<br />{EMOTICONS_MSG}
						<table cellspacing="3" cellpadding="0" border="0"><!-- begin icons_rows -->
							<tr><!-- begin icons_cols -->
								<td><a href="#" onclick="insertAtCaret('{icon_code_js}', document.forum.description);return false;"><img src="{icon_src}" {icon_size} border="0" alt="{icon_alt}" /></a></td><!-- end icons_cols -->
							</tr><!-- end icons_rows -->
						</table><!-- begin icons_more_link -->
						<br /><a href="#" onclick="openIconsWindow('{icon_select_href}', document.forum.description);return false;">{VIEW_MORE_EMOTICONS_MSG}</a><!-- end icons_more_link -->
					</div><!-- end icons_block -->
				</td>
				<td class="{description_class}">
					<textarea name="description" rows="15" cols="60" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);">{description}</textarea>
				</td>
			</tr>
			<tr class="usualbg">
				<td class="text">{TOPIC_NOTIFY_FIELD}</td>
				<td><input type="checkbox" {email_notification} name="email_notification" value="1" /></td>
			</tr><!-- begin validation_number_block -->
			<tr class="usualbg">
				<td class="{validation_class}">{VALIDATION_CODE_FIELD} <span class="required">*</span></td>
				<td class="{validation_class}">
					<input class="field" type="text" name="validation_number" size="4" value="{validation_number}" />
					&nbsp;<img src="validation_image.php" border="0" align="absmiddle" />
				</td>
			</tr><!-- end validation_number_block -->
			<tr class="middlebg">
				<td>&nbsp;</td>
				<td>
					<span class="submit"><input class="submit" type="submit" name="button" value="{ADD_TOPIC_BUTTON}" /></span>
					<span class="submit"><input class="submit" id="preview" type="submit" name="button" value="{PREVIEW_BUTTON}" /></span>
					<span class="submit"><input class="submit" id="clear" type="button" value="{CLEAR_BUTTON}" onclick="document.forum.description.value=''" /></span>
					<span class="submit"><input class="submit" id="reset" type="reset" value="{RESET_BUTTON}" /></span>
				</td>
			</tr>
		</table>
		</form>

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>