<div class="block-ads-latest {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<table width="100%" border="0" cellspacing="0" cellpadding="2"><!-- BEGIN latest_rows -->
			<tr><!-- BEGIN latest_cols -->
				<td align="left" valign="top" width="{latest_column}">
					<span class="articleDate">{date_start}</span>
					<div><a class="title {restricted_class}" href="{details_href}"><b>{latest_item_title}</b><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>
					<div align="justify" class="smallText">
					{short_description} &nbsp;<a class="buttonMore" href="{details_href}"><span><b>{READ_MORE_MSG}</b>.</span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
					</div>
				</td><!-- END latest_cols -->
			</tr><!-- END latest_rows -->
			</table>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
