<div class="block-navigation {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter CustomMenu">
		<ul>
			<!-- BEGIN item -->
			<li class="customMenu{level} {item_class}" {td_id}>
				<!-- begin image_prefix --><img src="{src}" border="0" align="left" alt="{title}" /><!-- end image_prefix -->
				<a href="{url}" {target} class="{item_class}"><!-- begin image --><img src="{src}" border="0" align="left" alt="{title}" /><!-- end image -->{title}</a>
				{subitems}
			</li>
			<!-- END item -->
		</ul>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
