<div class="block-top-sellers {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{TOP_SELLERS_TITLE}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">

		<!-- BEGIN top_sellers_items -->
		<div class="floatleft"><!-- begin top_image -->
			<a href="{details_href}" title="{a_title}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{alt}" align="left" /></a><!-- end top_image -->
			<b class="position">{top_position}.</b> 
			<a class="{product_new_class} {restricted_class}" href="{details_href}" title="{a_title}">{top_name}<!--begin product_new_image--><img src="images/tr.gif" alt="" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a><!-- BEGIN top_value_block -->
			 - <b>{top_value}</b> {top_tax_price}<!-- END top_value_block --><!-- begin top_desc -->
			<div>{desc_text}</div><!-- end top_desc -->
		</div>
		<!-- END top_sellers_items --> 

		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>