<div class="block-user-product-registration {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

	<form action="{user_product_registration_href}" name="record" method="post">
	<input type="hidden" name="operation" value="" />
	<input type="hidden" name="add_more" value="0" />
	<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!--END errors-->
	<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- BEGIN intro_text_block -->
		<tr class="usualbg">
			<td colspan="2">{intro_text}</td>
		</tr><!-- END intro_text_block -->
		<tr class="usualbg">
			<td colspan="2" class="small" align="right">{ASTERISK_MSG}</td>
		</tr><!--BEGIN registration_categories_block--><!--BEGIN registration_category_block-->	
		<tr class="usualbg">
			<td><!--BEGIN registration_categories_title-->{SELECT_CATEGORY_MSG} <span class="required">*</span><!--END registration_categories_title--></td>
			<td>			
				<select name="category_id_{category_number}" onchange="document.record.operation.value='get_categories'; document.record.submit();"><!-- BEGIN category_id -->
					<option {category_id_selected} value="{category_id_value}">{category_id_description}</option><!-- END category_id -->
				</select>				
			</td>
		</tr><!--END registration_category_block--><!--END registration_categories_block--><!-- BEGIN item_id_block -->
		<tr class="usualbg">
			<td>{SELECT_PRODUCT_MSG} <span class="required">{item_id_required}</span></td>
			<td>
				<select name="item_id"><!-- BEGIN item_id -->
					<option {item_id_selected} value="{item_id_value}">{item_id_description}</option><!-- END item_id -->
				</select>
			</td>
		</tr><!-- END item_id_block --><!-- BEGIN item_name_block -->
		<tr class="usualbg">
			<td>{PROD_NAME_MSG} <span class="required">{item_name_required}</span></td>
			<td><input class="text" type="text" name="item_name" value="{item_name}" size="20" maxlength="255" /></td>
		</tr><!-- END item_name_block --><!-- BEGIN item_code_block -->
		<tr class="usualbg">
			<td>{PROD_CODE_MSG} <span class="required">{item_code_required}</span></td>
			<td><input class="text" type="text" name="item_code" value="{item_code}" size="20" maxlength="64" /></td>
		</tr><!-- END item_code_block --><!-- BEGIN serial_number_block -->
		<tr class="usualbg">
			<td>{SERIAL_NUMBER_MSG} <span class="required">{serial_number_required}</span></td>
			<td><input class="text" type="text" name="serial_number" value="{serial_number}" size="20" maxlength="128" /></td>
		</tr><!-- END serial_number_block --><!-- BEGIN invoice_number_block -->
		<tr class="usualbg">
			<td>{INVOICE_NUMBER_MSG} <span class="required">{invoice_number_required}</span></td>
			<td><input class="text" type="text" name="invoice_number" value="{invoice_number}" size="20" maxlength="128" /></td>
		</tr><!-- END invoice_number_block --><!-- BEGIN store_name_block -->
		<tr class="usualbg">
			<td>{STORE_NAME_FORM_MSG} <span class="required">{store_name_required}</span></td>
			<td><input class="text" type="text" name="store_name" value="{store_name}" size="20" maxlength="128" /></td>
		</tr><!-- END store_name_block --><!-- BEGIN purchase_date_block -->
		<tr class="usualbg">
			<td>{DATE_OF_PURCHASE_MSG} <span class="required">{purchase_date_required}</span></td>
			<td><!-- BEGIN purchased_day_block -->
				<input class="text" type="text" name="purchased_day" value="{purchased_day}" size="2" maxlength="2" /><!-- END purchased_day_block --><!-- BEGIN purchased_month_block -->
				<select name="purchased_month"><!-- begin purchased_month -->
						<option {purchased_month_selected} value="{purchased_month_value}">{purchased_month_description}</option><!-- end purchased_month -->
				</select><!-- END purchased_month_block -->	<!-- BEGIN purchased_year_block -->
				<select name="purchased_year"><!-- begin purchased_year -->
						<option {purchased_year_selected} value="{purchased_year_value}">{purchased_year_description}</option><!-- end purchased_year -->
				</select><!-- END purchased_year_block -->
			</td>
		</tr><!-- END purchase_date_block --><!-- begin custom_properties -->
		<tr id="pp_block_{property_id}" class="usualbg">
			<td style="{property_style}" class="{property_class}">
				{property_name} <span class="required">{property_required}</span>
			</td>
			<td style="{property_style}" class="{property_class}">
				{property_control} 
			</td>
		</tr><!-- end custom_properties --><!-- BEGIN final_text_block -->
		<tr class="usualbg">
			<td colspan="2">{final_text}</td>
		</tr><!-- END final_text_block -->
		<tr class="middlebg">
			<td>&nbsp;</td>
			<td>
				<span class="submit"><input class="submit" type="submit" value="{IM_DONE_REGISTERING_MSG}" onclick="document.record.operation.value='save';" /></span>
				<span class="submit"><input class="submit" type="submit" value="{REGISTER_MORE_PRODUCTS_MSG}" onclick="document.record.operation.value='save'; document.record.add_more.value='add_more';" /></span>
				<span class="submit"><input class="submit" id="cancel" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel';" /></span>
			</td>
		</tr>
	</table>
	</form>

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>