body {background: #FFFFFF url(../images/oxygen/main-bgr.gif) repeat-x 0px -54px; color: black; font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; margin: 0px; padding: 0px;}
body.popup {background: #FFFFFF;}

table {empty-cells: show;}
tr, td {color: black; font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}

a {outline: none;}
a img {border: none;}

.nobr {white-space: nowrap;}

.MainBlock 	{margin: auto; padding: 0px; text-align: left; width: 1200px;}

.Header 	{height: 1%; overflow: hidden; z-index: 200;}

.adminAdditional {float: right; text-align: right; width: 385px;}

.searchAdd 	{height: 1%; overflow: hidden; padding: 7px 0 7px 0;}
.searchAdd .field 	{margin: 0 4px 0 0; padding: 3px 0; width: 160px;}
.searchAdd .button 	{margin: 0;}

.newAdd 	{height: 1%; overflow: hidden; padding: 0 0 10px 0;}
.newAdd a	{text-decoration: none;}
.newAdd div 	{/*float: left; */font-size: 11px;}
.newAdd .newTxt 	{background: url(../images/oxygen/new-bgr.gif) no-repeat right; color: #FFFFFF; display: inline; font: bold 12px/17px 'Trebuchet MS'; padding: 0 10px 0 8px; text-transform: uppercase;}
.newAdd .newOrders	{display: inline; padding: 0 10px 0 10px;}
.newAdd .newTickets	{background: url(../images/oxygen/bullet.gif) no-repeat left 5px; display: inline; padding: 0 10px 0 14px;}
.newAdd .newUsers	{background: url(../images/oxygen/bullet.gif) no-repeat left 5px; display: inline; padding: 0 0 0 14px;}

.linkAdd		{height: 1%; overflow: hidden;}
.linkAdd	.linkAsButton 	{background: url(../images/oxygen/but-l.gif) no-repeat left; color: #000000; display: inline; line-height: 26px; margin: 0 7px 0 0; padding: 6px 0 6px 5px; text-decoration:none;}
.linkAdd	.linkAsButton span	{background: url(../images/oxygen/but-r.gif) no-repeat right; border: none; display: inline; padding: 6px 15px 6px 10px;}
.linkAdd	.logout {color: #FF8A13; margin: 0;}

.bookSubMenu {background: #FFFFFF; border: 2px solid #D0D1D2; display: none; margin: 2px 2px 2px -90px; position: absolute; text-align: left; width: 250px; z-index: 200;}
a.bookSub {color: #000000; display: block; padding: 4px 6px; text-decoration: none;}
a.bookSub:hover, img.bookSub:hover, a.bookSub:focus {color: #000000; font-weight: bold; text-decoration: none;}
a#add_bookmark {background: #D0D1D2; border-bottom: 1px solid #D0D1D2;}
a.bookSub img {float: left; margin: 0 3px 0 0;}

.book {background: #FFFFFF; border: 2px solid #BBBCBD; margin: -2px 0 0 18px; padding: 4px; position: absolute;}

a.recsShow {color: #000000; text-decoration: none; font-weight: bold; cursor: default; }
a.recsShow:hover {color: #000000; text-decoration: none; font-weight: bold; cursor: default; }
a.recsLink {color: #2F97EC; text-decoration: underline;}
a.recsLink:hover {color: #000000; text-decoration: underline;}

.adminVersion {color: #049FEB; float: right; padding: 16px 64px 0 0;}

.adminLogo	{background: url(../images/logo.gif) no-repeat 10px 10px; font: 36px/36px "Times New Roman", Times, serif; padding: 5px 0px 25px 220px;}
.adminLogo a		{color: #010202; text-decoration:none;}
.adminLogo a span	{display: block; font: bold 15px/15px "Trebuchet MS", Arial, Helvetica, sans-serif; margin: 10px; text-transform: uppercase;}

.adminTitle {display: none;}

.mainTabs {}
.mainTabs ul	 {margin: 0; padding: 0;}
.mainTabs li	 {background: url(../images/oxygen/tmenu-l.gif) no-repeat left; float: left; list-style: none; margin: 0 3px 0 0; padding: 0 0 0 5px;}
.mainTabs li a	 {background: url(../images/oxygen/tmenu-r.gif) no-repeat right; color: #515251; display: block; font: 16px/21px Arial, sans-serif; text-decoration: none;}
.mainTabs li a span	 {display: block; padding: 11px 16px 7px 36px;}
.mainTabs li.dboard		a span	 {background: url(../images/oxygen/dboard.gif) no-repeat 8px 11px;}
.mainTabs li.sbuilder	a span	 {background: url(../images/oxygen/sbuilder.gif) no-repeat 8px 11px;}
.mainTabs li.tools		a span	 {background: url(../images/oxygen/tools.gif) no-repeat 8px 11px;}
.mainTabs li.settings	a span	 {background: url(../images/oxygen/settings.gif) no-repeat 8px 11px;}

li.dboardActive	 {background: url(../images/oxygen/tmenu-l-a.gif) no-repeat left;}
li.dboardActive a	 {background: url(../images/oxygen/tmenu-r-a.gif) no-repeat right; color: #000000;}
li.dboardActive a span	 {background: url(../images/oxygen/dboard-a.gif) no-repeat 8px 11px !important;}

li.sbuilderActive	 {background: url(../images/oxygen/tmenu-l-a.gif) no-repeat left;}
li.sbuilderActive a	 {background: url(../images/oxygen/tmenu-r-a.gif) no-repeat right; color: #000000;}
li.sbuilderActive a span	 {background: url(../images/oxygen/sbuilder-a.gif) no-repeat 8px 11px !important;}

li.toolsActive	 {background: url(../images/oxygen/tmenu-l-a.gif) no-repeat left;}
li.toolsActive a	 {background: url(../images/oxygen/tmenu-r-a.gif) no-repeat right; color: #000000;}
li.toolsActive a span	 {background: url(../images/oxygen/tools-a.gif) no-repeat 8px 11px !important;}

li.settingsActive	 {background: url(../images/oxygen/tmenu-l-a.gif) no-repeat left;}
li.settingsActive a	 {background: url(../images/oxygen/tmenu-r-a.gif) no-repeat right; color: #000000;}
li.settingsActive a span	 {background: url(../images/oxygen/settings-a.gif) no-repeat 8px 11px !important;}

.MainContent {border: 1px solid #D0D2D2; border-top: 1px solid #FFB647; padding: 10px; z-index: 100;}

#leftNavigation {background: #EAF4FC; border: 1px solid #D5E7F2; margin: 0 10px 10px 0; padding: 5px; width: 200px;}

.bodyDboard .leftNavigationDboard	 	{display: block !important;}
.bodySbuilder .leftNavigationSbuilder	{display: block !important;}
.bodyTools .leftNavigationTools	 		{display: block !important;}
.bodySettings .leftNavigationSettings	{display: block !important;}

.leftNavNonActive	{background: #B6DDFC; height: 1%; margin: 0 0 2px 0; overflow: hidden;}
.leftNavNonActive ul	 {clear: both; display: none; margin: 0; padding: 0;}
.leftNavNonActive ul li	 {list-style: none; margin: 0; padding: 0;}

.leftNavActive	{background: #B6DDFC; height: 1%; margin: 0 0 2px 0; overflow: hidden;}
.leftNavActive ul	 {clear: both; margin: 0; padding: 0;}
.scroller .leftNavActive ul	 {max-height: 300px; overflow: auto;}
.leftNavActive ul li	 {list-style: none; margin: 0; padding: 0; line-height: 0px;}

.leftNavTitle {color: #000000; float: left; font: 12px/14px Verdana; padding: 6px 0 6px 28px; text-decoration: none; width: 140px;}
.leftNavArr {float: right;}
.leftNavArr img {height: 28px; width: 28px;}
.leftNavActive .leftNavArr img {background: url(../images/oxygen/lmenu-arr-a.gif) no-repeat center center;}
.leftNavNonActive .leftNavArr img {background: url(../images/oxygen/lmenu-arr.gif) no-repeat center center;}

.leftNavActive ul li a	 {border-top: 1px solid #FFFFFF; display: block; font: 11px/14px Verdana; padding: 8px 8px 6px 42px; text-decoration: none;}
.leftNavSub {background: #EAF4FC url(../images/oxygen/lmenu-sarr.gif) no-repeat 28px 13px;}
.leftNavSub:hover {background: #EAF4FC url(../images/oxygen/lmenu-sarr-a.gif) no-repeat 28px 13px;}
.leftNavSubActive {background: #FFFFFF url(../images/oxygen/lmenu-sarr-a.gif) no-repeat 28px 13px; font-weight: bold !important;}

.clearboth {clear: both; font: 1px Arial, Helvetica, sans-serif}

.breadcrumbs 	{border: 1px solid #D3E8EE; line-height: 24px; margin: 0px 0px 10px 0px; padding: 0px 10px;}
.sitelist 		{float: right; line-height: 20px; padding: 3px 10px;}

.sumStatRowName	{font-weight: bold; padding-left: 20px; text-transform: capitalize;}
.summaryDelimiter	{border-top: 1px solid #D3E8EE; line-height: 1px; margin: 12px 0 0 0;}
.summaryBlock		{float: left; padding: 12px 10px 0px 0px; width: 48%;}
.summaryTitle 		{background: #E7F5FF; color: #3595E3; font: 18px/28px Verdana, Arial, Helvetica, sans-serif; padding: 2px 20px;}
.sumRowName 		{padding-left: 20px; width: 80%;}
.sumCopyName {clear: both; padding: 6px; }


.LinkList	{background: #FFFFFF; margin: 0; padding: 0 14px;}
.LinkList li	{background: url(../images/oxygen/lmenu-sarr.gif) no-repeat 0px center; list-style: none; margin: 0; padding: 2px 0 2px 14px;}
.LinkList li img	{margin: 0 4px;}

.groupoflinks 	{}

.AdminSearch 	{}
.AdminSearch .leftNavNonActive	{background: #EAF4FC; height: 1%; margin: 0; overflow: hidden;}
.AdminSearch .leftNavActive	{background: #EAF4FC; height: 1%; margin: 0; overflow: hidden;}
.AdminSearch .leftNavActive ul	 {background: #FFFFFF; margin: 0; padding: 4px 10px 2px 14px;}
.AdminSearch .leftNavActive ul li	 {list-style: none; margin: 0; padding: 0 0 2px 0; line-height: 16px;}
.AdminSearch .leftNavActive ul li.radio	 {margin: 0 0 0 -5px;}
.AdminSearch .leftNavTitle {color: #2F97EC; float: left; font: 16px/18px Verdana; padding: 12px 14px; text-decoration: none; width: auto;}
.AdminSearch .leftNavArr {float: right; line-height: 20px; padding: 12px 10px 12px 15px;}
.AdminSearch .leftNavActive .leftNavArr {background: url(../images/oxygen/lmenu-arr-a.gif) no-repeat 0px 21px;}
.AdminSearch .leftNavNonActive .leftNavArr {background: url(../images/oxygen/lmenu-arr.gif) no-repeat 0px 21px;}
.AdminSearch .innerDiv {background: #FFFFFF; clear: both; height: 1%; margin: 0; overflow: hidden; padding: 6px 10px 0 14px;}
.AdminSearch .innerDiv .field {width: 98%;}
.AdminSearch .innerDiv .button {margin: 0;}

.Orders .leftNavNonActive, 
.Orders .leftNavActive	{background: #FFFFFF;}

.cmsBlocks .leftNavTitle {color: #000000; float: left; font: 13px/16px Verdana; padding: 4px 0 4px 22px; text-decoration: none; width: 160px;}
.cmsBlocks .leftNavArr img {height: 24px; width: 24px;}
.cmsBlocks .leftNavActive ul li a	 {border-top: 1px solid #FFFFFF; display: block; font: 11px/14px Verdana; padding: 6px 8px 4px 22px; text-decoration: none;}
.cmsBlocks .leftNavSub {background: #EAF4FC url(../images/oxygen/lmenu-sarr.gif) no-repeat 12px 11px;}
.cmsBlocks .leftNavSub:hover {background: #EAF4FC url(../images/oxygen/lmenu-sarr-a.gif) no-repeat 12px 11px;}
.cmsBlocks .leftNavSubActive {background: #FFFFFF url(../images/oxygen/lmenu-sarr-m.gif) no-repeat 6px 11px; font-weight: bold !important;}

.Block {border: 1px solid #D3E8EE; margin-bottom: 10px; padding: 5px;}
.BlockTitle {background: #EAF4FC; color: #2F97EC; font: 16px/18px Verdana, Arial, Helvetica, sans-serif; padding: 12px 14px; text-align: left;}
.BlockTitle a {color: #2F97EC; text-decoration: none; font-weight: bold;}
.BlockTitle b {color: #000000; font-weight: normal;}
.BlockTitleRight {float: right; font-size: 10pt; }
.BlockContent {padding: 5px 0;}
.LayoutHeader { margin: 5px 5px 0px 5px; background: #FFFDDD; border: 1px solid #dAd4FC; color: #2F97EC; padding: 12px 14px; }
.LayoutSelect { color: #2F97EC; font: 16px Verdana, Arial, Helvetica, sans-serif; text-align: left;}
.LayoutSite { float: right; }
.LayoutType { padding-top: 10px; color: #2F97EC; font: 12px Verdana, Arial, Helvetica, sans-serif; text-align: left;}
.metaData { text-decoration: none; text-transform: uppercase; color: #2F97EC; font-size: 10px; font-weight: bold; border: 1px solid #2F97EC; background-color: #EAF4FC; padding: 1px;}


.PageLayout {padding: 0 !important;}
.PageLayout .sitelist {padding: 15px 15px 3px 15px;}
.PageLayout .BlockTitle {margin: 5px 5px 0 5px;}
.PageLayout .BlockContent {padding: 0;}
.PageLayout table {border-collapse: separate; border-spacing: 5px; width: 100%;}
.PageLayout table td {border: 1px solid #D3E8EE;}
.PageLayout .BlockContent .Block {border: none; margin-bottom: 0; padding: 0;}
.PageLayout .BlockContent .BlockTitle {border-bottom: 1px solid #D3E8EE; color: #2F97EC; font: 14px/16px Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 3px 0 4px 14px; text-align: left;}
.PageLayout .BlockContent .BlockTitle img {float: right; margin: 0 4px 0 0;}
.PageLayout .BlockContent .BlockContent {margin: 0 20px 0 4px; padding: 2px 0;}
.PageLayout .BlockContent .BlockUpDown img {margin: 6px 0 0 0;}
.PageLayout .BlockContent ul {margin: 0 !important; padding: 0 !important;}
.PageLayout .BlockContent li {
	background: #EAF4FC; 
	border: 1px solid #D3E8EE;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
	height: 1%; 
	list-style: none; 
	margin: 2px 0 !important; 
	overflow: hidden; 
	padding: 2px 4px;}
.PageLayout .BlockContent li a {line-height: 16px; text-decoration: none;}
.PageLayout .BlockContent li img {float: right; margin: 0 0 0 4px;}

/*Options styles*/
.optionBlock {height: 1%; overflow: hidden;}
.optionTitle {float: left; width: 120px;}
.optionControl {margin-left: 125px;}

.SummaryStats .BlockTitle {background: #EAF4FC url(../images/oxygen/sumstat.gif) no-repeat 0 -2px; padding-left: 48px;}
.SummaryStats a {color: #3757A6; text-decoration: none;}
.SummaryStats a:hover {color: #2F97EC;}

.LatestStats .BlockTitle {background: #EAF4FC url(../images/oxygen/lastat.gif) no-repeat 0 -5px; padding-left: 44px;}
.LatestStats td {text-align: center;}
.LatestStats .subtub {padding-right: 1px;}
.LatestStats .last {padding: 0;}
.LatestStats .lsGraphics {border-top: 1px solid #FFBA4C; padding: 10px 0;}
.LatestStats .leftNavSubActive {background: url(../images/oxygen/subtub-a.gif) repeat-x top; border: 1px solid #FFBA4C; border-bottom: none; display: block; line-height: 26px; text-decoration: none;}
.LatestStats .leftNavSubActive:hover {background: url(../images/oxygen/subtub-a.gif) repeat-x top; color: #000000;}
.LatestStats .leftNavSub {background: url(../images/oxygen/subtub.gif) repeat-x top; border: 1px solid #D0D5D8; border-bottom: none; display: block; line-height: 26px; text-decoration: none;}
.LatestStats .leftNavSub:hover {background: url(../images/oxygen/subtub.gif) repeat-x top; color: #000000;}

.CommonTasks .BlockTitle {background: #EAF4FC url(../images/oxygen/comtas.gif) no-repeat 0 -2px; padding-left: 44px;}

.CategoriesNav	{float: right; width: 240px;}
.ItemsList {padding-right: 250px;}
/*
.CategoriesNav	{float: left; width: 240px;}
.ItemsList {padding-left: 250px;}
*/
.borderRight {border-right: 1px solid #D3E8EE;}
.icon {margin: 10px;}
.paddingRight {padding-right: 10px;}

.floatLeft 	{float: left;}
.floatRight	{float: right;}
.clearBoth 	{clear: both;}
.overHidd 	{height: 1%; overflow: hidden; padding-bottom: 10px;}
.noPad 		{padding: 0px !important;}

.half20		{width: 20%;}
.half25		{width: 25%;}
.half30		{width: 30%;}
.half40		{width: 40%;}
.half45		{width: 45%;}
.half50		{width: 50%;}
.half55		{width: 55%;}
.half70		{width: 70%;}
.half75		{width: 75%;}
.half80		{width: 80%;}

.mr10			{margin-right: 10px;}

.pt10			{padding-top: 10px;}
.pl10			{padding-left: 10px;}
table.padd6 td {padding: 6px;}
table.padd3 td {padding: 3px;}
.padd0 {padding: 0px !important;}
tr.padd-l-r-3 td {padding: 0px 3px 0px 3px;}

label {cursor: pointer;}
label:hover {border-bottom: 2px solid #B6DDFC;}

div.popUp	{background: #FFFFFF; border: 1px solid #D5D4E9; padding: 2px;}
div.hintPopup {position: absolute; display: none; background: #FFFFFF; border: 2px solid #D5D4E9; padding: 6px; width: 300px; }

.button 	{background: url(../images/oxygen/but-l.gif) no-repeat left; font-size: 11px; margin: 0 5px; padding: 6px 0 6px 5px;}
.submit 	{background: url(../images/oxygen/but-r.gif) no-repeat right; border: none; margin: 0; overflow: visible; padding: 6px 15px 6px 10px;}
a.smallButton { background-color: #eeeeee; border: 1px solid #c0c0c0; font-size: 10px; text-decoration: none; padding: 1px 10px 1px 10px; margin-right: 5px; margin-left: 5px;}

a {color: #000000; text-decoration: underline;}
a:hover {color: #3259AE; text-decoration: none;}

.small a, a.small {text-decoration: none;}
div.small a {text-decoration: underline !important;}

.small {font-size: 11px;}
.title  {font-weight: bold;}
a.disabled { color: silver; }

table .middle td, td.middle {background: #EAF4FC /*url(../images/admin-mbgr.gif) repeat-x 0px bottom*/; border-bottom: 1px solid #EAF4FC; font-weight: bold;}
.middle td td {background: none; border-bottom: none; padding: auto;}
td.label, tr.label { font-weight: bold; background: #FFFDDD; }
div.label { padding: 3px; background: #FFFDDD; border: 1px solid #DDDBBB; }
table .usual td, td.usual {background: #FFFFFF; border-bottom: 1px solid #EAF4FC;}
.usual td td {border-bottom: none;}
.row1 td {/*border-bottom: 1px solid #EAF4FC;*/}
.row2 td {background: #EDF4FA; /*border-bottom: 1px solid #EAF4FC;*/}
.rowWarn td {background: #FFd0d0; /*border-bottom: 1px solid #EAF4FC;*/}
.SelectedRow td {background: #CADCE8; /*border-bottom: 1px solid #EAF4FC;*/}
.middleRow td {background: #EAF4FC /*url(../images/admin-mbgr.gif) repeat-x 0px bottom*/; font-weight: bold; padding: 6px;}
.usualRow td {border-top: 1px solid #EAF4FC; padding: 6px;}
.reportRow1 td {border-top: 1px solid #EAF4FC; padding: 6px;}
.reportRow2 td {background: #EDF4FA; border-top: 1px solid #EAF4FC; padding: 6px;}
.subRow1 td {background: #EDF4FA;}
.subRow2 td {}
.subRow3 td {background: #EDF4FA;}
.subRow4 td {}
hr.middle {border-bottom: 1px solid #EAF4FC; border-top: none; border-left: none; border-right: none; height: 1px; }
.usualpad {background: #FFFFFF; padding: 5px; border-bottom: 1px solid #EAF4FC;}
.middle {background: #EAF4FC /*url(../images/admin-mbgr.gif) repeat-x 0px bottom*/; border-bottom: 1px solid #EAF4FC; font-weight: bold;}
.nob { list-style: none; }

.browseCategories {border: 1px solid #D3E8EE; height: 200px; margin: 0px 0px 10px 0px; overflow: auto; overflow-y: hidden; width: 945px; white-space: nowrap;}
.selectCategories {height: 165px; margin: 10px 0px 0px 10px; width: 215px;}
.selectAllCategories {height: 165px; margin: 10px 0px 0px 10px;}

.bottomCategory {background: #F0F0F0; border: 1px solid silver;color: navy; font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif; height: 145px; margin: 0px 0px 0px 10px; padding: 10px; width: 195px;}

.selectedCategories {padding: 15px 0px;}
li.selectedCategory {font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;}

.selectedCategory2 {margin-left:-5px; margin-bottom:7px;} /**** ??????????? ****/

.tabRow {border-left: 1px solid #D3E8EE; bottom: -3px; clear: both; display: block; height: 38px; margin: 0px; padding: 0px; position: relative;}
.adminTab {border: 1px solid #D3E8EE; border-left: none; display: block; float: left; list-style: none; margin: 0; padding: 3px; white-space: nowrap;}
.adminTabActive {border: 1px solid #D3E8EE; border-bottom: 1px solid #FFFFFF; border-left: none; display: block; float: left; list-style: none; margin: 0; padding: 3px; white-space: nowrap;}
.tabA {background: #FFFFFF url(../images/oxygen/tab-bgr.gif) repeat-x top; display: block; font: 12px/20px Verdana, Arial, Helvetica, sans-serif; padding: 4px 12px;}
.tabA:hover {background: #EAF4FC;}
.adminTabActive .tabA {background: #FFFFFF; cursor: text; font-weight: bold; text-decoration: none;}
.adminTabActive .tabA:hover {background: #FFFFFF; color: #000000;}

/******************/

.rowDelimiter {background: #B7C2DE; padding: 0px; height: 2px;}

.usual_message {border-bottom: 1px solid #EDEFF6;}
.internal_message {background: #fffddd; border-bottom: 1px solid #EDEFF6;}
.initial_message {background: #e0ffe0; border-bottom: 1px solid #EDEFF6;}
.internalTitle {background: #003399; border-bottom: 1px solid #EDEFF6; color: #FFFFFF;}
.initialTitle {background: #009900; border-bottom: 1px solid #EDEFF6; color: #FFFFFF;}

.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; font-size: 10pt; padding: 6px; text-align: center;}
.popup .errorbg	{padding: 4px;}
.messagebg  		{background: #E0E0FF; border: 1px solid #0000CC; color: #0000CC; font-size: 10pt; font-weight: bold; padding: 6px; text-align: center; margin-bottom: 5px; }
.matchingMessage{background: #E0E0FF; border: 1px solid #0000CC; color: #0000CC; font-size: 10pt; padding: 6px; text-align: center; margin-bottom: 5px; }


.supportMessage {border: 1px solid #D3E8EE; margin-bottom: 10px; padding: 5px;}

.comment	{color: #7777CC;}
.message	{color: #0000CC;}
.error	{color: #cc0000;}

input				{color: black; font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}
input.field 	{border: 1px solid #D5D4E9;}
input.search 	{border: 1px solid #D5D4E9;}
input.submit 	{font-weight: bold;}
select 			{border: 1px solid #D5D4E9; color: black; font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}
select.search 	{}
select.disabled {color:#999;}
option.hiddenField{display:none !important;color:#fff !important;}
option.hiddenField:hover{color:#fff !important;}/*for ie*/
textarea 		{border: 1px solid #D5D4E9; color: black; font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}

div.query {height: 400px; overflow: auto; width: 930px;}
table.query {border-top: 1px solid #EAEEF8; border-left: 1px solid #EAEEF8;}
table.query th {background: #ddd url(../images/admin-mbgr.gif) repeat-x 0px bottom; border-bottom: 1px solid #EAEEF8; border-right: 1px solid #EAEEF8; padding: 4px;}
table.query td {background: #fff; border-bottom: 1px solid #EAEEF8; border-right: 1px solid #EAEEF8; padding: 2px; vertical-align: top;}

.Footer {background: #EAF4FC; font-size: 90%; padding: 10px 20px;}
.Footer span {padding: 0px 15px 0px 0;}
.Footer span img {margin: 0px 7px -4px 0px;}

input.usualprice  {background: transparent; border: none; text-align: right; font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;}
input.orderprice  {background: transparent; border: none; text-align: right; font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;}

/* main admin page sections' titles */
.main-admin-block {height: 1%; overflow: hidden;}
.title_margins {cursor: pointer; margin: 20px 0px 0px 55px;}
.note_margins {margin: 5px 0px 0px 55px;}
.image_margins {margin: 10px 0px 0px 0px;}
.open {cursor: pointer; background: url(../images/but-down.gif);}
.close {cursor: pointer; background: url(../images/but-up.gif);}
.rollover {line-height: 17px;}
.rollover img {float: left; margin: 1px 0px 1px 4px;}
.rollover a {display: block; margin-left: 20px;}

/* begin tree list */
div.tree_outer {border: 1px solid #D3E8EE; height: 400px; overflow: auto; width: auto;}
div.tree_subtree {visibility: visible; padding-top: 2px;}
ul.tree .closed {background: url("../images/folder_closed.gif") no-repeat 2px 2px;}
ul.tree .opened {background: url("../images/folder_opened.gif") no-repeat 2px 2px;}
ul.tree .processed {background: url("../images/folder_processed.gif") no-repeat 2px 2px;}
ul.tree .current {padding: 0px 0px 0px 14px;}
ul.tree .plus {background: url("../images/plus_small.gif") no-repeat 6px 5px; padding: 2px 2px 2px 22px;}
ul.tree .minus {background: url("../images/minus_small.gif") no-repeat 6px 5px; padding: 2px 2px 2px 22px;}
ul.tree .selected {background: #B7DCFF;}
ul.tree{margin: 0; padding: 4px;}
ul.tree ul {margin: 0; padding: 0 0 0 17px;}
ul li.tree_branch, ul li.tree_leaf {list-style: none; display: block; border-top: 1px solid white;}
div.tree_branch_title {cursor: pointer; font-weight: bold; padding: 2px 2px 2px 22px;}
div.tree_branch_title_hover {color: #3259AE; font-weight: bold;}
div.tree_leaf_title {cursor: pointer; padding: 2px;}
div.tree_leaf_title_hover {color: #3259AE;}
div.tree_leaf_button {float: left;}
div.tree_leaf_button img {cursor: pointer; margin: 5px 0 0 5px;}
#selected_related_ids li.tree_leaf {}
#selected_related_ids div.tree_leaf_title {margin-left: 20px;}
div.tree_nav{padding: 2px; text-align: right;}
/* end tree list */


/***************** Old stile ****************/

.diff_change {background-color : #66CCFF;}
.diff_delete {background-color : #FF3333;}

form {display: block; margin: 0; padding: 0;}

/* css editor */
.categories_dropdown
{
	/*position: absolute;
	left: 0px;
	padding: 0px 5px;*/
	overflow-x: auto;
	overflow-y: auto;
	/*width: 300px;*/
	background: white;
	border: 1px solid #c6c6e0;
	z-index: 0;

}

a.catFont {font-family:Tahoma,Verdana,Arial,sans-serif; font-weight:bold; color:black; margin-bottom: 0px; font-size: 13px; text-decoration:none;}
a.subcatFont {font-family:Tahoma,Verdana,Arial,sans-serif; font-weight:normal; color:black; margin-bottom: 0px; font-size: 11px;}

a.subcatFont:hover {color: #f00; font: 11px Tahoma,Verdana,Arial,sans-serif; text-decoration: none;}

table.preview{border: 1px solid gray;}

.gray {color: gray;}

.item_type_property_value_overflowed {height: 164px; overflow-y: auto;}
input.disabled {border: none; background: #FFFFFF; font: 11px tahoma,verdana,sans-serif; color: black; margin-left: 10px;}

.preview_css {border: 1px solid gray;}
.preview_css td {padding: 3px;}
.preview_css iframe {width: 100%; height: 400px; border: 1px solid #000000;}
.preview_title {font: bold 13px Arial; color: Gray;}
.css_definition {font: 12px Arial; color: Gray;}

.selector_title {font: 13px Arial; color: Gray; margin: 0px 0px 10px 0px;}
.selector_div {border: 1px solid gray; font: 10px Arial; border-bottom: none; /*padding: 4px;*/ clear: both;}
.selector_div input {border: 1px solid #c0c0c0; font: 10px Arial;}
.selector_div select {border: 1px solid #c0c0c0; font: 10px Arial;}
.selected {background: #FCFCCF;}
.end {border-top: 1px solid gray; margin-bottom: 4px;}
.desc_title_div {float: left; color: black; margin: 4px; font-size: 11px;}
.desc_div {margin: 0px 20px 0px 80px; padding: 5px 0px; font-size: 11px;}
.desc_show_or_hide_div {float: right; margin: 6px 4px;}
.show_or_hide_div {}
.show_or_hide_div .desc_title_div {float: left; color: black; margin: 4px; font-size: 10px;}
.show_or_hide_div .desc_div {margin: 0px 20px 0px 80px; padding: 4px 0px; font-size: 10px;}
.div_colors {position: absolute; width:274px; border: 1px solid #c0c0c0; top: 250px; left: 650px; background: #FFF;}
.div_colors img {display: block; float: left; margin: 2px; border: 1px solid #999; cursor: pointer;}
.div_colors_close {display: block;text-align: right; clear: left; cursor: pointer; padding: 4px;}

.popup-opacity	{display: none; z-index: 900; opacity: 0.5; filter: alpha(opacity=50); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1; moz-opacity: 0.5; opacity: 0.5;}
.popup-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.popup-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #78C7FF;}
.popup-img-close	img {margin: 10px 10px 5px 0px;}
.popup-descr		{padding: 0px 35px 20px 30px; font-size: 14px, sans-serif; text-align:justify;}

#tip_cloud { background-color:#FFFFCC; border: 1px solid grey; padding:5px;}

/*** Ssettings pop-up window ***/
.settings-opacity	{display: none; z-index: 900; opacity: 0.5; filter: alpha(opacity=50); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.settings-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.settings-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #78C7FF;}
.settings-img-close	img {margin: 10px 10px 5px 0px;}
.settings-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Settings pop-up window ***/


/*** Frame Settings pop-up window ***/
.frameSettings-opacity	{display: none; z-index: 900; opacity: 0.5; filter: alpha(opacity=50); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.frameSettings-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.frameSettings-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #78C7FF;}
.frameSettings-img-close	img {margin: 10px 10px 5px 0px;}
.frameSettings-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Frame Settings pop-up window ***/

/*** Page Settings pop-up window ***/
.pageSettings-opacity	{display: none; z-index: 900; opacity: 0.5; filter: alpha(opacity=50); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.pageSettings-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.pageSettings-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #78C7FF;}
.pageSettings-img-close	img {margin: 10px 10px 5px 0px;}
.pageSettings-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Page Settings pop-up window ***/


.categories {background: url(../../images/icons/tree_line.gif) repeat-y 2px 0px; display: block; margin: 0px 0px 0px 0px; padding: 0px;}
.categories li		{ background: url(../../images/icons/tree_begin.gif) no-repeat 2px 9px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 14px;}
.categories li.lastCategory		{background: #FFFFFF url(../../images/icons/tree_end.gif) no-repeat 2px -9px;}
.categories li.emptyCategory		{ background: url(../../images/icons/tree_begin_long.gif) no-repeat 2px 9px; padding-left: 29px; }
.categories li.lastEmptyCategory		{background: #FFFFFF url(../../images/icons/tree_end_long.gif) no-repeat 2px -9px; padding-left: 29px; }
