<div class="block-top-viewed {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{TOP_VIEWED_TITLE} &nbsp;{top_category_name}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px"><!-- BEGIN top_viewed_items -->
			<div class="top"><b class="position">{top_position}.</b> <a class="top10" href="{details_href}" title="{a_title}">{top_name}</a> <span>(<b>{total_views}</b>)</span></div><!-- END top_viewed_items --> 
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>