<div class="block-hot {block_class}" style="{block_style}">
<form name="block" action=""><input type="hidden" name="block_code" value="articles_hot" /><input type="hidden" name="pb_id" value="{pb_id}" /><input type="hidden" name="slider_type" value="{slider_type}" /></form>
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">

			<div class="BlockData" style="{data_block_style}">
			<!-- begin data -->
			<div class="Data" id="{data_id}" style="{data_style}">
			<table width="{table_width}" border="0" cellspacing="0" cellpadding="2">
			<!-- BEGIN hot_rows -->
			<tr>
				<!-- BEGIN hot_cols -->
				<td align="left" valign="top" width="{column_width}">
					<div><a class="bigtitle {restricted_class}" href="{details_href}">{hot_item_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>
					<!-- begin article_date_block --><div class="articleDate">{article_date}</div><!-- end article_date_block -->
					<div align="justify">
					<!-- begin image_small --><a href="{details_href}"><img src="{src}" {width} {height} border="0" alt="{alt}" hspace="5" align="left" /></a><!-- end image_small -->
					{hot_description} <a class="buttonMore" href="{details_href}"><span><b>{READ_MORE_MSG}</b></span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
					</div>
				</td>
				<!-- END hot_cols -->
			</tr>
			<!-- END hot_rows -->
			</table>
			</div>
			<!-- end data -->
			</div>
		

			<!-- begin hot_navigator_block -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td colspan="2" align="right" class="padding10px">&nbsp;{hot_navigator}&nbsp;</td>
			</tr>
			</table><!-- end hot_navigator_block -->
		
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>