<div class="block-manuals-search-results {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<!-- BEGIN results_number_block -->
			<div class="padding6px">{found_message}</div>
			<!-- END results_number_block -->
			
			<!-- BEGIN record -->
			<div class="padding6px"><a href="{article_href}" class="{restricted_class}">{article_title}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a>&nbsp;[{section_number}]<br />
			{short_description}</div>
			<!-- END record -->
			<!-- BEGIN no_results -->
			<div class="padding6px">{not_found_message}</div>
			<!-- END no_results -->
			<!-- begin navigator_block -->
			<div class="padding6px" align="right">&nbsp;{navigator}&nbsp;</div>
			<!-- end navigator_block -->				
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>