		</td>
	</tr>
</table>
<div class="Footer">
	<span><img src="../images/icons/home.gif" alt="" border="0"><a href="{index_href}" target="_blank"><b>{SITE_HOME_MSG}</b></a></span>
	<span><img src="../images/icons/admin.gif" alt="" border="0"><a href="{admin_href}"><b>{ADMINISTRATION_MENU_MSG}</b></a></span>
	<span><a href="admin_items_list.php">{PRODUCTS_CATEGORIES_MSG}</a></span>
	<span><a href="admin_orders.php">{SALES_ORDERS_MSG}</a></span>
	<span><a href="admin_articles_all.php">{ARTICLES_TITLE}</a></span><!-- begin support_link -->
	<span><a href="admin_support.php">{HELPDESK_MSG}</a></span><!-- end support_link -->
</div>
</div>
</div>