<!-- begin first_on -->
<a href="{navigating_href}">{FIRST_PAGE_MSG}</a> <!-- end first_on --><!-- begin first_off -->{FIRST_PAGE_MSG}<!-- end first_off --><!-- begin prev_on -->
<a href="{navigating_href}">{PREV_PAGE_MSG}</a> <!-- end prev_on --><!-- begin prev_off -->{PREV_PAGE_MSG}<!-- end prev_off --><!-- begin page_before -->
<a href="{navigating_href}">{page_number}</a> <!-- end page_before -->
[ <b>{current_page}</b> {OF_PAGE_MSG} <b>{total_pages}</b> ]<!-- begin page_after -->
<a href="{navigating_href}">{page_number}</a> <!-- end page_after --><!-- begin next_on -->
<a href="{navigating_href}">{NEXT_PAGE_MSG}</a> <!-- end next_on --><!-- begin next_off -->{NEXT_PAGE_MSG}<!-- end next_off --><!-- begin last_on -->
<a href="{navigating_href}">{LAST_PAGE_MSG}</a> <!-- end last_on --><!-- begin last_off -->{LAST_PAGE_MSG}<!-- end last_off -->

