 <style>
 table.multi tr td {vertical-align: top;}
 </style>
<table class='multi'>
<tr>
<td colspan="2">{siteTopLeft}</td>
<td>{siteTopRight}</td>
</tr>
<tr>
<td  colspan="3">
<table>
<tr>
<td>{headerLeft}</td>
<td>{headerMiddle}</td>
<td>{headerMiddle2}</td>
<td>{headerRight}</td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="3">{headerAll}</td>
</tr>
<tr>
<td colspan="2">{middleTopLeft}</td>
<td>{middleTopRight}</td>
</tr>
<tr>
<td>{leftTop}</td>
<td colspan="2">{middleRightTop}</td>
</tr>
<tr>
<td>{left}</td>
<td>{middle}</td>
<td>{right}</td>
</tr>
<tr>
<td colspan="2">{leftMiddleBottom}</td>
<td>{rightBottom}</td>
</tr>
<tr>
<td>{leftBottom}</td>
<td colspan="2">{middleRightBottom}</td>
</tr>
<tr>
<td>{leftSecond}</td>
<td>{middleSecond}</td>
<td>{rightSecond}</td>
</tr>
<tr>
<td colspan="3">{footerAll}</td>
</tr>
<tr>
<td>{footerLeft}</td>
<td>{footerMiddle}</td>
<td>{footerRight}</td>
</tr>
</table>