/*** General styles ***/
body			{background: url(../images/demo/body-bgr.gif) center; font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: black; margin: 0px; padding: 0px;}
body.popup	{background: #FFFFFF; font: 12px Arial, Helvetica, sans-serif; color: black; margin: 0px; padding: 0px;}

tr, td		{font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: black;}

h1, h2		{padding: 0px; margin: 0px;}

a						{color: #AD1521; outline: 0px; text-decoration: underline;}
a:hover				{text-decoration: none;}
a.header 			{color: #AD1521;}
a.header:hover		{text-decoration: underline;}
a.title				{color: #207B90;}
a.bigtitle			{color: #207B90; font-weight: bold;}
a.smallText			{color: #433A3B; text-decoration: none; font-size: 10px;}
a.smallText:hover	{text-decoration: underline;}

input					{font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;}
input.search, 
input.text, 
input.field, 
input.fieldSmall	{background: #FFFFFF; border: 1px solid #A3ACB1; margin: 2px 0px;}
input.submit		{background: url(../images/demo/button-bgr.gif) repeat-x right; border: none; color: #FFFFFF; cursor: pointer; font: 11px Verdana, Arial, Helvetica, sans-serif; padding: 3px 7px; margin: 0px;}
	input#clear		{color: #333333;}
	input#reset		{color: #333333;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #333333;}
	input#delete	{color: #333333;}
select				{background: #FFFFFF; border: 1px solid #A3ACB1; font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; margin: 2px 0px;}
textarea			{background: #FFFFFF; border: 1px solid #A3ACB1; font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; margin: 2px 0px;}

.middlebg 			{background: #FAF7F0; font-weight: bold;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center;}
.popup 
.errorbg				{padding: 4px;}
.messagebg  		{color: #0000CC; font-weight: bold; padding: 6px; text-align: center;}
.block-order-info 
.messagebg  		{padding: 2px 6px; text-align: right;}

.padding10px				{padding: 10px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px 				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin: 0px 10px 5px 0px;}
.ArticleDescription	{padding: 10px 0px;}

.introBlock {border: 1px solid #99010E; margin: 5px; padding: 6px;}

.articleDate	{color: #706F6F; font-size: 11px; font-style: italic; }
.titleText		{color: #3672C8; text-decoration: none; }
.top				{font-size: 11px;}
.smallText		{font-size: 11px;}
.middleText		{font-size: 12px;}
.bigText			{font-size: 13px;}
.comment			{color: #C6C6C6; font-size: 11px;}
.required		{color: #FF0000;}
.message			{font-size: 12px; color: #959595;}
.title			{color: #754903; font-size: 12px;}
.bigtitle		{color: #014EC0; font-size: 12px; font-weight: bold;}
.error			{color: red; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: blue; text-decoration: underline;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}
/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{background: url(../images/demo/main-bgr.gif) no-repeat center top; margin: auto; padding: 41px 0px 0px 0px; text-align: left;}
.headerStyle	{background: #FFFFFF; margin: auto; position: relative; width: 981px; z-index: 100;}
.contentStyle	{background: #FFFFFF; height: 1%; margin: auto; overflow: hidden; position: relative; width: 981px; z-index: 1;}
.footerStyle	{clear: both; margin: auto; width: 981px;}

.hotStylePadding		{padding: 0 0 0 0;}
.leftStylePadding		{padding: 0 10px 10px 0;}
.rightStylePadding	{padding: 0 0 10px 10px;}

/* Four frames */
.fourFrames .hotStyle			{float: left; position: relative; width: 781px;}
.fourFrames .leftStyle			{float: left; position: relative; width: 200px;}
.fourFrames .centerStyle		{float: left; position: relative; width: 581px;}
.fourFrames .rightStyle			{float: left; position: relative; width: 200px;}

/* Three frames */
.threeFrames .leftStyle		{float: left; position: relative; width: 200px;}
.threeFrames .centerStyle	{float: left; position: relative; width: 581px;}
.threeFrames .rightStyle	{float: left; position: relative; width: 200px;}

/* Two frames */
.twoFrames .leftStyle	{float: left; position: relative; width: 300px;}
.twoFrames .centerStyle	{float: left; position: relative; width: 681px;}

/* One frames */
.oneFrame .centerStyle	{position: relative; width: 100%;}
/*** Frame set ***/

/*** Header ***/
.Header {background: #FFFFFF url(../images/demo/header-bgr.gif) repeat-x top; margin: 0 auto; padding: 0 0 10px 0; position: relative; width: 981px; z-index: 100;}
.HeaderLogo {background: url(../images/demo/header-l.gif) no-repeat left top; padding: 0 0 0 56px; position: relative;} 
.HeaderLogo a {background: url(../images/demo/header-r.gif) no-repeat right top; display: block;} 
.HeaderLogo img {border: none; margin: 38px 0px 15px 0;}
.HeaderMenu {margin: 0px; padding: 0px;}

/* Top Menu */
.TopMenu 			{background: url(../images/demo/tmenu-bgr.gif) repeat-x 11px top; display: block; height: 43px; margin: 0px; overflow: hidden; padding: 0px; z-index: 20;}
.TopMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap;}
.TopMenu li.topmenu		{padding: 4px 0px; z-index: 50;}
.TopMenu li.begin			{background: url(../images/demo/tmenu-l.gif) no-repeat top left;}
.TopMenu li.begin img	{margin: 21px 10px; padding-right: 76px;}
.TopMenu li.end			{background: url(../images/demo/tmenu-r.gif) no-repeat top right; float: right;}
.TopMenu li.end img		{margin: 21px 10px;}

/* Top Menu Links */
a.menu					{color: #FFFFFF; display: block; font: bold 13px 'Trebuchet MS', Arial, Helvetica, sans-serif; padding: 5px 27px; text-transform: uppercase;}
a.menuActive			{color: #FFFFFF; display: block; font: bold 13px 'Trebuchet MS', Arial, Helvetica, sans-serif; padding: 5px 27px; text-decoration: none; text-transform: uppercase;}

/* Secondary Menu */
ul.secondaryMenu 			{background: url(../images/demo/tmenu-bgr-s.gif) repeat-x 17px top; display: block; height: 41px; margin: -3px 0px 0px 0px; overflow: hidden; padding: 0px; z-index: 20;}
ul.secondaryMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{padding: 8px 0px 0px 0px;}
ul.secondaryMenu li.secondaryBegin			{background: url(../images/demo/tmenu-l-s.gif) no-repeat top left;}
ul.secondaryMenu li.secondaryBegin img		{margin: 21px 10px; padding-right: 76px;}
ul.secondaryMenu li.secondaryEnd				{background: url(../images/demo/tmenu-r-s.gif) no-repeat top right; float: right;}
ul.secondaryMenu li.secondaryEnd img		{margin: 21px 10px;}

/* Secondary Menu Links */
a.secondaryMenu 			{color: #FFFFFF; display: block; font: bold 13px 'Trebuchet MS', Arial, Helvetica, sans-serif; padding: 5px 27px; text-transform: uppercase;}
a.secondaryMenuActive 			{color: #FFFFFF; display: block; font: bold 13px 'Trebuchet MS', Arial, Helvetica, sans-serif; padding: 5px 27px; text-decoration: none; text-transform: uppercase;}

/* Sub Menu */
.SubMenu 		{border: 1px solid #99010E; border-bottom: none; display: none; margin: 2px 0px 0px 0px; padding: 0px; position: absolute; width: 150px;}
.SubMenu li 		{display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap; width: 150px;}
.SubMenu li.topmenu		{padding: 0px; position: relative;}
.SubMenu li.secondaryMenu	{background: none !important; padding: 0px !important; position: relative;}
.SubMenu a.menu, 
.SubMenu a.secondaryMenu, 
.SubMenu a.secondaryMenuActive			{background: #BC2530 !important; border-bottom: 1px solid #99010E; color: #FFFFFF; font-size: 11px;}

.SubMenu ul		{border: 1px solid #99010E; border-bottom: none; display: none; left: 150px; margin: 0px; padding: 0px; position: absolute; top: -1px;}
.SubMenu span.nobr      {white-space: normal !important;}

/*** Header ***/

/*** Breadcrumbs ***/
.BreadcrumbRightBgr {height: 100%; overflow: hidden; position: relative;}
.BreadcrumbRSS {float: right; padding: 10px; text-align: right;}
.Breadcrumbs {background: none;  overflow: hidden; height: 100%;}
.BreadcrumbsBgr {padding: 10px 0px 10px 17px;}
.BreadcrumbsBgr a.treeItemLast {font-weight: bold; text-decoration: none; cursor: text;}
.BreadcrumbsBgr a.treeItemLast:hover {text-decoration: none; cursor: text;}
.BreadcrumbsBgr span {display: none;}
.BreadcrumbsBgr img {background: url(../images/demo/arrow-cat.gif); height: 5px; margin: 0px 8px 1px 8px; width: 7px;}

/* Step to Order Pages */
.BreadcrumbsBgr span.nonactive {display: inline; font-weight: bold; color: #F0EBE0; margin-right: 10px;}
.BreadcrumbsBgr span.active {display: inline; font-weight: bold; color: #AD1521; margin-right: 10px;}

/*** Breadcrumbs ***/

/*** Structure of Greeting Block ***/
.GreetingText 		{color: #000; display: block; font: 12px Arial, Helvetica, sans-serif;}
/*** Structure of Greeting Block ***/

/*** Structure of Block ***/
.BlockTop {position: relative; width: auto;}
.TopCenter {position: relative;}
.TopLeftBgr {position: relative;}
.TopRightBgr {background: url(../images/demo/arrow-tit.gif) no-repeat 17px 13px; border-bottom: 2px solid #E0EEF6; height: 100%; overflow: hidden; position: relative;}

.TopTitleIco {float: right; padding: 12px 0px 8px 0px; text-align: right;}
.TopTitle {overflow: hidden; height: 100%;}
.TopTitleBgr {color: #403736; font: bold 16px/18px 'Trebuchet MS', Arial, Helvetica, sans-serif; padding: 8px 10px 8px 30px; text-transform: uppercase;}
.TopTitleBgr h1 {color: #403736; font: bold 16px/18px 'Trebuchet MS', Arial, Helvetica, sans-serif; text-transform: uppercase;}

.BlockMiddle {position: relative;}
.MiddleCenter {height: 100%; overflow: hidden; padding: 0px 0px 0px 7px; position: relative;}
.BlockData { position: relative; overflow: hidden; }

.BlockBottom {display: block; padding-bottom: 22px; position: relative; font-size: 1px;}
.BottomCenter {overflow: hidden; height: 100%;}
/*** Structure of Block ***/

/*** Structure of Block Without Title ***/
.hidden-title .BlockTop, 
.block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.hidden-title .TopTitle { display: none; }
/*** Structure of Block Without Title ***/

/*** Structure of Block Left Column ***/
.leftStyle .TopRightBgr {border-bottom: 2px solid #F7F2E7;}
/*** Structure of Block Left Column ***/

/*** Structure of Block Center Column ***/
/*** Structure of Block Center Column ***/

/*** Structure of Block Right Column ***/
.rightStyle .TopRightBgr {border-bottom: 2px solid #F7F2E7;}
/*** Structure of Block Right Column ***/

/*** Structure of Block Offers ***/
.centerStyle .block-offers .TopRightBgr {background: #F7F2E7 url(../images/demo/offer-tl.gif) no-repeat 0px 0px; border-bottom: none;}
.centerStyle .block-offers .TopTitleBgr {padding: 13px 10px 17px 53px;}
.centerStyle .block-offers .MiddleCenter {background: #F7F2E7 url(../images/demo/offer-bgr.gif) no-repeat right 17px; padding: 0px 202px 0px 7px;}
.centerStyle .block-offers .BlockBottom {background: #F7F2E7 url(../images/demo/offer-bl.gif) no-repeat 0px 0px; height: 10px; margin-bottom: 22px; padding-bottom: 0;}
/*** Structure of Block Offers ***/

/*** User Home Page ***/
.UHBRows {clear: both;}
.UserHomeBlock {float: left; position: relative; width: 49%;}
.UHBContent {padding: 7px;}
.UHBContent div {margin: 0px 0px 0px 50px;}

.userHomeLogout {clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a {color: #AD0009;}

.UserHomeBlock img.orders 		{background: url(../images/icons/admin_orders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 	{background: url(../images/icons/admin_profile.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 	{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 	{background: url(../images/icons/admin_support.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 		{background: url(../images/icons/admin_forum.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 	{background: url(../images/icons/admin_products.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 		{background: url(../images/icons/admin_pages.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders	{background: url(../images/icons/admin_salesorders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 	{background: url(../images/icons/admin_merchant.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates 	{background: url(../images/icons/admin_affiliates.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments 	{background: url(../images/icons/admin_payments.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts	 	{background: url(../images/icons/admin_carts.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist 	{background: url(../images/icons/admin_wishlist.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders 	{background: url(../images/icons/admin_reminders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd {}
td.butTd span.spacer {display: none; color: #D55101;}	/* '|' between button */

a.button {background: url(../images/demo/button-bgr.gif) repeat-x right; color: #FFFFFF; cursor: pointer; display: inline-block; font: 11px/20px Verdana, Arial, Helvetica, sans-serif; padding: 3px 7px 3px 7px; margin: 0px; text-decoration: none; white-space: nowrap;}
a.button:hover {text-decoration: none;}

a.button span 	{display: inline-block; cursor: pointer;}
a.button img 	{display: none;}

a.button-add span 		{font-weight: bold;}

a.buttonBasket {background: url(../images/demo/button-bgr.gif) repeat-x right; color: #FFFFFF; cursor: pointer; display: inline-block; font: 11px/20px Verdana, Arial, Helvetica, sans-serif; padding: 3px 7px 3px 7px; margin: 0px; text-decoration: none; white-space: nowrap;}
a.buttonBasket:hover {text-decoration: none;}

a.buttonBasket span 	{display: inline-block; cursor: pointer;}
a.buttonBasket img 	{display: none;}

a.button-shopping span 	{font-weight: bold;}	
a.button-checkout span 	{font-weight: bold;}

a.buttonCart {background: url(../images/demo/button-bgr.gif) repeat-x right; color: #FFFFFF; cursor: pointer; display: inline-block; font: 11px/20px Verdana, Arial, Helvetica, sans-serif; padding: 3px 7px 3px 7px; margin: 0px; text-decoration: none; white-space: nowrap;}
a.buttonCart:hover {text-decoration: none;}

a.buttonCart span 	{display: inline-block; cursor: pointer;}
a.buttonCart img 	{display: none;}

a.buttonMore	{color: #D55101; white-space: nowrap;}

a.buttonMore img 	{display:none;}

a.disabled {							/* disadled add to cart */
	color: gray; 
	cursor: text; 
	font: bold 11px/20px Verdana, Arial, Helvetica, sans-serif; 
	padding: 0px 10px 0px 0px;
	text-decoration: none;
}
a.disabled:hover {cursor: text;}
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #FFFFFF; border: 1px solid #99010E; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/
.CategoryList			{display: block; margin: 0px; padding: 0px;}
.CategoryList li		{background: url(../images/demo/li.gif) no-repeat 0px 9px; clear: both; display: block; list-style: none; margin: 0px; padding: 4px 0px 4px 10px;}
.SubCategoryList		{display: block; margin: 4px 0px 0px 0px; padding: 0px;}
.SubCategoryList li		{background: url(../images/demo/li.gif) no-repeat 0px 9px; display: block; list-style: none; margin: 0px; padding: 4px 0px 4px 10px;}
.CategoryList li a, 
.SubCategoryList li a		{color: #AD0009; font: bold 12px Arial, Helvetica, sans-serif; text-decoration: none;}
.CategoryList li a:hover, 
.SubCategoryList li a:hover	{text-decoration: underline;}

.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {float: left; margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}
.block-products-list .productImg, 
.block-product-details .productImg {background: #FFFFFF; border: 1px solid #DB4047; margin-right: 10px; margin-bottom: 10px;}

.featuresList	{margin: 0px 5px 5px 0px;}

.specification	{}
.groupTitle		{background: #F7F2E7; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #F7F2E7; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

.block-products-table-view a.title				{color: #014ec0; font-weight: bold; text-decoration: none;}
.block-products-table-view a.title:hover		{text-decoration: underline;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px;}
.matrixQty		{border-left: 1px solid #F7F2E7; border-top: 1px solid #F7F2E7; float: left;}
.matrixPrice	{border-top: 1px solid #F7F2E7; float: left;}
.matrixTitle	{background: #FAF7F0; border-right: 1px solid #F7F2E7; border-bottom: 1px solid #F7F2E7; font-weight: bold; padding: 3px 6px; text-align: center;}
.matrixItem		{border-right: 1px solid #F7F2E7; border-bottom: 1px solid #F7F2E7; padding: 3px 6px; text-align: left;}

/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 12px; font-weight: bold; color: #000000; background: #FAF7F0; padding: 6px !important; }
.productsCategoryDesc	{background: #FAF7F0; padding: 6px !important; }
.productsDelimiter 		{background: #FAF7F0; padding: 0px !important;}
.productsDelimiterTop 	{background: #FAF7F0; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px solid #F7F2E7;}
.hDelimiter {background: #F7F2E7; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs 			{border-bottom: 2px solid #E0EEF6; height: 1%; margin: 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.DetailTabs li 			{display: block; float: left; list-style: none; margin: 0px 10px 0px 0px; padding: 0px;}
.DetailTabs li.tab 			{background: none; border: none;}
.DetailTabs li.tabActive 		{background: none; border: none;}
.DetailTabs a.tab					{background: #F7F2E7; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tab:hover			{background: #E0EEF6; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tabActive			{background: #E0EEF6; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}
.DetailTabs a.tabActive:hover	{background: #E0EEF6; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #FAF7F0; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #FAF7F0; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #FAF7F0; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding: 0px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{text-align: center; clear: right; display: block;}
.offerItem 			{text-align: center;}
.offerImg			{border: 1px solid #DB4047; margin-bottom: 10px;} 
.offerText			{display: none; text-align: center;}
.offerItem 
a.buttonMore		{display: block;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumModified     	{border-top: 1px solid #D5D5D5; margin: 5px 0px; padding: 5px 0px;}
.forumMessageLeft 	{background: #F4F4F4; border-left: 1px solid #D5D5D5; border-top: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5;}
.forumMessageRight 	{background: #F4F4F4; border: 1px solid #D5D5D5;}
.forumMessageTop 		{background: #E9E9E9; border-bottom: 1px solid #D5D5D5;}
/*** Forum ***/

/*** Footer ***/
.footerAll 	{background: url(../images/demo/footer-r.gif) no-repeat center top;}
.footerMenu	{background: #FFFFFF; font-size: 11px; margin: 0 auto; padding: 20px 20px 0px 20px; width: 941px;}
.footerMenu	span {padding: 0px 0px 0px 5px; color: #AD1521;}
.footerMenu	a.smallText	{color: #AD1521; text-decoration: none;}
.footerMenu a.smallText:hover	{text-decoration: underline;}
.footerHTML	{background: #FFFFFF; margin: 0 auto; padding: 0px 20px 20px 20px; text-align: right; width: 941px;}
.footerImg	{background: url(../images/demo/footer-bgr.gif) no-repeat 116px top; height: 52px; margin: 0 auto; text-align: right; width: 981px;}
.footerImg img		{border: none; height: 26px; margin: 10px; width: 80px;}
/*** Footer ***/

/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background: url(../images/double/admin-tabs-bgr.gif); height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #919B9C;}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: #FFFFFF; border: 1px solid #919B9C; border-bottom: none; cursor: pointer; font: 11px/18px Verdana, sans-serif; margin: 8px 2px 0px 2px; padding: 2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background: #FFFFFF; border: 1px solid #919B9C; border-top: 2px solid #919B9C; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin: 3px 2px 0px 2px; padding: 4px 8px 4px 8px; white-space: nowrap;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
.priceBlock {color: #000; font-weight: bold;}
.priceBlock .price {font-weight: bold;}
.priceBlock .priceTax {font-weight: normal;}

.priceBlockOld {color: #000; text-decoration: line-through;}
.priceBlockOld .price {font-weight: normal;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #000; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #000; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #000; font-weight: bold; border: none; background: transparent;}
.salesPrice {font-weight: bold;}
.salesTax {font-weight: normal;}

.priceSaveBlock {color: green; font-weight: bold;}
.priceSaveBlock .price {font-weight: bold;}
.priceSaveBlock .percent {font-weight: normal;}

.pointsPriceBlock {}
.pointsPriceBlock .points {}

.rewardPointsBlock {}
.rewardPointsBlock .points {}
/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #CCCCCC;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #F4F4F4; border: 1px solid #C6C6C6;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #C6C6C6;}
.shipping-img-close	img {margin: 5px 5px 5px 0px; }
.shipping-descr		{padding: 0px 15px 10px 15px; font-size: 14px; width: 570px; font-family: Arial, Helvetica, sans-serif; }
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 20px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #FFFFFF; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-categories-catalog .MiddleCenter {padding: 0px 0px 0px 13px;}
.block-categories-catalog .bigtitle {color: #AD1521; text-decoration: none;}

/***  ***/
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}