/**
 * document normalization styles
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;
padding:0;
border:0;
outline: 0;
vertical-align: baseline;
background:transparent;
}
body {
line-height:1;
}
ol, ul {
list-style: none;
list-style-position:inside;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
:focus {
outline: 0;
}
ins {
text-decoration:none;
}
del {
text-decoration:line-through;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
a{
text-decoration:none;
}
/*normalization end*/
/*** General styles ***/
body{
font:12px Arial, Helvetica, sans-serif;
color:#000000;
margin:0px auto;
padding:0px;
background:url(../images/mobile/bgNoise.png) 0 0 repeat #fff;
}
body.popup{
font:12px Arial, Helvetica, sans-serif;
color:#000000;
margin:0px;
padding:0px;
background:#fff;
}
tr, td{
font:12px Arial,Helvetica,sans-serif;
color:#000;
}
a{
color:#1584D2;
text-decoration:underline;
}
a.header{
text-decoration:none;
}
a.title{
font-size:16px;
font-weight:700;
line-height:1.5;
}
a.bigtitle{
font-size:16px;
font-weight:700;
text-align:center;
display:block;
}
a.smallText{
font-size:13px;
text-decoration:none;
}
input{
font:18px Arial,Helvetica,sans-serif;
}
input[type=checkbox]{
padding:1em;
}
input.usualprice{
color:#C5CCD0;
background-color:transparent;
border:none;
font:18px Arial,Helvetica,sans-serif;
text-align:right;
}
input.orderprice{
color:#C5CCD0;
background-color:transparent;
border:none;
font:18px Arial, Helvetica, sans-serif;
text-align:right;
}
input.search,
input.text,
input.field{
border-top:1px solid #7F9DB9;
border-right: 1px solid #BACDDF;
border-bottom: 1px solid #BACDDF;
border-left: 1px solid #7F9DB9;
margin:3px 0px;
width:83%;
}
input.fieldSmall{
border-top:1px solid #7F9DB9;
border-right:1px solid #BACDDF;
border-bottom:1px solid #BACDDF;
border-left:1px solid #7F9DB9;
font-size:16px;}
input.submit,
a.submit{
border:1px solid #999;
border-radius:7px;
color:#000;
font-size:18px;
margin:10px 15px 10px 0;
padding:10px 7px;
display:block;
background-image: linear-gradient(bottom, rgb(237,240,250) 67%, rgb(213,225,250) 100%);
background-image: -o-linear-gradient(bottom, rgb(237,240,250) 67%, rgb(213,225,250) 100%);
background-image: -moz-linear-gradient(bottom, rgb(237,240,250) 67%, rgb(213,225,250) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(237,240,250) 67%, rgb(213,225,250) 100%);
background-image: -ms-linear-gradient(bottom, rgb(237,240,250) 67%, rgb(213,225,250) 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.67, rgb(237,240,250)),color-stop(1, rgb(213,225,250)));
float:left;
text-decoration:none;
}
input#clear,
input#reset,
input#cancel,
input#delete{
color:#8a8a8a;
}
input#preview{
color:#ff6c00;
}
select{
border-top:1px solid #7F9DB9;
border-right:1px solid #BACDDF;
border-bottom:1px solid #BACDDF;
border-left:1px solid #7F9DB9;
font:18px Arial,Helvetica,sans-serif;
max-width:83%;
}
textarea{
border-top:1px solid #7F9DB9;
border-right:1px solid #BACDDF;
border-bottom:1px solid #BACDDF;
border-left:1px solid #7F9DB9;
font: 18px Arial,Helvetica,sans-serif;
max-width:83%;
}
.middlebg{
background:#e9e9e9;
font-weight:700;
}
.middlebg td {
font-weight:700;
}
.usualbg {
background:transparent;
}
.errorbg{
background:#FFE0E0;
border:1px solid #c00;
color:#c00;
padding:6px;
text-align:center;
}
.messagebg{ color:#00c; font-weight:700; padding:6px; text-align:center; }
div.message  { color: #0000FF; text-align: center; border: 1px solid #AAAAFF; padding: 10px; background: #EEEEFF; margin-bottom: 10px; }
.padding10px{
padding:10px;
}
.padding6px,
.padding6px td{
padding:6px;
}
.padding6px td td{
padding:0px;
}
.padding4px td{
padding:4px;
}
.padding4px td{
padding:4px;
}
.padding4px td td{
padding:0px;
}
.padding2px{
padding:2px;
}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px {
padding:0px;
}
.ArticleImg{
border:none;
float:left;
margin:0px 10px 5px 0px;
}
.ArticleDescription{
padding:10px 0px;
font-size:16px;
}
.introBlock {
border:1px solid #fff;
margin:5px;
padding:6px;
}
.articleDate{
color:#000;
font-size:13px;
font-style: italic;
}
.titleText{
color:#1584D2;
text-decoration:none;
}
.top{
font-size:14px;
padding:7px 0;
}
.smallText{
font-size:11px;
}
.middleText{
font-size:13px;
}
.bigText{
font-size:14px;
}
.comment{
font-size:12px;
color:#77c;
}
.required{
color:#f00;
}
.message{
color:#ffba00;
}
.title{
font-size:13px;
font-weight:700;
color:#1584D2;
}
.normalFont{
font-weight:300 !important;
}
.bigtitle{
font-size:14px;
font-weight:700;
color:#1584D2;}
.error{
color:#f00;
}
.terms{
height:300px;
width:320px;
overflow:auto;
border:1px solid silver;
}
.link{
color:#c5ccd0;
text-decoration:underline;
}
span.nobr{
white-space:nowrap !important;
}
.overhidd{
height:1%;
overflow:hidden;
}
.floatright{
float:right;
}
.floatleft{
float:left;
}
.clearboth {
clear:both;
}
/*** Frame set ***/
.frameBlocks{
margin:auto;
padding:0 20px 20px 20px;
text-align:left;
}
.headerStyle{
position:relative;
z-index:100;
}
.contentStyle{
height:1%;
overflow:hidden;
position:relative;
z-index:1;
}
.footerStyle{
clear:both;
}
.hotStylePadding{
padding:8px 0 0;
}
.leftStylePadding{
padding:8px 8px 8px 0;
}
.centerStylePadding{
padding:8px 0;
}
.rightStylePadding{
padding:8px 0 8px 8px;
}
/*force one column view for all layout types*/
.fourFrames .leftStyle,
.fourFrames .hotStyle,
.fourFrames .centerStyle,
.fourFrames .rightStyle,
.fourFrames .leftStylePadding,
.fourFrames .centerStylePadding,
.threeFrames .leftStyle,
.threeFrames .rightStyle,
.threeFrames .centerStyle,
.twoFrames .centerStyle,
.twoFrames .leftStyle,
.oneFrame .centerStyle{
position:relative;
}
/* Global Header */
.Header {
margin:auto 0;
position:relative;
z-index:100;
}
.HeaderLogo{
margin:10px auto 0;
width:150px;
}
.HeaderLogo img{
border:none;
}
.HeaderMenu{
margin:0;
padding:5px 0px 0px;
}
/*** Mobile bar ***/
.globalBar{
background:url(../images/mobile/bgNoise.png) 0 0 repeat #c9f0f7;
padding:4px 4px 0;
}
.globalBar .goHome{
width:32px;
height:32px;
background:url(../images/icons/homeIcon.png) 0 0 no-repeat;
display:block;
float:left;
}
form.mobileSearch{
margin:0 40px;
}
.globalBar .globalSearch{
margin:3px 0px;
padding:5px 0 0;
}
.searchField{
width:70%;
float:left;
margin-right:7px;
}
.searchSubmit{
width:32px;
height:32px;
background:url(../images/icons/lense_32x32.png) 0 0 no-repeat;
display:block;
float:left;
border:none;
position:relative;
top:-5px;
}
.globalBar .goBasket{
width:32px;
height:32px;
background:url(../images/icons/basketMobile.png) 0 0 no-repeat;
display:block;
float:right;
}
/* Top Menu */
.TopMenu {
display:block;
margin:0px;
overflow:hidden;
padding:0px;
z-index:20;
}
.TopMenu li{
display:block;
list-style:none;
margin:0px;
padding:0px;
white-space:nowrap;
}
.TopMenu li.topmenu{
padding:1px 0px;
z-index:50;
}
.TopMenu li.begin{
display:none;
}
.TopMenu li.end{
display:none;
}
/* Top Menu Links */
a.menu{
color:#fff;
display:block;
font:18px Arial,Helvetica,sans-serif;
font-weight:700;
padding:12px 0px;
text-decoration:none;
text-transform:capitalize;
text-align:center;
border:1px solid #12316f;
background-color:#3482d9;
}
a.menuActive{
color:#f0ac40;
text-decoration:none;
display:block;
font:18px Arial,Helvetica,sans-serif;
font-weight:700;
padding:12px 0px;
text-transform:capitalize;
text-align:center;
border:1px solid #12316f;
background-color:#4094f0;
}
/* Secondary Menu */
ul.secondaryMenu{
display:block;
height:30px;
margin:0px 0px 0px 20px;
overflow:hidden;
padding:0px;
z-index:20;
}
ul.secondaryMenu li{
border-top:1px solid #444;
display:block;
float:left;
list-style:none;
margin:0px;
padding:0px;
}
ul.secondaryMenu li.secondaryMenu{
padding:2px 0px 4px;
}
ul.secondaryMenu li.secondaryBegin,
ul.secondaryMenu li.secondaryEnd{
display:none;
}
/* Secondary Menu Links */
a.secondaryMenu{
color:#52AE30;
display:block;
font:14px Arial, Helvetica, sans-serif;
padding:2px 20px;
text-decoration:underline;
text-transform:capitalize;
}
a.secondaryMenuActive{
color:#444;
display:block;
font:14px Arial,Helvetica,sans-serif;
padding:2px 20px;
text-transform:capitalize;
}
/* Sub Menu */
.SubMenu{
margin:0;
padding:0 5px;
}
.SubMenu li{
display:block;
list-style:none;
margin:1px 0;
padding:7px 0px;
white-space:nowrap;
}
.SubMenu li.topmenu{
padding:0px;
position:relative;
}
.SubMenu li.secondaryMenu{
background:none !important;
padding:0px !important;
position:relative;
}
.SubMenu a.menu{
background:#fff1c7 !important;
color:#3482d9;
padding:5px 10px;
text-decoration:none;
}
.SubMenu a.secondaryMenu{
background:#fff1c7 !important;
color:#0a0509;
padding:2px 10px;
text-decoration:none;
}
.SubMenu a.secondaryMenuActive{
background:#fff1c7 !important;
color:#0a0509;
padding:2px 10px;
text-decoration:none;
}
.SubMenu ul{
border:1px solid #FFD075;
border-bottom:none;
display:none;
left:150px;
margin:0px;
padding:0px;
position:absolute;
top:-1px;
}
.SubMenu span.nobr{
white-space:normal !important;
}
/*** Header end ***/
/*** Breadcrumbs ***/
.Breadcrumb{
background:#f4f4f4 url(../images/default/breadcramb-bgr.gif) repeat-x top;
margin:10px 0px;
position:relative;
width:100%;
}
.BreadcrumbCenter{
background:url(../images/default/breadcramb-bgr.gif) repeat-x bottom;
position:relative;
}
.BreadcrumbLeftBgr{
background:url(../images/default/breadcramb-b-l.gif) no-repeat bottom left;
position:relative;
}
.BreadcrumbRightBgr{
background:url(../images/default/breadcramb-b-r.gif) no-repeat bottom right;
height:100%;
overflow:hidden;
position:relative;
}
.BreadcrumbLeft{
background:url(../images/default/breadcramb-t-l.gif) no-repeat top left;
float:left;
width:11px;
height:22px;
}
.BreadcrumbRight{
background:url(../images/default/breadcramb-t-r.gif) no-repeat top right;
float:right;
width:11px;
height:22px;
}
.BreadcrumbRSS{
float:right;
padding:10px;
text-align:right;
}
.Breadcrumbs{
background:none;
overflow:hidden;
height:100%;
}
.Breadcrumbs a{
font-size:16px;
}
.BreadcrumbsBgr {
padding:10px 0px 10px 10px;
}
.BreadcrumbsBgr a.treeItemLast{
font-weight:700;
text-decoration:none;
cursor:text;
}
.BreadcrumbsBgr span{
color:#1584d2;
}
.BreadcrumbsBgr img{
display:none;
}
/* Step to Order Pages */
.BreadcrumbsBgr span.nonactive{
display:inline;
font-weight:normal;
color:#aaa;
margin-right:10px;
}
.BreadcrumbsBgr span.active{
display:inline;
font-weight:700;
color:#444;
margin-right:10px;
}
/*** Breadcrumbs end ***/
/*** Mobile Blocks General View ***/
.block-categories-catalog,
.block-search, 
.block-offers, 
.block-categories-list,
.block-hot,
.block-ads-add,
.block-ads-compare,
.block-ads-details,
.block-ads-hot,
.block-ads-latest,
.block-ads-list,
.block-ads-recently-viewed,
.block-ads-search-advanced,
.block-ads-sellers,
.block-ads-special,
.block-ads-top-viewed,
.block-articles-details,
.block-articles-latest,
.block-articles-list,
.block-articles-related,
.block-top-rated,
.block-articles-top-viewed,
.block-basket-recommended,
.block-cart,
.block-cart-retrieve,
.block-cart-save,
.block-categories-chained-menu,
.block-category-description,
.block-checkout-final,
.block-checkout-login,
.block-contact-us,
.block-content,
.block-coupon-form,
.block-currency,
.block-custom-page-body,
.block-facebook-feed,
.block-filter,
.block-forum-top-viewed,
.block-forum-topic,
.block-forum-topic-new,
.block-forum-topics,
.block-forum-description,
.block-forum-list,
.block-forum-search,
.block-forums-related,
.block-language,
.block-login,
.block-login-advanced,
.block-manuals-article-details,
.block-manuals-list,
.block-manuals-search,
.block-manufacturer-info,
.block-manuals-search-results,
.block-manufacturers,
.block-merchant-contact,
.block-merchant-info,
.block-merchants,
.block-order-cart,
.block-order-info,
.block-order-payment-form,
.block-password-forgot,
.block-password-reset,
.block-poll,
.block-polls-previous-list,
.block-product-details,
.block-product-options,
.block-products-changes-log,
.block-products-compare,
.block-products-fast-add,
.block-products-latest,
.block-products-list,
.block-products-recently-viewed,
.block-products-recommended,
.block-related-products,
.block-products-related-purchase,
.block-products-releases,
.block-products-releases-hot,
.block-products-search-advanced,
.block-products-table-view,
.block-top-rated,
.block-top-sellers,
.block-products-top-viewed,
.block-products-users-bought,
.block-reviews,
.block-site-map,
.block-site-search-form,
.block-site-search-results,
.block-sliders,
.block-sms-test,
.block-subscribe,
.block-subscriptions,
.block-support,
.block-support-reply,
.block-twitter-feed,
.block-unsubscribe,
.block-user-ads,
.block-user-carts,
.block-user-change-password,
.block-user-home,
.block-user-merchant-order,
.block-user-merchant-orders,
.block-user-order,
.block-user-order-update,
.block-user-orders,
.block-user-payment,
.block-user-payments,
.block-user-product-options,
.block-user-product-registration,
.block-user-product-registrations,
.block-user-product-subcomponent,
.block-user-product-subcomponents,
.block-user-products,
.block-user-profile,
.block-user-psd-list,
.block-user-psd-update,
.block-user-reminder,
.block-user-reminders,
.block-user-support,
.block-user-wishlist,
.block-wishlist-items,
.block-wishlist-search,
.block-user-product{
margin:15px 0;
border-bottom:3px solid #3482d9;
padding-bottom:10px;
}
h2.blockTitle{
text-align:center;
font-size:14px;
font-weight:700;
background-color:#3482d9;
margin-top:7px;
padding:7px;
color:#fff;
}
.BlockData{
position:relative;
overflow:hidden;
}
/*categories list*/
.block-categories-list a.title{display:block;padding:4px;text-align:center;text-decoration:none;background-color:#e7e7e7;}
/*** User Home Page ***/
.UHBRows{
clear:both;
border-bottom:1px solid #ddd;
}
.UserHomeBlock		{float:left; position:relative; width:49%;}
.UHBContent			{padding:7px;}
.UHBContent div 		{/*margin:0px 0px 0px 50px;*/}
.UHBContent a {
display:block;
}
.userHomeLogout 		{clear: both; padding:0px 20px 0px 20px; text-align:right;}
.userHomeLogout a 	{color:#444444; font-weight:700;}
.UserHomeBlock img.orders 				{background:url(../images/icons/admin_orders.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.profile 				{background:url(../images/icons/admin_profile.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.addresses                                       {background: url(../images/icons/admin_addresses.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 			{background:url(../images/icons/arr.gif) no-repeat; width:15px; height:16px; border:0px; margin:0px 5px 0px 0px; position:relative; bottom: -4px;display:none;}
.UserHomeBlock img.support 				{background:url(../images/icons/admin_support.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.forum 					{background:url(../images/icons/admin_forum.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.products 				{background:url(../images/icons/admin_products.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.pages 					{background:url(../images/icons/admin_pages.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.salesorders			{background:url(../images/icons/admin_salesorders.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.merchant 				{background:url(../images/icons/admin_merchant.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.affiliates			{background:url(../images/icons/admin_affiliates.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.payments				{background:url(../images/icons/admin_payments.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.carts					{background:url(../images/icons/admin_carts.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.wishlist				{background:url(../images/icons/admin_wishlist.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img.reminders				{background:url(../images/icons/admin_reminders.png) no-repeat; width:50px; height:50px; border:0px; float:left;}
.UserHomeBlock img{float:none !important;}
/*** User Home Page ***/
/*** Button Links ***/
a.button{
font:14px/20px Arial, Helvetica, sans-serif;
padding:0px 10px 0px 0px;
white-space:nowrap;
}
a.button img{
display:none;
}
a.buttonBasket{
font:14px/20px Arial, Helvetica, sans-serif;
white-space:nowrap;
}
a.buttonBasket img{
display:none;
}
a.buttonCart {
font:12px Arial, Helvetica, sans-serif;
white-space:nowrap;
}
a.buttonCart img{
display:none;
}
a.buttonMore, span.buttonMore{
color:#f30;
font:16px Arial, Helvetica, sans-serif;
white-space:nowrap;
display:block;
padding:10px;
text-decoration:none;
}
a.buttonMore img 	{display:none;}
a.disabled {color:gray; cursor:text; font: bold 14px/20px Arial, Helvetica, sans-serif; padding:0px 10px 0px 0px;}

div.chooseOptions, div.editOptions { padding-top: 5px; padding-bottom: 5px; }
a.editOptions { color:blue; background-color: #eeeeff; border: 1px solid #A0A0FF; font-size: 10px; text-decoration: none; padding: 2px 10px 2px 10px; }
a.chooseOptions { color:red; background-color: #ffeeee; border: 1px solid #FFA0A0; font-size: 10px; text-decoration: none; padding: 2px 10px 2px 10px; }
/*** Button Links ***/
/*** Filter popup on more button ***/
.filterPopup {background-color:#fff1c7; border:2px solid #FFD075; display:none; margin-left: -5px; padding:3px 4px; position:absolute; z-index: 100;}
/*** Filter popup on more button ***/
/*** Categories ***/
.CategoryList{
display:block;
margin:0px;
padding:0px;
}
.CategoryList li{
background:url(../images/default/tree_top.gif) no-repeat 0px 9px;
display:block;
list-style:none;
margin:0px;
padding:2px 0px 2px 15px;
}
.SubCategoryList		{background:url(../images/default/tree_line.gif) repeat-y 2px 0px; display:block; margin:4px 0px 0px 0px; padding:0px;}
.SubCategoryList li		{background:url(../images/default/tree_begin.gif) no-repeat 2px 9px; display:block; list-style: none; margin:0px; padding:2px 0px 0px 14px;}
.SubCategoryList li.lastCategory		{background:#FFFFFF url(../images/default/tree_end.gif) no-repeat 2px -9px;}
.selectedsubCategory a.title, 
.selectedtopCategory a.title{
color:#f0ac40;
}
.selectedsubCategory ul a.title, 
.selectedtopCategory ul a.title {color:#1584D2;}
.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin:0px 5px 0px 0px;}
/*** Categories ***/
/*** Products list (list, table view) and product details ***/
.block-products-list .productImg, 
.block-product-details .productImg {background:#FFFFFF; border:1px solid #78C7FF; margin-right:10px; margin-bottom: 10px; padding:1px;}
.featuresList{
border:2px solid #e9e9e9;
margin:5px 0;
padding:6px;
text-align:center;
background-color:#fff;
}
.specification	{}
.groupTitle		{background:#E9E9E9; font-size: 120%; padding:6px;}
.feature			{border-bottom: 1px solid #E9E9E9; display:block; padding:6px;}
.featureName	{float:left; font-weight:700; padding:0px; width:40%;}
.featureValue	{padding:0px 0px 0px 45%;}
/* Matrix prices for product */
.matrix			{margin:10px 0px;}
.matrixQty		{border-left: 1px solid #E9E9E9; border-top: 1px solid #E9E9E9; float:left;}
.matrixPrice	{border-top: 1px solid #E9E9E9; float:left;}
.matrixTitle	{background:#E9E9E9; border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; font-weight:700; padding:3px 6px; text-align:center;}
.matrixItem		{border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; padding:3px 6px; text-align:left;}
/* Visualisation product list as table */
.productsTable th,
.productsTable td {
padding:3px;
}
.productsCategory{
font-size:18px;
font-weight:700;
background:#E9E9E9;
color:#1584D2;
padding:6px !important;
text-align:center;
}
.productsCategoryDesc	{background:#E9E9E9; padding:6px !important; }
.productsDelimiter 		{background:#E9E9E9; padding:0px !important;}
.productsDelimiterTop 	{background:#E9E9E9; padding:0px !important;}
.productsDelimiterTop img 	{height:2px;}
/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px solid #E9E9E9;}
.hDelimiter {background:#E9E9E9; border:0px;}
.rolloverImagesTop {padding:10px 0px 0px 0px;}
.rolloverImages {float:left; padding:5px; text-align:center; width:30%;}
.manufacturerImage {padding:10px 0px 0px 0px;}
/* Visualisation tubs on product details */
.DetailTabs 			{border-bottom: 2px solid #E9E9E9; height:1%; margin:0px; overflow:hidden; padding:0px 0px 0px 10px;}
.DetailTabs li 			{display:block; float:left; list-style: none; margin:0px 10px 0px 0px; padding:0px;}
.DetailTabs li.tab 			{background:none; border:1px solid #E9E9E9; border-bottom: none;}
.DetailTabs li.tabActive 		{background:#E9E9E9; border:1px solid #E9E9E9; border-bottom: none;}
.DetailTabs a.tab					{background:none; color:#1584D2; display:block; font-size: 15px; font-weight:700; padding:5px 8px; text-decoration:none;}
.DetailTabs a.tabActive			{background:#E9E9E9; color:#1584D2; display:block; font-size: 15px; font-weight:700; padding:5px 8px; text-decoration:none; cursor:text;}
/*** Products list (list, table view) and product details ***/
/*** Related products ***/
.relTitle {padding:0px 0px 5px 0px;}
.relImg {margin:0px 5px 5px 0px;}
/*** Related products ***/
/*** Small Cart ***/
.paddingCart td		{padding:0px;}
.paddingCart .cartTitle td			{background:#E9E9E9; padding:4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #E9E9E9; padding:2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #D9D9D9; padding:4px;}
/*** Small Cart ***/
/*** Latest ***/
td.topArticle {padding:0px;}
td.subArticle {padding:3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display:block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background:url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/
/*** Offers ***/
.offerTitleTop		{display:none;}
.offerTitle{
text-align:left;
clear: right;
display:block;
margin:0 0 10px;
}
.offerItem 			{text-align:left;}
.offerImg			{float:left; border:1px solid #78C7FF; margin-right:10px; margin-bottom: 10px;} 
.offerText			{text-align:left;}
.offerItem 
a.buttonMore		{display:block;}
/*** Offers ***/
/*** Forum ***/
.forumAdmin 			{color:blue; font-weight:700;}
.forumUser 				{color:black; font-weight:700;}
.forumGuest       	{color:black;  font-weight:700; font-style: italic;}
.forumMessageLeft 	{background:#F4F4F4; border-left: 1px solid #D5D5D5; border-top: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5;}
.forumMessageRight 	{background:#F4F4F4; border:1px solid #D5D5D5;}
.forumMessageTop 		{background:#E9E9E9; border-bottom: 1px solid #D5D5D5;}
/*** Forum ***/
/*** Footer ***/
.footerMenu	{text-align:center; font-size: 11px;}
.footerMenu	span {padding:0px 0px 0px 5px;}
.footerHTML	{text-align:center; padding:10px;}
.footerImg	{text-align:right; padding:0px 10px 0px 0px;}
.footerImg img		{width:80px; height:26px; border:0px;}
/*** Footer ***/
/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background:url(../images/default/admin-tabs-bgr-light.gif); height:1%; margin:0px 0px 10px 0px; overflow:hidden; padding:0px 0px 0px 10px;}
.AdminTabs li 				{display:block; float:left; list-style: none; margin:0px 0px 0px 0px; padding:0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #919B9C;}
.AdminTabs li.adminTabActive	{border:none;}
.AdminTabs li.BeginTab			{display:none;}
.AdminTabs li.EndTab			{display:none;}
div.adminTab 			{background:#E9E9E9; border:1px solid #919B9C; border-bottom: none; cursor:pointer; font: 11px/18px Verdana, sans-serif; margin:8px 2px 0px 2px; padding:2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background:#F4F4F4; border:1px solid #919B9C; border-top: 2px solid #919B9C; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin:3px 2px 0px 2px; padding:4px 8px 4px 8px; white-space: nowrap;}
/*** Visualisation tubs on UserHome pages ***/
/*** Prices on the site ***/
.priceBlock {color:#000; font-weight:700;}
.priceBlock .price {font-weight:700;}
.priceBlock .priceTax {font-weight: normal;}
.priceBlockOld {color:#000; text-decoration:line-through;}
.priceBlockOld .price {font-weight: normal;}
.priceBlockOld .priceTax {font-weight: normal;}
.priceBlockHidden {color:#000; font-weight:700; display:none;}
.priceBlockHidden .price {font-weight:700;}
.priceBlockHidden .priceTax {font-weight: normal;}
.priceBlockEdit {color:#000; font-weight:700;}
.priceBlockEdit input.price {text-align:right; font-weight:700; width:60px; font-size: 13px; color:black; border:1px solid #A3ACB1;}
.salesBlock {color:#000; font-weight:700; border:none; background:transparent;}
.salesPrice {font-weight:700;}
.salesTax {font-weight: normal;}
.priceSaveBlock {color:#0A0; font-weight:700;}
.priceSaveBlock .price {font-weight:700;}
.priceSaveBlock .percent {font-weight: normal;}
.pointsPriceBlock {}
.pointsPriceBlock .points {}
.rewardPointsBlock {}
.rewardPointsBlock .points {}
/*** Prices on the site ***/
/*** Rating part ***/
.SummaryStatistic img{
margin-top: -2px;
}
.SummaryStatistic .percentage img{
margin-right:10px;
}
.ShowReviews img{
margin-top:-2px;
}
.ShowReviews span{
padding:0px 10px;
white-space:nowrap;
}
.RatingImage{
float:left;
}
.RatingText{
margin-left:110px;
}
.neutral{
display:none;
}
.commend{
background:url(../images/icons/commend.png) no-repeat;
width:20px;
height:20px;
border:0px;
}
.discommend{
background:url(../images/icons/discommend.png) no-repeat;
width:20px;
height:20px;
border:0px;
}
.not-rated{
background:url(../images/icons/not-rated.png) no-repeat;
width:97px;
height:18px;
border:0px;
}
.rating-1{
background:url(../images/icons/rating-1.png) no-repeat; width:97px; height:18px; border:0px;
}
.rating-2{
background:url(../images/icons/rating-2.png) no-repeat; width:97px; height:18px; border:0px;
}
.rating-3{
background:url(../images/icons/rating-3.png) no-repeat; width:97px; height:18px; border:0px;
}
.rating-4{
background:url(../images/icons/rating-4.png) no-repeat; width:97px; height:18px; border:0px;
}
.rating-5{
background:url(../images/icons/rating-5.png) no-repeat; width:97px; height:18px; border:0px;
}
/*** Rating part ***/
/*** Wishlist pop-up window ***/
.wishlist-opacity	{display:none; z-index: 900; left: 0px; top: 0px; width:100%; height:100%; position:absolute; background-color:#E1E1E1;}
.wishlist-shadow	{display:none; z-index: 1000; position:absolute; top: 0px; left: 0px; width:320px; background:#CCCCCC;}
.wishlist-block		{position:relative; bottom: 5px; right: 5px; width:320px; background:#F4F4F4; border:1px solid #78C7FF;}
.wishlist-img-close	img {margin:10px 10px 5px 0px;}
.wishlist-descr		{padding:0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Wishlist pop-up window ***/
/*** Shipping pop-up window ***/
.shipping-opacity	{display:none; z-index: 900; left: 0px; top: 0px; width:100%; height:100%; position:absolute; background-color:#E1E1E1;}
.shipping-shadow	{display:none; z-index: 1000; position:absolute; top: 0px; left: 0px; width:600px; background:#CCCCCC;}
.shipping-block		{position:relative; bottom: 5px; right: 5px; width:600px; background:#F4F4F4; border:1px solid #78C7FF;}
.shipping-img-close	img {margin:10px 10px 5px 0px;}
.shipping-descr		{padding:0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Shipping pop-up window ***/
/*** New Product's icon ***/
.block-product-details .newProduct {display:block; position:relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background:url(../images/icons/new_l.png) no-repeat; width:30px; height:22px; border:none; margin:0px 0px -6px 2px;}
.block-products-list .newProduct img {background:url(../images/icons/new_l.png) no-repeat; width:30px; height:22px; border:none; position:relative; margin:0px 0px -6px 2px;}
.newProduct img {background:url(../images/icons/new_m.png) no-repeat; width:20px; height:16px; border:none; position:relative; margin:0px 0px -3px 2px;}
/*** New Product's icon ***/
/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background:url(../images/icons/lock.png) no-repeat; width:22px; height:23px; border:none; position:relative; margin:0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background:url(../images/icons/lock-s.png) no-repeat; width:15px; height:16px; border:none; position:relative; margin:0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background:url(../images/icons/lock-s.png) no-repeat; width:15px; height:16px; border:none; position:relative; margin:0px 0px -3px 2px;}
/*** Restricted Item's icon ***/
/*** Manual list ***/
.level1 {padding:2px 2px 2px 15px;}
.level1 a {font-weight:700;}
.level1 a:hover {font-weight:700;}
.level2 {padding:2px 2px 2px 30px;}
.level3 {padding:2px 2px 2px 40px;}
.level4 {padding:2px 2px 2px 50px;}
/*** Manual list *****/
/*** Custom menu list ***/
.CustomMenu ul		{display:block; margin:0px; padding:0px 0px 0px 10px;}
.CustomMenu ul ul		{display:block; margin:0px; padding:0px;}
.CustomMenu ul li		{background:url(../images/bullet.gif) no-repeat 5px 6px; display:block; list-style: none; margin:0px; padding:2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight:700;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/
/*** Site map list ***/
.SiteMap ul		{display:block; margin:0px; padding:0px;}
.SiteMap ul ul		{display:block; margin:0px; padding:0px 0px 0px 10px;}
.SiteMap ul li		{background:url(../images/bullet.gif) no-repeat 0px 6px; display:block; list-style: none; margin:0px; padding:2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight:700;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/
/*** Image slider box ***/
.imageSlider	{position:relative; overflow:hidden;}
.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position:absolute; width:100%;}
.sliderClassVertical td.padding10px	{padding:20px;}
.sliderClassHorizontal		{left: -2000px; position:absolute; width:100%;}
.sliderClassHorizontal td.padding10px	{padding:10px 30px;}
/* Image slider tooltip */
.soPopupContent {position:absolute; z-index: 999; width:300px; border:1px solid #CED7DF; background:#FFFFFF; padding:20px; display:none;}
.soPopupContent a.bigtitle	{display:block; margin-bottom: 15px; text-align:center;}
.soPopupImg	{text-align:center; margin-bottom: 15px;}
.soPopupImg img	{border:1px solid #E8ECF0;}
.soText	{text-align:justify;}
.popupTooltip	{display:none;}
/*** Image slider box ***/
/***  ***/
.block-basket-recommended select	{margin-right:5px;}
.block-user-profile .titleTopCenter div	{text-align:center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding:8px 10px;}
#categories_box select	{display:block; margin:0px 0px 5px 0px;}
#categories_box a	{display:inline-block; background:#E8E8E8; border:1px solid #93BDFD; padding:3px 10px; text-decoration:none; margin-bottom: 5px;}
/**/
.mButton a{
text-align:center;
font-size:16px;
display:block;
border-bottom:1px solid #ccc;
padding:7px 0;
}
.adsBody, .block-ads-details{
font-size:16px;
}
.adsBody a{
text-decoration:none;
color:#000;
}
.block-ads-latest a.title{
font-size:20px;
}
.block-ads-latest div.elem{
border-bottom:1px solid #ccc;
}
/*block basket*/
.ta-c{
text-align:center;
}
.couponField{
padding:15px 20px;
}
.basketCtrl{
border-top:2px solid #3482d9;
border-bottom:2px solid #3482d9;
padding:7px 0;
}
.f18{
font-size:18px;
}
.f16{
font-size:16px;
}
.itemPriceInfo{
padding:5px 0 15px;
border-bottom:1px solid #ddd;
}
h3.f18{
padding:5px;
border-top:1px solid #ccc;
}
.p-tb10{
padding:10px 0;
}
.p-b10{
padding:0 0 10px 0;
}
.m-tb10{
margin:10px 0;
}
.m-b2{
margin:0 0 2px;
}
/*small cart buttons*/
.block-cart a.submit{
margin:0;
display:inline-block;
float:none;
}
.currencyImg{
margin-right:15px;
}
.productDetailsButtons a.button{
font:18px/20px Arial,Helvetica,sans-serif;
padding:15px 10px;
white-space:nowrap;
}
iframe#content_sd,
iframe#content_f,
iframe#content_fd,
iframe#content_so,
iframe#content_n{
border-color: #7F9DB9 #BACDDF #BACDDF #7F9DB9;
border-style: solid;
border-width: 1px;
margin: 3px 0;
}
.formElem{
padding:10px;
border-bottom:1px solid #ddd;
}