
/*** General styles ***/
body		{font: 12px Tahoma; color: #444444; margin: 0px; padding: 0px; background: url("../images/stan/main_bg.gif") no-repeat scroll center 0 #EFEFEF;}
body.popup	{font: 12px Tahoma; color: #444444; margin: 0px; padding: 0px; background: #FFFFFF;}

tr, td		{font: 12px Tahoma; color: #444444;}

h1, h2		{padding: 0px; margin: 0px;}
img{border:0px;}
.TopTitleIco{float: right;padding: 10px 10px 0 0;}
.TopMenu,.leftStyle .TopTitleBgr,.rightStyle .TopTitleBgr,.contentStyle,
a.buttonMore,a.button,a.buttonBasket,a.menu:hover,a.menuActive:hover,.featuresList,#popupBlock {
	-moz-border-radius: 3px; /* Firefox */
  	-webkit-border-radius: 3px; /* Safari, Chrome */
  	-khtml-border-radius: 3px; /* KHTML */
  	border-radius: 3px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
}
.DetailTabs a.tab,.DetailTabs a.tabActive,.SubMenu{
	-moz-border-radius: 3px 3px 0px 0px; /* Firefox */
  	-webkit-border-radius: 3px 3px 0px 0px; /* Safari, Chrome */
  	-khtml-border-radius: 3px 3px 0px 0px; /* KHTML */
  	border-radius: 3px 3px 0px 0px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
}
.TopMenu,.leftStyle .TopTitleBgr,.rightStyle .TopTitleBgr{border: 1px solid #dcdcdc;}
.leftStyle .TopTitleBgr,.rightStyle .TopTitleBgr{background: url("../images/stan/moduletable_title.png") repeat-x left bottom;min-height: 35px;font-weight: bold;}
.leftStyle .TopTitleBgr div,.rightStyle .TopTitleBgr div {padding: 10px 5px 5px 8px;}

.centerStyle .BlockTop{font-weight: bold;font-size: 12px;margin-bottom: 10px;}
.centerStyle .TopTitleBgr{padding: 5px 5px; background: url(../images/stan/prod_bg.png) repeat-x left top #eee;}
.centerStyle .block-without-title .BlockTop {border-bottom:0px;}
.BlockMiddle {position: relative;}
.MiddleCenter {overflow: hidden; height: 100%; position: relative;}

.SubMenu{
  	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	box-shadow: 3px 3px 5px #000;
	behavior: url(ie-css3.htc);
}

a					{color: #006ab4; outline: 0px; text-decoration: none;}
a:hover				{text-decoration: none; color: #999999;}
a:active		 {text-decoration: none;}
a.header 			{text-decoration: none;}
a.header:hover		{text-decoration: none; }
a.title				{color: #003399;font-size: 13px; font-weight: bold;}
a.bigtitle			{color: #003399; font-size: 14px; font-weight: bold;}
a.bigtitle:hover	{color: #999999; }
a.smallText			{font-size: 11px; text-decoration: none;}
a.smallText:hover	{text-decoration: none; color: #999999;}
a.treeItemLast		{color: #ff6600;}
a img {padding: 5px 5px 5px 0;margin: 0;}
.CategoryList a		{color: #ffffff;}
.CategoryList a:hover{color: #ffffff;} 

input					{font: 14px Tahoma;}
input.usualprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Tahoma; text-align: right;}
input.orderprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Tahoma; text-align: right;}
input.search,		
input.text,			
input.field			{margin: 3px 0px;}
input.fieldSmall	{font-size: 11px;}
input.submit		{
	color: #003399; 
        font-weight:bold;
	cursor: pointer; 
	font-size: 12px; 
	height: 30px; 
        width:101px;
	margin: 5px 0 0 0;
padding:0px 0 0 0; 
        text-align:center;
border:0px;
background:none;
background:url(../images/button_b.png);
}
input.submit:hover{background:url(../images/button_bact.png);}
	input#clear		{color: #8A8A8A;}
	input#reset		{color: #8A8A8A;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #8A8A8A;}
	input#delete	{color: #8A8A8A;}
select				{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font: 14px Tahoma;}
textarea			{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font: 14px Tahoma;}

.middlebg 			{background: #f5f5f5;font-weight: bold; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center;}
.popup 
.errorbg			{padding: 4px;}
.messagebg  		{color: red; font-weight: bold; padding: 6px; text-align: center;}
.block-order-info 
.messagebg  		{padding: 2px 6px; text-align: right;}

.padding10px				{padding: 10px 5px;}
.block-categories-list 
.padding10px				{padding: 10px 0px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin-right: 5px;}
.ArticleDescription	{padding: 10px 0px;}

.introBlock {border: 1px solid #FFFFFF; margin: 5px; padding: 6px;}

.articleDate	{color: #666666; font-size: 11px; font-style: italic; }
.titleText		{color: #1584D2; text-decoration: none; }
.top				{font-size: 11px;}
.smallText		{font-size: 11px;}
.middleText		{font-size: 13px;}
.bigText			{font-size: 14px;}
.comment			{font-size: 11px; color: #7777CC;}
.required		{color: #FF0000;}
.message			{color: #FFBA00;}
.title			{font-size: 13px; font-weight: bold; color: #000;}
.bigtitle		{font-size: 14px; font-weight: normal; color: #ff6600;}
.error			{color: red; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: #C5CCD0; text-decoration: none;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}

.productQty{padding-top: 10px;}

.productImg {background: #fff; border:0; margin-right: 10px; margin-bottom: 10px; padding: 1px;}

.Breadcrumb {margin-bottom: 10px;}
.BreadcrumbRSS {float: right;}

/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{margin: 0 auto; padding: 0 20px 20px 20px; text-align: left; min-width: 1024px; max-width: 1600px;}
.headerStyle	{position: relative; z-index: 100;}
.contentStyle	{-moz-border-radius:3px 3px 3px 3px; border:1px solid #DCDCDC; height: 1%; overflow: hidden; position: relative; z-index: 1;background: #fff;padding: 10px 10px;}
.footerStyle	{clear: both;margin-top: 10px;}

/* Four frames */
.fourFrames .rightStyle			{float: right; margin: 10px 0; position: relative; width: 20%;}
.fourFrames .contentLeftStyle	{float: left; position: relative; }
.fourFrames .hotStyle			{margin: 10px 0 0 0; position: relative; width: 80%; float: left; }
.fourFrames .leftStyle			{float: left; margin: 0 0 10px 0; position: relative; width: 20%;}
.fourFrames .centerStyle		{float: left; margin:auto 10px; position: relative; width: 77%;}

/* Three frames */
.threeFrames .leftStyle		{float: left; margin: 10px 0; position: relative; width: 20%;}
.threeFrames .rightStyle	{float: right; margin: 10px 0; position: relative; width: 20%;}
.threeFrames .centerStyle	{margin: 10px; float:left; position: relative; width: 58%;}

/* Two frames */
.twoFrames .leftStyle	{float: left; margin: 10px 0; position: relative; width: 29%;}
.twoFrames .centerStyle	{float: right; margin: 10px 0; position: relative; width: 70%;}

/* One frames */
.oneFrame .centerStyle	{margin: 10px 0; position: relative; width: 100%;}
/*** Frame set ***/

/*** Header ***/
.Header {margin: 0px 0 8px 0; position: relative; z-index: 100; }
.HeaderLogo {float: left;} 
.HeaderLogo img {border: none; margin: 0px;}
.HeaderMenu {margin: 0px; padding: 0px;clear: both;}

/* Top Menu */
.TopMenu {
	/*background: url("../images/topmenu.png") repeat-x;  */
	background: url("../images/dost/top_menu1.png") repeat-x;  
	display: block; 	
	height: 62px; 
	margin: 0px; 
	padding: 0px 0 0 140px; 
	z-index: 50;
position:relative;
}

.TopMenu li {
	display: block;
	float: left; 
	list-style: none; 
	margin: 0px 0 0 -1px; 
	padding: 5px 0px 0px 0px; 
	min-height: 40px;	
}

.headerAllMiddle .TopMenu li.topmenu a{text-transform: none;}
.TopMenu li.topmenu	{z-index: 50;}
.TopMenu li.begin	{display: none;border: 0;padding: 0;}
.TopMenu li.end		{display: none;border: 0;width: 40px;}

/* Top Menu Links */
a.menu,a.menuActive{
	display: block; 
	font: 12px; 
	padding: 5px 10px; 
	text-decoration: none; 
	text-transform: none;
	font-weight: bold;
	line-height: 20px;	
}
a.menu				{color:#003399;}
a.menu:hover		{color: #ff9933;}
a.menuActive		{color: #ff6600;}
a.menuActive:hover	{color: #ff9933;}

/* Secondary Menu */
ul.secondaryMenu 			{display: block; height: 30px; margin: 0px 0px 0px 20px; overflow: hidden; padding: 0px; z-index: 20;}
ul.secondaryMenu li 			{border-top: 1px solid #444444; display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{padding: 2px 0px 4px 0px;}
ul.secondaryMenu li.secondaryBegin			{display: none;}
ul.secondaryMenu li.secondaryEnd				{display: none;}

/* Secondary Menu Links */
a.secondaryMenu 			{color: #52AE30; display: block; font: 14px Tahoma; padding: 2px 20px; text-decoration: underline; text-transform: capitalize;}
a.secondaryMenu:hover 	{color: #52AE30; text-decoration: none;}
a.secondaryMenuActive 			{color: #444444; display: block; font: 14px Tahoma; padding: 2px 20px; text-transform: capitalize;}
a.secondaryMenuActive:hover	{color: #444444;}

/* Sub Menu */

.SubMenu 		{
	display: none; 
	margin: -5px 0 0 0; 
	padding: 0px 0 10px 0; 
	position: absolute; 
	width: 200px;
	background: #efefef;
       z-index:51;
}
.SubMenu li {
	border: 0;
	width: 180px;	
	margin: 0px 10px;
	padding: 10px 0 10px 0;	
	min-height: 20px;
border-bottom:1px solid #b8b8b8;
}
.SubMenu a.menu 	{padding: 0;margin: 0; font-weight:normal; color:#003399;}
.SubMenu span.nobr  {white-space: normal !important;}
/*
.SubMenu li {display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap; width: 150px;}
.SubMenu li.topmenu		{padding: 0px; position: relative;z-index:50;}
.SubMenu li.secondaryMenu	{background: none !important; padding: 0px !important; position: relative;}
.SubMenu a.menu				{color: #fff;font-weight: normal;}
.SubMenu a.menu:hover		{}
.SubMenu a.secondaryMenu	{background: #FFF1C7 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenu:hover	{background: #FFFBED !important; color: #1584D2;}
.SubMenu a.secondaryMenuActive			{background: #FFF1C7 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenuActive:hover	{background: #FFFBED !important; color: #1584D2;}

.SubMenu ul		{display: none; left: 150px; margin: 0px; padding: 0px; position: absolute; top: -1px;z-index:50;}


/*** Header ***/

/*** User Home Page ***/
.UHBRows				{clear: both;}
.UserHomeBlock		{float: left; position: relative; width: 49%;}
.UHBContent			{padding: 7px;}
.UHBContent div 	{margin: 0px 0px 0px 50px;}

.userHomeLogout 		{clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a 	{color: #444444; font-weight: bold;}

.UserHomeBlock img.orders 					{background: url(../images/icons/admin_orders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 				{background: url(../images/icons/admin_profile.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 				{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 				{background: url(../images/icons/admin_support.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 					{background: url(../images/icons/admin_forum.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 				{background: url(../images/icons/admin_products.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 					{background: url(../images/icons/admin_pages.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders			{background: url(../images/icons/admin_salesorders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 				{background: url(../images/icons/admin_merchant.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates				{background: url(../images/icons/admin_affiliates.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments				{background: url(../images/icons/admin_payments.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts					{background: url(../images/icons/admin_carts.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist				{background: url(../images/icons/admin_wishlist.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders				{background: url(../images/icons/admin_reminders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd span.spacer {color: #1584D2;}	/* '|' between button */
td.butTd a.buttonBasket{background:none;color:#003399;display:inline;font-size:12px;padding:0px;margin:0px;}
td.butTd a.buttonBasket:hover{color:#0e4cbe;}
td.butTd a.button-checkout{color:#0e4cbe;}
a.button {font: 14px/20px Tahoma; padding: 0px 10px 0px 0px; white-space: nowrap; margin:5px;}
a.button img 	{display: none;}
a.button {	
	display:block; 
	width: 114px;
	height: 32px;
	padding:2px 0px 0 0;
	color: #fff; 
	font-size: 14px; 
	white-space: nowrap;
	background: url(../images/button.png) no-repeat;
        color: #FFF;
	margin-top: 5px;
text-align:center;
}
a.button:hover {background: url(../images/buttonact.png) no-repeat; color: white;text-decoration:none;}
a.button span {line-height: 30px;}

a.button-shipping, .butTd a.button-checkout{	
	display:block; 
	width: 192px;
	height: 32px;
	padding:2px 0px 0 0;
	color: #fff; 
	font-size: 14px; 
	white-space: nowrap;
	background: url(../images/butkor.png) no-repeat;
        color: #FFF;	
	margin-top: 5px;
text-align:center;
}
a.button-shipping:hover {background: url(../images/butkoract.png) no-repeat; color: white;text-decoration:none;}


a.buttonBasket img 	{display: none;}
a.button-shopping 	{color: #FF3300; font-weight: bold;}	
a.button-checkout 	{}


a.buttonCart {font: 12px Tahoma; white-space: nowrap;}
a.buttonCart img 		{display: none;}

a.buttonMore {
	display:block; 
	width: 114px;
	height: 29px;
	padding:5px 0px 0 0;
	color: #fff; 
	font-size: 14px; 
	white-space: nowrap;
	background: url(../images/button.png) no-repeat;
        color: #FFF;
	float: right;	
	margin-top: 5px;
text-align:center;
}
a.buttonMore b{font-weight: normal;line-height: 24px;	font-size: 14px; }
a.buttonMore img {display:none;}
a.buttonMore:hover {background: url(../images/buttonact.png) no-repeat; color: white;text-decoration:none;}

a.disabled {color: gray; cursor: text; font: bold 14px/20px Tahoma; padding: 0px 10px 0px 0px;}
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #FFF1C7; border: 2px solid #FFD075; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/

.CategoryList		{display: block; margin: 0px; padding: 0px; text-decoration: none;}

.CategoryList li {    
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0; 
    border-bottom: 1px solid #ffffff;
    }
.CategoryList li a {
    display: block;
    height: 20px;
    /*min-width: 240px;*/
    padding: 3px 0 0 3px;
    width: auto;
    margin-right: 1px;
}
.CategoryList li:hover a {
 background: #f0f0f0;
 color: #ffffff; 
}

.SubCategoryList	{   
    background: none repeat scroll 0 0 #F0F0F0;
    display: block;
    margin: 0;
    padding: 0 0 5px 15px;
    }
.SubCategoryList li	{display: block; list-style: none; margin: 0px; padding: 5px 0px 0px 0; border: none; background: none !important; }
.SubCategoryList li.lastCategory {}
.SubCategoryList li a {background: none !important; padding: 0 !important; height: auto; color: #1584D2 !important; }
.SubCategoryList li a:hover {color: #ff9933 !important; text-decoration: none;}
.selectedsubCategory a.title {color: #1584D2 !important; text-decoration: none;}
.selectedtopCategory a.title {color: #FFF;}
.selectedtopCategory a.title:hover {color: #FFFFFF;}
.selectedsubCategory a.title:hover {color: #ff9933 !important;}
.selectedsubCategory ul a.title {background:#ffffff; color: #1584D2 !important;}
.selectedtopCategory ul a.title {background:#ffffff; color: #1584D2;}
.selectedtopCategory ul a.title:hover {color: #ff9933;}
.selectedsubCategory ul a.title:hover {color: #ff9933;}


.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}

.featuresList	{background: url(../images/stan/product-feature-bg.gif) repeat-x scroll left top #F1F2F4; border: 1px solid #ddd; margin: 0px 0px 0px 0px; padding: 6px; width: 50%;float:right;}

.specification	{}
.groupTitle		{background: #E9E9E9; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #E9E9E9; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px;}
.matrixQty		{border-left: 1px solid #E9E9E9; border-top: 1px solid #E9E9E9; float: left;}
.matrixPrice	{border-top: 1px solid #E9E9E9; float: left;}
.matrixTitle	{background: #E9E9E9; border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; font-weight: bold; padding: 3px 6px; text-align: center;}
.matrixItem		{border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; padding: 3px 6px; text-align: left;}

/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 14px; font-weight: normal; color: #ff6600; padding: 6px !important;border-bottom:1px solid #ddd; }
.productsCategoryDesc	{background: #E9E9E9; padding: 6px !important; }
.productsDelimiter 		{background: #E9E9E9; padding: 0px !important;}
.productsDelimiterTop 	{background: #E9E9E9; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px dotted #ddd;}
.hDelimiter {background: #E9E9E9; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs {border-bottom: 1px solid #ddd;list-style: none;height: 31px;}
.DetailTabs li{float: left;margin: 0 20px 0 0;}
.DetailTabs a.tabActive,.DetailTabs a.tab{
	display: block;
	border-bottom: 0px;
}
.DetailTabs a.tab{background: url(../images/buttab.png) no-repeat;padding:6px 0 0 0; width:114px;height:23px; color:#003399;text-align:center;border:none;
margin:2px 0 0px 0;}
.DetailTabs a.tabActive{background: url(../images/buttabact.png) no-repeat;padding:6px 0 0 0; width:114px;height:23px; color:#FFF;text-align:center;border:none;
margin:2px 0 0px 0;}
.DetailTabs a.tab:hover{color:#fff;background: url(../images/buttabact.png) no-repeat left bottom;color: #FFF;}
/*
.DetailTabs li 			
.DetailTabs li.tab 		
.DetailTabs li.tabActive
.DetailTabs a.tab		
	
.DetailTabs a.tabActive	
.DetailTabs a.tabActive:hover

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #E9E9E9; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #E9E9E9; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #D9D9D9; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding: 0px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{text-align: left; clear: right; display: block;}
.offerItem 			{text-align: left;}
.offerImg			{float: left; border: 0; margin-right: 10px; margin-bottom: 10px;} 
.offerText			{text-align: left;}
.offerItem 
a.buttonMore		{display: block;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumMessageLeft 	{background: #F4F4F4; border-left: 1px solid #D5D5D5; border-top: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5;}
.forumMessageRight 	{background: #F4F4F4; border: 1px solid #D5D5D5;}
.forumMessageTop 		{background: #E9E9E9; border-bottom: 1px solid #D5D5D5;}
/*** Forum ***/

/*** Footer ***/
.footerMenu	{text-align: center; font-size: 11px; }
.footerMenu	span {padding: 0px 0px 0px 5px;}
.footerHTML	{text-align: center; padding: 10px;}
.footerImg	{text-align: right; padding: 0px 10px 0px 0px;}
.footerImg img		{width: 76px; height: 22px; border:0px;}
/*** Footer ***/

/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background: url(../images/default/admin-tabs-bgr-light.gif); height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #919B9C;}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: #E9E9E9; border: 1px solid #919B9C; border-bottom: none; cursor: pointer; font: 11px/18px Verdana, sans-serif; margin: 8px 2px 0px 2px; padding: 2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background: #F4F4F4; border: 1px solid #919B9C; border-top: 2px solid #919B9C; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin: 3px 2px 0px 2px; padding: 4px 8px 4px 8px; white-space: nowrap;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
.priceBlock {color: #999999; font-weight: bold;}
.priceBlock .price {color: #ff6600; font-weight: normal;font-size:22px;}
.priceBlock .priceTax {color: #999999;;font-weight: normal;}

.priceBlockOld {color: #9b9b9b; text-decoration: line-through;font-size:18px;}
.priceBlockOld .price {font-weight: normal;font-size:18px;margin-left:0px;}
.block-product-details .priceBlockOld {color: #9b9b9b; text-decoration: line-through;font-size:12px;}
.block-product-details .priceBlockOld .price {font-weight: normal;font-size:18px;margin-left:42px;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #000; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #000; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #999999; font-weight: normal; border: none; background: transparent;}
.salesBlock .price{color:#979797;font-size:18px;text-decoration: line-through;}
.salesPrice {color: #ff6600; font-weight: normal;font-size:22px;}
.salesTax {color: #cf1919; font-weight: normal;}

.priceSaveBlock {color: #999999; font-weight: normal;}
.priceSaveBlock .price {color: #999999; font-weight: bold; font-size:14px;}
.priceSaveBlock .percent {color: #999999; font-weight: bold; font-size:14px;}

.pointsPriceBlock {color: black; font-weight: bold;}
.pointsPriceBlock .points {color: black; font-weight: bold;}

.rewardPointsBlock {color: black; font-weight: bold;}
.rewardPointsBlock .points {color: black; font-weight: bold;}

.rewardCreditsBlock {color: black; font-weight: bold;}
.rewardCreditsBlock .credits {color: black; font-weight: bold;}

.stockLevel {color: black; font-weight: bold;}


/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #CCCCCC;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #F4F4F4; border: 1px solid #78C7FF;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Tahoma; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #78C7FF;}
.shipping-img-close	img {margin: 10px 10px 5px 0px;}
.shipping-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Tahoma; text-align:justify;}
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 37px; height: 39px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 37px; height: 39px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 24px; height: 25px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #FFFFFF; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}


#categories_box select	{display: block; margin: 0px 0px 5px 0px;}
#categories_box a	{display: inline-block; background: #E8E8E8; border: 1px solid #93BDFD; padding: 3px 10px; text-decoration: none; margin-bottom: 5px;}

/*Addition to Stan template TopTitleBgr for 4.06 version and multi layout*/
.TopTitleBgr{border: 1px solid #dcdcdc;
	background: url("../images/stan/moduletable_title.png") repeat-x left bottom;min-height: 35px;font-weight: bold;
	-moz-border-radius: 3px; /* Firefox */
  	-webkit-border-radius: 3px; /* Safari, Chrome */
  	-khtml-border-radius: 3px; /* KHTML */
  	border-radius: 3px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */}
.TopTitleBgr div {padding: 10px 5px 5px 8px; text-transform:uppercase; color: #555555; }
/**************************************************************/

a.cartIco {background: url("../images/stan/race_cart.png") no-repeat scroll left bottom transparent;
    font-weight: 700;
    padding-left: 53px;
    text-decoration: underline;
    display: block;
    height: 32px;
    line-height: 48px;}
.searchIco {background: url("../images/stan/find.png") no-repeat scroll left bottom transparent;height: 30px;padding-left: 35px;padding-top: 42px;}
.searchIco .searchField {border: 1px solid #ddd;vertical-align: middle; margin-top: 6px;}
.searchIco .searchSubmit {border: 1px solid #ddd;height: 20px;vertical-align: middle;background: #eee;margin-top: 6px;}
.headerLanguage {padding: 50px 0 0;}
.headerLanguage span, .headerCurrency span{float: left;padding: 4px 5px 0px 0px; font-weight: bold;}
.headerCurrency {padding: 45px 0 0; overflow: hidden;}
.contentMulti{margin: 10px;}
.wrapContent{background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    height: 1%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    z-index: 1;}
.BlockBottom {margin-bottom: 5px;}
.TopTitleBgr h1{padding-left: 5px; font-size: 16px;line-height: 35px;}
.MiddleCenter {margin-top: 3px;}




.contentMulti .siteTop{
padding:0px;
margin:0px;
height:20px;
}
.siteTop .MiddleCenter{
margin-top:-10px;
}
.head_bl{
float:left;
}
#head_ll{
position:absolute;
top:0px;
left:22%;
}
#head_l img{
margin-top:-36px;
}
.siteTopLeft .usualbg{
padding-left:239px;
color:#0e4cbe;
font-size:12px;
font-weight:normal;
}
.siteTopLeft .usualbg a{
color:#0e4cbe;
font-size:12px;
font-weight:normal;
}
#head_lr{
width:450px;
position:absolute;
top:0px;
left:48%;
}
#bl_left{
display:block;
float:left;
position:relative;
height:80px;
width:140px;
}
#bl_right{
display:block;
float:left;
position:relative;
height:80px;
width:140px;
margin-left:10px;
}
#bl_left .bll_str{
margin:5px 0 0px 0;
display:block;
color:#010101;
font-weight:bold;
font-size:12px;
}
#bl_left .bll_ct, #bl_left .bll_ct a{
color:#006ab4;
font-weight:normal;
text-decoration:none;;
}
#bl_right span{
font-size:18px;
color:#003399;
display:block;
}
#bl_right .blr_vr{
font-size:12px;
}

#head_lr .text{
padding:0px;
margin:0px;
background:none;
border:none;
font-size:12px;
color:#003399;
background: url("../images/pole.png") no-repeat;
width:159px;
height:24px; 
}
#head_lr  .usualbg{
color:#003399;
font-size:12px;
}
#head_lr  .usualbg a{
color:#006ab4;
font-size:12px;
}
#header1 .MiddleCenter{
overflow:visible;
}
#header1 .usualbg{
position:relative;
z-index:50;
}
#header1{
position:relative;
z-index:50;
height:90px;
}
.reg{
text-transform:lowercase;
margin-left:4px;
}
#head_cart{
width:190px;
position:relative;
font-size:11px;
color:#000000;
}
#head_cart a{
color:#006ab4;
font-size:12px;
font-weight:bold;
}
#head_cart span span{
font-weight:bold;
font-size:12px;
display:inline;
}
#head_cart #cart_ris{
background: url("../images/korz.png") no-repeat;
width:83px;
height:76px; 
position:absolute;
top:0px;
right:0px;
}
#head_cart span{
display:block;
}
#head_cart a.but{
margin:5px 0 0 0;
padding:6px 0 0 0;
display:block;
color:#003399;
font-size:12px;
font-weight:bold;
background: url("../images/button_b.png") no-repeat;
height:24px;
width:101px;
text-align:center;
}
#head_cart a.but:hover{
background: url("../images/button_bact.png") no-repeat;
text-decoration:none;
}
#head_lr{
margin-top:-10px;
margin-left:4%;
float:left;
width:280px;
}
#head_lr input.submit{
background: url("../images/vhod.png") no-repeat;
width:70px;
height:21px;
padding:0px;
float:right;
}
#head_lr input.submit:hover{
background: url("../images/vhodact.png") no-repeat;
}
#head_r{
float:right;
width:190px;
}
.block-search .search{
background:none;
border:none;
background:#f5f6f6;
border:1px solid #dedfdf;
border-top:1px solid #afb0b0;
border-bottom:none;
}
.block-search input.search{
background:#f5f6f6;
border-bottom:none;
width:180px;
}
.block-search input.submit{
background:none;
border:none;
padding:0px 0 0 30px;
margin:-2px 0 0 0;
background: url("../images/butsearch.png") no-repeat;
width:118px;
height:25px;
color:#003399;
font-size:12px;
font-weight:bold;
}
.block-search input.submit:hover{
background: url("../images/butsearchact.png") no-repeat;
}
a.advancedSearch{
text-transform:lowercase;
color:#006ab4;
font-size:11px;
float:left;
margin:0 0px 0 0;
}
.TopTitleBgr{
background:#f5f6f8;
border:1px solid #e2e2e2;
}
.block-categories-list{
background:#f5f6f8;
}
.block-categories-list ul.CategoryList{
padding-left:10px;
}
.block-categories-list ul.CategoryList li{

}
.block-categories-list ul.CategoryList li a{
font-weight:bold;
font-size:12px;
color:#0e4cbe;
}
.block-categories-list ul.CategoryList li ul li a{
font-weight:normal;
text-decoration:none;
}
.block-categories-list ul.CategoryList a:hover{
color:#ff9933;
text-decoration:none;
}
#lft .block-categories-list .MiddleCenter {overflow: visible;position:relative; z-index: 90;}
.footerAll{
padding:7px 20px 0 20px;
background: url(../images/dost/sinfoot.jpg) repeat-x;
color:#003399;
}
.footerAll a{
color:#003399;
}
.footerAll .footerImg, .footerAll .footerHTML, .footerMenu span{
display:none;
}
.footerMenu a{color:#0e4cbe;}
.footerAll .block-simple .usualbg p{
margin:0px;
padding:0px;
}
#vverh{
width:101px;
height:30px;
position:absolute;
right:30px;
bottom:10px;
}
#vverh a{
display:block;
width:101px;
height:25px;
padding:5px 0 0 0;
margin:0px;
text-align:center;
background: url("../images/button_b.png") no-repeat;
}
#vverh a:hover{background: url("../images/button_bact.png") no-repeat;}
#coop_bl{
width:100%;
height:30px;
position:relative;
}
#cooper{
position:absolute;
top:5px;
right:20px;
}
#cooper a{
color:#003399;
font-size:11px;
}
a#zadat{
display:block;
}
a#zadat span{
display:block;
background: url("../images/zadat.png") no-repeat;
width:212px;
height:43px;
}
a#zadat span:hover{
background: url("../images/zadatact.png") no-repeat;
}
#butti a{
clear:both;
}
.BreadcrumbsBgr div a{color:#0e4cbe;font-size:11px;}
.BreadcrumbsBgr div a.treeItemLast{color:#003399;font-size:11px;}
.block-top-rated .MiddleCenter .top{clear:both;}

.block-product-details h1 img{
overflow: visible;
height:30px;
}
.akcia img{
width:55px;
height:21px;
}
.price_n{
text-decoration: line-through;
font-size:12px;
}
.headerAll .headerAllMiddle .TopMenu li a .nobr{text-transform: none;}
.prais div.priceBlockOld, .prais div.salesBlock{
width:100px;
}
.butTd a.button-checkout{

}
.butTd a.button-checkout span{	
	display:block; 
	width: 192px;
	height: 29px;
	padding:5px 0px 0 0;
	color: #fff; 
	font-size: 14px; 
	white-space: nowrap;
	background: url(../images/butkor.png) no-repeat;
        color: #FFF;	
	margin-top: 0px;
text-align:center;
font-weight:normal;
float:right;
}
.butTd a.button-checkout:hover{
text-decoration:none;
}
.SubCategoryList .subCategory a.title{text-decoration:none;}
.block-top-rated .TopTitle, .block-products-top-viewed .TopTitle{
background:#f4f4f7;
}
.block-top-rated .TopTitleBgr{
background: url(../images/rad.png) no-repeat;
padding-left:40px;
}
.block-products-top-viewed .TopTitleBgr{
background: url(../images/popul.png) no-repeat;
padding-left:40px;
}
.block-categories-catalog a{
font-size:13px; 
}
.block-product-details .TopTitleBgr h1{
line-height: 1.4;
font-size:15px;
}
.TopTitleIco a{
position:relative;
z-index:50;
}
.block-product-details .button{float:right;clear:both;}
.block-product-details .button-add{
background: url(../images/buttonact.png) no-repeat;
float:none;
clear:none;
}
.block-product-details .button-add:hover{
background: url(../images/button.png) no-repeat;
}
.block-product-details .smallText{}

.leftSecond, .middleSecond, .rightSecond {background:#f5f5f5; min-height: 200px; border: 0px solid #CC0000; }