
/*** General styles ***/
body		{font: 13px Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background:url("../images/sunny/body_grad.png") repeat-x scroll 0 0 #c8e9f3;}
body.popup	{font: 12px Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background: #FFFFFF;}

tr, td		{font: 13px Arial, Helvetica, sans-serif; color: #484848;}

h1, h2		{padding: 0px; margin: 0px;}

/*** Header ***/
.headerAll {background:url(../images/sunny/sunnyHeader.png) no-repeat center 0;}
.HeaderMenu {margin: 0px; padding: 0px;clear: both;}


.TopTitle {height: 32px; border-radius:3px 3px 0 0; background: linear-gradient(to bottom, #FEFFFF 0%, #DDF1F9 35%, #A0D8EF 100%) repeat scroll 0 0 transparent;}
.TopTitleIco{float: right;padding: 10px 10px 0 0;}
.TopMenu,.leftStyle .TopTitleBgr,.rightStyle .TopTitleBgr,.contentStyle,
a.buttonMore,a.button,a.buttonBasket,a.menu:hover,a.menuActive:hover,.featuresList,#popupBlock {
	-moz-border-radius: 2px; /* Firefox */
  	-webkit-border-radius: 2px; /* Safari, Chrome */
  	-khtml-border-radius: 2px; /* KHTML */
  	border-radius: 2px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
}
.SubMenu{
	-moz-border-radius: 0px 0px 5px 5px; /* Firefox */
  	-webkit-border-radius: 0px 0px 5px 5px; /* Safari, Chrome */
  	-khtml-border-radius: 0px 0px 5px 5px; /* KHTML */
  	border-radius: 0px 0px 5px 5px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
}
.TopMenu,.leftStyle .TopTitleBgr,.rightStyle .TopTitleBgr{border:none;}
.leftStyle .TopTitleBgr,.rightStyle .TopTitleBgr{background: url("../images/sunny/moduletable_title.png") repeat-x left bottom;min-height: 35px;font-weight: bold;}
.leftStyle .TopTitleBgr div,.rightStyle .TopTitleBgr div {padding: 10px 5px 5px 8px;}

.centerStyle .BlockTop{font-weight: bold;font-size: 12px;margin-bottom: 10px;}
.centerStyle .TopTitleBgr{padding: 5px 5px; background: url(../images/sunny/prod_bg.png) repeat-x left top #eee;}
.centerStyle .block-without-title .BlockTop {border-bottom:0px;}
.BlockMiddle {position: relative;  border-radius: 0px 0px 6px 6px; background-color: white;margin-bottom: 12px;}



a					{color: #006699; outline: 0px; text-decoration: underline;}
a:hover				{ text-decoration: none;color: #0099CC;}
a.header 			{text-decoration: none;}
a.header:hover		{text-decoration: underline; }
a.title				{color: #000;font-size: 13px; font-weight: bold;}
a.bigtitle			{font-size: 14px; font-weight: bold;}
a.smallText			{font-size: 11px; text-decoration: none;}
a.smallText:hover	{text-decoration: underline;}
a.treeItemLast		{color: #000; text-decoration: none;}
a img {padding: 5px 5px 5px 0;margin: 0;}
.CategoryList a		{font-weight: normal;}
.CategoryList a:hover{color: #006699;}

input					{font: 14px Arial, Helvetica, sans-serif;}
input.usualprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Arial, Helvetica, sans-serif; text-align: right;}
input.orderprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Arial, Helvetica, sans-serif; text-align: right;}
input.search,		
input.text,			
input.field			{margin: 3px 0px;}
input.fieldSmall	{font-size: 11px;}
input.submit		{
	color: #000; 
	cursor: pointer; 
	font-size: 13px; 
	height: 28px; 
	margin: 0px;
	padding: 5px 10px; 
}
	input#clear		{color: #8A8A8A;}
	input#reset		{color: #8A8A8A;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #8A8A8A;}
	input#delete	{color: #8A8A8A;}
select				{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font: 14px Arial, Helvetica, sans-serif;}
textarea			{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font: 14px Arial, Helvetica, sans-serif;}

.middlebg 			{background: #FEFFAD;font-weight: bold; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center;}
.popup 
.errorbg			{padding: 4px;}
.messagebg  		{color: green; font-weight: bold;  text-align: center; padding: 2px 6px; }
.popupBlock         {border: none; width: 175px;}
.block-order-info 
.padding10px				{padding: 10px 5px;}
.block-categories-list 
.padding10px				{padding: 10px 0px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin-right: 5px;}
.ArticleDescription	{padding: 10px 0px;}

.introBlock {border: 1px solid #FFFFFF; margin: 5px; padding: 6px;}

.articleDate	{color: #666666; font-size: 11px; font-style: italic; }
.titleText		{color: #1584D2; text-decoration: none; }
.top				{font-size: 11px;}
.smallText		{font-size: 11px;}
.middleText		{font-size: 13px;}
.bigText			{font-size: 14px;}
.comment			{font-size: 11px; color: #7777CC;}
.required		{color: #FF0000;}
.message			{color: #FFBA00;}
.title			{font-size: 13px; font-weight: bold; color: #000;}
.error			{color: red; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: #C5CCD0; text-decoration: underline;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}

.productQty{padding-top: 10px;}

.productImg {background: #fff; border:0; margin-right: 10px; margin-bottom: 10px; padding: 1px;}

.Breadcrumb {margin-bottom: 10px;}
.BreadcrumbRSS {float: right;}

/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{margin: 0 auto; padding: 0 20px 20px 20px; text-align: left; min-width: 1000px; max-width: 1400px;}
.headerStyle	{position: relative; z-index: 100;}
.contentStyle	{-moz-border-radius:3px 3px 3px 3px; border:1px solid #DCDCDC; height: 1%; overflow: hidden; position: relative; z-index: 1;background: #fff;padding: 10px 10px;}
.footerStyle	{clear: both;margin-top: 10px;}

/* Four frames */
.fourFrames .rightStyle			{float: right; margin: 10px 0; position: relative; width: 20%;}
.fourFrames .contentLeftStyle	{float: left; position: relative; }
.fourFrames .hotStyle			{margin: 10px 0 0 0; position: relative; width: 80%; float: left; }
.fourFrames .leftStyle			{float: left; margin: 0 0 10px 0; position: relative; width: 20%;}
.fourFrames .centerStyle		{float: left; margin:auto 10px; position: relative; width: 77%;}

/* Three frames */
.threeFrames .leftStyle		{float: left; margin: 10px 0; position: relative; width: 20%;}
.threeFrames .rightStyle	{float: right; margin: 10px 0; position: relative; width: 20%;}
.threeFrames .centerStyle	{margin: 10px; float:left; position: relative; width: 58%;}

/* Two frames */
.twoFrames .leftStyle	{float: left; margin: 10px 0; position: relative; width: 29%;}
.twoFrames .centerStyle	{float: right; margin: 10px 0; position: relative; width: 70%;}

/* One frames */
.oneFrame .centerStyle	{margin: 10px 0; position: relative; width: 100%;}
/*** Frame set ***/



/* Top Menu */
.TopMenu {
	display: block; 	
	height: 30px; 
	margin: 0px 0px 10px 0px; 
	overflow: hidden; 
	padding: 0px; 
	z-index: 20;
border:1px solid #a0d8ef;	
background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef));
background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
	
   
 
}
.TopMenu li {
	display: block;
	float: left; 
	list-style: none; 
	margin: 0px 0 0 -1px; 
	padding: 5px 10px 0px 10px; 
	min-height: 25px;	
}
.TopMenu li:hover{}
.TopMenu li.topmenu	{z-index: 50;}
.TopMenu li.begin	{display: none;border: 0;padding: 0;}
.TopMenu li.end		{display: none;border: 0;width: 40px;}

/* Top Menu Links */
a.menu,a.menuActive{
	display: block; 
	font: 13px Arial, Helvetica, sans-serif; 
	padding: 0px 10px; 
	text-decoration: none; 
	text-transform: uppercase;
	color:#0099CC;
	line-height: 20px;
   	font-size: 13px;       
}
a.menu:hover		{color: #007EA8; }
a.menuActive		{
background: #ddf1f9;
background: -moz-linear-gradient(top,  #ddf1f9 1%, #feffff 24%, #ddf1f9 52%, #a0d8ef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ddf1f9), color-stop(24%,#feffff), color-stop(52%,#ddf1f9), color-stop(100%,#a0d8ef));
background: -webkit-linear-gradient(top,  #ddf1f9 1%,#feffff 24%,#ddf1f9 52%,#a0d8ef 100%);
background: -o-linear-gradient(top,  #ddf1f9 1%,#feffff 24%,#ddf1f9 52%,#a0d8ef 100%);
background: -ms-linear-gradient(top,  #ddf1f9 1%,#feffff 24%,#ddf1f9 52%,#a0d8ef 100%);
background: linear-gradient(to bottom,  #ddf1f9 1%,#feffff 24%,#ddf1f9 52%,#a0d8ef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddf1f9', endColorstr='#a0d8ef',GradientType=0 );

}
a.menuActive:hover	{color: #007EA8;}

/* Secondary Menu */
ul.secondaryMenu 			{display: block; height: 30px; margin: 0px 0px 0px 20px; overflow: hidden; padding: 0px; z-index: 20;}
ul.secondaryMenu li 			{ display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{padding: 2px 0px 4px 0px;}
ul.secondaryMenu li.secondaryBegin			{display: none;}
ul.secondaryMenu li.secondaryEnd				{display: none;}

/* Secondary Menu Links */
a.secondaryMenu 			{color: #52AE30; display: block; font: 14px Arial, Helvetica, sans-serif; padding: 2px 20px; text-decoration: underline; text-transform: capitalize;}
a.secondaryMenu:hover 	{color: #52AE30; text-decoration: none;}
a.secondaryMenuActive 			{color: #444444; display: block; font: 14px Arial, Helvetica, sans-serif; padding: 2px 20px; text-transform: capitalize;}
a.secondaryMenuActive:hover	{color: #444444;}

/* Sub Menu */

.SubMenu 		{
	display: none; 
	margin: 5px 0 0 -11px;
	padding: 0px; 
	position: absolute; 
	width: 200px;
	background: #A2D9EF;
    border-bottom: none;
     z-index:80;
}
.SubMenu li {
	border: 0;
	margin: 0px 2px;
	border-bottom: none;
    
     

}
.SubMenu a.menu 	{padding: 0;margin:0 0 0 11px;}
.SubMenu span.nobr  {
    white-space: normal !important;    
    font-weight: normal;
    text-transform: none;
     }       



/*** Header ***/

/*** User Home Page ***/
.UHBRows				{clear: both;}
.UserHomeBlock		{float: left; position: relative; width: 49%;}
.UHBContent			{padding: 7px;}
.UHBContent div 	{margin: 0px 0px 0px 50px;}

.userHomeLogout 		{clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a 	{color: #444444; font-weight: bold;}

.UserHomeBlock img.orders 					{background: url(../images/icons/admin_orders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 				{background: url(../images/icons/admin_profile.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.addresses 				{background: url(../images/icons/admin_addresses.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 				{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 				{background: url(../images/icons/admin_support.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 					{background: url(../images/icons/admin_forum.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 				{background: url(../images/icons/admin_products.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 					{background: url(../images/icons/admin_pages.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders			{background: url(../images/icons/admin_salesorders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 				{background: url(../images/icons/admin_merchant.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates				{background: url(../images/icons/admin_affiliates.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments				{background: url(../images/icons/admin_payments.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts					{background: url(../images/icons/admin_carts.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist				{background: url(../images/icons/admin_wishlist.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders				{background: url(../images/icons/admin_reminders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd span.spacer {color: #1584D2;}	/* '|' between button */

a.button img 	{display: none;}
a.button {	
	display:block; 
	width: 150px;
	font: 12px Arial, Helvetica, sans-serif; 
	white-space: nowrap;
	margin-bottom: 10px;
	text-align: center;
	padding:5px 10px;
	border:1px solid #a0d8ef;
	text-decoration:none;
background: #feffff;
background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef));
background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
	
}
a.button:hover {
background: #ddf1f9;
background: -moz-linear-gradient(top,  #ddf1f9 1%, #feffff 24%, #ddf1f9 52%, #a0d8ef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ddf1f9), color-stop(24%,#feffff), color-stop(52%,#ddf1f9), color-stop(100%,#a0d8ef));
background: -webkit-linear-gradient(top,  #ddf1f9 1%,#feffff 24%,#ddf1f9 52%,#a0d8ef 100%);
background: -o-linear-gradient(top,  #ddf1f9 1%,#feffff 24%,#ddf1f9 52%,#a0d8ef 100%);
background: -ms-linear-gradient(top,  #ddf1f9 1%,#feffff 24%,#ddf1f9 52%,#a0d8ef 100%);
background: linear-gradient(to bottom,  #ddf1f9 1%,#feffff 24%,#ddf1f9 52%,#a0d8ef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddf1f9', endColorstr='#a0d8ef',GradientType=0 );

}


a.buttonBasket img 	{display: none;}
a.button-shopping 	{color: #DC0708; font-weight: bold;}	
a.button-checkout 	{color: #DC0708; font-weight: bold;}


a.buttonCart {font: 12px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonCart img 		{display: none;}


a.buttonMore {
	display:block; 
	padding: 0 5px;
	font: 14px Arial, Helvetica, sans-serif; 
	white-space: nowrap;
	background: none;
	float: right;	
	margin-top: 5px;
    text-align: center;
}
a.buttonMore b{font-weight: bold;line-height: 24px;}
a.buttonMore img {display:none;}
a.buttonMore:hover {background:none; text-decoration: none;font-weight: bold;}

a.disabled {color: gray; cursor: text; font: bold 14px/20px Arial, Helvetica, sans-serif; padding: 0px 10px 0px 0px;}

a.button-add{}
a.button-add:hover{}
a.button-view, .button-shipping, .button-check {}
a.button-view:hover, a.button-shipping:hover, a.button-check:hover { } 
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #FFF1C7; border: 2px solid #FFD075; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/
.CategoryList {display: block; margin: 0px; padding: 0px;}
.CategoryList li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.CategoryList li a {
    /*background: url("../images/sunny/catalog-menu-a.png") no-repeat scroll 10px 12px transparent;
    display: block;*/
    height: 25px;
    padding: 6px 0 0 20px;
    width: auto;
}	
.CategoryList li:hover a, li.selectedtopCategory a {
    /*background: url("../images/sunny/catalog-menu-a-ho.png") no-repeat scroll 10px 12px transparent;*/
}
.CategoryList li:hover, li.selectedtopCategory {
    /*background: url("../images/sunny/catalog-menu-li-ho.png") repeat-x scroll 0 0 transparent;*/
}	
.SubCategoryList		{display: block; margin: 0px; padding: 0px 0 0 15px;}
.SubCategoryList li		{display: block; list-style: none; margin: 0px; padding: 5px 0px 0px 10px;border-bottom: 0;background:url("../images/sunny/bip1.png") no-repeat scroll left center transparent;}
.selectedsubCategory a.title, 
.selectedtopCategory a.title {color: #0099CC; font-weight: bold;text-decoration: none;}
.selectedsubCategory ul a.title, 
.selectedtopCategory ul a.title {color: #000;}
.selectedtopCategory ul a.title:hover {color: #0099CC;}

.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}

.featuresList	{background: url(../images/sunny/product-feature-bg.gif) repeat-x scroll left top #F1F2F4; border: 1px solid #ddd; float: right; margin: 0px 0px 5px 5px; padding: 6px; width: 50%;}

.specification	{}
.groupTitle		{background: #E9E9E9; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #E9E9E9; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px;}
.matrixQty		{border-left: 1px solid #E9E9E9; border-top: 1px solid #E9E9E9; float: left;}
.matrixPrice	{border-top: 1px solid #E9E9E9; float: left;}
.matrixTitle	{background: #E9E9E9; border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; font-weight: bold; padding: 3px 6px; text-align: center;}
.matrixItem		{border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; padding: 3px 6px; text-align: left;}

/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 14px; font-weight: bold; color: #FF8C00; padding: 6px !important;border-bottom:1px solid #ddd; }
.productsCategoryDesc	{background: #E9E9E9; padding: 6px !important; }
.productsDelimiter 		{background: #E9E9E9; padding: 0px !important;}
.productsDelimiterTop 	{background: #E9E9E9; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px solid #ddd;}
.hDelimiter {background: #E9E9E9; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs { list-style: none;height: 31px;padding-left: 10px;}
.DetailTabs li{float: left;margin: 0 2px 0 0;}
.DetailTabs a.tabActive,.DetailTabs a.tab{
	line-height:30px;
	height: 26px;
	border-bottom: 0px;
	font-weight: bold;
	padding:4px 9px;
}
.DetailTabs a.tab{color: #000;}
.DetailTabs a.tabActive{background: #DC0708; color: #fff;text-decoration: none;}
.DetailTabs a.tab:hover{color:#fff;background: #DC0708;text-decoration: none;}

.DetailTabs li 			
.DetailTabs li.tab 		
.DetailTabs li.tabActive
.DetailTabs a.tab		
	
.DetailTabs a.tabActive	
.DetailTabs a.tabActive:hover

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #E9E9E9; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #E9E9E9; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #D9D9D9; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding-top: 14px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{text-align: left; clear: right; display: block;}
.offerItem 			{text-align: left; padding: 8px;}
.offerImg			{float: left; border: 0; margin-right: 10px; margin-bottom: 10px;} 
.offerText			{text-align: left;}
.offerItem 
a.buttonMore		{display: block;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumMessageLeft 	{background: #F4F4F4; border-left: 1px solid #D5D5D5; border-top: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5;}
.forumMessageRight 	{background: #F4F4F4; border: 1px solid #D5D5D5;}
.forumMessageTop 		{background: #E9E9E9; border-bottom: 1px solid #D5D5D5;}
/*** Forum ***/

/*** Footer ***/
.footerMenu	{text-align: center; font-size: 11px;}
.footerMenu	span {padding: 0px 0px 0px 5px;}
.footerHTML	{text-align: center; padding: 10px;}
.footerImg	{text-align: right; padding: 0px 10px 0px 0px;}
.footerImg img        {width: 76px; height: 2px; border:0px;background-position: left bottom;}
.footerImg img:hover {background-position: left top;}
/*** Footer ***/

/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background: url(../images/default/admin-tabs-bgr-light.gif); height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #919B9C;}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: #E9E9E9; border: 1px solid #919B9C; border-bottom: none; cursor: pointer; font: 11px/18px Verdana, sans-serif; margin: 8px 2px 0px 2px; padding: 2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background: #F4F4F4; border: 1px solid #919B9C; border-top: 2px solid #919B9C; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin: 3px 2px 0px 2px; padding: 4px 8px 4px 8px; white-space: nowrap;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
.priceBlock {color: black; font-weight: bold;}
.priceBlock .price {color: #0099CC; font-weight: bold;}
.priceBlock .priceTax {color: #cf1919;font-weight: normal;}

.priceBlockOld {color: #9b9b9b; text-decoration: line-through;}
.priceBlockOld .price {font-weight: normal;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #000; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #000; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: black; font-weight: bold; border: none; background: transparent;}
.salesPrice {color: #cf1919; font-weight: bold;}
.salesTax {color: #cf1919; font-weight: normal;}

.priceSaveBlock {color: #0A0; font-weight: bold;}
.priceSaveBlock .price {font-weight: bold;}
.priceSaveBlock .percent {font-weight: normal;}

.pointsPriceBlock {color: black; font-weight: bold;}
.pointsPriceBlock .points {color: black; font-weight: bold;}

.rewardPointsBlock {color: black; font-weight: bold;}
.rewardPointsBlock .points {color: black; font-weight: bold;}

.rewardCreditsBlock {color: black; font-weight: bold;}
.rewardCreditsBlock .credits {color: black; font-weight: bold;}

.stockLevel {color: black; font-weight: bold;}


/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #CCCCCC;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #F4F4F4; border: 1px solid #78C7FF;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #78C7FF;}
.shipping-img-close	img {margin: 10px 10px 5px 0px;}
.shipping-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 20px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #FFFFFF; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}


#categories_box select	{display: block; margin: 0px 0px 5px 0px;}
#categories_box a	{display: inline-block; background: #E8E8E8; border: 1px solid #93BDFD; padding: 3px 10px; text-decoration: none; margin-bottom: 5px;}

/*Addition to Stan template TopTitleBgr for 4.06 version and multi layout*/
.TopTitleBgr{
	font-size:  13px;
    color: #0099CC;
    margin: 5px;
    font-weight: bold;
    padding: 6px; }

/**************************************************************/

.searchIco .searchField {border: 1px solid #7ABACC;vertical-align: middle;margin:0 0 0 10px;}
.searchSubmit {text-indent:-9999px;  border: none;height: 63px; width: 45px; vertical-align: middle;background: url("../images/sunny/go_button.png") no-repeat scroll 0 0 transparent;}
.searchSubmit:hover {background: url("../images/sunny/go_button.png") no-repeat scroll 0 -63px transparent;}
.headerLanguage {padding: 5px;}
.headerLanguage span, .headerCurrency span{float: left;padding: 4px 5px 0px 0px; font-weight: bold; color: #0099CC;}

.headerLanguage a, .headerCurrency a {text-decoration:none;}
.headerCurrency {padding: 5px; overflow: hidden;}
.padd3{padding:0 6px !important;}
.wrapContent{
    background: none
    border-radius: 3px 3px 3px 3px;
    height: 1%;
    overflow: hidden;
    padding: 0px;
    position: relative;
    z-index: 1;}
.BlockBottom {margin-bottom: 5px;}
.TopTitleBgr h1{padding-left: 5px; font-size: 16px; }

.MiddleCenter{padding: 9px;}
.header {
    background: url("../images/sunny/sunnyHeader.png") no-repeat scroll center 0;}
    
.categoryStripe a{color: #000; font-size: 14px; font-weight: bold;}
.categoryStripe a:hover{color: #3E3EAB;}

/*Sliding Cart Styles*/
.vi-block-cart,.vi-block-cart.empty  {background: url("../images/sunny/basket.png") no-repeat scroll 0 0 transparent; padding: 0px 10px 20px 70px;height: 50px;}
.vi-block-cart.full {background-position:0 -70px;}  
.cartIco full {font-color: red;}
/*/Sliding Cart Styles*/

/*viewer-toggle-nav*/
.viewer-toggle-nav{float:right;}

.viewer-toggle-nav div.menu-viewer-toggle-container {
    display: inline-block;
}
.viewer-toggle-nav {
    margin: -5px 0 0 0;
}
.viewer-toggle-nav li {
    display: inline-block;
    list-style: none outside none;
}
.viewer-toggle-nav  li:first-child a.active{
    background-position: 0 0;
    color: #333333;
}
.viewer-toggle-nav li:last-child a.active {
    background-position: -35px 0;
    color: #333333;
}

.viewer-toggle-nav li:first-child a {
    background: url("../images/list_sprite.png") no-repeat scroll 0 -32px transparent; width:0px; 
}
.viewer-toggle-nav li:last-child a {
    background: url("../images/list_sprite.png") no-repeat scroll -32px -32px transparent;
}

.viewer-toggle-nav  li a {
    color: #666666;
    text-transform: uppercase;
    display: inline-block;
    line-height: 31px;
    padding-left: 35px;
	text-decoration:none;
}
.viewer-toggle-nav  li a:hover {text-decoration:none;}
/*viewer-toggle-nav*/

/*Css class for blocks such as sliders and banners*/
.no-borders, .no-borders  .BlockMiddle, .no-borders .padding10px, .no-borders .TopTitleBgr div, .no-borders .BlockMiddle a img  {border:0; background:none; padding:0;}
