<script type="text/javascript" src="js/video.js"></script>
<div class="block-articles-list {block_class}" style="{block_style}">
<h2 class="blockTitle">{block_title}</h2>

	<div class="BlockData">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<!-- begin search_and_navigation -->
			<tr class="middlebg"> 
				<td valign="top">
					<table width="100%" border="0" cellspacing="2" cellpadding="3">
						<tr>
							<!-- begin search_results --><td>&nbsp;&nbsp;&nbsp;&nbsp;{FOUND_ARTICLES_MSG}</td><!-- end search_results -->
							<!-- begin navigator_block --><td align="right" nowrap="nowrap">&nbsp;{navigator}&nbsp;</td><!-- end navigator_block -->
						</tr>
					</table>
				</td>
			</tr>
			<!-- end search_and_navigation -->
			<tr class="usualbg"> 
				<td valign="top">
					<!-- begin no_items -->
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr><td align="center" class="padding10px">{NO_ARTICLES_MSG}</td></tr>
					</table><!-- end no_items -->

					<table width="100%" border="0" cellspacing="0" cellpadding="0"><!-- BEGIN items_rows -->
						<tr><!-- BEGIN items_cols -->
							<td valign="top" width="{item_column}" class="padding10px">
								<a name="a{a_name}"></a>
								<table width="100%" border="0" cellspacing="0" cellpadding="3">
									<tr>
										<td>
											<h2 class="listing {product_new_class} {restricted_class}"><a class="bigtitle" href="{details_url}">{article_title}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a>
											<!-- begin reviews -->
											&nbsp;<a href="{reviews_url}"><img class="{rating_image}" src="images/tr.gif" alt="{rating_alt}" align="top" border="0" /></a><!-- end reviews -->
											</h2>

											<!-- begin found_in_category -->
											<div class="smallText">{FOUND_IN_MSG}: <!-- BEGIN found_categories -->
											<a class="smallText {restricted_cat_class}" href="{list_href}?category_id={ic_id}">{article_category}<!--begin restricted_cat_image--><img src="images/tr.gif" alt="" class="{restricted_cat_class}" /><!--end restricted_cat_image--></a>{ic_separator} <!-- END found_categories -->	
											</div><!-- end found_in_category -->

											<!-- begin author_block -->
											<!-- begin author_name_block --><b>{author_name}</b> <!-- end author_name_block -->
											<!-- begin author_email_block -->&lt;{author_email}&gt;<!-- end author_email_block -->
											<!-- begin author_url_block --> <a href="{author_url}" target="_blank">{author_url}</a><!-- end author_url_block -->
											<!-- end author_block -->

											<!-- begin date_block -->
											<div class="articleDate">
											<!-- begin article_date_block -->{article_date}<!-- end article_date_block --> 
											<!-- begin date_end_block --> &ndash; {date_end}<!-- end date_end_block --> 
											</div>
											<!-- end date_block -->

											<div align="justify">
												<!-- begin flash_player_block -->
												<script type="text/javascript">
												//<![CDATA[
												flashplayer('{stream_video}','{stream_video_preview}','{stream_video_width}','{stream_video_height}','no','');
												//]]>
												</script>
												<!-- end flash_player_block -->
												<!-- begin windows_media_block-->
												<script type="text/javascript">
												//<![CDATA[
												mediaplayer('{stream_video}','{stream_video_width}','{stream_video_height}','false');
												//]]>
												</script>
												<!-- end windows_media_block-->
												<!-- begin image_large_block --><a href="{details_url}"><img src="{src}" {width} {height} border="0" hspace="5" align="left" alt="{alt}" /></a><!-- end image_large_block -->
												<!-- begin image_small_block --><a href="{details_url}"><img src="{src}" {width} {height} border="0" hspace="5" align="left" alt="{alt}" /></a><!-- end image_small_block -->
												<!-- begin short_description_block -->
												{short_description}
												<a class="buttonMore" href="{details_url}"><span><b>{READ_MORE_MSG}</b></span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
												<!-- end short_description_block -->
												{full_description}
											</div> 

											<!-- begin link_url_block --><div align="justify"><b>{LINK_URL_MSG}</b>: <a href="{link_url}" target="_blank">{link_url}</a></div><!-- end link_url_block -->
											<!-- begin download_url_block --><div align="justify"><b>{DOWNLOAD_URL_MSG}</b>: <a href="{download_url}" target="_blank">{download_url}</a></div><!-- end download_url_block -->
											<!-- begin notes_block --><div align="justify"><b>{NOTES_MSG}</b>: {notes}</div><!-- end notes_block -->
											<!-- begin keywords_block --><div align="justify"><b>{KEYWORDS_MSG}</b>: {keywords}</div><!-- end keywords_block -->
										</td>
									</tr>
								</table>
							</td><!-- END items_cols -->
						</tr><!-- begin delimiter -->
						<tr>
							<td colspan="{total_columns}" class="hDelimiter"><img src="images/tr.gif" alt="" /></td>
						</tr><!-- end delimiter --><!-- END items_rows -->
					</table>
				</td>
			</tr>
			<!-- begin search_and_navigation -->
			<tr class="middlebg"> 
				<td valign="top">

					<table width="100%" border="0" cellspacing="2" cellpadding="3">
					<tr>
						<!-- begin search_results --><td>&nbsp;&nbsp;&nbsp;&nbsp;{FOUND_ARTICLES_MSG}</td><!-- end search_results -->
						<!-- begin navigator_block --><td align="right" nowrap="nowrap">&nbsp;{navigator}&nbsp;</td><!-- end navigator_block -->
					</tr>
					</table>

				</td>
			</tr>
			<!-- end search_and_navigation -->
		</table>
	</div>
</div>