<div class="block-products-recommended {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<!-- BEGIN pr_rows -->
			<tr>
				<!-- BEGIN pr_cols -->
				<td align="left" valign="top" width="{pr_column}" class="padding10px">
					<table border="0" cellspacing="0" cellpadding="2">
					<tr>
						<td colspan="2"><a class="title {product_new_class} {restricted_class}" href="{product_details_url}" title="{a_title}">{item_name}<!--begin product_new_image--><img src="images/tr.gif" alt="" class="{product_new_class}" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></td>
					</tr>
					<tr valign="top">
						<td>
							<!-- begin pr_small_image --><a href="{product_details_url}" title="{a_title}"><img src="{src}" {width} {height} align="left" border="0" hspace="0" alt="{alt}" /></a><!-- end pr_small_image -->
						</td>
						<td width="100%">
							<!-- begin pr_price_block -->
							<div class="{price_block_class}">{PRICE_MSG}:&nbsp;<span class="price">{pr_price}</span> <span class="priceTax">{pr_tax_price}</span></div><!-- end pr_price_block -->
							<!-- begin pr_sales -->
							<div class="salesBlock">{OUR_PRICE_MSG}:&nbsp;<span class="salesPrice">{pr_sales_price}</span> <span class="salesTax">{pr_tax_sales}</span></div><!-- end pr_sales -->
							<!-- begin pr_availability -->
							{PROD_AVAILABILITY_MSG}: {shipping_time_desc}
							<!-- end pr_availability -->
							<div align="justify">
								{short_description} <a class="buttonMore" href="{product_details_url}" title="{a_title}"><span><b>{READ_MORE_MSG}</b>.</span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
							</div>
						</td>
					</tr></table>
				</td><!-- END pr_cols -->
			</tr><!-- END pr_rows -->
		</table>

		<!-- begin pr_navigator_block -->
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="right" class="padding10px">&nbsp;{pr_navigator}&nbsp;</td></tr>
		</table><!-- end pr_navigator_block -->
	</div>
</div>