<div class="block-products-users-bought {block_class}" style="{block_style}">        <h2 class="blockTitle">{block_title}<div style="text-transform:none; float:right;">{TOTAL_MSG}:&nbsp;{total_records}</div></h2>
	<div class="BlockData">
		<table width="100%" cellspacing="1" cellpadding="1" border="0">
				<!-- begin ubi_titles --><!-- begin fn_title --><!-- end fn_title --><!-- begin ln_title --><!-- end ln_title -->
				<!-- begin name_title --><!-- end name_title --><!-- begin nickname_title --><!-- end nickname_title -->
				<!-- begin cn_title --><!-- end cn_title --><!-- begin email_title --><!-- end email_title -->
				<!-- begin country_title --><!-- end country_title --><!-- begin state_title --><!-- end state_title -->
				<!-- begin od_title --><!-- end od_title --><!-- begin title_separator --><!-- end title_separator -->
				<!-- end ubi_titles -->
			<tr>
				<td class="middlebg lineTop"><img src="images/tr.gif" width="1" height="1" /></td>
			</tr>
			<!-- BEGIN ubi_rows -->
			<tr>
				<!-- BEGIN ubi_row -->
				<!-- begin fn_block -->
				<td>                                    {FIRST_NAME_FIELD} : {first_name}<br /><!-- end fn_block -->
                    <!-- begin ln_block -->
                    {LAST_NAME_FIELD} : {last_name}<br /><!-- end ln_block -->
                    <!-- begin name_block -->
                    {NAME_MSG} : {name}<br /><!-- end name_block -->
                    <!-- begin nickname_block -->
                    {NICKNAME_FIELD} : {nickname}<br /><!-- end nickname_block -->
                    <!-- begin cn_block -->
                    {COMPANY_NAME_FIELD} : {company_name}<br /><!-- end cn_block -->
                    <!-- begin email_block -->
                    {EMAIL_FIELD} : {email}<br /><!-- end email_block -->
                    <!-- begin country_block -->
                    {COUNTRY_FIELD} : {country_name}<br /><!-- end country_block -->
                    <!-- begin state_block -->
                    {STATE_FIELD} : {state_name}<br /><!-- end state_block -->
                    <!-- begin od_block -->
                    {DATE_OF_PURCHASE_MSG} : {order_placed_date}<br />                                </td><!-- end od_block -->
				<!-- begin row_separator --><!-- end row_separator -->
				<!-- END ubi_row -->
			</tr>
			<tr>
				<td class="middlebg lineTop"><img src="images/tr.gif" width="1" height="1" /></td>
			</tr><!-- END ubi_rows -->
			<!-- begin ubi_navigator_block -->
			<tr>
				<td align="right">&nbsp;{ubi_navigator}&nbsp;</td>
			</tr><!-- end ubi_navigator_block -->
		</table>
	</div>
</div>
