<div class="block-password-forgot {block_class}" style="{block_style}">
<h2 class="blockTitle">{block_title}</h2>
	<div class="BlockData">
		<form action="{forgot_password_href}" name="profile" method="post">
			<!-- BEGIN forgot_error -->
			<div class="errorbg"><b>{error_desc}</b></div><!-- END forgot_error -->
			<!-- BEGIN forgot_message -->
			<div class="messagebg"><b>{message_desc}</b></div><!-- END forgot_message -->
			<div class="padding6px">{FORGOT_PASSWORD_DESC}</div>
			<div class="padding6px">							<input class="field" type="email" size="40" name="email" value="{email}" /><br />
				<input class="submit" type="submit" value="{SUBMIT_BUTTON}" />								<div class="clearboth"></div>						</div>
		</form>
	</div>
</div>