<!-- BEGIN top_element -->
<style type="text/css">
@import "./styles/tree.css";
</style>
<script src="./js/ajax.js"></script>
<script src="./js/tree.js"></script>
<script>
onload = function() {<!-- BEGIN tree_js --> tree("{tree_type}", {pb_id}); <!-- END tree_js -->}
</script>
<div class="block-site-map {block_class}" style="{block_style}">
    <h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">

<!-- BEGIN custom_element -->
	<div class="padding10px">
		<table border="0" cellpadding="1" cellspacing="0" width="100%">
			<!-- BEGIN row_element -->
			<tr>
				<!-- BEGIN item_element -->
				<td width="33%">
					<a href="{item_url}">{item_name}</a>
				</td>
				<!-- END item_element -->
			</tr>
			<!-- END row_element -->
		</table>
	</div>
<!-- END custom_element -->
	<div class="padding10px">
		<!-- BEGIN item -->
		<ul class="Container" id="{type}">
			<li class="Node IsRoot IsLast {sub_class}" id="{categori_id}">
				<div class="Expand"></div>
				<div class="Content"><a href="{item_url}">{item_name}</a></div>
				<ul class="Container">
				</ul>
			</li>
		</ul>
		<!-- END item -->
	</div>

	</div>

</div>
<!-- END top_element -->

<!-- BEGIN sub_element -->
  	<li class="Node {sub_class}" id="{categori_id}"> <!-- sub_class ExpandClosed/ExpandLeaf -->
		<div class="Expand"></div>
		<div class="Content"><a href="{item_url}">{item_name}</a></div>
		<ul class="Container">
		</ul>
	</li>
<!-- END sub_element -->
<!-- BEGIN manufacturers_element -->
	<div class="padding10px">
		<table border="0" cellpadding="1" cellspacing="0" width="100%">
			<!-- BEGIN row_element -->
			<tr>
				<!-- BEGIN item_element -->
				<td width="33%">
					<a href="{item_url}">{item_name}</a>
				</td>
				<!-- END item_element -->
			</tr>
			<!-- END row_element -->
		</table>
	</div>
<!-- END manufacturers_element -->
