<div class="block-checkout-final {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="usualbg padding10px" style="padding: 20px;">{final_message}</div>
	</div>
</div>