<script type="text/javascript" src="js/attachments.js"></script>
<div class="block-support-reply {block_class}" style="{block_style}">
    <!-- begin global_errors --><div class="errorbg">{errors_list}</div><br /><!-- end global_errors -->
    <h2 class="blockTitle">{block_title}</h2>    <!-- begin request_info -->
        <div class="BlockData">
            <table border="0" cellspacing="1" width="100%" class="padding6px">
            <tr valign="top">
                <td width="25%" class="middlebg">
                    {SUPPORT_PRODUCT_FIELD}
                </td>
                <td class="usualbg" >
                    {product_name}
                </td>
            </tr>
            <tr valign="top">
                <td width="25%" class="middlebg">
                    {SUPPORT_ENVIRONMENT_FIELD}
                </td>
                <td class="usualbg">
                    {environment}
                </td>
            </tr>
            <tr valign="top">
                <td width="25%" class="middlebg">
                    {SUPPORT_TYPE_FIELD}
                </td>
                <td class="usualbg">
                    {type}
                </td>
            </tr>
            <tr valign="top">
                <td width="25%" class="middlebg">
                    {SUPPORT_CURRENT_STATUS_FIELD}
                </td>
                <td class="usualbg">
                    {current_status}
                </td>
            </tr>
            <tr valign="top">
                <td width="25%" class="middlebg">
                    {SUPPORT_ADDED_FIELD}
                </td>
                <td class="usualbg">
                    {request_added}
                </td>
            </tr>
            <tr valign="top">
                <td width="25%" class="middlebg">
                    {SUPPORT_UPDATED_FIELD}
                </td>
                <td class="usualbg">
                    {date_modified}
                </td>
            </tr>
            <tr valign="top">
                <td width="25%" class="middlebg">
                    {SUPPORT_SUMMARY_FIELD}
                </td>
                <td class="usualbg">
                    {summary}
                </td>
            </tr>
            </table>	

        </div>
    <!-- end request_info -->

    <!-- begin reply_form -->
    <a name="reply_form"></a>
    <form action="{support_messages_href}?support_id={support_id}&vc={vc}#reply_form" name="reply" method="post">
    <input type="hidden" name="rnd" value="{rnd}" />
    <input type="hidden" name="support_id" value="{support_id}" />
    <input type="hidden" name="action" value="save" />
    <input type="hidden" name="attachments_url" value="{user_support_attachments_url}" />
    <input type="hidden" name="page" value="{page}" />
    <h2 class="blockTitle">{SUPPORT_REPLY_FORM_TITLE}</h2>

        <div class="BlockData">
            <table border="0" cellspacing="1" width="100%" class="padding6px"><!-- BEGIN errors -->
                <tr class="usualbg">
                    <td colspan="2" align="center">
                        <div class="errorbg">{errors_list}</div>
                    </td>
                </tr><!-- END errors -->
                <!-- begin attachments_block -->
                <tr class="usualbg">
                    <td>
                        <a href="#" onclick="attachFiles(document.reply);return false;">{ATTACHMENTS_MSG}</a>
                        <a href="#" onclick="attachFiles(document.forum);return false;"><img src="images/clip.gif" align="top" border="0" width="16" height="16" /></a>
                    </td>
                    <td>
                        <div id="attachmentsBlock" style="{attachments_class}">
                            <a href="#" onclick="attachFiles(document.reply);return false;">Attached Files</a>:&nbsp;
                            &nbsp;<span id="attachedFiles">{attached_files}</span>
                        </div>
                    </td>
                </tr><!-- end attachments_block -->
                <tr class="usualbg">
                    <td>
                        {SUPPORT_MESSAGE_FIELD} *
                    </td>
                    <td>
                        <textarea class="text" name="message_text" cols="60" rows="10">{response_message}</textarea>
                    </td>
                </tr>
                <tr class="middlebg">
                    <td colspan="2">
                        <input class="submit" type="submit" value="{SUPPORT_REPLY_BUTTON}" />
                        <input class="submit" id="clear" type="button" value="{CLEAR_BUTTON}" onclick="document.reply.message_text.value=''" />
                        <input class="submit" id="reset" type="reset" value="{RESET_BUTTON}" />
                        <div class="clearboth"></div>                                            </td>
                </tr>
            </table>	
        </div>    </form><!-- end reply_form -->

    <!-- BEGIN records -->
    <br />
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
        <tr class="headerbg"> 
            <td class="blockTD">
                <table border="0" cellspacing="1" width="100%" class="padding6px">
                    <tr valign="top">
                        <td class="middlebg" width="25%">
                            {STATUS_MSG}
                        </td>
                        <td class="usualbg">
                            {status}
                        </td>
                    </tr>
                    <tr valign="top">
                        <td class="middlebg">
                            {SUPPORT_ADDED_BY_FIELD}
                        </td>
                        <td class="usualbg">
                            {posted_by}
                        </td>
                    </tr>
                    <tr valign="top">
                        <td class="middlebg">
                            {SUPPORT_ADDED_FIELD}
                        </td>
                        <td class="usualbg">
                            {date_added}
                        </td>
                    </tr>
                    <tr valign="top">
                        <td class="middlebg">
                            {viewed_by}
                        </td>
                        <td class="usualbg">
                            {date_viewed}
                        </td>
                    </tr>
                    <!-- begin message_attachments -->
                    <tr valign="top">
                        <td class="middlebg">
                            {ATTACHMENTS_MSG}
                        </td>
                        <td class="usualbg">
                            {attachments_files}
                        </td>
                    </tr>
                    <!-- end message_attachments -->
                    <tr>
                        <td colspan="2" class="usualbg">
                            {message_text}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table><!-- END records -->
    <!-- begin navigator_block -->
    <br />
    <div class="padding6px" align="right">{navigator}</div><!-- end navigator_block -->
</div>
