<div class="block-manuals-list {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
			<!-- begin no_manuals --><div class="messagebg">{NO_MANUALS_MSG}</div><!-- end no_manuals -->
			<!-- begin categories -->
			<div class="middlebg padding6px"><a href="{category_href}" class="bigtitle">{cat_name}</a></div>
			<div>{category_short_description}</div>
			<div class="padding10px">
				<!-- begin manuals -->
				<div class="padding6px">
					<div class="title"><a href="{manual_href}" class="{restricted_class}">{manual_title}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>
					<div class="comment">{short_description}</div>
				</div>
				<!-- end manuals -->
			</div>
			<!-- end categories -->
		</div>
	</div>
</div>