<div class="block-custom-page-body {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding6px">
			{page_body}
		</div>
	</div>
</div>