<div class="block-user-change-password {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<form action="{user_change_password_href}" name="profile" method="post">
		<input type="hidden" name="action" value="save" />
		<input type="hidden" name="return_page" value="{return_page}" />
		<!-- BEGIN errors --><div align="center" class="errorbg">{errors_list}</div><!-- END errors -->
		<table cellspacing="1" width="100%" border="0" class="padding6px">
		<tr class="usualbg" width="30%">
			<td>{ENTER_YOUR_MSG} <b>{CURRENT_PASS_FIELD}</b> <span class="required">*</span></td>
			<td width="70%"><input class="text" type="password" name="current_password" value="{current_password}" /></td>
		</tr>
		<tr class="usualbg">
			<td>{CHOOSE_A_MSG} <b>{NEW_PASS_FIELD}</b> <span class="required">*</span></td>
			<td><input class="text" type="password" name="password" value="{password}" /></td>
		</tr>
		<tr class="usualbg">
			<td><b>{CONFIRM_PASS_FIELD}</b> <span class="required">*</span></td>
			<td><input class="text" type="password" name="confirm" value="{confirm}" /></td>
		</tr>
		<tr class="middlebg" >
			<td colspan="2">
				<input class="submit" type="submit" value="{UPDATE_BUTTON}" onclick="document.profile.action.value='save'" />
				<input class="submit" id="cancel" type="submit" value="{CANCEL_BUTTON}" onclick="document.profile.action.value='cancel'" />								<div class="clearboth"></div>
			</td>
		</tr>
		</table>
		</form>
	</div>
</div>