<div class="block-ads-top-viewed {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>
	<div class="BlockData">
		<div class="usualbg padding10px">
			<table width="100%" border="0" cellspacing="0" cellpadding="2"><!-- BEGIN top_viewed_rows -->
			<tr><!-- BEGIN top_viewed_cols -->
				<td align="left" valign="top" width="{top_viewed_column}">
					<div class="top">
						<b>{top_position}.</b> 
						<a class="top10 {restricted_class}" href="{ads_details_url}">{item_title}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a> 
						(<b>{total_views}</b>)
					</div>
				</td><!-- END top_viewed_cols -->
			</tr><!-- END top_viewed_rows -->
			</table>
		</div>
	</div>
</div>