<div id="pb_{pb_id}" class="block-cart-simple {block_class}" style="{block_style}">
	<form name="small_cart" action=""><input type="hidden" name="pb_id" value="{pb_id}" /></form>
	<!-- begin empty_small_cart -->
	<div class="padding10px">
		<table width="100%" cellspacing="0" border="0" class="paddingCart">
			<tr class="middlebg cartTitle">
				<td align="center"><b>{SMALL_CART_TITLE}</b></td>
			</tr>
			<tr class="cartItem">
				<td align="center">{EMPTY_CART_MSG}</td>
			</tr>
		</table>	
	</div><!-- end empty_small_cart -->
	<!-- begin small_cart -->
	<div class="padding10px">
		<table width="100%" cellspacing="0" border="0" class="paddingCart">
			<tr class="middlebg cartTitle">
				<td colspan="2" align="center"><b>{SMALL_CART_TITLE}</b></td>
			</tr>
			<tr class="cartItem">
				<td align="center"><b>{PROD_QTY_COLUMN}</b></td><td align="right"><b>{TOTAL_MSG}</b></td>
			</tr>
			<tr class="cartItem">
				<td align="center">{total_quantity}</td><td align="right">{total_price}</td>
			</tr>
			<tr>
				<td colspan="2" align="center" class="butTd">
					<a class="buttonCart button-check" id="check" href="{checkout_href}"><span>{GOTO_CHECKOUT_MSG}</span><img src="images/tr.gif" alt="{GOTO_CHECKOUT_MSG}" /></a>
					<span class="spacer">&nbsp;|&nbsp;</span>
					<a class="buttonCart button-view" id="view" href="{basket_href}"><span>{VIEW_CART_MSG}</span><img src="images/tr.gif" alt="{VIEW_CART_MSG}" /></a>
				</td>
			</tr>
		</table>
	</div><!-- end small_cart --></div>