<div class="block-user-payment {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
			<tr class="middlebg" align="center">
				<td>{sorter_item_name}</td>
				<td>{sorter_amount}</td>
				<td>{sorter_type}</td>
				<td>{sorter_date}</td>
			</tr><!-- end sorters --><!-- BEGIN records -->
			<tr class="usualbg" valign="top" align="center">
				<td align="left">{item_name}</td>
				<td align="right">{commission_amount}</td>
				<td>{commission_type}</td>
				<td>{date_added}</td>
			</tr><!-- END records --><!-- BEGIN no_records -->
			<tr class="usualbg">
				<td colspan="4">{NO_COMMISSIONS_MSG}</td>
			</tr><!-- END no_records -->
			<tr class="middlebg" valign="top" align="center">
				<td align="left">{TOTAL_MSG}</td>
				<td align="right">{commissions_total}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>	
	</div>
</div>