<script language="JavaScript" type="text/javascript">
//<![CDATA[
var compareMinAllowed = "{COMPARE_MIN_ALLOWED_MSG}";
var compareMaxAllowed = "{COMPARE_MAX_ALLOWED_MSG}";
//]]>
</script>
<div class="block-products-recently-viewed {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">

		<form action="{compare_href}" name="{compare_name}" method="get">
			<input type="hidden" name="items" value="" />
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<!-- begin recently_viewed_rows -->
				<tr>
				<!-- begin recently_viewed_cols -->
					<td align="left" valign="top" class="top padding10px" width="{recent_viewed_column}">

						<!-- begin top_image --><a href="{details_href}" title="{a_title}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{alt}" align="left" /></a><!-- end top_image -->
			  
						<b>{top_position}.</b> 
						<a class="{product_new_class} {restricted_class}" href="{details_href}" title="{a_title}">{top_name}<!--begin product_new_image--><img src="images/tr.gif" alt="" class="{product_new_class}" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a> 
						<!-- begin top_value_block -->
						- <b>{top_value}</b> {top_tax_price}
						<!-- end top_value_block -->

						<!-- begin top_desc -->
						<br />{desc_text}
						<!-- end top_desc -->

						<!-- begin recent_compare -->
						<div align="right">
							<input type="checkbox" name="compare" value="{item_id}" />
							<a class="smallText" href="#" onclick="return compareRecentItems('{compare_name}');"><b>{COMPARE_MSG}</b></a>
						</div><!-- end recent_compare -->

					</td><!-- end recently_viewed_cols -->
				</tr><!-- end recently_viewed_rows -->
			</table>
		</form>
	</div>
</div>
