<div class="block-site-search-results {block_class}" style="{block_style}">
    <h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
			<!-- begin no_results -->
			<div class="messagebg">Your search - <b>{query}</b> - did not match any documents.</div>
			<!-- end no_results -->

			<!-- begin ss_items -->
			<!-- begin navigator_block -->
			<div align="right" class="middlebg padding6px">{navigator}</div>
			<!-- end navigator_block -->
			<!-- BEGIN ss_rows -->
			<div class="padding6px">
				<div><a class="title" href="{details_url}">{ss_title}</a></div>
				<div>{ss_desciption}</div>
				<div class="link">{ss_url}</div>
			</div>
			<!-- END ss_rows -->
			<!-- begin navigator_block -->
			<div align="right" class="middlebg padding6px">{navigator}</div>
			<!-- end navigator_block -->
			<!-- end ss_items -->
		</div>
	</div>
</div>
