<!-- begin found_categories -->
    <div class="BlockTop">
        <div class="TopCenter">
            <div class="TopLeftBgr">
                <div class="TopRightBgr">
                    <div class="TopLeft"></div>
                    <div class="TopRight"></div>
                    <div class="TopTitle">
                        <div class="TopTitleBgr foundTitle"><h1>Найдено в категориях:</h1></div>                 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding10px">
        <!-- begin found_category -->
        <a href="{url}">{name}</a> <br />
        <!-- end found_category -->
    </div>
<!-- end found_categories -->

<!-- begin found_shops -->
    <div class="BlockTop">
        <div class="TopCenter">
            <div class="TopLeftBgr">
                <div class="TopRightBgr">
                    <div class="TopLeft"></div>
                    <div class="TopRight"></div>
                    <div class="TopTitle">
                        <div class="TopTitleBgr foundTitle"><h1>Найдено в продавцах:</h1></div>                 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding10px">
        <!-- begin found_shop -->
        <a href="{url}">{name}</a> <br />
        <!-- end found_shop -->
    </div>

<!-- end found_shops -->