<div class="block-forum-top-viewed {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="usualbg padding10px">
			<table width="100%" border="0" cellspacing="0" cellpadding="2"><!-- BEGIN top_viewed_rows -->
			<tr><!-- BEGIN top_viewed_cols -->
				<td align="left" valign="top" width="{top_viewed_column}">
					<div class="top">
						<b>{top_position}.</b><!--begin block_topic-->
						<img src="./images/icons/closed.gif" alt="Restricted Topic" border="0" align="absmiddle" /><!--end block_topic-->
						<a class="top10" href="{forum_topic_url}">{topic_title}</a> 
						(<b>{total_views}</b>)						
					</div>
				</td><!-- END top_viewed_cols -->
			</tr><!-- END top_viewed_rows -->
			</table>
		</div>
	</div>
</div>