<div class="block-manufacturer-info {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
			<!-- begin manufacturer_image --><img src="{src}" {width} {height} border="0" align="left" alt="{alt}" class="ImgFloatLeft" /><!-- end manufacturer_image -->
			{manufacturer_info}
		</div>
	</div>
</div>