<div class="block-products-top-viewed {block_class}" style="{block_style}">
    <h2 class="blockTitle">{block_title}</h2>    <div class="BlockData">
		<table width="100%" border="0" cellspacing="0" cellpadding="3">
			<!-- BEGIN top_viewed_rows -->
			<tr>
				<!-- BEGIN top_viewed_cols -->
				<td align="left" valign="top" class="top" width="{top_viewed_column}">
					<!-- begin top_image --><a href="{product_url}" title="{a_title}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{alt}" align="left" /></a><!-- end top_image -->
					<b>{top_position}.</b> <a class="top10 {product_new_class} {restricted_class}" href="{product_url}" title="{a_title}">{item_name}<!--begin product_new_image--><img src="images/tr.gif" alt="" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a> (<b>{total_views}</b>)
					<!-- begin top_desc --><br />{desc_text}<!-- end top_desc -->
				</td><!-- END top_viewed_cols -->
			</tr><!-- END top_viewed_rows -->
		</table>
	</div></div>