<div class="block-content {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="usualbg padding10px">
			<ul>
				<!-- BEGIN content_items --><li><a class="top10" href="{a_name}">{content_item_name}</a></li><!-- END content_items --> 
			</ul>
		</div>
	</div>
</div>