<div class="block-top-rated {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="usualbg padding10px">
			<!-- BEGIN top_rated_items -->
			<div class="top"><!-- begin top_image -->
				<a href="{details_href}" title="{a_title}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{alt}" align="left" /></a><!-- end top_image -->
				<b class="position">{top_position}.</b> 
				<a class="top10 {product_new_class} {restricted_class}" href="{details_href}" title="{a_title}">{top_name}<!--begin product_new_image--><img src="images/tr.gif" alt="" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a>
				<span>(<b>{top_rating}</b>)</span><!-- begin top_desc -->
				<div>{desc_text}</div><!-- end top_desc -->
			</div><!-- END top_rated_items --> 		</div>
	</div>
</div>