<div class="block-articles-related {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>
	<div class="BlockData">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"><!-- BEGIN articles_related_rows -->
			<tr><!-- BEGIN articles_related_cols -->
				<td align="left" valign="top" width="{articles_related_column}" class="padding10px">	    
					<div><a href="{details_url}" class="{restricted_class}"><b>{article_title}</b><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>					
					<!--begin article_date_block-->
					<div class="articleDate">{article_date}</div><!--end article_date_block-->
					<div>
						<!-- begin article_image_block -->
						<a href="{details_url}"><img src="{src}" {width} {height} class="ArticleImg" alt="{alt}" /></a><!-- end article_image_block -->					
						<!-- begin article_desc_block-->				    
						<div>{article_desc} &nbsp;<a class="buttonMore" href="{details_url}"><span><b>{READ_MORE_MSG}</b></span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a></div>
						<!-- end article_desc_block-->
					</div>				
				</td><!-- END articles_related_cols -->
			</tr><!-- END articles_related_rows -->
		</table>
		<!-- begin articles_related_navigator_block -->
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="right" class="padding10px">&nbsp;{articles_related_navigator}&nbsp;</td></tr>
		</table><!-- end articles_related_navigator_block -->
	</div>
</div>