<script type="text/javascript">
//<![CDATA[
var requiredProperty = "{REQUIRED_PROPERTY_MSG}";
var addProduct = "{ADD_PRODUCT_MSG}";
var confirmAdd = "{confirm_add}";
var compareMinAllowed = "{COMPARE_MIN_ALLOWED_MSG}";
var compareMaxAllowed = "{COMPARE_MAX_ALLOWED_MSG}";
//]]>
</script>
<div class="block-products-list {block_class}" style="{block_style}">
	<a name="block_products_{pb_id}"></a>
	<form name="products_{pb_id}" method="post" action="{products_form_url}#block_products_{pb_id}">
		<input type="hidden" name="pb_id" value="{pb_id}" />
		<input type="hidden" name="type" value="grid" />
		<input type="hidden" name="rp" value="{rp}" />
		<input type="hidden" name="rnd" value="{rnd}" />
		<input type="hidden" name="cart" value="ADD" />
		<input type="hidden" name="redirect_to_cart" value="{redirect_to_cart}" />
		<input type="hidden" name="multi_add" value="{multi_add}" />
		<input type="hidden" name="add_id" value="" />
		<input type="hidden" name="saved_type_id" value="" />
		<input type="hidden" name="start_index" value="{start_index}" />
		<input type="hidden" name="item_index" value="" />
		<input type="hidden" name="form_id" value="" />
		<input type="hidden" name="items_indexes" value="{items_indexes}" />
		{hidden_parameters}
		<h2 class="blockTitle">{block_title}</h2>		<div class="BlockData">
			<!-- begin search_and_navigation -->
			<div class="padding6px usualbg"><!-- begin search_results -->
				<div class="floatleft">{FOUND_PRODUCTS_MSG}</div><!-- end search_results --><!-- begin navigator_block -->
				<div class="floatright">{navigator}</div><!-- end navigator_block -->
				<div class="clearboth"></div>
			</div><!-- end search_and_navigation -->
			<!-- begin products_sortings --><div class="padding6px middlebg">{PROD_SORT_BY_MSG}: {sorter_default} | {sorter_price} | {sorter_name} | {sorter_manufacturer} | {sorter_code}</div><!-- end products_sortings -->
			<!-- begin no_items -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr><td align="center" class="padding10px">{NO_PRODUCTS_MSG}</td></tr>
			</table><!-- end no_items -->
			<!-- BEGIN item_added --><div class="messagebg" align="center">{added_message}</div><!-- END item_added -->
			<!-- BEGIN sc_errors --><div class="errorbg" align="center">{errors_list}</div><!-- END sc_errors -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<!-- begin category_items -->
				<!-- begin items_category_name -->
				<tr>
					<td colspan="{total_columns}" class="productsCategory">{category_name}</td>
				</tr>
				<!-- end items_category_name -->
				<!-- begin items_category_desc -->
				<tr>
					<td colspan="{total_columns}" class="productsCategoryDesc">{category_desc}</td>
				</tr>
				<!-- end items_category_desc -->
				<!-- BEGIN items_rows -->
				<tr>
					<!-- BEGIN items_cols -->
					<td valign="top" width="{item_column}" class="padding10px {class_item_td}">
						<input type="hidden" name="item_id{form_id}" value="{item_id}" />
						<input type="hidden" name="tax_percent{form_id}" value="{tax_percent}" />
						<input type="hidden" name="product_params{form_id}" value="{product_params}" />
						<table width="100%" border="0" cellspacing="0" cellpadding="3">
						<tr>
							<td>
								<h2 class="listing {product_new_class} {restricted_class}"><a class="bigtitle" href="{product_details_url}" title="{a_title}">{item_name}</a><!--begin product_new_image--><img src="images/tr.gif" alt="" class="{product_new_class}" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></h2>
								<!-- begin found_in_category -->
								<div class="smallText">{FOUND_IN_MSG}: <!-- BEGIN found_categories --><a class="smallText" href="{products_href}?category_id={ic_id}">{item_category}</a>{ic_separator}<!-- END found_categories --></div>
								<!-- end found_in_category -->
							</td>
						</tr>
						<tr>
						  <td valign="top" align="left">
								<!-- begin small_image -->
								<a href="{product_details_url}" title="{a_title}"><img class="productImg" name="image_{form_id}" src="{src}" {width} {height} border="0" alt="{alt}" /></a><!-- end small_image -->
								{product_previews}							
								<!-- begin compare -->
								<div>
									<input type="checkbox" name="compare{form_id}" value="{item_id}" />
									<a href="#" onclick="return compareItems('products_{pb_id}');"><b>{COMPARE_MSG}</b></a>
								</div>

								<!-- end compare -->

								<!-- begin price_block -->
								<div id="price_block_{item_id}" class="{price_block_class}">{PRICE_MSG}:&nbsp;<span id="price_{item_id}" class="price">{price_control}</span> <span class="priceTax">{tax_price}</span></div><!-- end price_block -->
								<!-- begin sales -->
								<div class="salesBlock">{OUR_PRICE_MSG}:&nbsp;<span id="sales_price_{item_id}" class="salesPrice">{sales_price_control}</span> <span class="salesTax">{tax_sales}</span></div><!-- end sales -->
								<!-- begin save -->
								<div class="priceSaveBlock">{YOU_SAVE_MSG}: <span class="price">{you_save}</span> <span class="percent">({discount_percent}%)</span></div><!-- end save -->

								<!-- begin item_code_block -->
								<div class="productCode">{PROD_CODE_MSG}: <b>{item_code}</b></div><!-- end item_code_block -->	
								<!-- begin manufacturer_code_block -->
								<div class="manufacturerCode">{MANUFACTURER_CODE_MSG}: <b>{manufacturer_code}</b></div><!-- end manufacturer_code_block -->	
								<!-- begin reviews -->
								<div class="rating">{RATING_MSG}: <a href="{reviews_url}"><img class="{rating_image}" src="images/tr.gif" alt="{rating_alt}" align="top" border="0" /></a></div><!-- end reviews -->
								<!-- begin properties -->
								<div id="{property_block_id}" style="{property_style}">{property_name}: {property_control}</div><!-- end properties -->
								<!-- begin availability -->
								<div id="block_sm{form_id}" class="productAvailasility" style="{sm_style}">{PROD_AVAILABILITY_MSG}: <b><span id="sm{form_id}" class="smallText">{shipping_time_desc}</span></b></div><!-- end availability -->	
								<!-- begin stock_level_block -->
								<div id="block_sl{form_id}" class="stockLevel" style="{sl_style}">{STOCK_LEVEL_MSG}: <span id="sl{form_id}" class="stockLevel">{stock_level}</span></div><!-- end stock_level_block -->	
								<!-- begin quantity -->
								<div class="productQty">{PROD_QTY_COLUMN}: {quantity_control}</div><!-- end quantity -->	
								<br />
								<!-- begin add_button -->
								<a class="button button-add" id="add{form_id}" href="{buy_href}" onclick="{buy_onclick}"><span>{ADD_TO_CART_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}" /></a> 
								<!-- end add_button -->
								<!-- begin add_button_disabled -->
								<a class="disabled" title="{PRODUCT_OUT_STOCK_MSG}" onclick="alert('{out_stock_alert}');">{ADD_TO_CART_MSG}</a> 
								<!-- end add_button_disabled -->
								<!-- begin view_button -->
								<a class="button button-view" id="view{form_id}" href="{basket_href}?rp={rp_url}"><span>{VIEW_CART_MSG}</span><img src="images/tr.gif" alt="{VIEW_CART_MSG}" /></a> 
								<!-- end view_button -->
								<!-- begin checkout_button -->
								<a class="button button-check" id="check{form_id}" href="{checkout_href}?rp={rp_url}"><span>{GOTO_CHECKOUT_MSG}</span><img src="images/tr.gif" alt="{GOTO_CHECKOUT_MSG}" /></a>
								<!-- end checkout_button -->
								<!-- begin wishlist_button -->
								<a class="button button-wishlist" id="wishlist{form_id}" href="{wishlist_href}" onclick="return confirmBuy('products_{pb_id}','{form_id}','wishlist', 'wishlist{form_id}');"><span>{ADD_TO_WISHLIST_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_WISHLIST_MSG}" /></a> 
								<!-- end wishlist_button -->
							</td>
						</tr>
						</table>

					</td><!-- END items_cols -->
				</tr><!-- begin delimiter -->
				<tr>
					<td colspan="{total_columns}" class="hDelimiter"><img src="images/tr.gif" alt="" /></td>
				</tr><!-- end delimiter -->
				<!-- END items_rows -->
				<!-- begin multi_add_button -->
				<tr>
					<td colspan="{total_columns}" align="right">
						&nbsp;<a class="button button-add" id="multi_add{form_id}" href="#" onclick="confirmBuy('products_{pb_id}','','cart', 'multi_add{form_id}'); return false;"><span>{ADD_BUTTON}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}" /></a>&nbsp;
					</td>
				</tr><!-- end multi_add_button -->
				<!-- end category_items -->
			</table>
			<!-- begin products_sortings --><div class="padding6px middlebg">{PROD_SORT_BY_MSG}: {sorter_default} | {sorter_price} | {sorter_name} | {sorter_manufacturer} | {sorter_code}</div><!-- end products_sortings -->
			<!-- begin search_and_navigation -->
			<div class="padding6px usualbg"><!-- begin search_results -->
				<div class="floatleft">{FOUND_PRODUCTS_MSG}</div><!-- end search_results --><!-- begin navigator_block -->
				<div class="floatright">{navigator}</div><!-- end navigator_block -->
				<div class="clearboth"></div>
			</div><!-- end search_and_navigation -->
		</div>
	</form>
	<form name="compare_form" action="{compare_href}">
		<input type="hidden" name="items" value="" />
	</form>
</div>