<div class="block-ads-latest {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="padding10px">
			<!-- BEGIN latest_rows -->
			<!-- BEGIN latest_cols -->
			<div class="elem">
				<div><a class="title {restricted_class}" href="{details_href}"><b>{latest_item_title}</b><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>									<span class="articleDate">{date_start}</span>					
				<div align="center" class="adsBody">										<a href="{details_href}">
													<br />{short_description}<br />													<span  class="buttonMore"><b>{READ_MORE_MSG}</b></span>												</a>
				</div>									</div><!-- END latest_cols --><!-- END latest_rows -->
		</div>
	</div>
</div>
