<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
//<![CDATA[
function facebookDate(dateStr) {
	var d = dateStr.match(/^([0-9][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9])/);
	if (d) {
		var feedDate = new Date(d[1], d[2]-1, d[3]);
		return feedDate.toLocaleDateString();
	} else {
		return dateStr;
	}
}
function facebookLoad() {
	//Set Url of JSON data from the facebook graph api. make sure callback is set with a '?' to overcome the cross domain problems with JSON
	var url = "https://graph.facebook.com/{ff_nickname}/feed?limit={ff_limit}&access_token={ff_access_token}&callback=?";
	var feedMaxNumber = {ff_recs};
	var feedNumber = 0;
	//Use jQuery getJSON method to fetch the data from the url and then create our unordered list with the relevant data.
	$.getJSON(url,function(json){
		var feed = "";
		//loop through and within data array's retrieve the message variable.
		$.each(json.data,function(i,fb){
			if (fb.message != undefined) {
				feedNumber++;
				if (feedNumber <= feedMaxNumber) { 
					feed += "<li>";
					feed += "<div class=\"from\">";
					feed += fb.from.name;
					feed += "</div>";
					feed += fb.message;
					feed += "<div class=\"date\">";
					feed += facebookDate(fb.created_time);
					feed += "</div>";
					feed += "</li>";
				}
			}
		});
		var fbObj = document.getElementById("facebook_feed");
		fbObj.innerHTML = feed;
	});
 
};
//]]>
</script>
<div class="block-facebook-feed {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="facebook">
			<ul class="facebook_feed" id="facebook_feed">Loading...</ul>  
		</div>
	</div>	</div>
<script type="text/javascript">
//<![CDATA[
	facebookLoad();
//]]>
</script>
