<script src="js/ajax.js" language="JavaScript" type="text/javascript"></script>
<script src="js/blocks.js" language="JavaScript" type="text/javascript"></script>
<script src="js/shopping.js" language="JavaScript" type="text/javascript"></script>
<script type="text/javascript">
	//<![CDATA[
	var requiredProperty = "{REQUIRED_PROPERTY_MSG}";
	var addProduct = "{ADD_PRODUCT_MSG}";
	var confirmAdd = "{confirm_add}";
	var compareMinAllowed = "{COMPARE_MIN_ALLOWED_MSG}";
	var compareMaxAllowed = "{COMPARE_MAX_ALLOWED_MSG}";
	//]]>
</script>
<div class="block-random-items {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>			
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
	<!-- begin random_items_block -->		
		<form name="products_{pb_id}" method="post" action="{products_form_url}#block_products_{pb_id}">
			<input type="hidden" name="pb_id" value="{pb_id}" />
			<input type="hidden" name="type" value="grid" />
			<input type="hidden" name="rp" value="{rp}" />
			<input type="hidden" name="rnd" value="{rnd}" />
			<input type="hidden" name="cart" value="ADD" />
			<input type="hidden" name="redirect_to_cart" value="{redirect_to_cart}" />
			<input type="hidden" name="multi_add" value="{multi_add}" />
			<input type="hidden" name="add_id" value="" />
			<input type="hidden" name="saved_type_id" value="" />
			<input type="hidden" name="start_index" value="{start_index}" />
			<input type="hidden" name="item_index" value="" />
			<input type="hidden" name="form_id" value="" />
			<input type="hidden" name="items_indexes" value="{items_indexes}" />
			{hidden_parameters}
			<!-- begin item -->
				<div class="{item_class}" style="width:{item_column_width}%;height:{item_block_height}px;">
					<input type="hidden" name="item_id{form_id}" value="{item_id}" />
					<input type="hidden" name="tax_percent{form_id}" value="{tax_percent}" />
					<input type="hidden" name="product_params{form_id}" value="{product_params}" />
					<table border="0" cellspacing="0" cellpadding="2" height="100%" width="100%">
						<tr><td>
							<div style="float:left;"><a href="{product_details_url}"><img name="image_{form_id}" border="0" src="{src}" alt="{alt}"></a></div>
							<!-- begin hit_block --><img style="width:48px;height:47px;border:none;margin: 0 0 0 3px;"src="images/icons/hit.png" alt=""><!-- end hit_block -->
						</td></tr>
						<tr><td><a class="title" href="{product_details_url}">{item_name}</a><!--begin product_new_image--><img style="width:30px;height:22px;border:none;margin: 0px 0px -6px 2px;" src="images/icons/new_l.png" alt="" /><!--end product_new_image--></td></tr>
						<!-- begin prices_block -->
						<tr><td><br />
							<!-- begin sales -->
							<div class="salesBlock smallText">{OUR_PRICE_MSG}:&nbsp;<span id="sales_price_{item_id}" class="salesPrice">{sales_price_control}</span></div>
							<!-- end sales -->
							<!-- begin price_block -->
							<div id="price_block_{item_id}" class="{price_block_class} smallText">{PRICE_MSG}:&nbsp;<span id="price{item_id}" class="price">{price_control}</span></div>
							<!-- end price_block -->
							<!-- begin save -->
							<div class="priceSaveBlock smallText">{YOU_SAVE_MSG}:&nbsp;<span class="price">{you_save}</span>&nbsp;<span class="percent">({discount_percent}%)</span></div>
							<!-- end save -->
						</td></tr>
						<!-- end prices_block -->
						
						<!-- begin description_block -->
						<tr><td><br /><span class="smallText">{item_description}</span></td></tr>
						<!-- end description_block -->
						
						<!-- begin remaining_time_block -->
						<tr><td><br /><span class="smallText">{MSG_REMAINING_TIME}: {remaining_time}</span></td></tr>
						<!-- end remaining_time_block -->
						
						<tr valign="bottom" height="80%"><td>
							<!-- begin stock_level_block -->
							<div id="block_sl{item_id}" class="stockLevel smallText" style="{sl_style}">{STOCK_LEVEL_MSG}:&nbsp;<span id="sl{item_id}" class="stock_level">{stock_level}</span></div>
							<!-- end stock_level_block -->
							<!-- begin add_button -->
							<div class="productQty smallText">{PROD_QTY_COLUMN}:&nbsp;{quantity_control}</div>
							<div><a class="button button-add" id="add{form_id}" href="{buy_href}" onclick="document.products_{pb_id}.item_index.value='{form_id}'; return confirmBuy('products_{pb_id}','{form_id}','cart','add{form_id}');"><span>{ADD_TO_CART_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}"></a></div>
							<!-- end add_button -->
						</td></tr>
					</table>
				</div>
			<!-- end item -->
		</form>
	<!-- end random_items_block -->
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>