<script type="text/javascript">
//<![CDATA[
var requiredProperty = "{REQUIRED_PROPERTY_MSG}";
var addProduct = "{ADD_PRODUCT_MSG}";
var confirmAdd = "{confirm_add}";
//]]>
</script>
<div class="block-basket-recommended {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<form name="products_{pb_id}" action="{current_href}" method="post">
<input type="hidden" name="pb_id" value="{pb_id}" />
<input type="hidden" name="type" value="list" />
<input type="hidden" name="rnd" value="{random_value}" />
<input type="hidden" name="cart" value="ADD" />
<input type="hidden" name="add_id" value="" />
<input type="hidden" name="rpage" value="{rpage}" />
<input type="hidden" name="tax_percent" value="{tax_percent}" />
<input type="hidden" name="start_index" value="{start_index}" />
<input type="hidden" name="item_index" value="" />
<input type="hidden" name="items_indexes" value="{items_indexes}" />
<input type="hidden" name="redirect_to_cart" value="{redirect_to_cart}" />

<div class="BlockMiddle">
	<div class="MiddleCenter">


			<table width="100%" border="0" cellspacing="5" cellpadding="5"><!-- BEGIN pr_rows -->
			<tr><!-- BEGIN pr_cols -->
				<td align="left" valign="top" width="{pr_column}">

					<!-- BEGIN sc_errors --><div class="errorbg" align="center">{errors_list}</div><!-- END sc_errors -->
					<input type="hidden" name="item_id{form_id}" value="{item_id}" />
					<input type="hidden" name="tax_percent{form_id}" value="{tax_percent}" />
					<input type="hidden" name="product_params{form_id}" value="{product_params}" />


					<table width="100%" border="0" cellspacing="0" cellpadding="3">
					<tr>
						<td colspan="2"><a class="bigtitle {product_new_class} {restricted_class}" href="{details_url}" title="{a_title}">{item_name}<!--begin product_new_image--><img src="images/tr.gif" alt="" class="{product_new_class}" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></td>
					</tr>
					<tr valign="top">
					  <td valign="top" align="left" width="20%">
							<!-- begin pr_small_image --><a href="{details_url}" title="{a_title}"><img src="{src}" {width} {height} align="left" border="0" hspace="0" alt="{alt}" /></a><!-- end pr_small_image -->
						</td>
						<td align="left" valign="top">

							<!-- begin pr_price_block -->
							<div id="price_block{form_id}" class="{price_block_class}">{PRICE_MSG}:&nbsp;<span id="price{form_id}" class="price">{pr_price_control}</span> <span class="priceTax">{pr_tax_price}</span></div>
							<!-- end pr_price_block -->
							<!-- begin pr_sales -->
							<div class="salesBlock">{OUR_PRICE_MSG}:&nbsp;<span id="sales_price{form_id}" class="salesPrice">{pr_sales_price_control}</span> <span class="salesTax">{pr_tax_sales}</span></div>
							<!-- end pr_sales -->
							<!-- begin pr_availability -->{PROD_AVAILABILITY_MSG}: {shipping_time_desc}<br /><!-- end pr_availability -->
							<!-- begin properties -->
							<div id="{property_block_id}" style="{property_style}">{property_name}: {property_control}</div><!-- end properties -->

							<br />
							<table cellspacing="0" cellpadding="0" border="0">
							<tr><!-- begin quantity -->
								<td>{PROD_QTY_COLUMN}:&nbsp;</td>
								<td>{quantity_control}</td><!-- end quantity -->	
								<td>
									<!-- begin add_button -->
									<a class="button button-add" id="add{form_id}" href="{buy_href}" onclick="document.products_{pb_id}.item_index.value='{form_id}';return confirmBuy('products_{pb_id}', '{form_id}','cart', 'add{form_id}'); return false;"><span>{ADD_TO_CART_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}" /></a> 
									<!-- end add_button -->
									<!-- begin add_button_disabled -->
									<a class="disabled" title="{PRODUCT_OUT_STOCK_MSG}" onclick="alert('{out_stock_alert}');">{ADD_TO_CART_MSG}</a>
									<!-- end add_button_disabled -->
								</td>
							</tr>
							</table>
				    
							<p align="justify">{short_description}</p>
						</td>
					</tr></table>

				</td><!-- END pr_cols -->
			</tr><!-- END pr_rows -->
			</table>

			<!-- begin pr_navigator_block -->
			<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td align="right">&nbsp;{pr_navigator}&nbsp;</td>
			</tr>
			</table><!-- end pr_navigator_block -->

	</div>
</div>

</form>

<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>