<div class="block-products-related-purchase {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<!-- BEGIN rpp_rows -->
			<tr>
				<!-- BEGIN rpp_cols -->
				<td align="left" valign="top" width="{rpp_column}" class="padding10px">
					<table border="0" cellspacing="0" cellpadding="2">
					<tr>
						<td><a class="title {restricted_class}" href="{details_url}" title="{a_title}">{item_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></td>
					</tr>
					<tr valign="top">
						<td>
							<!-- begin rpp_image --><a href="{details_url}" title="{a_title}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{alt}" align="left" /></a><!-- end rpp_image -->

							<!-- begin rpp_price_block -->
							<div class="{price_block_class}">{PRICE_MSG}: <span class="price">{rpp_price}</font> <span class="priceTax">{rpp_tax_price}</span></div>
							<!-- end rpp_price_block -->
							<!-- begin rpp_sales -->
							<div class="salesBlock">{OUR_PRICE_MSG}: <font class="salesPrice">{rpp_sales_price}</font> <span class="salesTax">{rpp_tax_sales}</span></div>
							<!-- end rpp_sales -->
							<!-- begin rpp_availability -->
							{PROD_AVAILABILITY_MSG}: {shipping_time_desc}
							<!-- end rpp_availability -->
							<!-- begin rpp_desc -->
							<div align="justify">
								{desc_text}
							</div><!-- end rpp_desc -->
							<a class="buttonMore" href="{details_url}" title="{a_title}"><span><b>{READ_MORE_MSG}</b>.</span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
						</td>
					</tr></table>
				</td>
				<!-- END rpp_cols -->
			</tr>
			<!-- END rpp_rows -->
			</table>

			<!-- begin rpp_navigator_block -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="right" class="padding10px">&nbsp;{rpp_navigator}&nbsp;</td></tr>
			</table>
			<!-- end rpp_navigator_block -->

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>