<script type="text/javascript" src="js/ajax.js"></script>
<script type="text/javascript" src="js/categories_chained_menu.js"></script>

<div class="block-categories-chained-menu {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<form action="{search_href}" method="get">
		<div id="categories_box" class="padding10px">
			<select id="category_0" onchange="getCategory(this, this.value, 0); return false;">
				<option value="-1">{SELECT_CATEGORY_MSG}</option>
				<!--begin category_option-->
				<option value="{category_id}">{category_name}</option>
				<!--end category_option--> 
			</select>
		</div>
		</form>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>