<div class="block-products-breadcrumb {block_class}" style="{block_style}">
<div class="Breadcrumb">
	<div class="BreadcrumbCenter">
		<div class="BreadcrumbLeftBgr">
			<div class="BreadcrumbRightBgr">
				<div class="BreadcrumbLeft"></div>
				<div class="BreadcrumbRight"></div>
				<div class="BreadcrumbRSS"><div><!-- BEGIN rss --><a href="{rss_url}"><img src="images/ico-rss.gif" alt="RSS" border="0" /></a><!-- END rss --></div></div>
				<div class="Breadcrumbs">
					<div class="BreadcrumbsBgr"><div xmlns:v="http://rdf.data-vocabulary.org/#"><a href="{site_url}">{HOME_PAGE_TITLE}</a><!-- BEGIN tree --><span>&nbsp;&gt;&nbsp;</span><span typeof="v:Breadcrumb"><a href="{tree_url}" class="{tree_class}"property="v:title" rel="v:url">{tree_title}</a></span><!-- END tree --></div></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>