<div class="block-user-products {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

		<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
		<tr class="middlebg" align="center">
			<td>{sorter_id}</td>
			<td>{sorter_title}</td>
			<td>{sorter_price}</td>
			<td>{sorter_qty}</td>
			<td>{STATUS_MSG}</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr><!-- end sorters --><!-- BEGIN records -->
		<tr class="usualbg" valign="top" align="center">
			<td>{item_id}</td>
			<td align="left">{item_name}</td>
			<td align="right">{price}</td>
			<td>{quantity}</td>
			<td>{status}</td>
			<td><a href="{user_product_href}?item_id={item_id}">{EDIT_PRODUCT_MSG}</a></td>
			<td><!-- begin options_block -->
				<a href="{user_product_options_href}?item_id={item_id}">{OPTIONS_AND_COMPONENTS_MSG}</a><!-- end options_block -->
			</td>
		</tr><!-- END records --><!-- BEGIN no_records -->
		<tr class="usualbg">
			<td>{NO_PRODUCTS_MSG}</td>
		</tr><!-- END no_records -->
		<tr class="middlebg">
			<td colspan="5"><a href="{user_product_href}">{ADD_NEW_MSG}</a></td>
			<td colspan="2" align="right">&nbsp;<!-- begin navigator_block -->{navigator}<!-- end navigator_block --></td>
		</tr>
		</table>	

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>