<script type="text/javascript" src="./js/list_fields.js"></script>
<script type="text/javascript" src="./js/product.js"></script>
<script type="text/javascript">

    var list_fields_names = new Array('countries','states','sites','user_types');

/*
    function openWindow(pagename, filetype)
    {
        var uploadWin = window.open (pagename + '?filetype=' + filetype, 'uploadWin', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
        uploadWin.focus();
    }

    function setFileName(filename, filetype)
    {
        var siteUrl = '{site_url}';
        if(filename != "" && filetype == "shipping_small") {
            document.record.image_small.value = siteUrl + "images/shipping/small/" + filename;
            document.record.image_small.focus();
        } else if(filename != "" && filetype == "shipping_large") {
            document.record.image_large.value = siteUrl + "images/shipping/large/" + filename;
            document.record.image_large.focus();
        }
    }
*/
    function openParamWindow(pagename)
    {
        var popupWin = window.open (pagename, 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
        popupWin.focus();
    }

    function checkActive()
    {
        var isActive = document.record.is_active.checked;
        var isDefault = document.record.is_default.checked;
        if (isDefault && !isActive) {
            document.record.is_default.checked = false;
            alert("{DEFAULT_CHECK_JS}");
        }
    }

    function checkDefault()
    {
        var isActive = document.record.is_active.checked;
        if (!isActive) {
            document.record.is_default.checked = false
        }
    }

</script>

<div class="user-shipping-module">
    <div class="BlockTop">
        <div class="TopCenter">
            <div class="TopLeftBgr">
                <div class="TopRightBgr">
                    <div class="TopLeft"></div>
                    <div class="TopRight"></div>
                    <div class="TopTitle">
                        <div class="TopTitleBgr"><div>Редактирование способа доставки</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="BlockMiddle">
        <div class="MiddleCenter">
            <form action="{admin_shipping_type_href}" name="record" onSubmit="selectListFieldsAll();" method="POST">
                <input type="hidden" name="operation" value="save">
                <input type="hidden" name="shipping_type_id" value="{shipping_type_id}">
                <input type="hidden" name="shipping_module_id" value="{shipping_module_id}">
                <input type="hidden" name="page" value="{page}">
                <input type="hidden" name="tab" value="{tab}">
                <input type="hidden" name="user_types" value="">
                <input type="hidden" name="sites" value="">
                <input type="hidden" name="countries" value="">
                <input type="hidden" name="states" value="">
                <input type="hidden" name="user_types_all" value="1" />


                <div id="data_general" style="{general_style}">
                <!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
                <table border="0" cellspacing="1" cellpadding="6" width="100%">
                <tr class="usual">
                    <td><label for="is_active">{IS_ACTIVE_MSG}</label></td>
                    <td><input type="checkbox" name="is_active" id="is_active" {is_active} value="1"></td>
                </tr>
                <tr class="usual">
                    <td>{SHIPPING_ORDER_MSG} *</td>
                    <td><input class="field" type="text" size="10" name="shipping_order" value="{shipping_order}"></td>
                </tr>
                <tr class="usual">
                    <td>{ESTIMATED_SHIPPING_TIME_MSG}</td>
                    <td><input class="field" type="text" size="10" name="shipping_time" value="{shipping_time}"> &nbsp; ({USED_TO_ESTIMATE_NOTE})</td>
                </tr>
                <tr class="usual">
                    <td>{SHIPPING_CODE_MSG}</td>
                    <td><input class="field" type="text" size="40" name="shipping_type_code" value="{shipping_type_code}"></td>
                </tr>
                <tr class="usual">
                    <td>{SHIPPING_DESCRIPTION_MSG} *</td>
                    <td><input class="field" type="text" size="80" name="shipping_type_desc" value="{shipping_type_desc}"></td>
                </tr>
                <tr class="usual">
                    <td>{QUANTITY_MSG}</td>
                    <td>
                        {MINIMUM_MSG} <input class="field" type="text" size="10" name="min_quantity" value="{min_quantity}">
                        &nbsp;{MAXIMUM_MSG} <input class="field" type="text" size="10" name="max_quantity" value="{max_quantity}">
                    </td>
                </tr>
                <tr class="usual">
                    <td>{TOTAL_GOODS_COST}</td>
                    <td>
                        {MINIMUM_MSG} <input class="field" type="text" size="10" name="min_goods_cost" value="{min_goods_cost}">
                        &nbsp;{MAXIMUM_MSG} <input class="field" type="text" size="10" name="max_goods_cost" value="{max_goods_cost}">
                    </td>
                </tr>
                <tr class="usual">
                    <td>{TOTAL_PRODUCTS_WEIGHT_MSG} (<b>{weight_measure}</b>)</td>
                    <td>
                        {MINIMUM_MSG} <input class="field" type="text" size="10" name="min_weight" value="{min_weight}">
                        &nbsp;{MAXIMUM_MSG} <input class="field" type="text" size="10" name="max_weight" value="{max_weight}">
                    </td>
                </tr>
                <tr class="usual">
                    <td>{TARE_WEIGHT_MSG} (<b>{weight_measure}</b>)</td>
                    <td><input class="field" type="text" size="10" name="tare_weight" value="{tare_weight}"></td>
                </tr>
                <tr class="usual">
                    <td>{SHIPPING_COST_MSG}</td>
                    <td>
                        {PER_ORDER_MSG} <input class="field" type="text" size="10" name="cost_per_order" value="{cost_per_order}">
                        &nbsp;{FOR_EACH_PRODUCT_MSG} <input class="field" type="text" size="10" name="cost_per_product" value="{cost_per_product}">
                        &nbsp;{PER_WEIGHT_MSG} (<b>{weight_measure}</b>) <input class="field" type="text" size="10" name="cost_per_weight" value="{cost_per_weight}">
                    </td>
                </tr>
                <tr class="usual">
                    <td><label for="is_taxable">{IS_SHIPPINGTAXABLE_MSG}</label></td>
                    <td><input type="checkbox" name="is_taxable" id="is_taxable" {is_taxable} value="1"></td>
                </tr>
                </table>
                <table width="100%" border="0" cellspacing="1" cellpadding="6">
                <tr class="usual">
                    <td colspan="3">
                        <input type="checkbox" name="countries_all" id="countries_all" {countries_all} onClick="checkListFields('countries');" value="1">
                        <label for="countries_all">{USE_FOR_ALL_COUNTRIES_MSG}</label>
                    </td>
                </tr>
                <tr align="center" class="middlebg">
                    <td width="45%">{AVAILABLE_COUNTRIES_MSG}</td>
                    <td width="10%">{OPERATIONS_MSG}</td>
                    <td width="45%">{TYPE_FOR_COUNTRIES_NOTE}</td>
                </tr>   
                <tr align="center" class="usual">
                    <td>
                        <select name="available_countries" MULTIPLE size="10"  style="width: 300px;"><!-- begin available_countries -->
                                <option value="{country_id}">{country_name}<!-- end available_countries -->
                        </select>
                    </td>
                    <td>
                        <span class="button"><input class="submit" type="button" name="add_countries" value="&nbsp;&nbsp; {ADD_BUTTON} -> &nbsp;&nbsp;" onClick="addListFields('countries');"></span>
                        <br><br>
                        <span class="button"><input class="submit" type="button" name="remove_countries" value="<-{REMOVE_BUTTON}" onClick="removeListFields('countries');"></span>
                    </td>
                    <td>
                        <select name="selected_countries" MULTIPLE size="10" style="width: 300px;"><!-- begin selected_countries -->
                                <option value="{country_id}">{country_name}<!-- end selected_countries -->
                        </select>
                    </td>
                </tr>
                <tr class="usual">
                    <td colspan="3">
                        <input type="checkbox" name="states_all" id="states_all" {states_all} onClick="checkListFields('states');" value="1">
                        <label for="states_all">{USE_FOR_ALL_STATES_MSG}</label>
                    </td>
                </tr>
                <tr align="center" class="middlebg">
                    <td width="45%">{STATES_MSG}</td>
                    <td width="10%">{OPERATIONS_MSG}</td>
                    <td width="45%">{TYPE_FOR_STATES_NOTE}</td>
                </tr>   
                <tr align="center" class="usual">
                    <td>
                        <select name="available_states" MULTIPLE size="10"  style="width: 300px;"><!-- begin available_states -->
                            <option value="{state_id}">{state_name}<!-- end available_states -->
                        </select>
                    </td>
                    <td>
                        <span class="button"><input class="submit" type="button" name="add_states" value="&nbsp;&nbsp; {ADD_BUTTON} -> &nbsp;&nbsp;" onClick="addListFields('states');"></span>
                        <br><br>
                        <span class="button"><input class="submit" type="button" name="remove_states" value="<- {REMOVE_BUTTON}" onClick="removeListFields('states');"></span>
                    </td>
                    <td>
                        <select name="selected_states" MULTIPLE size="10" style="width: 300px;"><!-- begin selected_states -->
                            <option value="{state_id}">{state_name}<!-- end selected_states -->
                        </select>
                    </td>
                </tr>
                
                </table>
                </div>

                                <div id="data_images" style="{images_style}">
                <table cellspacing="1" cellpadding="6" border="0" width="100%">
                <tr class="middlebg">
                    <td colspan="2">{IMAGES_MSG}</td>
                </tr>
                <tr class="usual">
                    <td>{IMAGE_SMALL_MSG}</td>
                    <td>
                        <input class="field" type="text" size="50" maxlength="255" name="image_small" value="{image_small}">
                        <a href="javascript:openWindow('{admin_upload_href}', 'uproduct_small')"><b>{UPLOAD_IMAGE_MSG}</b></a>
                    </td>
                </tr>
                <tr class="usual">
                    <td>{IMAGE_SMALL_ALT_MSG}</td>
                    <td><input class="field" type="text" size="50" maxlength="255" name="image_small_alt" value="{image_small_alt}"></td>
                </tr>
                <tr class="usual">
                    <td>{IMAGE_LARGE_MSG}</td>
                    <td>
                        <input class="field" type="text" size="50" maxlength="255" name="image_large" value="{image_large}">
                        <a href="javascript:openWindow('{admin_upload_href}', 'uproduct_large')"><b>{UPLOAD_IMAGE_MSG}</b></a>
                    </td>
                </tr>
                <tr class="usual">
                    <td>{IMAGE_LARGE_ALT_MSG}</td>
                    <td><input class="field" type="text" size="50" maxlength="255" name="image_large_alt" value="{image_large_alt}"></td>
                </tr>
                </table>
                </div>


                <!-- begin sitelist-->
                <div id="data_sites" style="{sites_style}">
                <table cellspacing="1" cellpadding="6" border="0" width="100%">
                <tr class="usual">
                    <td colspan="3">
                        <input type="checkbox" name="sites_all" id="sites_all" {sites_all} onClick="checkListFields('sites');" value="1">
                        <label for="sites_all">Use this shipping type for all sites (untick this checkbox to select sites manually)</label>
                    </td>
                </tr>
                <tr align="center" class="middlebg">
                    <td width="45%"><b>{AVAILABLE_SITES_MSG}</b></td>
                    <td width="10%"><b>{OPERATIONS_MSG}</b></td>
                    <td width="45%"><b>{USE_ITEM_SITES_MSG}</b></td>
                </tr>
                <tr align="center" class="usual">
                    <td>
                        <select name="available_sites" MULTIPLE size="10"  style="width: 300px;"><!-- begin available_sites -->
                            <option value="{site_id}">{site_name}<!-- end available_sites-->
                        </select>
                    </td>
                    <td>
                        <span class="button"><input class="submit" readonly type="button" name="add_sites" value="&nbsp;&nbsp; {ADD_BUTTON}  -> &nbsp;&nbsp;" onClick="addListFields('sites');"></span>
                        <br><br>
                        <span class="button"><input class="submit" type="button" name="remove_sites" value="<- {REMOVE_BUTTON}" onClick="removeListFields('sites');"></span>
                    </td>
                    <td>
                        <select name="selected_sites" MULTIPLE size="10" style="width: 300px;"><!-- begin selected_sites -->
                            <option value="{site_id}">{site_name}<!-- end selected_sites -->
                        </select>
                    </td>
                </tr>
                </table>
                </div>
                <!-- end sitelist-->

                <div class="uBtns">
                        <span class="button"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
                        <span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
                        <span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
                </div>
            </form> 
        </div>
    </div>

</div>

<script type="text/javascript">

    checkListFieldsAll();

</script>
