<script language="JavaScript" type="text/javascript" src="js/product.js"></script>
<div class="block-user-product-image {block_class}" style="{block_style}">
	<div class="BlockTop">
		<div class="TopCenter">
			<div class="TopLeftBgr">
				<div class="TopRightBgr">
					<div class="TopLeft"></div>
					<div class="TopRight"></div>
					<div class="TopTitle">
						<div class="TopTitleBgr"><div>{block_title}</div></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="BlockMiddle">
		<div class="MiddleCenter">

			<form action="{item_image_href}" name="record" method="POST">
				<input type="hidden" name="operation" value="save">
				<input type="hidden" name="image_id" value="{image_id}">
				<input type="hidden" name="item_id" value="{item_id}">

				<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
				<table border="0" cellspacing="1" cellpadding="6" width="100%">
				<tr class="usual">
					<td>Заголовок изображения *</td>
					<td><input class="field" type="text" size="60" name="image_title" value="{image_title}"></td>
				</tr>
				<tr class="usual">
					<td>{IMAGE_POSITION_MSG} *</td>
					<td><!-- begin image_position -->
						<input type="radio" name="image_position" id="image_position{image_position_value}" {image_position_checked} value="{image_position_value}">
						<label for="image_position{image_position_value}">{image_position_description}</label><!-- end image_position -->
					</td>
				</tr>	
				<tr class="usual">
					<td>{IMAGE_SMALL_MSG} *</td>
					<td>
						<input class="field" type="text" size="60" name="image_small" value="{image_small}">
						&nbsp;<a href="javascript:openWindow('{admin_upload_href}', 'uproduct_small')"><b>{UPLOAD_IMAGE_MSG}</b></a>
						&nbsp;|&nbsp; <a href="javascript:openWindow('{admin_select_href}', 'uproduct_small')"><b>{SELECT_IMAGE_MSG}</b></a>
					</td>
				</tr>
				<tr class="usual">
					<td>{IMAGE_LARGE_MSG}</td>
					<td>
						<input class="field" type="text" size="60" name="image_large" value="{image_large}">
						&nbsp;<a href="javascript:openWindow('{admin_upload_href}', 'uproduct_large')"><b>{UPLOAD_IMAGE_MSG}</b></a>
						&nbsp;|&nbsp; <a href="javascript:openWindow('{admin_select_href}', 'uproduct_large')"><b>{SELECT_IMAGE_MSG}</b></a>
					</td>
				</tr>
				<tr class="usual">
					<td>{IMAGE_SUPER_MSG}</td>
					<td>
						<input class="field" type="text" size="60" name="image_super" value="{image_super}">
						&nbsp;<a href="javascript:openWindow('{admin_upload_href}', 'uproduct_super')"><b>{UPLOAD_IMAGE_MSG}</b></a>
						&nbsp;|&nbsp; <a href="javascript:openWindow('{admin_select_href}', 'uproduct_super')"><b>{SELECT_IMAGE_MSG}</b></a>
					</td>
				</tr>
				<tr class="usual">
					<td>{AD_IMAGE_DESC_MSG} </td>
					<td><textarea rows="5" cols="60" name="image_description">{image_description}</textarea></td>
				</tr>
				<tr class="middlebg">
					<td>&nbsp;</td>
					<td>
						<span class="submit"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save';" /></span> &nbsp; <!-- BEGIN delete -->
						<span class="submit"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');" /></span><!-- END delete -->
						<span class="submit"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel';" /></span>
					</td>
				</tr>
				</table>
			</form>	

		</div>
	</div>

	<div class="BlockBottom">
		<div class="BottomCenter">
			<div class="BottomLeft"></div>
			<div class="BottomRight"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
/*
	function openWindow(pagename, filetype)
	{
		var uploadWin = window.open (pagename + '?filetype=' + filetype, 'uploadWin', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		uploadWin.focus();
	}*/
/*
	function setFileName(filename, filetype)
	{
		var siteUrl = '{image_site_url}';
		if(filename != "")
		{
			if(filetype == "uproduct_small") {
				alert(1)
				document.record.image_small.value = siteUrl + "images/small/" + filename;
				document.record.image_small.focus();
			} else if(filetype == "uproduct_large") {
				alert(2)
				document.record.image_large.value = siteUrl + "images/big/" + filename;
				document.record.image_large.focus();
			} else if(filetype == "uproduct_super") {
				alert(3)
				document.record.image_super.value = siteUrl + "images/super/" + filename;
				document.record.image_super.focus();
			}
		}
	}*/

</script> 