<script type='text/javascript' src='/js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='/js/jquery.dcmegamenu.1.3.js'></script>
<script type="text/javascript">
$(document).ready(function($){
	$('#mega-menu-tut').dcMegaMenu({
		rowItems: '5',
		speed: 'fast'
	});
});
</script>

<link href="styles/menu.css" rel="stylesheet" type="text/css" />
<div class="Header" style="display:none;">
	<div class="HeaderMenu"><!-- BEGIN menus_rows -->
		<ul class="TopMenu">
			<li class="begin"><img class="Img" src="images/tr.gif" alt="" /></li><!-- BEGIN menus -->
			<li id="m_{menu_path_id}" class="topmenu"><!-- BEGIN menu_image -->
				<a href="{menu_href}" {menu_target} onmouseover="javascript:show('{menu_path_id}', 1);" onmouseout="javascript:hide('{menu_path_id}', 1);"><img border="0" src="{src}" {width} {height} alt="{alt}" title="{alt}" /></a><br /><!-- END menu_image --><!-- BEGIN menu_text -->
				<a href="{menu_href}" {menu_target} class="{menu_style}" onmouseover="javascript:show('{menu_path_id}', 1);" onmouseout="javascript:hide('{menu_path_id}', 1);"><span class="nobr">{menu_title}</span></a><!-- END menu_text -->			<!-- BEGIN submenus_rows --> 
				<ul class="SubMenu" id="sm_{menu_path_id}">{submenus}</ul><!-- END submenus_rows --> 
			</li><!-- END menus -->
			<li class="end"><img class="Img" src="images/tr.gif" alt="" /></li>		
		</ul><!-- END menus_rows -->
		<!-- begin secondary_menus_rows -->
		<ul class="{secondary_table_class}">
			<li class="{secondary_begin_id}"><img class="Img" src="images/tr.gif" alt="" /></li><!-- begin secondary_menus -->
			<li id="secondary_{secondary_menu_path_id}" class="secondaryMenu"><!-- BEGIN secondary_menu_image -->
				<a href="{secondary_menu_href}" {secondary_menu_target} onmouseover="javascript:show('{submenu_path_id}', 2);" onmouseout="javascript:hide('{secondary_menu_path_id}', 2);"><img border="0" src="{src}" {width} {height} alt="{alt}" title="{alt}" /></a><!-- END secondary_menu_image --><!-- BEGIN secondary_menu_text -->
				<a href="{secondary_menu_href}" {secondary_menu_target} class="{secondary_menu_style}" onmouseover="javascript:show('{secondary_menu_path_id}', 2);" onmouseout="javascript:hide('{secondary_menu_path_id}', 2);"><span class="nobr">{secondary_menu_title}</span></a><!-- END secondary_menu_text --><!-- BEGIN secondary_submenus_rows --> 
				<ul class="SubMenu" id="secondary_ddm_{secondary_menu_path_id}">{secondary_submenus}</ul><!-- END secondary_submenus_rows --> 
			</li><!-- end secondary_menus -->
			<li class="{secondary_end_id}"><img class="Img" src="images/tr.gif" alt="" /></li>
		</ul><!-- end secondary_menus_rows  -->
	</div>
</div>



<div class="dcjq-mega-menu">
<ul id="mega-menu-tut" class="menum">
	<li class="topm"><a href="javascript:" class="topm"><span class="tmleft"></span><span class="tmmid">Мода и красота</span><span class="tmright"></span></a>
		<ul>
			<li id="menu-item-1"><a href="index.php">Одежда</a>
				<ul>
					<li><a href="index.php">Женская одежда</a></li>
					<li><a href="index.php">Мужская одежда</a></li>
					<li><a href="index.php">Детская одежда</a></li>
					<li><a href="index.php">Нижнее белье</a></li>
					<li><a href="index.php">Украшения</a></li>
					<li><a href="index.php">Женские сумки</a></li>
					<li><a href="index.php">Мужские сумки</a></li>
					<li><a href="index.php">Платки</a></li>
					<li><a href="index.php">Перчатки</a></li>	
			    </ul>
			</li>
			<li id="menu-item-2"><a href="index.php">Косметика</a>
				<ul>
					<li><a href="index.php">Косметика 1</a></li>
					<li><a href="index.php">Косметика2</a></li>
					<li><a href="index.php">Косметика3</a></li>
					<li><a href="index.php">Косметика4</a></li>
					<li><a href="index.php">Косметика5</a></li>
					<li><a href="index.php">Косметика6</a></li>
					<li><a href="index.php">Косметика7</a></li>
					<li><a href="index.php">Косметика8</a></li>
					<li><a href="index.php">Прочие</a></li>
				</ul>
			</li>
			<li id="menu-item-3"><a href="nareznoe-orujie">Парфюмерия</a>
			    <ul>
					<li><a href="index.php">Парфюмерия1</a></li>
					<li><a href="index.php">Парфюмерия2</a></li>
					<li><a href="index.php">Парфюмерия3</a></li>
					<li><a href="index.php">Парфюмерия4</a></li>
					<li><a href="index.php">Парфюмерия5</a></li>					
				</ul>
			</li>	
			<li id="menu-item-4"><a href="index.php">4</a>
			    <ul>				
					<li><a href="index.php">т1</a></li>
					<li><a href="index.php">т2</a></li>	
					<li><a href="index.php">т3</a></li>						
				</ul>
			</li>
			<li id="menu-item-5"><a href="index.php">5</a>
			    <ul>				
					<li><a href="index.php">т1</a></li>
					<li><a href="index.php">т2</a></li>
					<li><a href="index.php">т3</a></li>
					<li><a href="index.php">т4</a></li>	
					<li><a href="index.php">т5</a></li>						
				</ul>
			</li>
		</ul>
	</li> 
	<li class="topm"><span class="tmbord"></span><a href="javascript:" class="topm"><span class="tmleft"></span><span class="tmmid">Деткам</span><span class="tmright"></span></a>
		<ul>
			<li id="menu-item-1"><a href="index.php">Игрушки</a>
				<ul>
					<li><a href="index.php">Игрушки1</a></li>
					<li><a href="index.php">Игрушки2</a></li>
					<li><a href="index.php">Игрушки3</a></li>
				</ul>
			</li>
			<li id="menu-item-2"><a href="index.php">Детское питание</a>
				<ul>
					<li><a href="index.php">Дет1</a></li>
					<li><a href="index.php">Дет2</a></li>
					<li><a href="index.php">Дет3</a></li>
				</ul>
			</li>		
		</ul>
	</li> 
	<li class="topm"><span class="tmbord"></span><a href="javascript:" class="topm"><span class="tmleft"></span><span class="tmmid">Дом и сад</span><span class="tmright"></span></a>
		<ul>
			<li id="menu-item-1"><a href="index.php">Канцтовары</a>
				<ul>
					<li><a href="index.php">Бумага</a></li>
					<li><a href="index.php">Ручки</a></li>
					<li><a href="index.php">Тетради</a></li>
					<li><a href="index.php">Карандаши</a></li>
					<li><a href="index.php">Канц6</a></li>
					<li><a href="index.php">Канц7</a></li>
				</ul>
			</li>
			<li id="menu-item-2"><a href="index.php">Мебель</a>
			    <ul>
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>	
				</ul>
			</li>
			<li id="menu-item-3"><a href="index.php">Техника для сада</a>
			    <ul>				
					<li><a href="index.php">Снегоочистители</a></li>
					<li><a href="index.php">Газонокосилки</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
		</ul>
	</li> 	
	<li class="topm"><span class="tmbord"></span><a href="javascript:" class="topm"><span class="tmleft"></span><span class="tmmid">Техника</span><span class="tmright"></span></a>
		<ul>
			<li id="menu-item-1"><a href="index.php">Электроника</a>
				<ul>				
					<li><a href="index.php">Электроника1</a></li>
					<li><a href="index.php">Электроника2</a></li>
				</ul>
			</li>
			<li id="menu-item-2"><a href="index.php">Компьютеры</a>
			    <ul>				
					<li><a href="index.php">Системные блоки</a></li>
					<li><a href="index.php">Ноутбуки</a></li>
					<li><a href="index.php">Планшеты</a></li>
					<li><a href="index.php">Электронные книги</a></li>
					<li><a href="index.php">Комп5</a></li>
					<li><a href="index.php">Комп6</a></li>					
				</ul>
			</li>
			<li id="menu-item-3"><a href="index.php">Телефоны и телефония</a>
			    <ul>				
					<li><a href="index.php">Сотовые телефоны</a></li>
					<li><a href="index.php">Радиотелефоны</a></li>				
				</ul>
			</li>
			<li id="menu-item-4"><a href="index.php">Техника3</a>
			    <ul>				
					<li><a href="index.php">т1</a></li>
					<li><a href="index.php">т2</a></li>	
					<li><a href="index.php">т3</a></li>						
				</ul>
			</li>
			<li id="menu-item-5"><a href="index.php">Техника5</a>
			    <ul>				
					<li><a href="index.php">т1</a></li>
					<li><a href="index.php">т2</a></li>
					<li><a href="index.php">т3</a></li>
					<li><a href="index.php">т4</a></li>	
					<li><a href="index.php">т5</a></li>						
				</ul>
			</li>
			<li id="menu-item-6"><a href="index.php">Техника6</a>
			    <ul>				
					<li><a href="index.php">т1</a></li>
					<li><a href="index.php">т2</a></li>
					<li><a href="index.php">т3</a></li>
					<li><a href="index.php">т4</a></li>	
					<li><a href="index.php">т5</a></li>						
				</ul>
			</li>
			<li id="menu-item-7"><a href="index.php">Техника7</a>
			    <ul>				
					<li><a href="index.php">т1</a></li>
					<li><a href="index.php">т2</a></li>
					<li><a href="index.php">т3</a></li>
					<li><a href="index.php">т4</a></li>	
					<li><a href="index.php">т5</a></li>						
				</ul>
			</li>
			<li id="menu-item-8"><a href="index.php">Техника8</a>
			    <ul>				
					<li><a href="index.php">т1</a></li>
					<li><a href="index.php">т2</a></li>
					<li><a href="index.php">т3</a></li>
					<li><a href="index.php">т4</a></li>	
					<li><a href="index.php">т5</a></li>						
				</ul>
			</li>
			<li id="menu-item-9"><a href="index.php">Техника9</a>
			    <ul>				
					<li><a href="index.php">т1</a></li>
					<li><a href="index.php">т2</a></li>
					<li><a href="index.php">т3</a></li>
					<li><a href="index.php">т4</a></li>	
					<li><a href="index.php">т5</a></li>						
				</ul>
			</li>
			<li id="menu-item-10"><a href="index.php">Техника10</a>
			    <ul>				
					<li><a href="index.php">т1</a></li>
					<li><a href="index.php">т2</a></li>
					<li><a href="index.php">т3</a></li>
					<li><a href="index.php">т4</a></li>	
					<li><a href="index.php">т5</a></li>						
				</ul>
			</li>
		</ul>
	</li> 
	<li class="topm"><span class="tmbord"></span><a href="javascript:" class="topm"><span class="tmleft"></span><span class="tmmid">Стройка и ремонт</span><span class="tmright"></span></a>
		<ul>
			<li id="menu-item-1"><a href="index.php">Стройматериалы</a>
				<ul>
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>
					<li><a href="index.php">6</a></li>
				</ul>
			</li>
			<li id="menu-item-2"><a href="index.php">Инструменты</a>
			    <ul>
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>	
				</ul>
			</li>
			<li id="menu-item-3"><a href="index.php">Тр пр</a>
			    <ul>				
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
			<li id="menu-item-4"><a href="index.php">Тр пр</a>
			    <ul>				
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
			<li id="menu-item-5"><a href="index.php">Тр пр</a>
			    <ul>				
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
		</ul>
	</li> 	
	<li class="topm"><span class="tmbord"></span><a href="javascript:" class="topm"><span class="tmleft"></span><span class="tmmid">Авто, мото</span><span class="tmright"></span></a>
		<ul>
			<li id="menu-item-1"><a href="index.php">А1</a>
				<ul>
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>
					<li><a href="index.php">6</a></li>
				</ul>
			</li>
			<li id="menu-item-2"><a href="index.php">А2</a>
			    <ul>
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>	
				</ul>
			</li>
			<li id="menu-item-3"><a href="index.php">Тр пр</a>
			    <ul>				
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
			<li id="menu-item-4"><a href="index.php">Тр пр</a>
			    <ul>				
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
			<li id="menu-item-5"><a href="index.php">Тр пр</a>
			    <ul>				
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
		</ul>
	</li> 	
	<li class="topm"><span class="tmbord"></span><a href="javascript:" class="topm"><span class="tmleft"></span><span class="tmmid">Спорт и отдых</span><span class="tmright"></span></a>
		<ul>
			<li id="menu-item-1"><a href="index.php">Тренажеры</a>
				<ul>
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>
					<li><a href="index.php">6</a></li>
				</ul>
			</li>
			<li id="menu-item-2"><a href="index.php">Nh gh</a>
			    <ul>
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>	
				</ul>
			</li>
			<li id="menu-item-3"><a href="index.php">Тр пр</a>
			    <ul>				
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
			<li id="menu-item-4"><a href="index.php">Тр пр</a>
			    <ul>				
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
			<li id="menu-item-5"><a href="index.php">Тр пр</a>
			    <ul>				
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>					
				</ul>
			</li>
		</ul>
	</li> 	
			<li class="topm"><span class="tmbord"></span><a href="javascript:" class="topm"><span class="tmleft"></span><span class="tmmid">Ещё</span><span class="tmright"></span></a>	
				<ul>
					<li><a href="index.php">1</a></li>
					<li><a href="index.php">2</a></li>
					<li><a href="index.php">3</a></li>
					<li><a href="index.php">4</a></li>
					<li><a href="index.php">5</a></li>
					<li><a href="index.php">6</a></li>
					<li><a href="index.php">7</a></li>
					<li><a href="index.php">8</a></li>
				</ul>
			</li>
	</ul>
</div>
