<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type='text/javascript' src='/js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='/js/jquery.dcmegamenu.1.3.js'></script>
<script type="text/javascript">
$(document).ready(function($){
	$('#mega-menu-tut').dcMegaMenu({
		rowItems: '3',
		speed: 'fast'
	});
});
</script>

<link href="menu.css" rel="stylesheet" type="text/css" />
<div class="Header" style="{block_style}">
	<div class="HeaderMenu"><!-- BEGIN menus_rows -->
		<ul class="TopMenu">
			<li class="begin"><img class="Img" src="images/tr.gif" alt="" /></li><!-- BEGIN menus -->
<li id="bord{menu_path_id}" class="tmbord"></li>

			<li id="m_{menu_path_id}" class="topmenu {menu_style}"><span class="tmleft"></span><!-- BEGIN menu_image -->
				<a href="{menu_href}" {menu_target} onmouseover="javascript:show('{menu_path_id}', 1);" onmouseout="javascript:hide('{menu_path_id}', 1);"><img border="0" src="{src}" {width} {height} alt="{alt}" title="{alt}" /></a><br /><!-- END menu_image --><!-- BEGIN menu_text -->
				<a href="{menu_href}" {menu_target} class="{menu_style}" onmouseover="javascript:show('{menu_path_id}', 1);" onmouseout="javascript:hide('{menu_path_id}', 1);"><span class="nobr">{menu_title}</span></a><!-- END menu_text -->			<!-- BEGIN submenus_rows --> 
				<ul class="SubMenu" id="sm_{menu_path_id}">{submenus}</ul><!-- END submenus_rows --> 
<span class="tmright"></span>			
</li>
<!-- END menus -->
			<li class="end"><img class="Img" src="images/tr.gif" alt="" /></li>		
		</ul><!-- END menus_rows -->
		<!-- begin secondary_menus_rows -->
		<ul class="{secondary_table_class}">
			<li class="{secondary_begin_id}"><img class="Img" src="images/tr.gif" alt="" /></li><!-- begin secondary_menus -->
			<li id="secondary_{secondary_menu_path_id}" class="secondaryMenu"><!-- BEGIN secondary_menu_image -->
				<a href="{secondary_menu_href}" {secondary_menu_target} onmouseover="javascript:show('{submenu_path_id}', 2);" onmouseout="javascript:hide('{secondary_menu_path_id}', 2);"><img border="0" src="{src}" {width} {height} alt="{alt}" title="{alt}" /></a><!-- END secondary_menu_image --><!-- BEGIN secondary_menu_text -->
				<a href="{secondary_menu_href}" {secondary_menu_target} class="{secondary_menu_style}" onmouseover="javascript:show('{secondary_menu_path_id}', 2);" onmouseout="javascript:hide('{secondary_menu_path_id}', 2);"><span class="nobr">{secondary_menu_title}</span></a><!-- END secondary_menu_text --><!-- BEGIN secondary_submenus_rows --> 
				<ul class="SubMenu" id="secondary_ddm_{secondary_menu_path_id}">{secondary_submenus}</ul><!-- END secondary_submenus_rows --> 
			</li><!-- end secondary_menus -->
			<li class="{secondary_end_id}"><img class="Img" src="images/tr.gif" alt="" /></li>
		</ul><!-- end secondary_menus_rows  -->
	</div>
</div>