<div class="block-manuals-articles {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitleIco">
					<div>
					<!-- BEGIN manuals_list -->
					<script type="text/javascript">
					//<![CDATA[
						function manuals_go_to() {
							form_obj = document.getElementById("manuals_list_form");
							if (form_obj != null) {
								index = form_obj.manuals.selectedIndex;
								url = form_obj.manuals[index].value;
								if (url != "") {
									window.location = url;
								}
							}
						}
					//]]>
					</script>
					<form name="manuals_list" method="post" id="manuals_list_form">
					<select class="field" name="manuals">
					<!-- BEGIN manuals_list_option -->
					<option {selected} value="{manual_url}">{list_manual_title}</option>
					<!-- END manuals_list_option -->
					</select>
					<span class="submit"><input class="submit" type="button" name="go_to_manual" value="View" onclick="javascript: manuals_go_to();" /></span>
					</form>
					<!-- END manuals_list -->
					</div>
				</div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<!-- BEGIN manual_full_description_block -->
			<div class="usualbg padding2px">{manual_full_description}</div>
			<!-- END manual_full_description_block -->
			<!-- BEGIN no_contents -->
			<div class="messagebg">{NO_MANUAL_ARTICLES_MSG}</div>
			<!-- END no_contents -->
			<!-- begin no_manuals -->
			<div class="messagebg">{NO_MANUALS_MSG}</div>
			<!-- end no_manuals -->
			<div class="usualbg padding2px">
			<!-- BEGIN articles -->
			<div class="level{level}"><a href="{article_href}" class="{restricted_class}">{section_number}.&nbsp;{article_title}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>
			<div>{short_description}</div>
			<!-- END articles -->
			</div>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>