<div class="block-password-forgot {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">
		<form action="{forgot_password_href}" name="profile" method="post">
			<!-- BEGIN forgot_error -->
			<div class="errorbg"><b>{error_desc}</b></div><!-- END forgot_error -->
			<!-- BEGIN forgot_message -->
			<div class="messagebg"><b>{message_desc}</b></div><!-- END forgot_message -->
	
			<div class="padding6px">{FORGOT_PASSWORD_DESC}</div>
			<div class="padding6px"><input class="field" type="text" size="40" name="email" value="{email}" />
			<span class="submit"><input class="submit" type="submit" value="{SUBMIT_BUTTON}" /></span></div>
		</form>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>