<div class="block-manuals-article-details {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

			<!-- begin no_item -->
			<div class="padding10px"><div class="errorbg">{NO_ARTICLE_MSG}</div></div>
			<!-- end no_item -->
			<!-- begin item -->
			<table border="0" cellspacing="0" width="100%" class="padding6px">
				<tr>	
					<td align="center">
					<!-- BEGIN prev_article --><a class="manualPrev" href="{friendly_url}">{MANUALS_PREV_ARTICLE}</a><!-- END prev_article -->
					</td>
					<td align="center">
					<!-- BEGIN index --><a class="manualIndex" href="{friendly_url}">{MANUAL_CONTENT_MSG}</a><!-- END index -->
					</td>
					<td align="center">
					<!-- BEGIN next_article --><a class="manualNext" href="{friendly_url}">{MANUALS_NEXT_ARTICLE}</a><!-- END next_article -->
					</td>
				</tr>
				<tr>
					<td colspan="3" class="padding10px">{full_description}</td>
				</tr>
				<tr>	
					<td align="center">
					<!-- BEGIN prev_article --><a class="manualPrev" href="{friendly_url}">{MANUALS_PREV_ARTICLE}</a><!-- END prev_article -->
					</td>
					<td align="center">
					<!-- BEGIN index --><a class="manualIndex" href="{friendly_url}">{MANUAL_CONTENT_MSG}</a><!-- END index -->
					</td>
					<td align="center">
					<!-- BEGIN next_article --><a class="manualNext" href="{friendly_url}">{MANUALS_NEXT_ARTICLE}</a><!-- END next_article -->
					</td>
				</tr>
			</table>
			<!-- end item -->
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>