<a name="related-products"></a>
<div class="block-related-products {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{related_products_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<!-- BEGIN ri_rows -->
			<tr>
				<!-- BEGIN ri_cols -->
				<td align="left" valign="top" width="{ri_column}" class="padding10px">
					<div class="relTitle">
						<a class="title {product_new_class} {restricted_class}" href="{details_url}" title="{a_title}">{item_name}<!--begin product_new_image--><img src="images/tr.gif" alt="" class="{product_new_class}" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a>
					</div>
					<div>
						<!-- begin ri_small_image --><a href="{details_url}" title="{a_title}"><img class="relImg" src="{src}" {width} {height} align="left" border="0" alt="{alt}" /></a><!-- end ri_small_image -->

						<!-- begin ri_price_block -->
						<div class="{price_block_class}">{PRICE_MSG}: <span class="price">{ri_price}</span> <span class="priceTax">{ri_tax_price}</span></div>
						<!-- end ri_price_block -->
						<!-- begin ri_sales -->
						<div class="salesBlock">{OUR_PRICE_MSG}: <span class="salesPrice">{ri_sales_price}</span> <span class="salesTax">{ri_tax_sales}</span></div>
						<!-- end ri_sales -->
						<!-- begin ri_availability -->
						{PROD_AVAILABILITY_MSG}: {shipping_time_desc}
						<!-- end ri_availability -->
						<div class="shortdescr">
							{short_description} <a class="buttonMore" href="{details_url}" title="{a_title}"><span><b>{READ_MORE_MSG}</b>.</span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
						</div>
					</div>
				</td>
				<!-- END ri_cols -->
			</tr>
			<!-- END ri_rows -->
			</table>

			<!-- begin ri_navigator_block -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="right" class="padding10px">&nbsp;{ri_navigator}&nbsp;</td></tr>
			</table>
			<!-- end ri_navigator_block -->

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>