<div class="block-forum-search {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<form action="{forum_href}" method="get">
		<div class="padding10px"><!-- BEGIN search_categories -->
			<select name="sf" class="search field"><!-- begin sf -->
				<option {sf_selected} value="{sf_value}">{sf_description}</option><!-- end sf -->
			</select><!-- END search_categories -->
			<input class="search field" type="text" name="sw" value="{sw}" />&nbsp; 
			<span class="submit"><input type="submit" value="{SEARCH_BUTTON}" class="submit" /></span>
		</div>
		</form>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>