<div class="block-site-search-results {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<!-- begin no_results -->
			<div class="messagebg">{DID_NOT_MATCH_ANY_DOCUMENTS_MSG} - <b>{query}.</b></div>
			<!-- end no_results -->

			<!-- begin ss_items -->
			<!-- begin navigator_block -->
			<div align="right" class="middlebg padding6px">{navigator}</div>
			<!-- end navigator_block -->
			<!-- BEGIN ss_rows -->
			<div class="padding6px">
				<div><a class="title" href="{details_url}">{ss_title}</a></div>
				<div>{ss_desciption}</div>
				<div class="link">{ss_url}</div>
			</div>
			<!-- END ss_rows -->
			<!-- begin navigator_block -->
			<div align="right" class="middlebg padding6px">{navigator}</div>
			<!-- end navigator_block -->
			<!-- end ss_items -->
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
