<script type="text/javascript">
$(document).ready(function(){
	var css = '#signup-response {padding-left: 25px;}		.response-waiting {background:url(images/loading.gif) no-repeat;}.response-success {background:url(images/tick.png) no-repeat;} .response-error {background:url(images/cross.png) no-repeat;}',
    head = document.getElementsByTagName('head')[0],
    style = document.createElement('style');

	style.type = 'text/css';
	if(style.styleSheet){
		style.styleSheet.cssText = css;
	}else{
		style.appendChild(document.createTextNode(css));
	}
	head.appendChild(style);

    $('#newsletter-signup').submit(function(){        
        //check the form is not currently submitting
        if($(this).data('formstatus') !== 'submitting'){
            var form = $(this),
                formData = form.serialize(),
                formUrl = form.attr('action'),
                formMethod = form.attr('method'), 
                responseMsg = $('#signup-response');
            form.data('formstatus','submitting');
            responseMsg.hide()
                       .addClass('response-waiting')
                       .text('Please Wait...')
                       .fadeIn(200);

            $.ajax({
                url: formUrl,
                type: formMethod,
                data: formData,
                success:function(data){
                    var responseData = jQuery.parseJSON(data), 
                        klass = '';
                    switch(responseData.status){
                        case 'error':
                            klass = 'response-error';
                        break;
                        case 'success':
                            klass = 'response-success';
                        break;    
                    }
                    responseMsg.fadeOut(200,function(){
                        $(this).removeClass('response-waiting').removeClass('response-error')
                               .addClass(klass)
                               .html(responseData.message)
                               .fadeIn(200,function(){
                                   //set timeout to hide response message
                                   setTimeout(function(){
                                       responseMsg.fadeIn(2000,function(){
                                           //$(this).removeClass(klass);
                                           form.data('formstatus','idle');
                                       });
                                   },3000)
                                });
                    });
                }
            });
        }        
        //prevent form from submitting
        return false;
    });
});
</script>

<div class="block-subscribe {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">

<form id="newsletter-signup" action="?action=signup" method="post">
        <label for="signup-email">{SUBSCRIBE_FORM_MSG}</label>
        <input type="text" name="signup-email" id="signup-email" value="{subscribed_email}" class="field"/>
        <input type="submit" id="signup-button" value="{SUBSCRIBE_BUTTON}" class="submit"/>
        <p id="signup-response"></p>
</form>
</div>	
</div>
</div>
</div>
