<div id="pb_{pb_id}" class="block-cart {block_class}" style="{block_style}">
<form name="small_cart" action=""><input type="hidden" name="pb_id" value="{pb_id}" /></form>

<!-- begin empty_small_cart -->
	<!-- {EMPTY_CART_MSG} -->
<div id="head_cart">
        <a href="{basket_href}" title="Ваша корзина" ><div id="cart_ris"></div></a>
        <a href="{basket_href}" title="Ваша корзина" >Ваша корзина</a>
	<span>товаров: <span>{total_quantity}</span></span>
	<span>на сумму: <span>{total_price}</span></span>
        <a class="but" href="{basket_href}" title="посмотреть" >посмотреть</a>
</div>
<!-- end empty_small_cart -->

<!-- begin small_cart -->
<div id="head_cart">
        <a href="{basket_href}" title="Ваша корзина" ><div id="cart_ris"></div></a>
        <a href="{basket_href}" title="Ваша корзина" >Ваша корзина</a>
	<span>товаров: <span>{total_quantity}</span></span>
	<span>на сумму: <span>{total_price}</span></span>
        <a class="but" href="{basket_href}" title="посмотреть" >посмотреть</a>
</div>
<!-- end small_cart -->

</div>