Ваш регион: <b>Все регионы</b>
<select onchange="if(this.options[this.selectedIndex].value!=''){window.location=this.options[this.selectedIndex].value}else{this.options[selectedIndex=0];}">
<option value="#">Выбрать регион</option>
<option value="index.php">Волгоград</option>
<option value="index.php">Волжский</option>
<option value="index.php">Алексеевка и Алексеевский район</option>
<option value="index.php">Быково и Быковский район</option>
<option value="index.php">Камышин и Камышинский район</option>
<option value="index.php">Урюпинск и Урюпинский район</option>
<option value="index.php">Россия, Не Волгоградская область</option>
</select>
