<div class="block-slider-carousel" id="BLZ-VA-CAR">

<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="BlockData" style="{data_block_style}">
        <ul id="BLZ_VA_CAROUSEL_{pb_id}">
		<!-- begin data -->
            <!-- begin li -->
            <li>
                <table {width}>
                    <!-- begin slider_image -->
                    <tr>
                        <td align="center">
                            <a href="{slider_link}"><img src="{src}" /></a>
                        </td>
                    </tr><!-- end slider_image -->
					<!-- begin slider_title -->
                    <tr>
                        <td align="center">
                            <a href="{slider_link}">{slideName}</a>
                        </td>
                    </tr></tr><!-- end slider_title -->
                    
                </table>
            
            </li><!-- end li -->
            
		<!-- end data -->
        </ul>
	</div>

    <script type="text/javascript" src="/js/jcarousel.js"></script>
				
	
<script type="text/javascript">
//<![CDATA[
$(function() {
	var genwidth = $('#BLZ-VA-CAR_{pb_id}').width(),
		checkPadding = {checkPadding},
		fullQ = (genwidth - 70) / {eWidth},
		elems = Math.floor(fullQ),
		eWidth = {eWidth};
	if(checkPadding === 1){
		eWidth = parseInt((genwidth - 70) / elems) - 5;
	}
	$('#BLZ_VA_CAROUSEL_{pb_id}').show();
	$('#BLZ_VA_CAROUSEL_{pb_id}').jcarousel({
		vertical: false,
		size: {slides_qty},
		scroll: {items_per_slide},
		animation: 'normal',
		easing: 'swing',
				auto: 0,
				autoDirection: 'next',
		wrap: 'circular',
		/*initCallback: $.ceScrollerMethods.init_callback,
		itemVisibleOutCallback: {onAfterAnimation: $.ceScrollerMethods.in_out_callback},*/
		item_width: eWidth,
		item_height: {elemHeight},
		clip_width: 40,
		clip_height: 240,
		item_count: {slides_qty}
	});
});
//]]>
</script>
</div>