<div class="block-user-product-images {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

	<table cellspacing="1" class="padding6px" border="0" width="100%"><!-- begin sorters -->
	<tr class="middlebg" align="center">
		<td>{sorter_image_id}</td>
		<td>{sorter_image_title}</td>
		<td>&nbsp;</td>
	</tr><!-- end sorters --><!-- begin records -->
	<tr class="usual" align="center">
		<td>{image_id}</td>
		<td align="left">{image_title}</td>
		<td><a href="{item_image_href}?image_id={image_id}&item_id={item_id}">Редактировать изображение</a></td>
	</tr><!-- end records --><!-- begin no_records -->
	<tr class="usualbg">
		<td colspan="3">Изображений нет</td>
	</tr><!-- end no_records -->
	<tr class="middlebg">
		<td colspan="3"><!-- begin add_item -->
			<a href="{item_image_href}?item_id={item_id}">Добавить изображение</a><!-- end add_item -->
		</td>
		<td align="right">{navigator}</td>
	</tr>
	</table>

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>