<div class="bPopular {block_class}">
    <div class="BlockTop">
        <div class="TopCenter">
            <div class="TopLeftBgr">
                <div class="TopRightBgr">
                    <div class="TopLeft"></div>
                    <div class="TopRight"></div>
                    <div class="TopTitle">
                        <div class="TopTitleBgr"><div>Популярные товары</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs">
        <!--begin slider_header -->
            <span data-tab-pos="{tab_pos}" onclick="BLZMoveSlider(this)">{tab_name}</span>
        <!--end slider_header -->
    </div>
    <div class="sliderHover">
    <div class="sliderContainer" id="bkPopular">
        <!--begin slider_elem -->
        <div class="popData" data-pos="1" data-count="{calc_items}">
            <div class="cPrev"></div>
            <div class="sOfferRow">
                <div class="sRotator" data-count="{calc_items}" data-pos="1">
                    <!-- begin parent_item -->
                    <div class="sItem">
                         <div class="sOImg"><a href="{special_href}"><img {image_offer_js} src="{special_image}" /></a></div>
						 <div class="priceBlock">{o_price} р. &nbsp;</div>
						 <h2 class="pItemTitle listing"><a class="bigtitle" href="{special_href}">{product_name}</a></h2>
                        <div class="clearboth"></div>
                    </div><!-- end parent_item -->
                    <div class="clearboth"></div>
                </div>
            </div>
            <div class="cNext"></div>
            <div class="clearboth"></div>
        </div><!--end slider_elem -->
    </div>
    </div>
</div>
<div style="display:none">
<!-- begin blz_item_preview -->
    <div id="blzItem{p_item_id}" class="blzPreview">
        <div class="pTitle">{full_name}</div>
        <img src="{big_image}" />
        <div class="blzText">{offer_text}</div>
    </div>
<!-- end blz_item_preview -->
</div>

<script type="text/javascript">
    (function(){
        BLZ_Event(window, 'load', initBlocks);

        function initBlocks(){
            setBlockWidth();
            var container = document.getElementById('bkPopular'),
                rows = container.childNodes,
                rowLen = rows.length,
                i=0, categoryRow = [], subs;
            
            for(;i < rowLen; i++){
                if(blzHasClass(rows[i], 'popData')){
                    categoryRow.push(rows[i]);
                }
            }
            
            rowLen = categoryRow.length;
            for(i=0; i < rowLen; i++){
                subs = categoryRow[i].getAttribute("data-count");
                if(subs > 3){
                    setAnimation(categoryRow[i]);
                }

            }
        }

        function setBlockWidth(){
            var elem = $('#bkPopular'),
                parentWidth = elem.parent().innerWidth();
            elem.width(parentWidth);
            $('.sOfferRow').width(parentWidth - 60);
            $('.popData').width(parentWidth);

        }

        $(window).resize(function() {
            setBlockWidth();
        });
        
        function setAnimation(elem){
            var cNodes = elem.childNodes,
                eLen = cNodes.length,
                i = 0, _tLen, _tN, j, _tElem, _elemWidth, _subs,_prntN;
            for(; i < eLen; i++){

                if(blzHasClass(cNodes[i], 'cPrev')){
                    cNodes[i].onclick = moveBack;
                    cNodes[i].style.visibility = "visible";
                }
                else if(blzHasClass(cNodes[i], 'cNext')){
                    cNodes[i].onclick = moveForvard;
                    cNodes[i].style.visibility = "visible";
                }
                else if(blzHasClass(cNodes[i], 'sOfferRow')){

                    _tN = cNodes[i].getElementsByTagName('div');
                    _tLen = _tN.length;
                    for(j = 0; j < eLen; j++){
                        if(typeof _tN[j] != 'undefined' && blzHasClass(_tN[j], 'sRotator')){

                            var _l, d, _c=0;
                            _elemWidth = 0;
                            _prntN = 0;
                            _tElem = _tN[j];
                            _subs = _tElem.childNodes;
                            _l = _subs.length;
                            for(d = 0; d < _l; d++){
                                if(blzHasClass(_subs[d], 'sItem')){
                                    
                                    _c++;
                                    _elemWidth += _subs[d].offsetWidth + 25;
                                    if(_c < 6){
                                        _prntN +=_subs[d].offsetWidth;
                                    }
                                }
                                
                            }
                                                
                            _tElem.style.width = _elemWidth + 4 + 'px';
                        }
                    }
                }
            }
        }
        
        function moveBack(){
            var es = this.parentNode.getElementsByTagName('div'),
                esLen = es.length, i = 0, to, lft, dataCount, dataPos;
            for(; i < esLen; i++){
                if(typeof es[i] != 'undefined' && blzHasClass(es[i], 'sRotator')){
                    element = es[i];
                    lft = (isNaN(parseFloat(es[i].style.left))) ? 0 : parseFloat(es[i].style.left);

                    to = 450;
                    dataCount = es[i].getAttribute("data-count");

                    if (lft == 0){return;}
                    if (lft + to > 0){
                       to = 0 - lft;
                    }
                    
                    dataPos = es[i].getAttribute("data-pos");
                    var newStart = (parseInt(dataPos) - 2)
                    es[i].setAttribute("data-pos", newStart);
                    
                }
                else if(typeof es[i] != 'undefined' && blzHasClass(es[i], 'subCounter')){
                    subCounter = es[i];
                }
            }   

            duration = (to < 200) ? 400 : 1000;
            animate({
                delay: 10,
                duration: duration,
                delta: linear,
                step: function(delta) {
                  element.style.left = lft +to*delta + "px"
                }
            })
            
        }
        
        function moveForvard(){
            //console.log(this);
            var es = this.parentNode.getElementsByTagName('div'),
                esLen = es.length, i = 0, to, lft, subCounter,
                element, elementWidth, rotatorParentWidth, jElem;
            for(; i < esLen; i++){
                if(typeof es[i] != 'undefined' && blzHasClass(es[i], 'sRotator')){
                    element = es[i];
                    lft = (isNaN(parseFloat(es[i].style.left))) ? 0 : parseFloat(es[i].style.left);

                    to = 450;
                    dataCount = es[i].getAttribute("data-count");

                    jElem = $(element);
                    elementWidth = jElem.innerWidth();
                    rotatorParentWidth = jElem.parent().innerWidth();

                    if (- lft == elementWidth - rotatorParentWidth) {return;}

                    if (to - lft > elementWidth - rotatorParentWidth) {
                        to = elementWidth - rotatorParentWidth - to;
                    }
                    dataPos = es[i].getAttribute("data-pos");
                    var newStart = (parseInt(dataPos) + 2)
                    es[i].setAttribute("data-pos", newStart);
                }
                else if(typeof es[i] != 'undefined' && blzHasClass(es[i], 'subCounter')){
                    subCounter = es[i];
                }
            }

            duration = (to < 200) ? 400 : 1000;
            animate({
                delay: 10,
                duration: duration,
                delta: linear,
                step: function(delta) {
                  element.style.left = lft -to*delta + "px"
                }
            })
            
            
        }
        
        function blzHasClass(element, cls) {
            var r = new RegExp('\\b' + cls + '\\b');
            return r.test(element.className);
        }
        
        function animate(opts) {
  
            var start = new Date;

            var id = setInterval(function() {
                var timePassed = new Date - start;
                var progress = timePassed / opts.duration;

                if(progress > 1) {
                    progress = 1;
                }
            
                var delta = opts.delta(progress);
                opts.step(delta);
            
                if(progress == 1){
                    clearInterval(id);
                }
            }, opts.delay || 10)
  
        }
        
        function circ(progress) {
            return 1 - Math.sin(Math.acos(progress));
        }
        
        function linear(progress) {
            return progress;
        }

    }());
    
        function BLZMoveSlider(elem){
            $(".tabs span").each(function(){
                $(this).removeClass("tAcrive");
            });
            $(elem).addClass("tAcrive");
            var dispos = elem.getAttribute("data-tab-pos"),
                container = document.getElementById('bkPopular');
             $(container).animate({
                top: (dispos - 1) * -290

                }, 500)
        }

    $(document).ready(function(){
         $(".tabs span").eq(0).addClass("tAcrive");
    });
</script>