<div class="block-forum-top-viewed {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">

			<table width="100%" border="0" cellspacing="0" cellpadding="2"><!-- BEGIN top_viewed_rows -->
			<tr><!-- BEGIN top_viewed_cols -->
				<td align="left" valign="top" width="{top_viewed_column}">
					<div class="top">
						<!--begin block_topic-->
						<img src="./images/icons/closed.gif" alt="Restricted Topic" border="0" align="absmiddle" /><!--end block_topic-->
						<a class="top10" href="{forum_topic_url}">{topic_title}</a> 
						({total_views})						
					</div>
				</td><!-- END top_viewed_cols -->
			</tr><!-- END top_viewed_rows -->
			</table>

		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>