<div class="block-search {block_class}" style="{block_style}">
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<form action="{search_href}" method="get">
		<div class="padding10px"><!-- BEGIN search_categories -->
                        <div id="search_ik"></div>
			<select class="search field" name="search_category_id"><!-- begin search_category_id -->
				<option {search_category_id_selected} value="{search_category_id_value}">{search_category_id_description}</option><!-- end search_category_id -->
			</select><!-- END search_categories --><!-- begin no_search_categories -->
			<input type="hidden" name="search_category_id" value="{top_id}" /><!-- end no_search_categories -->
			<input class="search field" type="text" name="search_string" value="{search_string}" />
			<span class="submit"><input class="submit" type="submit" name="search" value=" {GO_BUTTON} " /></span><br>
			<!-- BEGIN advanced_search --><a class="advancedSearch" href="{advanced_search_href}">{ADVANCED_SEARCH_TITLE}</a><!-- END advanced_search -->
		</div>
		</form>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>