<div class="block-forum-latest {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">

			<table width="100%" border="0" cellspacing="0" cellpadding="2"><!-- BEGIN latest_rows -->
			<tr><!-- BEGIN latest_cols -->
				<td align="left" valign="top" width="{latest_column}">
					<span class="articleDate">{latest_updated}</span>
					<div><!--begin block_topic-->
					<img src="./images/icons/closed.gif" alt="Restricted Topic" border="0" align="absmiddle" /><!--end block_topic-->
					<a href="{forum_topic_url}">{topic_title}</a></div><!-- begin latest_topic_pages_block -->
					<div class="smallText">[ <img src="images/icons/mini_page.gif" alt="" />&nbsp;<a class="smallText" href="{forum_topic_url}">1</a><!-- begin latest_topic_pages -->,<a class="smallText" href="{forum_topic_page_url}">{page_number}</a><!-- end latest_topic_pages --> ]</div><!-- end latest_topic_pages_block -->
				</td><!-- END latest_cols -->
			</tr><!-- END latest_rows -->
			</table>

		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>