<div class="block-site-map {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

	<!-- begin navigator_block -->
	<div class="padding6px usualbg">
		<div class="floatright">{navigator}</div>
		<div class="clearboth"></div>
	</div><!-- end navigator_block -->
	
	<div class="padding10px SiteMap">
		<ul><!-- BEGIN item -->
			<li>
				<a href="{item_url}">{item_name}</a>
				{subitems}
			</li><!-- END item -->
		</ul>
	</div>

	<!-- begin navigator_block -->
	<div class="padding6px usualbg">
		<div class="floatright">{navigator}</div>
		<div class="clearboth"></div>
	</div><!-- end navigator_block -->
		
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>