<div class="block-sms-test {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
		<form action="{current_href}" method="get">
		{hidden_parameters}
			<!-- begin sms_error -->
			<div class="errorbg"><b>{error_desc}</b></div><br />
			<!-- end sms_error -->
			<div>{SMS_TEST_DESC}</div><br />
			<div>
				<input class="field" type="text" size="15" name="phone_number" value="{phone_number}" /> 
				<span class="submit"><input class="submit" type="submit" value="{SEND_BUTTON}" /></span>
			</div>
		</form>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>