<div class="footerAll" style="{block_style}">
	<div class="footerMenu"><!-- begin footer_links --><!-- begin page_separator -->
		<span> | </span><img class="separator" src="images/tr.gif" alt="" /><!-- end page_separator -->
		<a class="smallText" href="{menu_url}" {menu_target} onclick="{onclick_code}">{menu_title}</a><!-- end footer_links -->
	</div>
	<div class="footerHTML">{footer_html}</div>
	<div class="footerImg"><a title="Viarts" href="http://www.viarts.ru"><img alt="Viart Shop RE - универсальное решение для создания интернет-магазинов" title="Viart Shop RE - универсальное решение для создания интернет-магазинов" style="background-image: url('images/button-powered.png');" class="png-powered" src="images/tr.gif" /></a></div>
</div>