<!-- begin first_on -->
<a href="{page}">First</a><!-- end first_on --><!-- begin first_off -->
First<!-- end first_off -->
<!-- begin prev_on -->
<a href="{page}">Previous</a><!-- end prev_on --><!-- begin prev_off -->
Previous<!-- end prev_off -->

<!-- begin page_before -->
<a href="{page}">{first_record} - {last_record}</a><!-- end page_before -->

[ {current_first_record} - {current_last_record} ] of {total_records}

<!-- begin page_after -->
<a href="{page}">{first_record} - {last_record}</a><!-- end page_after -->

<!-- begin next_on -->
<a href="{page}">Next</a><!-- end next_on --><!-- begin next_off -->
Next<!-- end next_off -->
<!-- begin last_on -->
<a href="{page}">Last</a><!-- end last_on --><!-- begin last_off -->
Last<!-- end last_off -->

