<div id="shipping_opacity" class="shipping-opacity" style="display: none;" onclick="hideShippingFrame();return false;"></div>

<div id="shipping_shadow" class="shipping-shadow" style="display: none;">
<div class="shipping-block">
<div class="shipping-img-close" align="right"><a href="#" onclick="hideShippingFrame();return false;"><img src="images/icons/close.gif" border="0" alt="" /></a></div>

<div id="shipping_win" class="shipping-descr">
<iframe id="shipping_page" name="shipping_frame" width="570" height="400" frameborder="0"></iframe>
</div>

</div>
</div>