<div class="downloads">
 	<!-- begin errors_block -->
	<div class="errorbg" align="center">{download_errors}</div><!-- end errors_block -->
	<br />
	<!-- begin terms_form -->
	<form name="download" action="{download_href}" method="post">
	<input type="hidden" name="operation" value="download" />
	<input type="hidden" name="download_id" value="{download_id}" />
	<input type="hidden" name="release_id" value="{release_id}" />
	<input type="hidden" name="path_id" value="{path_id}" />
	<input type="hidden" name="order_item_id" value="{order_item_id}" />
	<input type="hidden" name="vc" value="{vc}" />
	<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr> 
			<td class="title">{item_name}</td>
		</tr>
		<tr> 
			<td valign="top">
				<!-- begin item_image --><img class="productImg" name="item_image" src="{image_src}" {image_size} border="0" alt="{image_alt}" /><!-- end item_image -->
				{item_desc}
			</td>
		</tr>
		<tr> 
			<td class="title">{DOWNLOAD_TERMS_MSG}</td>
		</tr>
		<tr> 
			<td valign="top" align="center">
				<div class="terms">{terms_text}</div>
			</td>
		</tr>
		<tr> 
			<td><input type="checkbox" name="terms_agreed" value="1" />{DOWNLOAD_TERMS_USER_DESC}</td>
		</tr>
		<tr> 
			<td><span class="submit"><input type="submit" class="submit" name="download" value="{DOWNLOAD_BUTTON}" /></span></td>
		</tr>
	</table>
	</form>
	<!-- end terms_form --></div>
