<script type="text/javascript" src="js/ajax.js"></script>
<script type="text/javascript" src="js/categories_chained_menu.js"></script>
<div class="block-categories-chained-menu {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>

	<form action="{search_href}" method="get">
		<div id="categories_box" class="padding10px">
			<select id="category_0" onchange="getCategory(this, this.value, 0); return false;">
				<option value="-1">{SELECT_CATEGORY_MSG}</option>
				<!--begin category_option-->
				<option value="{category_id}">{category_name}</option>
				<!--end category_option--> 
			</select>
		</div>
	</form>
</div>