<div class="block-userhome-breadcrumb {block_class}" style="{block_style}">
<div class="Breadcrumb">
	<div class="BreadcrumbCenter">
		<div class="BreadcrumbLeftBgr">
			<div class="BreadcrumbRightBgr">
				<div class="BreadcrumbLeft"></div>
				<div class="BreadcrumbRight"></div>
				<div class="Breadcrumbs">
					<div class="BreadcrumbsBgr"><div><a href="{user_home_href}">{MY_ACCOUNT_MSG}</a><!-- BEGIN tree -->
						<span> &nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp; </span><img src="images/tr.gif" alt="" /><a href="{tree_url}" class="{tree_class}">{tree_title}</a><!-- END tree -->
					</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>