<a name="block_{pb_id}"></a>
<div class="block-products-fast-add {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<!-- BEGIN errors_block --><div class="errorbg" align="center"><b>{errors}</b></div><!-- END errors_block -->
		<!-- BEGIN message_block --><div class="messagebg" align="center">{message}</div><!-- END message_block -->
		<form action="{current_href}#block_{pb_id}" method="post" name="products_{pb_id}" />
			{hidden_parameters}
			<input type="hidden" name="operation" value="add" />
			<input type="hidden" name="pb_id" value="{pb_id}" />
			{CODE_MSG}<br />			<input class="search" type="text" name="fast_code" value="{fast_code}" /><br />
			{QUANTITY_MSG}<br />
			<input class="search" type="text" name="fast_quantity" value="{fast_quantity}" /><br />
			<input class="submit" type="submit" value="{ADD_TO_CART_MSG}" name="add_product" />
			<div class="clearboth"></div>
		</form>
	</div>
</div>