<script type="text/javascript" src="js/images.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript">
//<![CDATA[
var requiredProperty = "{REQUIRED_PROPERTY_MSG}";
var addProduct = "{ADD_PRODUCT_MSG}";
var confirmAdd = "{confirm_add}";
//]]>
</script>
<div class="block-product-details {block_class}" style="{block_style}">

	<h2 class="blockTitle {product_new_class}">{block_title}</h2><!--begin product_new_image--><!--end product_new_image-->

	<div class="BlockData">

		<!-- begin no_item --><div class="padding10px"><div class="errorbg">{NO_PRODUCT_MSG}</div></div><!-- end no_item -->

		<!-- BEGIN item -->
		
		<div class="padding10px">
		
			<!-- start item table -->
			
			<!-- BEGIN item_added --><div class="messagebg" align="center">{added_message}</div><!-- END item_added -->
			
			<!-- BEGIN sc_errors --><div class="errorbg" align="center">{errors_list}</div><!-- END sc_errors -->
			
			<form name="products_{pb_id}" action="{product_details_href}" method="post">
			
				<input type="hidden" name="tab" value="{tab}" />
				
				{hidden_parameters}
				
				<input type="hidden" name="rp" value="{rp}" />
				
				<input type="hidden" name="rnd" value="{rnd}" />
				
				<input type="hidden" name="cart" value="ADD" />
				
				<input type="hidden" name="redirect_to_cart" value="{redirect_to_cart}" />
				
				<input type="hidden" name="multi_add" value="0" />
				
				<input type="hidden" name="saved_type_id" value="" />
				
				<input type="hidden" name="start_index" value="{start_index}" />
				
				<input type="hidden" name="item_index" value="" />
				
				<input type="hidden" name="items_indexes" value="{items_indexes}" />

				<input type="hidden" name="item_id{form_id}" value="{item_id}" />
				
				<input type="hidden" name="tax_percent{form_id}" value="{tax_percent}" />
				
				<input type="hidden" name="product_params{form_id}" value="{product_params}" />

				<table width="100%" border="0" cellspacing="0" cellpadding="3">
				
					<tr>
					
						<td align="center" valign="top">
						
							<!-- begin big_image -->
							
							<a id="blackImg" {a_super_image_js} href="{src_sup}"><img {img_super_image_js} class="productImg" id="image_{form_id}" name="image_{form_id}" src="{src}" {width} {height} border="0" alt="{alt}" /></a><!-- end big_image -->
							
							{product_previews_under_large}
							
							<!-- begin main_images -->
							
							<div class="rolloverImagesTop"><!-- begin main_images_rows --><!-- begin main_images_cols -->
							
								<a href="{image_super}" target="_blank" onclick="{image_click_js}" onmouseover="{rollover_js}"><img src="{image_small}" {image_size} border="0" alt="{image_alt}" /></a><!-- end main_images_cols --><!-- end main_images_rows -->
							
							</div><!-- end main_images -->
							
							<!-- begin super_image --><div><a id="super_link_{form_id}" href="{src}" title="{item_name}" onclick="{open_large_image_function}" style="{super_link_style}">{PROD_SUPER_IMAGE_MSG}</a></div><!-- end super_image -->
							
							<!-- begin manufacturer_image -->
							
							<div class="manufacturerImage"><img src="{manufacturer_image_src}" alt="{manufacturer_image_alt}" border="0" /></div><!-- end manufacturer_image -->
						
						</td>
						
					</tr>
					
					<tr>
						<td align="left" valign="top">
						
							<div>
								
								<!-- begin price_block -->
								
								<div id="price_block{form_id}" class="{price_block_class}">{PRICE_MSG}:&nbsp;<span id="price{form_id}" class="price">{price_control}</span> <span class="priceTax">{tax_price}</span></div><!-- end price_block -->
								
								<!-- begin sales -->
								
								<div class="salesBlock">{OUR_PRICE_MSG}:&nbsp;<span id="sales_price{form_id}" class="salesPrice">{sales_price_control}</span> <span class="salesTax">{tax_sales}</span></div><!-- end sales -->
								
								<!-- begin save -->
								
								<div class="priceSaveBlock">{YOU_SAVE_MSG}: <span class="price">{you_save}</span> <span class="percent">({discount_percent}%)</span></div><!-- end save -->

								<!-- begin price_matrix -->
								
								<div class="matrix">
								
									<div class="matrixQty">
										
										<div class="matrixTitle">{QTY_MSG}</div><!-- begin matrix_quantities -->
										
										<div class="matrixItem">{matrix_quantity}</div><!-- end matrix_quantities -->
									
									</div>
									
									<div class="matrixPrice">
										
										<div class="matrixTitle">{PRICE_MSG}</div><!-- begin matrix_prices -->
										
										<div class="matrixItem priceBlock"><span class="price">{matrix_price}</span> <span class="priceTax">{matrix_tax_price}</span></div><!-- end matrix_prices -->
									
									</div>
									
									<div class="clearboth"></div>
								
								</div><!-- end price_matrix -->

								<!-- begin points_price_block -->
								
								<div class="pointsPriceBlock">{POINTS_PRICE_MSG}:&nbsp;<span id="points_price{form_id}" class="points">{points_price}</span></div><!-- end points_price_block -->
								
								<!-- begin reward_points_block -->
								
								<div class="rewardPointsBlock">{REWARD_POINTS_MSG}:&nbsp;<span id="reward_points{form_id}" class="points">{reward_points}</span></div><!-- end reward_points_block -->
								
								<!-- begin reward_credits_block -->
								
								<div class="rewardCreditsBlock">{REWARD_CREDITS_MSG}:&nbsp;<span id="reward_credits{form_id}" class="credits">{reward_credits}</span></div><!-- end reward_credits_block -->

								<!-- begin item_code_block -->
								
								<div class="productCode">{PROD_CODE_MSG}: <b>{item_code}</b></div><!-- end item_code_block -->	
								
								<!-- begin manufacturer_code_block -->
								
								<div class="manufacturerCode">{MANUFACTURER_CODE_MSG}: <b>{manufacturer_code}</b></div><!-- end manufacturer_code_block -->	
								
								<!-- begin product_preview -->
								
								<div class="productPreview">{PROD_PREVIEW_MSG}: <a href="{preview_url}" onclick="return openPreviewWin('{preview_url}', {preview_width}, {preview_height});">{PROD_PREVIEW_CLICK_MSG}</a></div><!-- end product_preview -->
								
								<!-- begin properties -->
								
								<div id="{property_block_id}" style="{property_style}">{property_name}: {property_control}</div><!-- end properties -->
								
								<!-- begin stock_level_block -->
								
								<div id="block_sl{form_id}" class="stockLevel" style="{sl_style}">{STOCK_LEVEL_MSG}: <span id="sl{form_id}" class="stock_level">{stock_level}</span></div><!-- end stock_level_block -->	
								
								<!-- begin quantity -->
								
								<div class="productQty">{PROD_QTY_COLUMN}: {quantity_control}</div><!-- end quantity -->	
							
							</div>
							
							<div class="productDetailsButtons">
								<br /><br />
								
								<!-- begin add_button -->
								
								<a class="button button-add" id="add{form_id}" href="{buy_href}" onclick="{buy_onclick}"><span>{ADD_TO_CART_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}" /></a><!-- end add_button -->
								
								<!-- begin add_button_disabled -->
								<br /><br />
								
								<a class="disabled" title="{PRODUCT_OUT_STOCK_MSG}" onclick="alert('{out_stock_alert}');">{ADD_TO_CART_MSG}</a><!-- end add_button_disabled -->
								
								<!-- begin view_button -->
								
								<br /><br />
								
								<a class="button button-view" id="view{form_id}" href="{basket_href}?rp={rp_url}"><span>{VIEW_CART_MSG}</span><img src="images/tr.gif" alt="{VIEW_CART_MSG}" /></a><!-- end view_button -->
								
								<!-- begin checkout_button -->
								
								<br /><br />
								
								<a class="button button-check" id="check{form_id}" href="{checkout_href}?rp={rp_url}"><span>{GOTO_CHECKOUT_MSG}</span><img src="images/tr.gif" alt="{GOTO_CHECKOUT_MSG}" /></a><!-- end checkout_button -->
								
								<!-- begin wishlist_button -->
								
								<br /><br />
								
								<a class="button button-wishlist" id="wishlist{form_id}" href="{wishlist_href}" onclick="return confirmBuy('products_{pb_id}', '{form_id}', 'wishlist', 'wishlist{form_id}');"><span>{ADD_TO_WISHLIST_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_WISHLIST_MSG}" /></a><!-- end wishlist_button -->
								
								<!-- begin shipping_button -->
								
								<br /><br />
								
								<a class="button button-shipping" id="shipping{form_id}" href="{buy_href}" onclick="return confirmBuy('products_{pb_id}', '{form_id}', 'shipping', 'shipping{form_id}');"><span>{SHIPPING_CALCULATOR_MSG}</span><img src="images/tr.gif" alt="{SHIPPING_CALCULATOR_MSG}" /></a><!-- end shipping_button -->
								
								<br />
								
							</div>
							
							<!-- begin features_list_block -->
								
								<div class="featuresList"><b>{PROD_HIGHLIGHT_MSG}:</b><br />{features_list}</div><!-- end features_list_block -->
								
						
						</td>
					
					</tr>
				
				</table>
			
			</form>

		</div><!-- END item -->

		<!-- begin tabs_block -->
		
		<ul class="DetailTabs">	
		
			<!-- BEGIN tabs --><li id="{tab_td_id}" class="{tab_style}"><a id="{tab_a_id}" href="{tab_href}" class="{tab_style}" onclick="changeProductTab(document.products_{pb_id}, '{tab_name}'); return false;">{tab_title}</a></li><!-- END tabs -->
			
			<li class="EndTab">&nbsp;</li>   
			
		</ul>
		
		<!-- end tabs_block -->

		<!-- begin description_block -->
		
		<!-- begin title_desc -->
		
		<div class="middlebg padding6px bigtitle">{PROD_DESCRIPTION_MSG}</div>
		
		<!-- end title_desc -->

		<div id="desc_data" style="{desc_style}">
		
			<div class="padding10px">
			
				<!-- begin description --><div>{full_description}</div><!-- end description -->
				
				<!-- BEGIN notes_block --><div class="smallText"><b>{PROD_NOTE_MSG}:</b> {notes}</div><!-- END notes_block -->
				
				<!-- begin availability --><div id="block_sm{form_id}" class="smallText" style="{sm_style}"><b>{PROD_AVAILABILITY_MSG}:</b> <span id="sm{form_id}">{shipping_time_desc}</span></div><!-- end availability -->
				
				<!-- BEGIN shipping_block --><div class="smallText"><b>{PROD_SHIPPING_MSG}:</b> {shipping_rule_desc}</div><!-- END shipping_block -->
				
				<!-- BEGIN weight_block --><div class="smallText"><b>{PROD_WEIGHT_MSG}:</b> {weight}</div><!-- END weight_block -->
			
			</div>
		
		</div><!-- end description_block -->

		<!-- begin specification_block -->
		
		<!-- begin title_spec -->
		
		<br />
		
		<div class="middlebg padding6px bigtitle">{PROD_SPECIFICATION_MSG}</div>
		
		<!-- end title_spec -->

		<div id="spec_data" style="{spec_style}">
		
			<div class="padding10px"><!-- begin groups -->
			
				<div class="specification">
				
					<div class="groupTitle"><b>{group_name}</b></div><!-- begin features -->
					
					<div class="feature">
					
						<div class="featureName">{feature_name}</div>
						
						<div class="featureValue">{feature_value}</div>
						
						<div class="clearboth"></div>
						
					</div><!-- end features -->
					
				</div><!-- end groups -->
				
			</div>
		
		</div><!-- end specification_block -->

		<!-- begin images_block -->
		
		<!-- begin title_images -->
		
		<br />
		
		<div class="middlebg padding6px bigtitle">{PROD_IMAGES_MSG}</div>
		
		<!-- end title_images -->

		<div id="images_data" style="{images_style}">

			<table width="100%" border="0" cellspacing="0" class="padding6px">
			
				<tr>
				
					<td align="center" width="50%">
					
						<div class="padding10px"><img name="rollover_image" src="{rollover_image}" border="0" /></div>
						
						<div><a id="rollover_super" style="{rollover_super_style}" href="{rollover_super_src}" title="" onclick="{rollover_super_click}">{PROD_SUPER_IMAGE_MSG}</a></div>
					
					</td>
					
					<td width="50%">
						
						<!-- begin images_rows --><!-- begin images_cols -->
						
						<div class="rolloverImages">
							
							<div class="title">{image_title}</div>
							
							<a href="{image_super}" target="_blank" onclick="{image_click_js}" onload="alert('{image_large}')" onmouseover="{rollover_js}"><img src="{image_small}" {image_size} border="0" /></a>
							
							<div class="smallText">{image_description}</div>
						
						</div><!-- end images_cols --><!-- end images_rows -->
						
					</td>
					
				</tr>
			
			</table>

		</div><!-- end images_block -->
		
		<!-- begin previews_block -->
		
		<!-- begin title_previews -->
		
		<br />
		
		<div class="middlebg padding6px bigtitle">{PROD_PREVIEWS_MSG}</div>
		
		<!-- end title_previews -->
		
		<div id="previews_data" style="{previews_style}">
		
			<div class="padding10px">
			
				{product_previews_tab}
				
			</div>
		
		</div><!-- end previews_block -->
		
		<!-- begin accessories_block -->
		
		<!-- begin title_accessories -->
		
		<br />
		
		<div class="middlebg padding6px bigtitle">{PROD_ACCESSORIES_MSG}</div>
		
		<!-- end title_accessories -->

		<div id="accessories_data" style="{accessories_style}">
		
			<br />
			
			<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
			
				<!-- begin accessories_rows -->
				
				<tr valign="top">
				
					<!-- begin accessories_cols -->
					
					<td width="50%" class="padding10px">
					
						<a class="title {restricted_class}" href="{accessory_details_url}" title="{accessory_a_title}">{accessory_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a> 
						
						<!-- begin accessory_price_block -->
						
						- <span class="ourprice">{accessory_price}</span> <span class="taxprice">{accessory_tax_price}</span>
						
						<!-- end accessory_price_block -->
						
						<div class="smallText" align="justify">{accessory_description} <a href="{accessory_details_url}" title="{accessory_a_title}">{READ_MORE_MSG}</a></div>
					
					</td><!-- end accessories_cols -->
					
				</tr><!-- end accessories_rows -->
			
			</table>
		
		</div><!-- end accessories_block -->

		<!-- begin reviews_block -->
		
		<!-- begin title_reviews -->
		
		<br />
		
		<div class="middlebg padding6px bigtitle">{REVIEWS_MSG}</div>
		
		<!-- end title_reviews -->

		<div id="reviews_data" style="{reviews_style}">
		
			<div class="padding10px">
			
				<div><a href="{reviews_url}">{RATE_PRODUCT_MSG}</a>.</div>
				
				<div class="SummaryStatistic">
				
					<!-- begin not_rated -->
					
					<b>{NOT_RATED_PRODUCT_MSG}</b><!-- end not_rated -->
					
					<!-- begin summary_statistic -->
					
					<b>{AVERAGE_RATING_MSG}:</b> 
					
					<img class="{average_rating_image}" src="images/tr.gif" alt="{average_rating_alt}" align="top" /> 
					
					{BASED_ON_REVIEWS_MSG}. 
					
					<!-- end summary_statistic -->
					
					<a href="{reviews_url}">{WRITE_REVIEW_MSG}</a>.
					
				</div>
		
				<br />
		
				<!-- begin positive_review -->
				
				<div class="middlebg padding6px">{POSITIVE_REVIEW_MSG}</div>
				
				<div class="articleDate padding6px floatright">{review_date_added}</div>
				
				<div class="{review_user_class} padding6px">{review_user_name} <img class="commend" src="images/tr.gif" align="top" alt="" /></div>
			
				<div class="RatingImage"><img class="{rating_image}" src="images/tr.gif" align="top" /></div>
				
				<div class="RatingText">
				
					<div class="title">{review_summary}</div>
					
					<div align="justify">{review_comments}</div>
					
				</div><!-- end positive_review -->
			
				<!-- begin negative_review -->
				
				<div class="middlebg padding6px">{NEGATIVE_REVIEW_MSG}</div>
				
				<div class="articleDate padding6px floatright">{review_date_added}</div>
				
				<div class="{review_user_class} padding6px">{review_user_name} <img class="discommend" src="images/tr.gif" align="top" /></div>
			
				<div class="RatingImage"><img class="{rating_image}" src="images/tr.gif" align="top" /></div>
				
				<div class="RatingText">
				
					<div class="title">{review_summary}</div>
					
					<div align="justify">{review_comments}</div>
					
				</div><!-- end negative_review -->
			
				<!-- begin all_reviews_link -->
				
				<div align="right" class="middlebg padding6px"><a href="{reviews_url}">{SEE_ALL_REVIEWS_MSG}</a></div><!-- end all_reviews_link -->
			
			</div>
		
		</div><!-- end reviews_block -->

	</div>

</div>

