<a name="block_{pb_id}"></a>
<div class="block-unsubscribe {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>
	<div class="BlockData">
		<div class="padding10px">
			<!-- begin unsubscribe_error -->
			<div class="errorbg"><b>{error_desc}</b></div>
			<!-- end unsubscribe_error -->
			<!-- begin unsubscribe_message -->
			<div class="messagebg"><b>{message_desc}</b></div><br />
			<!-- end unsubscribe_message -->
			<div>{UNSUBSCRIBE_FORM_MSG}</div><br />
			<div>
				<form action="{current_href}#block_{pb_id}" method="get">
					<input type="hidden" name="unsubscribe" value="1" />
					{hidden_parameters}
					<input class="field" type="text" name="unsubscribed_email" value="{unsubscribed_email}" />
					<input class="submit" type="submit" value="{UNSUBSCRIBE_BUTTON}" />										<div class="clearboth"></div>
				</form>
			</div>
		</div>
	</div>
</div>
