<div class="block-sms-test {block_class}" style="{block_style}">
    <h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<form action="{current_href}" method="get">
            {hidden_parameters}
			<!-- begin sms_error -->
			<div class="errorbg"><b>{error_desc}</b></div><br />
			<!-- end sms_error -->
			<div>{SMS_TEST_DESC}</div><br />
			<div>
				<input class="field" type="text" size="15" name="phone_number" value="{phone_number}" /> 
				<input class="submit" type="submit" value="{SEND_BUTTON}" />                                <div class="clearboth"></div>
			</div>
		</form>
	</div>
</div>