<div class="block-twitter-feed {block_class}" style="{block_style}">
    <h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<div class="twitter">
			<div class="twitter_feed" id="twitter_update_list">Loading...</div>  
			<script src="http://twitter.com/javascripts/blogger.js" type="text/javascript"></script>  
			<script src="http://twitter.com/statuses/user_timeline/{tf_nickname}.json?callback=twitterCallback2&count={tf_recs}" type="text/javascript"></script>  
		</div>
	</div>
</div>

