<div class="block-checkout-breadcrumb {block_class}" style="{block_style}">
<div class="Breadcrumb">
	<div class="BreadcrumbCenter">
		<div class="BreadcrumbLeftBgr">
			<div class="BreadcrumbRightBgr">
				<div class="BreadcrumbLeft"></div>
				<div class="BreadcrumbRight"></div>
				<div class="Breadcrumbs">
					<div class="BreadcrumbsBgr"><div>
						<span class="{step1_class}" title="{ORDER_STEP_ONE_MSG}">{ORDER_STEP_ONE_MSG}</span> 
						<span class="{step2_class}" title="{ORDER_STEP_TWO_MSG}">{ORDER_STEP_TWO_MSG}</span> 
						<span class="{step3_class}" title="{ORDER_STEP_THREE_MSG}">{ORDER_STEP_THREE_MSG}</span>
					</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>