<script type="text/javascript">
//<![CDATA[
var requiredProperty = "{REQUIRED_PROPERTY_MSG}";
var addProduct = "{ADD_PRODUCT_MSG}";
var confirmAdd = "{confirm_add}";
//]]>
</script>
<div class="block-offers {block_class}" style="{block_style}">
	<form name="block" action=""><input type="hidden" name="block_code" value="products_offers" /><input type="hidden" name="pb_id" value="{pb_id}" /><input type="hidden" name="slider_type" value="{slider_type}" /></form>
	<a name="block_offers_{pb_id}"></a>

	<form name="products_{pb_id}" method="post" action="#block_offers_{pb_id}">
		<input type="hidden" name="pb_id" value="{pb_id}" />
		<input type="hidden" name="type" value="list" />
		<input type="hidden" name="rnd" value="{rnd}" />
		<input type="hidden" name="cart" value="ADD" />
		<input type="hidden" name="saved_type_id" value="" />
		<input type="hidden" name="redirect_to_cart" value="{redirect_to_cart}" />
		<input type="hidden" name="multi_add" value="{multi_add}" />
		<input type="hidden" name="start_index" value="{start_index}" />
		<input type="hidden" name="item_index" value="" />
		<input type="hidden" name="items_indexes" value="{items_indexes}" />
		{hidden_parameters}
		<h2 class="blockTitle">{block_title}</h2>			<div class="BlockData" style="{data_style}">
				<div id="data_{pb_id}">
				<table width="{data_width}" border="0" cellspacing="0" cellpadding="0">
					<!-- BEGIN items_rows -->
					<tr>
						<!-- BEGIN items_cols -->
						<td align="left" valign="top" width="{offer_column}" class="padding10px {class_item_td}">
							<input type="hidden" name="item_id{index}" value="{item_id}" />
							<input type="hidden" name="tax_percent{index}" value="{tax_percent}" />
							<input type="hidden" name="product_params{index}" value="{product_params}" />
							<input type="hidden" name="item_id" value="{item_id}" />
							<input type="hidden" name="product_params" value="{product_params}" />
							<div class="offerItem">
								<h2 class="offerTitleTop {product_new_class} {restricted_class}"><a class="bigtitle" href="{details_url}" title="{a_title}">{item_name}</a><!--begin product_new_image--><img src="images/tr.gif" alt="" class="{product_new_class}" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></h2>								<h2 class="offerTitle {product_new_class} {restricted_class}"><a class="bigtitle" href="{details_url}" title="{a_title}">{item_name}</a><!--begin product_new_image--><img src="images/tr.gif" alt="" class="{product_new_class}" /><!--end product_new_image--><!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></h2>
																<!-- begin small_image --><a href="{details_url}" title="{a_title}"><img {image_offer_js} class="offerImg" src="{src}" {width} {height} border="0" alt="{alt}" /></a><!-- end small_image -->
								<!-- begin sp_price_block -->
								<div class="{price_block_class}">{PRICE_MSG}:&nbsp;<span class="price">{sp_price}</span> <span class="priceTax">{sp_tax_price}</span></div><!-- end sp_price_block -->
								<!-- begin sp_sales -->
								<div class="salesBlock">{OUR_PRICE_MSG}:&nbsp;<span class="salesPrice">{sp_sales_price}</span> <span class="salesTax">{sp_tax_sales}</span></div><!-- end sp_sales -->

								<!-- begin points_price_block -->
								<div class="pointsPriceBlock">{POINTS_PRICE_MSG}:&nbsp;<span class="points">{points_price}</span></div><!-- end points_price_block -->
								<!-- begin reward_points_block -->
								<div class="rewardPointsBlock">{REWARD_POINTS_MSG}:&nbsp;<span class="points">{reward_points}</span></div><!-- end reward_points_block -->
								<!-- begin reward_credits_block -->
								<div class="rewardCreditsBlock">{REWARD_CREDITS_MSG}:&nbsp;<span class="credits">{reward_credits}</span></div><!-- end reward_credits_block -->

								<!-- begin quantity -->
								<div class="quantity">{PROD_QTY_COLUMN}: {quantity_control}</div><!-- end quantity -->	

								<div class="offerButtons">
								<!-- begin add_button -->
								<a class="button button-add" id="add{index}" href="{buy_href}" onclick="return confirmBuy('products_{pb_id}','{index}','cart', 'add{index}');"><span>{ADD_TO_CART_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_CART_MSG}" /></a> 
								<!-- end add_button -->
								<!-- begin add_button_disabled -->
								<a class="disabled" title="{PRODUCT_OUT_STOCK_MSG}" onclick="alert('{out_stock_alert}');">{ADD_TO_CART_MSG}</a> 
								<!-- end add_button_disabled -->
								<!-- begin view_button -->
								<a class="button button-view" id="view{index}" href="{basket_href}?rp={rp_url}"><span>{VIEW_CART_MSG}</span><img src="images/tr.gif" alt="{VIEW_CART_MSG}" /></a> 
								<!-- end view_button -->
								<!-- begin checkout_button -->
								<a class="button button-check" id="check{index}" href="{checkout_href}?rp={rp_url}"><span>{GOTO_CHECKOUT_MSG}</span><img src="images/tr.gif" alt="{GOTO_CHECKOUT_MSG}" /></a>
								<!-- end checkout_button -->
								<!-- begin wishlist_button -->
								<a class="button button-wishlist" id="wishlist{index}" href="{wishlist_href}" onclick="return confirmBuy('products_{pb_id}', '{index}', 'wishlist', 'wishlist{index}');"><span>{ADD_TO_WISHLIST_MSG}</span><img src="images/tr.gif" alt="{ADD_TO_WISHLIST_MSG}" /></a> 
								<!-- end wishlist_button -->
								</div>

								<div class="offerText">
									{special_offer}<br /><a class="buttonMore clearboth" href="{details_url}" title="{a_title}"><span><b>{READ_MORE_MSG}</b></span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
								</div>

							</div>
						</td><!-- END items_cols -->
					</tr><!-- begin delimiter -->
					<tr>
						<td colspan="{so_columns}" class="hDelimiter"><img src="images/tr.gif" alt="" /></td>
					</tr><!-- end delimiter --><!-- END items_rows -->
				</table>
				</div>
			</div>
			<!-- begin navigator_block -->
		<div align="right" class="padding10px">{navigator}</div><!-- end navigator_block -->	</form>	</div>
<div id="popupBox" class="popupTooltip">
	<!--BEGIN so_boxes -->				
	<div class="soPopupContent" id="so_{item_id}">
		<a class="bigtitle" href="{details_url}">{item_name}</a>
		<div class="soPopupImg">
		<!-- begin box_image --><img src="{src}" {width} {height} border="0" alt="{alt}" /><!-- end box_image -->
		</div>
		<div class="soText">
			{box_desc}
		</div>	
	</div><!--END so_boxes -->
</div>