<div id="pb_{pb_id}" class="block-cart {block_class}" style="{block_style}">
<form name="small_cart" action=""><input type="hidden" name="pb_id" value="{pb_id}" /></form>
	<h2 class="blockTitle">{block_title}</h2>	<div class="BlockData">
		<!-- begin empty_small_cart -->
		<div class="padding10px">
			<div class="bigTitle" align="center">{EMPTY_CART_MSG}</div>
		</div>
		<!-- end empty_small_cart -->
		<!-- begin small_cart -->
		<div class="padding10px">
		<table width="100%" cellspacing="0" border="0" class="paddingCart">
		<tr class="middlebg cartTitle">
			<td><b>{PROD_TITLE_COLUMN}</b></td><td align="center"><b>{PROD_QTY_COLUMN}</b></td><td align="right"><b>{PROD_PRICE_COLUMN}</b></td>
		</tr><!-- BEGIN small_cart_items -->
		<tr class="cartItem">
			<td>{short_name}...</td><td align="center">{quantity}</td><td align="right">{price}</td>
		</tr><!-- END small_cart_items -->
		<tr class="cartGoodsTotal">
			<td align="right"><b>{GOODS_TOTAL_MSG}</b></td><td align="center">{total_quantity}</td><td align="right">{total_price}</td>
		</tr>
		<tr>
			<td colspan="3" align="center" class="butTd">
				<a class="submit" id="check" href="{checkout_href}"><span>{GOTO_CHECKOUT_MSG}</span><img src="images/tr.gif" alt="{GOTO_CHECKOUT_MSG}" /></a>
				<span class="spacer">&nbsp;|&nbsp;</span>
				<a class="submit" id="view" href="{basket_href}"><span>{VIEW_CART_MSG}</span><img src="images/tr.gif" alt="{VIEW_CART_MSG}" /></a>
			</td>
		</tr>
		</table>
		</div>
		<!-- end small_cart -->
	</div>
</div>