<div class="block-ads-hot {block_class}" style="{block_style}">
	<h2 class="blockTitle">{block_title}</h2>
	<div class="BlockData">
		<div class="padding10px">
			<!-- BEGIN hot_rows -->
			<!-- BEGIN hot_cols -->
				<div>										<a class="bigtitle {restricted_class}" href="{details_href}">{hot_item_name}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a>									</div>
				<div align="center" class="adsBody">										<a href="{details_href}">						
						<!-- begin image_small --><img src="{src}" {width} {height} border="0" alt="{alt}" align="left" /><!-- end image_small -->													<br />
													{hot_description} 													<span class="buttonMore"><b>{READ_MORE_MSG}</b></span>											</a>
									</div>
			<!-- END hot_cols -->
			<!-- END hot_rows -->
			<!-- begin hot_navigator_block -->
			<div class="padding2px" align="right">{hot_navigator}</div>
			<!-- end hot_navigator_block -->
		</div>
	</div>
</div>