<div class="block-articles-top-viewed {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px">

				<table width="100%" border="0" cellspacing="0" cellpadding="2"><!-- BEGIN top_viewed_rows -->
				<tr><!-- BEGIN top_viewed_cols -->
					<td align="left" valign="top" width="{top_viewed_column}">
						<div class="top">{top_position} <a class="top10 {restricted_class}" href="{article_url}">{article_title}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>
					</td><!-- END top_viewed_cols -->
				</tr><!-- END top_viewed_rows -->
				</table>

		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>