<script type="text/javascript" src="./js/list_fields.js"></script>
<script type="text/javascript" src="./js/product.js"></script>
<script type="text/javascript">

    var list_fields_names = new Array('countries','states','sites','user_types');

/*
    function openWindow(pagename, filetype)
    {
        var uploadWin = window.open (pagename + '?filetype=' + filetype, 'uploadWin', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
        uploadWin.focus();
    }

    function setFileName(filename, filetype)
    {
        var siteUrl = '{site_url}';
        if(filename != "" && filetype == "shipping_small") {
            document.record.image_small.value = siteUrl + "images/shipping/small/" + filename;
            document.record.image_small.focus();
        } else if(filename != "" && filetype == "shipping_large") {
            document.record.image_large.value = siteUrl + "images/shipping/large/" + filename;
            document.record.image_large.focus();
        }
    }
*/
    function openParamWindow(pagename)
    {
        var popupWin = window.open (pagename, 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
        popupWin.focus();
    }

    function checkActive()
    {
        var isActive = document.record.is_active.checked;
        var isDefault = document.record.is_default.checked;
        if (isDefault && !isActive) {
            document.record.is_default.checked = false;
            alert("{DEFAULT_CHECK_JS}");
        }
    }

    function checkDefault()
    {
        var isActive = document.record.is_active.checked;
        if (!isActive) {
            document.record.is_default.checked = false
        }
    }


    function switchFields(elem){
        var fieldListSwichable = ["p_address", "p_evening", "p_at_time", "p_weekend", "p_to_floor", "self_delivery"],
            fieldListSwichableLen = fieldListSwichable.length,
            i = 0, field;
        if(elem.value == 1){//self
            fieldsListEnabled = ["p_address", "self_delivery"];
        }
        else if(elem.value == 2){//shipping
            fieldsListEnabled = ["p_evening", "p_weekend", "p_at_time", "p_to_floor"];
        }

        for(; i < fieldListSwichableLen; i+=1){
            field = fieldListSwichable[i];
            if(in_array(field, fieldsListEnabled) != -1){
                enableElem(document.record[field])
            }
            else {
                disableElem(document.record[field]);
            }
        }
    }

    function in_array(needle, haystack){
        var found = 0;
        for (var i=0, len=haystack.length;i<len;i++) {
            if (haystack[i] == needle) return i;
                found++;
        }
        return -1;
    }

    function disableElem(e){
        var len = e.length, i = 0;
        if(len === undefined){
            e.disabled = true;
        }
        else{
            for(; i < len; i += 1){
                e[i].disabled = true;
            }
        }
    }

    function enableElem(e){
        var len = e.length, i = 0;
        if(len === undefined){
            e.disabled = false;
        }
        else{
            for(; i < len; i += 1){
                e[i].disabled = false;
            }
        }
    }

    /**
     *dostavka additional fields initialization
     */
    function init(){
        var e = document.record.blz_shipping_type,
            len = e.length, i = 0, elem = null;

        for(; i < len; i += 1){
            if(e[i].checked === true){
                elem = e[i];
            }
        }
        if(elem !== null){
            switchFields(elem);
        }
    }

    BLZ_Event(window, 'load', init);

</script>

<div class="user-shipping-module">
    <div class="BlockTop">
        <div class="TopCenter">
            <div class="TopLeftBgr">
                <div class="TopRightBgr">
                    <div class="TopLeft"></div>
                    <div class="TopRight"></div>
                    <div class="TopTitle">
                        <div class="TopTitleBgr"><div>Редактирование способа доставки</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="BlockMiddle">
        <div class="MiddleCenter">
            <form action="{admin_shipping_type_href}" name="record" onSubmit="selectListFieldsAll();" method="POST">
                <input type="hidden" name="operation" value="save">
                <input type="hidden" name="shipping_type_id" value="{shipping_type_id}">
                <input type="hidden" name="shipping_module_id" value="{shipping_module_id}">
                <input type="hidden" name="page" value="{page}">
                <input type="hidden" name="tab" value="{tab}">
                <input type="hidden" name="user_types" value="">
                <input type="hidden" name="sites" value="">
                <input type="hidden" name="countries" value="">
                <input type="hidden" name="states" value="">
                <input type="hidden" name="user_types_all" value="1" />


                <div id="data_general" style="{general_style}">
                <!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
                <table border="0" cellspacing="1" cellpadding="6" width="100%">
                <tr class="usual">
                    <td><label for="is_active">{IS_ACTIVE_MSG}</label></td>
                    <td><input type="checkbox" name="is_active" id="is_active" {is_active} value="1"></td>
                </tr>
                <tr class="usual">
                    <td>{SHIPPING_ORDER_MSG} *</td>
                    <td><input class="field" type="text" size="10" name="shipping_order" value="{shipping_order}"></td>
                </tr>
                <tr class="usual">
                    <td>{ESTIMATED_SHIPPING_TIME_MSG}</td>
                    <td><input class="field" type="text" size="10" name="shipping_time" value="{shipping_time}"> &nbsp; ({USED_TO_ESTIMATE_NOTE})</td>
                </tr>
                <tr class="usual">
                    <td>{SHIPPING_CODE_MSG}</td>
                    <td><input class="field" type="text" size="40" name="shipping_type_code" value="{shipping_type_code}"></td>
                </tr>
                <tr class="usual">
                    <td>{SHIPPING_DESCRIPTION_MSG} *</td>
                    <td><input class="field" type="text" size="80" name="shipping_type_desc" value="{shipping_type_desc}"></td>
                </tr>
<tr class="usual">
    <td>Тип доставки *</td>
    <td><!-- begin blz_shipping_type -->
        <input onclick="switchFields(this)" type="radio" name="blz_shipping_type" id="blz_shipping_type{blz_shipping_type_value}" {blz_shipping_type_checked} value="{blz_shipping_type_value}">
        <label for="blz_shipping_type{blz_shipping_type_value}">{blz_shipping_type_description}</label><!-- end blz_shipping_type -->
    </td>
</tr>
<tr class="usual">
    <td>Контактные телефоны</td>
    <td><input class="field" type="text" size="40" name="p_phones" value="{p_phones}"></td>
</tr>
<tr class="usual">
    <td>График доставки</td>
    <td>
        <table width="500px">
            <tr>
                <td><label><input type="checkbox" name="p_monday" id="p_monday" {p_monday} value="1">Понедельник</label></td>
                <td><input class="field" type="text" size="40" name="p_monday_text" value="{p_monday_text}"></td>

            </tr>
            <tr>
                <td><label><input type="checkbox" name="p_tuesday" id="p_tuesday" {p_tuesday} value="1">Вторник</label></td>
                <td><input class="field" type="text" size="40" name="p_tuesday_text" value="{p_tuesday_text}"></td>
            </tr>
            <tr>
                <td><label><input type="checkbox" name="p_wednesday" id="p_wednesday" {p_wednesday} value="1">Среда</label></td>
                <td><input class="field" type="text" size="40" name="p_wednesday_text" value="{p_wednesday_text}"></td>
            </tr>
            <tr>
                <td><label><input type="checkbox" name="p_thursday" id="p_thursday" {p_thursday} value="1">Четверг</label></td>
                <td><input class="field" type="text" size="40" name="p_thursday_text" value="{p_thursday_text}"></td>
            </tr>
            <tr>
                <td><label><input type="checkbox" name="p_friday" id="p_friday" {p_friday} value="1">Пятница</label></td>
                <td><input class="field" type="text" size="40" name="p_friday_text" value="{p_friday_text}"></td>
            </tr>
            <tr>
                <td><label><input type="checkbox" name="p_saturday" id="p_saturday" {p_saturday} value="1">Суббота</label></td>
                <td><input class="field" type="text" size="40" name="p_saturday_text" value="{p_saturday_text}"></td>
            </tr>
            <tr>
                <td><label><input type="checkbox" name="p_sunday" id="p_sunday" {p_sunday} value="1">Воскресение</label></td>
                <td><input class="field" type="text" size="40" name="p_sunday_text" value="{p_sunday_text}"></td>
            </tr>
        </table>
    </td>
</tr>
<tr class="usual">
    <td>Адрес</td>
    <td><input class="field" type="text" size="40" name="p_address" value="{p_address}"></td>
</tr>
<tr class="usual">
    <td>Типы точки самовывоза </td>
    <td><!-- begin self_delivery -->
        <input type="radio" name="self_delivery" id="self_delivery{self_delivery_value}" {self_delivery_checked} value="{self_delivery_value}">
        <label for="self_delivery{self_delivery_value}">{self_delivery_description}</label><!-- end self_delivery -->
    </td>
</tr>
<tr class="usual">
    <td>Доставка после 18-00 </td>
    <td><!-- begin p_evening -->
        <input type="radio" name="p_evening" id="p_evening{p_evening_value}" {p_evening_checked} value="{p_evening_value}">
        <label for="p_evening{p_evening_value}">{p_evening_description}</label><!-- end p_evening -->
    </td>
</tr>
<tr class="usual">
    <td>Доставка в выходные </td>
    <td><!-- begin p_weekend -->
        <input type="radio" name="p_weekend" id="p_weekend{p_weekend_value}" {p_weekend_checked} value="{p_weekend_value}">
        <label for="p_weekend{p_weekend_value}">{p_weekend_description}</label><!-- end p_weekend -->
    </td>
</tr>
<tr class="usual">
    <td>Доставка к определенному часу </td>
    <td><!-- begin p_at_time -->
        <input type="radio" name="p_at_time" id="p_at_time{p_at_time_value}" {p_at_time_checked} value="{p_at_time_value}">
        <label for="p_at_time{p_at_time_value}">{p_at_time_description}</label><!-- end p_at_time -->
    </td>
</tr>
<tr class="usual">
    <td>Подъем на этаж </td>
    <td><!-- begin p_to_floor -->
        <input type="radio" name="p_to_floor" id="p_to_floor{p_to_floor_value}" {p_to_floor_checked} value="{p_to_floor_value}">
        <label for="p_to_floor{p_to_floor_value}">{p_to_floor_description}</label><!-- end p_to_floor -->
    </td>
</tr>
<tr class="usual">
    <td>Примечание </td>
    <td>
        <textarea cols="60" rows="4" name="p_info">{p_info}</textarea>
    </td>
</tr>                
                <tr class="usual">
                    <td>{QUANTITY_MSG}</td>
                    <td>
                        {MINIMUM_MSG} <input class="field" type="text" size="10" name="min_quantity" value="{min_quantity}">
                        &nbsp;{MAXIMUM_MSG} <input class="field" type="text" size="10" name="max_quantity" value="{max_quantity}">
                    </td>
                </tr>
                <tr class="usual">
                    <td>{TOTAL_GOODS_COST}</td>
                    <td>
                        {MINIMUM_MSG} <input class="field" type="text" size="10" name="min_goods_cost" value="{min_goods_cost}">
                        &nbsp;{MAXIMUM_MSG} <input class="field" type="text" size="10" name="max_goods_cost" value="{max_goods_cost}">
                    </td>
                </tr>
                <tr class="usual">
                    <td>{TOTAL_PRODUCTS_WEIGHT_MSG} (<b>{weight_measure}</b>)</td>
                    <td>
                        {MINIMUM_MSG} <input class="field" type="text" size="10" name="min_weight" value="{min_weight}">
                        &nbsp;{MAXIMUM_MSG} <input class="field" type="text" size="10" name="max_weight" value="{max_weight}">
                    </td>
                </tr>
                <tr class="usual">
                    <td>{TARE_WEIGHT_MSG} (<b>{weight_measure}</b>)</td>
                    <td><input class="field" type="text" size="10" name="tare_weight" value="{tare_weight}"></td>
                </tr>
                <tr class="usual">
                    <td>{SHIPPING_COST_MSG}</td>
                    <td>
                        {PER_ORDER_MSG} <input class="field" type="text" size="10" name="cost_per_order" value="{cost_per_order}">
                        &nbsp;{FOR_EACH_PRODUCT_MSG} <input class="field" type="text" size="10" name="cost_per_product" value="{cost_per_product}">
                        &nbsp;{PER_WEIGHT_MSG} (<b>{weight_measure}</b>) <input class="field" type="text" size="10" name="cost_per_weight" value="{cost_per_weight}">
                    </td>
                </tr>
                <tr class="usual">
                    <td><label for="is_taxable">{IS_SHIPPINGTAXABLE_MSG}</label></td>
                    <td><input type="checkbox" name="is_taxable" id="is_taxable" {is_taxable} value="1"></td>
                </tr>
                </table>
                <table width="100%" border="0" cellspacing="1" cellpadding="6">
                <tr class="usual">
                    <td colspan="3">
                        <input type="checkbox" name="countries_all" id="countries_all" {countries_all} onClick="checkListFields('countries');" value="1">
                        <label for="countries_all">{USE_FOR_ALL_COUNTRIES_MSG}</label>
                    </td>
                </tr>
                <tr align="center" class="middlebg">
                    <td width="45%">{AVAILABLE_COUNTRIES_MSG}</td>
                    <td width="10%">{OPERATIONS_MSG}</td>
                    <td width="45%">{TYPE_FOR_COUNTRIES_NOTE}</td>
                </tr>   
                <tr align="center" class="usual">
                    <td>
                        <select name="available_countries" MULTIPLE size="10"  style="width: 300px;"><!-- begin available_countries -->
                                <option value="{country_id}">{country_name}<!-- end available_countries -->
                        </select>
                    </td>
                    <td>
                        <span class="button"><input class="submit" type="button" name="add_countries" value="&nbsp;&nbsp; {ADD_BUTTON} -> &nbsp;&nbsp;" onClick="addListFields('countries');"></span>
                        <br><br>
                        <span class="button"><input class="submit" type="button" name="remove_countries" value="<-{REMOVE_BUTTON}" onClick="removeListFields('countries');"></span>
                    </td>
                    <td>
                        <select name="selected_countries" MULTIPLE size="10" style="width: 300px;"><!-- begin selected_countries -->
                                <option value="{country_id}">{country_name}<!-- end selected_countries -->
                        </select>
                    </td>
                </tr>
                <tr class="usual">
                    <td colspan="3">
                        <input type="checkbox" name="states_all" id="states_all" {states_all} onClick="checkListFields('states');" value="1">
                        <label for="states_all">{USE_FOR_ALL_STATES_MSG}</label>
                    </td>
                </tr>
                <tr align="center" class="middlebg">
                    <td width="45%">{STATES_MSG}</td>
                    <td width="10%">{OPERATIONS_MSG}</td>
                    <td width="45%">{TYPE_FOR_STATES_NOTE}</td>
                </tr>   
                <tr align="center" class="usual">
                    <td>
                        <select name="available_states" MULTIPLE size="10"  style="width: 300px;"><!-- begin available_states -->
                            <option value="{state_id}">{state_name}<!-- end available_states -->
                        </select>
                    </td>
                    <td>
                        <span class="button"><input class="submit" type="button" name="add_states" value="&nbsp;&nbsp; {ADD_BUTTON} -> &nbsp;&nbsp;" onClick="addListFields('states');"></span>
                        <br><br>
                        <span class="button"><input class="submit" type="button" name="remove_states" value="<- {REMOVE_BUTTON}" onClick="removeListFields('states');"></span>
                    </td>
                    <td>
                        <select name="selected_states" MULTIPLE size="10" style="width: 300px;"><!-- begin selected_states -->
                            <option value="{state_id}">{state_name}<!-- end selected_states -->
                        </select>
                    </td>
                </tr>
                
                </table>
                </div>

                                <div id="data_images" style="{images_style}">
                <table cellspacing="1" cellpadding="6" border="0" width="100%">
                <tr class="middlebg">
                    <td colspan="2">{IMAGES_MSG}</td>
                </tr>
                <tr class="usual">
                    <td>{IMAGE_SMALL_MSG}</td>
                    <td>
                        <input class="field" type="text" size="50" maxlength="255" name="image_small" value="{image_small}">
                        <a href="javascript:openWindow('{admin_upload_href}', 'uproduct_small')"><b>{UPLOAD_IMAGE_MSG}</b></a>
                    </td>
                </tr>
                <tr class="usual">
                    <td>{IMAGE_SMALL_ALT_MSG}</td>
                    <td><input class="field" type="text" size="50" maxlength="255" name="image_small_alt" value="{image_small_alt}"></td>
                </tr>
                <tr class="usual">
                    <td>{IMAGE_LARGE_MSG}</td>
                    <td>
                        <input class="field" type="text" size="50" maxlength="255" name="image_large" value="{image_large}">
                        <a href="javascript:openWindow('{admin_upload_href}', 'uproduct_large')"><b>{UPLOAD_IMAGE_MSG}</b></a>
                    </td>
                </tr>
                <tr class="usual">
                    <td>{IMAGE_LARGE_ALT_MSG}</td>
                    <td><input class="field" type="text" size="50" maxlength="255" name="image_large_alt" value="{image_large_alt}"></td>
                </tr>
                </table>
                </div>


                <!-- begin sitelist-->
                <div id="data_sites" style="{sites_style}">
                <table cellspacing="1" cellpadding="6" border="0" width="100%">
                <tr class="usual">
                    <td colspan="3">
                        <input type="checkbox" name="sites_all" id="sites_all" {sites_all} onClick="checkListFields('sites');" value="1">
                        <label for="sites_all">Use this shipping type for all sites (untick this checkbox to select sites manually)</label>
                    </td>
                </tr>
                <tr align="center" class="middlebg">
                    <td width="45%"><b>{AVAILABLE_SITES_MSG}</b></td>
                    <td width="10%"><b>{OPERATIONS_MSG}</b></td>
                    <td width="45%"><b>{USE_ITEM_SITES_MSG}</b></td>
                </tr>
                <tr align="center" class="usual">
                    <td>
                        <select name="available_sites" MULTIPLE size="10"  style="width: 300px;"><!-- begin available_sites -->
                            <option value="{site_id}">{site_name}<!-- end available_sites-->
                        </select>
                    </td>
                    <td>
                        <span class="button"><input class="submit" readonly type="button" name="add_sites" value="&nbsp;&nbsp; {ADD_BUTTON}  -> &nbsp;&nbsp;" onClick="addListFields('sites');"></span>
                        <br><br>
                        <span class="button"><input class="submit" type="button" name="remove_sites" value="<- {REMOVE_BUTTON}" onClick="removeListFields('sites');"></span>
                    </td>
                    <td>
                        <select name="selected_sites" MULTIPLE size="10" style="width: 300px;"><!-- begin selected_sites -->
                            <option value="{site_id}">{site_name}<!-- end selected_sites -->
                        </select>
                    </td>
                </tr>
                </table>
                </div>
                <!-- end sitelist-->

                <div class="uBtns">
                        <span class="button"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
                        <span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
                        <span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
                </div>
            </form> 
        </div>
    </div>

</div>

<script type="text/javascript">

    checkListFieldsAll();

</script>
