<div id="pb_{pb_id}" class="block-order-info {block_class}" style="{block_style}">

<!-- begin call_center_mode -->
<div class="message"> 
	{CALL_CENTER_MODE_MSG}
</div><!-- end call_center_mode -->


<script language="JavaScript" type="text/javascript">
//<![CDATA[
	var selectCountryFirst = "{SELECT_COUNTRY_FIRST_MSG}";
	var noStatesForCountry = "{NO_STATES_FOR_COUNTRY_MSG}";
	var states = {states_json};

{ordering_js}
//]]>
</script>
<script language="JavaScript" type="text/javascript">
	function check_qiwi() {
		var vi_payment_id_elem = document.getElementById("vi_payment_id");
		if (vi_payment_id_elem != null) {
			var vi_payment_id = vi_payment_id_elem.value;
		} else {
			var vi_payment_id = $("input:radio[name=payment_id]:checked").val();
		}
		if (vi_payment_id == {qiwi_payment_id}) {
			var qiwi_number = prompt('{MSG_QIWI_PHONE_ENTER}');
			if (qiwi_number == null) {
				return false;
			} else {
				var re = new RegExp("^\\d{"+"10}$");	
				if (!re.test(qiwi_number)) {
					alert('{MSG_QIWI_PHONE_ERROR}');
					return false;
				}
				document.cookie = "qiwi_number=" + escape(qiwi_number);
			}
		}
		return true;
	}
</script>
<script type="text/javascript" language="JavaScript" src="js/images.js"></script>

<!-- BEGIN sc_errors --><div class="errorbg" align="center">{errors_list}</div><!-- END sc_errors -->
<form action="{order_info_url}" name="order_info" method="post">
<input type="hidden" name="pb_id" value="{pb_id}" />
<input type="hidden" name="operation" value="save" />
<input type="hidden" name="tax_prices_type" value="{tax_prices_type}" />
<input type="hidden" name="tax_percent" value="{tax_percent}" />
<input type="hidden" name="tax_rates" value="{tax_rates}" />
<input type="hidden" name="order_items" value="{order_items}" />
<input type="hidden" name="order_coupons" value="{order_coupons}" />
<input type="hidden" name="order_vouchers" value="{order_vouchers}" />
<input type="hidden" name="goods_value" value="{goods_value}" />
<input type="hidden" name="goods_tax_value" value="{goods_tax_value}" />
<input type="hidden" name="goods_points_value" value="{goods_points_value}" />
<input type="hidden" name="currency_left" value="{currency_left}" />
<input type="hidden" name="currency_right" value="{currency_right}" />
<input type="hidden" name="currency_rate" value="{currency_rate}" />
<input type="hidden" name="currency_decimals" value="{currency_decimals}" />
<input type="hidden" name="currency_point" value="{currency_point}" />
<input type="hidden" name="currency_separator" value="{currency_separator}" />
<input type="hidden" name="properties" value="{properties_ids}" />
<input type="hidden" name="order_properties" value="{order_properties}" />
<input type="hidden" name="properties_total" value="{properties_total}" />
<input type="hidden" name="properties_points_value" value="{properties_points_value}" />
<input type="hidden" name="properties_taxable" value="{properties_taxable}" />
<input type="hidden" name="shipping_points_value" value="{shipping_points_value}" />
<input type="hidden" name="processing_fees" value="{processing_fees}" />
<input type="hidden" name="cart_ids" value="{cart_ids}" />
<input type="hidden" name="points_balance_value" value="{points_balance_value}" />
<input type="hidden" name="credit_balance_value" value="{credit_balance_value}" />
<input type="hidden" name="points_rate" value="{points_rate}" />
<input type="hidden" name="points_decimals" value="{points_decimals}" />
<input type="hidden" name="payments_ids_list" value="{payments_ids_list}" />
<input type="hidden" name="min_values_list" value="{min_values_list}" />
<input type="hidden" name="max_values_list" value="{max_values_list}" />
<input type="hidden" name="personal_number" value="{personal_number}" />
<input type="hidden" name="delivery_number" value="{delivery_number}" />

<!-- begin points_balance_block -->
<div class="messagebg">{POINTS_BALANCE_MSG}: <b>{points_balance}</b></div>
<!-- end points_balance_block -->
<!-- begin credit_balance_block -->
<div class="messagebg">{CREDIT_BALANCE_MSG}: <b>{credit_balance}</b></div>
<!-- end credit_balance_block -->
<br />
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
<!-- begin basket -->
<table cellspacing="1" width="100%" class="headerbg padding6px">
<tr class="middlebg">
	<!-- begin item_image_header -->
	<td>&nbsp;</td><!-- end item_image_header -->
	<!-- begin item_name_header -->
	<td><b>{PROD_TITLE_COLUMN}</b></td><!-- end item_name_header -->
	<!-- begin item_price_header -->
	<td align="right"><b>{PROD_PRICE_COLUMN} {tax_note_excl}</b></td><!-- end item_price_header -->
	<!-- begin item_tax_percent_header -->
	<td align="right"><b>{tax_name} (%)</b></td><!-- end item_tax_percent_header -->
	<!-- begin item_tax_header -->
	<td align="right"><b>{tax_name}</b></td><!-- end item_tax_header -->
	<!-- begin item_price_incl_tax_header -->
	<td align="right"><b>{PROD_PRICE_COLUMN} {tax_note}</b></td><!-- end item_price_incl_tax_header -->
	<!-- begin item_quantity_header -->
	<td align="right"><b>{PROD_QTY_COLUMN}</b></td><!-- end item_quantity_header -->
	<!-- begin item_price_total_header -->
	<td align="right"><b>{PROD_TOTAL_COLUMN} {tax_note_excl}</b></td><!-- end item_price_total_header -->
	<!-- begin item_tax_total_header -->
	<td align="right"><b>{tax_name} {PROD_TAX_TOTAL_COLUMN}</b></td><!-- end item_tax_total_header -->
	<!-- BEGIN item_price_incl_tax_total_header -->
	<td align="right"><b>{PROD_TOTAL_COLUMN} {tax_note}</b></td><!-- END item_price_incl_tax_total_header -->
</tr>
<!-- begin items -->
<tr class="usualbg" valign="top">
	<!-- begin item_image_column -->
	<td class="usualbg" align="center" valign="top">
		<!-- begin image_preview -->
			<img src="{src}" {height} {width} border="0" alt="{alt}" align="left" />
		<!-- end image_preview -->
	</td><!-- end item_image_column -->
	<!-- begin item_name_column -->
	<td>
		{item_name}
		<!-- begin item_code_block -->
		<br />{PROD_CODE_MSG}: <b>{item_code}</b><!-- end item_code_block -->	
		<!-- begin manufacturer_code_block -->
		<br />{MANUFACTURER_CODE_MSG}: <b>{manufacturer_code}</b><!-- end manufacturer_code_block -->	
		<font class="smallText">{properties_values}</font>
			<!-- begin item_coupons -->
			<div class="smallText">{coupon_title} ({discount_amount})</div><!-- end item_coupons -->
			<!-- begin components_block -->
			<div><b>{PROD_SUBCOMPONENTS_MSG}:</b></div>
			<!-- begin components -->
			<div>{selection_name} {component_quantity} x {component_name} {component_price} {component_icon}</div>
			<!-- end components -->
			<!-- end components_block -->
			<!-- begin specification_block -->
				<!-- begin spec_groups -->
				<div><b><u>{group_name}</u></b></div><!-- begin spec_features -->
				<div>{feature_name}: {feature_value}</div><!-- end spec_features --><!-- end spec_groups -->
			<!-- end specification_block -->
		<!-- begin item_taxes -->
		<div>{tax_name}:&nbsp;<b>{tax_amount_total}</b></div><!-- end item_taxes -->
		<!-- begin points_price_block -->
		<div class="points_price"><input type="checkbox" name="pay_points_{cart_id}" {pay_points_checked} value="1" onclick="calculateItems();" /> {PROD_PAY_POINTS_MSG}:&nbsp;<b>{points_price}</b> {points_msg}</div><!-- end points_price_block -->
		<!-- begin reward_points_block -->
		<div class="reward_points">{REWARD_POINTS_MSG}:&nbsp;{reward_points}</div><!-- end reward_points_block -->
		<!-- begin reward_credits_block -->
		<div class="reward_credits">{REWARD_CREDITS_MSG}:&nbsp;{reward_credits}</div><!-- end reward_credits_block -->
		<input type="hidden" name="item_name_{cart_id}" value="{item_name_strip}" />
	</td><!-- end item_name_column -->
	<!-- begin item_price_excl_tax_column -->
	<td align="right">{price_excl_tax}</td><!-- end item_price_excl_tax_column -->
	<!-- begin item_tax_percent_column -->
	<td align="right">{item_tax_percent}</td><!-- end item_tax_percent_column -->
	<!-- begin item_tax_column -->
	<td align="right">{item_tax}</td><!-- end item_tax_column -->
	<!-- begin item_price_incl_tax_column -->
	<td align="right">{price_incl_tax}</td><!-- end item_price_incl_tax_column -->
	<!-- begin item_quantity_column -->
	<td align="right">{quantity}</td><!-- end item_quantity_column -->
	<!-- begin item_price_excl_tax_total_column -->
	<td align="right">{price_excl_tax_total}</td><!-- end item_price_excl_tax_total_column -->
	<!-- begin item_tax_total_column -->
	<td align="right">{item_tax_total}</td><!-- end item_tax_total_column -->
	<!-- begin item_price_incl_tax_total_column -->
	<td align="right">{price_incl_tax_total}</td><!-- end item_price_incl_tax_total_column -->
</tr><!-- end items -->
<tr class="middlebg">
	<!-- begin goods_name_column -->
	<td colspan="{goods_colspan}">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<!-- begin reward_points_total_block -->
				{REWARD_POINTS_MSG}: {reward_points_total}
				<!-- end reward_points_total_block -->
				<!-- begin reward_credits_total_block -->
				{REWARD_CREDITS_MSG}: {reward_credits_total}
				<!-- end reward_credits_total_block -->
			</td>
			<td align="right"><b>{GOODS_TOTAL_MSG}</b></td>
		</tr>
		</table>
	</td>
	<!-- end goods_name_column -->
	<!-- begin goods_total_excl_tax_column -->
	<td align="right"><span id="goods_total_excl_tax">{goods_total_excl_tax}</span></td><!-- end goods_total_excl_tax_column -->
	<!-- BEGIN goods_tax_total_column -->
	<td align="right"><span id="goods_tax_total">{goods_tax_total}</span></td><!-- END goods_tax_total_column -->
	<!-- BEGIN goods_total_incl_tax_column -->
	<td align="right"><span id="goods_total_incl_tax">{goods_total_incl_tax}</span></td><!-- END goods_total_incl_tax_column -->
</tr>
<!-- begin coupons -->
<tr class="usualbg" valign="top">
	<!-- begin coupon_name_column -->
	<td colspan="{goods_colspan}">{coupon_title}</td>
	<!-- end coupon_name_column -->
	<!-- begin coupon_amount_excl_tax_column -->
	<td align="right"><span id="coupon_amount_excl_tax_{coupon_id}">{coupon_amount_excl_tax}</span></td>
	<!-- end coupon_amount_excl_tax_column -->
	<!-- begin coupon_tax_column -->
	<td align="right"><span id="coupon_tax_{coupon_id}">{coupon_tax}</span></td><!-- end coupon_tax_column -->
	<!-- begin coupon_amount_incl_tax_column -->
	<td align="right"><span id="coupon_amount_incl_tax_{coupon_id}">{coupon_amount_incl_tax}</span></td><!-- end coupon_amount_incl_tax_column -->
</tr><!-- end coupons --><!-- begin discount -->
<tr class="middlebg">
	<!-- BEGIN total_discount_name_column -->
	<td colspan="{goods_colspan}" align="right"><b>{TOTAL_DISCOUNT_MSG}</b></td><!-- END total_discount_name_column -->
	<!-- BEGIN total_discount_amount_excl_tax_column -->
	<td align="right"><b><span id="total_discount_excl_tax">{total_discount_excl_tax}</span></b></td><!-- END total_discount_amount_excl_tax_column -->
	<!-- BEGIN total_discount_tax_column -->
	<td align="right"><b><span id="total_discount_tax">{total_discount_tax}</span></b></td><!-- END total_discount_tax_column -->
	<!-- BEGIN total_discount_amount_incl_tax_column -->
	<td align="right"><b><span id="total_discount_incl_tax">{total_discount_incl_tax}</span></b></td><!-- END total_discount_amount_incl_tax_column -->
</tr>
<tr class="middlebg">
	<!-- BEGIN discounted_name_column -->
	<td colspan="{goods_colspan}" align="right"><b>{GOODS_WITH_DISCOUNT_MSG}</b></td><!-- end discounted_name_column -->
	<!-- BEGIN discounted_amount_excl_tax_column -->
	<td align="right"><b><span id="discounted_amount_excl_tax">{discounted_amount_excl_tax}</span></b></td><!-- END discounted_amount_excl_tax_column -->
	<!-- BEGIN discounted_tax_column -->
	<td align="right"><b><span id="discounted_tax_amount">{discounted_tax_amount}</span></b></td><!-- END discounted_tax_column -->
	<!-- BEGIN discounted_amount_incl_tax_column -->
	<td align="right"><b><span id="discounted_amount_incl_tax">{discounted_amount_incl_tax}</span></b></td><!-- END discounted_amount_incl_tax_column -->
</tr><!-- end discount -->
<!-- begin cart_properties -->
<tr id="op_block_{property_id}" class="usualbg" valign="top">
	<td colspan="{goods_colspan}" style="{property_style}">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">	
		<tr valign="top">
			<td>
				{property_name} {property_required}</span>
				<!-- begin property_points_price_block -->
				<div class="points_price"><input type="checkbox" name="property_pay_points_{property_id}" {property_pay_points_checked} value="1" onclick="changeProperty();" /> {ORDER_OPTIONS_PAY_POINTS_MSG}</div><!-- end property_points_price_block -->
			</td>
			<td align="right">{property_control}</td>
		</tr>
		</table>
	</td>
	<!-- BEGIN property_price_excl_tax_column -->
	<td align="right"><span id="op_price_excl_tax_{property_id}">{op_price_excl_tax}</span></td><!-- END property_price_excl_tax_column -->
	<!-- BEGIN property_tax_column -->
	<td align="right"><span id="op_tax_{property_id}">{op_tax}</span></td><!-- END property_tax_column -->
	<!-- BEGIN property_price_incl_tax_column -->
	<td align="right"><span id="op_price_incl_tax_{property_id}">{op_price_incl_tax}</span></td><!-- END property_price_incl_tax_column -->
</tr><!-- end cart_properties -->
<!-- begin shipping_groups -->
<tr class="middlebg"><td><b>{REQUIRED_DELIVERY_MSG}&nbsp;<span class="required">*</span></b></td></tr>
<tr class="usualbg" valign="top">
	<td colspan="{goods_colspan}">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>
				<!-- begin shipping_points_block -->
				<div class="points_price"><input type="checkbox" name="shipping_pay_points_{index}" {shipping_pay_points_checked} value="1" onclick="changeShipping();" /> {SHIPPING_PAY_POINTS_MSG}</div><!-- end shipping_points_block -->
			</td>
			<td align="right">
				<input type="hidden" name="shipping_control_{index}" value="{shipping_control}" />
				<input type="hidden" name="shipping_methods_{index}" value="{shipping_methods}" />
				<!-- begin shipping_single -->
				{shipping_type_desc}
				<input type="hidden" name="shipping_type_id_{index}" value="{shipping_type_id}" />
				<!-- end shipping_single -->
				
				<!-- Èçîáðàæåíèå äëÿ ñïîñîáà äîñòàâêè -->
				<!-- begin shipping_radio -->
				<div style="float:left; margin: 10px 2em; overflow: hidden;">
					<label for="shipping_{index}">{shipping_type_desc}&nbsp;({shipping_cost_desc})&nbsp; </label><!-- begin additional_button --><span class="shipDetails" onclick="showShippingAdditional('{shipping_type_id}')">Подробнее</span><!-- end additional_button -->&nbsp;				
					<input type="radio" onclick="changeShipping()" name="shipping_type_id_{index}" {shipping_type_checked} value="{shipping_type_id}"  id="shipping_{index}"/>
					<br>
					<!-- begin shipping_image_option -->
					<label for="shipping_{shipping_index}">
					<img  src="{shipping_src_image}" alt="{shipping_alt_image}" title="{shipping_alt_image}" style="max-height:200px;border:0;"/>
					</label>
					<!-- end shipping_image_option -->
				</div>
				<!-- end shipping_radio -->				
				
				
				<!-- begin shipping_list -->
				<select id="shipping_type_id_{index}" name="shipping_type_id_{index}" onchange="changeShippingList()">
					<option selected value="">{SELECT_SHIPPING_METHOD_MSG}</option><!-- begin shipping_option -->
					<option {shipping_type_selected} value="{shipping_type_id}">{shipping_type_desc}&nbsp;({shipping_cost_desc})&nbsp;</option><!-- end shipping_option -->
				</select>
				<!-- end shipping_list -->
			</td>
		</tr>
		</table>
	</td>
	<!-- BEGIN shipping_cost_excl_tax_column -->
	<td align="right"><span id="shipping_cost_excl_tax_{index}">{shipping_cost_excl_tax}</span></td><!-- END shipping_cost_excl_tax_column -->
	<!-- BEGIN shipping_tax_column -->
	<td align="right"><span id="shipping_tax_{index}">{shipping_tax}</span></td><!-- END shipping_tax_column -->
	<!-- BEGIN shipping_cost_incl_tax_column -->
	<td align="right"><span id="shipping_cost_incl_tax_{index}">{shipping_cost_incl_tax}</span></td><!-- END shipping_cost_incl_tax_column -->
</tr>
<!-- end shipping_groups -->
<!-- begin taxes -->
<tr class="usualbg">
	<td colspan="{sc_colspan}" align="right">{tax_name}</td>
	<td align="right">
		<span class="usualprice" id="tax_{tax_id}">{tax_cost}</span>
	</td>
</tr><!-- end taxes -->
<!-- begin fee -->
<tr class="usualbg">
	<td colspan="{sc_colspan}" align="right">{PROCESSING_FEE_MSG}</td>
	<td align="right">
		<span class="usualprice" id="processing_fee">{processing_fee_cost}</span>
	</td>
</tr><!-- end fee -->
<!-- begin vouchers_block -->
<tr class="middlebg">
	<td colspan="{total_columns}">{USED_VOUCHERS_MSG}</td>
</tr>
<!-- begin used_vouchers -->
<tr class="usualbg">
	<td colspan="{sc_colspan}">{voucher_title}</td>
	<td align="right">
		<span class="usualprice" id="voucher_amount_{voucher_id}">{voucher_amount}</span>
	</td>
</tr><!-- end used_vouchers -->
<!-- end vouchers_block -->
<!-- begin credit_amount_block -->
<tr class="usualbg">
	<td colspan="{sc_colspan}" align="right">{CREDIT_AMOUNT_MSG}</td>
	<td align="right">
		<input class="field" type="text" size="10" name="credit_amount" value="{credit_amount}" style="text-align: right;" />
	</td>
</tr>
<!-- end credit_amount_block -->
<tr class="middlebg">
	<td colspan="{sc_colspan}" align="right"><b>{CART_TOTAL_MSG}</b></td>
	<td align="right">
		<span class="orderprice" id="order_total_desc">{order_total_desc}</span>
	</td>
</tr>
<!-- begin total_points_block -->
<tr class="middlebg">
	<td colspan="{sc_colspan}" align="right">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr class="middlebg">
			<td>{POINTS_REMAINING_MSG}: <span id="remaining_points">{remaining_points}</span></td>
			<td align="right">{TOTAL_POINTS_MSG}</td>
		</tr>
		</table>
	</td>
	<td align="right"><span id="total_points_amount">{total_points_amount}</span></td>
</tr>
<!-- end total_points_block -->
<!-- begin payment_gateways_select -->
<tr>
	<td colspan="{total_columns}" align="right" class="middlebg">
		<b>{SELECT_PAYMENT_MSG}&nbsp;<span class="required">*</span></b>
		<select class="text" id="vi_payment_id" name="payment_id" onchange="calculateOrder();"><!-- begin payment_select_id -->
			<option {payment_select_id_selected} {payment_select_id_disabled} value="{payment_select_id_value}" id="payment_id_{payment_select_id_value}">{payment_select_id_description}</option><!-- end payment_select_id -->
		</select>
	</td>
</tr>
<!-- end payment_gateways_select -->
<!-- begin payment_gateways_radio -->
<tr>
	<td colspan="{total_columns}" align="right" class="middlebg">		
					<table border="0" cellpadding="0" cellspacing="3" width="100%">
					<tr><td><b>{SELECT_PAYMENT_MSG}&nbsp;<span class="required">*</span></b></td></tr>					
					<tr>					
						<td  valign="middlebg">
						<!-- begin payment_radio_id -->
						<div style="float:left; margin: 10px 2em; height:5em;">
							<label for="payment_id_{payment_radio_id_value}">{payment_radio_id_description}</label>&nbsp;
							<input type="radio" onclick="calculateOrder();" id="payment_id_{payment_radio_id_value}" name="payment_id" {payment_radio_id_checked} {payment_radio_id_disabled} value="{payment_radio_id_value}" />						
						<br>
						<!-- begin image_option -->						
							<label for="payment_id_{payment_radio_id_value}"><img border="0" src="{src_image}" alt="{alt_image}" title="{alt_image}" /></label>
						<!-- end image_option -->
						</div>
						<!-- end payment_radio_id -->
						</td>																	
					</tr>					
					</table>
	</td>
</tr>
<!-- end payment_gateways_radio -->
</table>
<!-- end basket -->
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
<a name="user_details"></a>
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{CHECKOUT_INFO_TITLE}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">


<table width="100%" border="0" cellspacing="1" cellpadding="5"><!-- BEGIN errors -->
<tr class="usualbg">
	<td colspan="2">
		<div class="errorbg" align="center">{errors_list}</div>
	</td>
</tr><!-- END errors -->
<tr valign="top">
	<td class="middlebg" width="50%">
		<!-- begin personal -->
		<b>{PERSONAL_DETAILS_MSG}</b>
		<!-- end personal -->
	</td>
	<td class="middlebg" width="50%">
		<!-- begin delivery -->
		<b>{DELIVERY_DETAILS_MSG}</b>
		<!-- begin same_as_personal_block -->
		<br /><font class="smallText"><label>{SAME_DETAILS_MSG} <input type="checkbox" name="same_as_personal" {same_as_personal} value="1" onclick="checkSame();" /></label></font>
		<!-- end same_as_personal_block -->
		<!-- end delivery -->
	</td>
</tr>
<!-- begin call_center_user_block -->
<tr valign="top" class="middlebg">
	<td>
			<table width="100%" border="0" cellspacing="1" class="padding6px">
			<tr>
				<td width="40%">
					{USER_MSG}
				</td>
				<td width="60%">
					<input type="hidden" name="cc_user_id" value="{cc_user_id}" /> <span id="cc_user_login">{cc_user_login}</span>
					<a id="cc_remove_user" href="#" onclick="ccRemoveUser(); return false;" style="{cc_remove_user_style} font-style: none;">{REMOVE_BUTTON}</a>
					<a id="cc_select_user" href="#" onclick="ccUsersWindow('{call_center_users_href}'); return false;" style="{cc_select_user_style}">{ADMIN_SELECT_USER_MSG}</a>
				</td>
			</tr>
			</table>
	</td>
	<td></td>
</tr>
<!-- end call_center_user_block -->
<tr valign="top">
	<td width="50%">

<table width="100%" border="0" cellspacing="1" class="padding6px">
<!-- begin personal_select_address -->
<tr>
	<td width="40%"></td>
	<td class="usualbg" width="60%">
		<a href="#" onclick="addressWindow('{user_address_select_href}?select_type=1'); return false;">{SELECT_ADDRESS_MSG}</a>
	</td>
</tr><!-- end personal_select_address --><!-- begin name_block -->
<tr class="usualbg">
	<td width="40%">
		{NAME_MSG} <span class="required">{name_required}</span>
	</td>
	<td width="60%">
		<input class="text" type="text" name="name" value="{name}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end name_block --><!-- begin first_name_block -->
<tr>
	<td class="usualbg">
		{FIRST_NAME_FIELD} <span class="required">{first_name_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="first_name" value="{first_name}" size="40" maxlength="64" onchange="uncheckSame();" />
	</td>
</tr><!-- end first_name_block --><!-- begin last_name_block -->
<tr>
	<td class="usualbg">
		{LAST_NAME_FIELD} <span class="required">{last_name_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="last_name" value="{last_name}" size="40" maxlength="64" onchange="uncheckSame();" />
	</td>
</tr><!-- end last_name_block --><!-- begin company_id_block -->
<tr class="usualbg">
	<td>
		{COMPANY_SELECT_FIELD} <span class="required">{company_id_required}</span>
	</td>
	<td>
		<select class="text" name="company_id" onchange="uncheckSame();"><!-- begin company_id -->
			<option {company_id_selected} value="{company_id_value}">{company_id_description}</option><!-- end company_id -->
		</select>
	</td>
</tr><!-- end company_id_block --><!-- begin company_name_block -->
<tr>
	<td class="usualbg">
		{COMPANY_NAME_FIELD} <span class="required">{company_name_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="company_name" value="{company_name}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end company_name_block --><!-- begin email_block -->
<tr>
	<td class="usualbg">
		{EMAIL_FIELD} <span class="required">{email_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="email" value="{email}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end email_block --><!-- begin country_id_block -->
<tr class="usualbg">
	<td>{COUNTRY_FIELD} <span class="required">{country_id_required}</span></td>
	<td>
		<select class="text" id="country_id_{pb_id}" name="country_id" onchange="uncheckSame();updateStates('{pb_id}', 'personal');orderFormUpdate('personal');"><!-- begin country_id -->
			<option {country_id_selected} value="{country_id_value}">{country_id_description}</option><!-- end country_id -->
		</select>
	</td>
</tr><!-- end country_id_block --><!-- begin state_id_block -->
<tr class="usualbg">
	<td>{STATE_FIELD} <span id="state_id_required_{pb_id}" style="{state_id_required_style}" class="required">{state_id_required}</span></td>
	<td>
		<select class="text" id="state_id_{pb_id}" style="{state_id_control_style}" onchange="uncheckSame(); orderFormUpdate('personal');" name="state_id"><!-- begin state_id -->
			<option {state_id_selected} value="{state_id_value}">{state_id_description}</option><!-- end state_id -->
		</select>
		<span style="{state_id_comments_style}" id="state_id_comments_{pb_id}">{state_id_comments}</span>
	</td>
</tr><!-- end state_id_block -->
<!-- begin address1_block -->
<tr>
	<td class="usualbg">
		{STREET_FIRST_FIELD} <span class="required">{address1_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="address1" value="{address1}" size="40" maxlength="255" onchange="uncheckSame();" />
	</td>
</tr><!-- end address1_block --><!-- begin address2_block -->
<tr>
	<td class="usualbg">
		{STREET_SECOND_FIELD} <span class="required">{address2_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="address2" value="{address2}" size="40" maxlength="255" onchange="uncheckSame();" />
	</td>
</tr><!-- end address2_block --><!-- begin city_block -->
<tr>
	<td class="usualbg">
		{CITY_FIELD} <span class="required">{city_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="city" value="{city}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end city_block --><!-- begin province_block -->
<tr>
	<td class="usualbg">
		{PROVINCE_FIELD} <span class="required">{province_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="province" value="{province}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end province_block --><!-- begin zip_block -->
<tr>
	<td class="usualbg">
		{ZIP_FIELD} <span class="required">{zip_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="zip" value="{zip}" size="10" maxlength="16" onchange="uncheckSame(); orderFormUpdate('personal');" />
	</td>
</tr><!-- end zip_block --><!-- begin phone_block -->
<tr class="usualbg">
	<td>{PHONE_FIELD} <span class="required">{phone_required}</span></td>
	<td>
		<!-- begin phone_code_block -->
		<select class="text" name="phone_code"><!-- begin phone_code -->
			<option {phone_code_selected} value="{phone_code_value}">{phone_code_description}</option><!-- end phone_code -->
		</select>
		<!-- end phone_code_block -->
		<input class="text" type="text" name="phone" value="{phone}" size="40" maxlength="32" onchange="uncheckSame();" />
</td>
</tr><!-- end phone_block --><!-- begin daytime_phone_block -->
<tr class="usualbg">
	<td>{DAYTIME_PHONE_FIELD} <span class="required">{daytime_phone_required}</span></td>
	<td>
		<!-- begin daytime_phone_code_block -->
		<select class="text" name="daytime_phone_code"><!-- begin daytime_phone_code -->
			<option {daytime_phone_code_selected} value="{daytime_phone_code_value}">{daytime_phone_code_description}</option><!-- end daytime_phone_code -->
		</select>
		<!-- end daytime_phone_code_block -->
		<input class="text" type="text" name="daytime_phone" value="{daytime_phone}" size="40" maxlength="32" onchange="uncheckSame();" />
</td>
</tr><!-- end daytime_phone_block --><!-- begin evening_phone_block -->
<tr class="usualbg">
	<td>{EVENING_PHONE_FIELD} <span class="required">{evening_phone_required}</span></td>
	<td>
		<!-- begin evening_phone_code_block -->
		<select class="text" name="evening_phone_code"><!-- begin evening_phone_code -->
			<option {evening_phone_code_selected} value="{evening_phone_code_value}">{evening_phone_code_description}</option><!-- end evening_phone_code -->
		</select>
		<!-- end evening_phone_code_block -->
		<input class="text" type="text" name="evening_phone" value="{evening_phone}" size="40" maxlength="32" onchange="uncheckSame();" />
</td>
</tr><!-- end evening_phone_block --><!-- begin cell_phone_block -->
<tr class="usualbg">
	<td>{CELL_PHONE_FIELD} <span class="required">{cell_phone_required}</span></td>
	<td>
		<!-- begin cell_phone_code_block -->
		<select class="text" name="cell_phone_code"><!-- begin cell_phone_code -->
			<option {cell_phone_code_selected} value="{cell_phone_code_value}">{cell_phone_code_description}</option><!-- end cell_phone_code -->
		</select>
		<!-- end cell_phone_code_block -->
		<input class="text" type="text" name="cell_phone" value="{cell_phone}" size="40" maxlength="32" onchange="uncheckSame();" />
</td>
</tr><!-- end cell_phone_block --><!-- begin fax_block -->
<tr class="usualbg">
	<td>{FAX_FIELD} <span class="required">{fax_required}</span></td>
	<td>
		<!-- begin fax_code_block -->
		<select class="text" name="fax_code"><!-- begin fax_code -->
			<option {fax_code_selected} value="{fax_code_value}">{fax_code_description}</option><!-- end fax_code -->
		</select>
		<!-- end fax_code_block -->
		<input class="text" type="text" name="fax" value="{fax}" size="40" maxlength="32" onchange="uncheckSame();" />
</td><!-- end fax_block -->
<!-- begin req_block -->
<tr>
	<td class="usualbg">
		Желаемые день и время доставки <span class="required">{req_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="req" value="{req}" size="40" maxlength="255" />
	</td>
</tr><!-- end req_block -->
<!-- begin additional_comments_block -->
<tr>
	<td class="usualbg">
		Дополнительные комментарии и пожелания к заказу <span class="required">{additional_comments_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="additional_comments" value="{additional_comments}" size="40" maxlength="255" />
	</td>
</tr><!-- end additional_comments_block -->

<!-- begin personal_properties -->
<tr id="op_block_{property_id}" class="usualbg">
	<td style="{property_style}">
		{property_name} <span class="required">{property_required}</span>
	</td>
	<td style="{property_style}">
		{property_control}
	</td>
</tr><!-- end personal_properties -->
</table>

</td><td width="50%">

<table width="100%" border="0" cellspacing="1" class="padding6px">
<!-- begin delivery_select_address -->
<tr class="usualbg">
	<td width="40%"></td>
	<td width="60%">
		<a href="#" onclick="addressWindow('{user_address_select_href}?select_type=2'); return false;">{SELECT_ADDRESS_MSG}</a>
	</td>
</tr><!-- end delivery_select_address --><!-- begin delivery_name_block -->
<tr class="usualbg">
	<td width="40%">
		{NAME_MSG} <span class="required">{delivery_name_required}</span>
	</td>
	<td width="60%">
		<input class="text" type="text" name="delivery_name" value="{delivery_name}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end delivery_name_block --><!-- begin delivery_first_name_block -->
<tr>
	<td class="usualbg">
		{FIRST_NAME_FIELD} <span class="required">{delivery_first_name_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_first_name" value="{delivery_first_name}" size="40" maxlength="64" onchange="uncheckSame();" />
	</td>
</tr><!-- end delivery_first_name_block --><!-- begin delivery_last_name_block -->
<tr>
	<td class="usualbg">
		{LAST_NAME_FIELD} <span class="required">{delivery_last_name_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_last_name" value="{delivery_last_name}" size="40" maxlength="64" onchange="uncheckSame();" />
	</td>
</tr><!-- end delivery_last_name_block --><!-- begin delivery_company_id_block -->
<tr class="usualbg">
	<td>
		{COMPANY_SELECT_FIELD} <span class="required">{delivery_company_id_required}</span>
	</td>
	<td>
		<select class="text" name="delivery_company_id" onchange="uncheckSame();"><!-- begin delivery_company_id -->
			<option {delivery_company_id_selected} value="{delivery_company_id_value}">{delivery_company_id_description}</option><!-- end delivery_company_id -->
		</select>
	</td>
</tr><!-- end delivery_company_id_block --><!-- begin delivery_company_name_block -->
<tr>
	<td class="usualbg">
		{COMPANY_NAME_FIELD} <span class="required">{delivery_company_name_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_company_name" value="{delivery_company_name}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end delivery_company_name_block --><!-- begin delivery_email_block -->
<tr>
	<td class="usualbg">
		{EMAIL_FIELD} <span class="required">{delivery_email_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_email" value="{delivery_email}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end delivery_email_block --><!-- begin delivery_country_id_block -->
<tr class="usualbg">
	<td>{COUNTRY_FIELD} <span class="required">{delivery_country_id_required}</span></td>
	<td>
		<select class="text" id="delivery_country_id_{pb_id}" name="delivery_country_id" onchange="uncheckSame();updateStates('{pb_id}', 'delivery'); orderFormUpdate('delivery');"><!-- begin delivery_country_id -->
			<option {delivery_country_id_selected} value="{delivery_country_id_value}">{delivery_country_id_description}</option><!-- end delivery_country_id -->
		</select>
	</td>
</tr><!-- end delivery_country_id_block --><!-- begin delivery_state_id_block -->
<tr class="usualbg">
	<td>{STATE_FIELD} <span id="delivery_state_id_required_{pb_id}" style="{delivery_state_id_required_style}" class="required">{delivery_state_id_required}</span></td>
	<td>
		<select class="text" id="delivery_state_id_{pb_id}" style="{delivery_state_id_control_style}" name="delivery_state_id" onchange="uncheckSame(); orderFormUpdate('delivery');"><!-- begin delivery_state_id -->
			<option {delivery_state_id_selected} value="{delivery_state_id_value}">{delivery_state_id_description}</option><!-- end delivery_state_id -->
		</select>
		<span id="delivery_state_id_comments_{pb_id}" style="{delivery_state_id_comments_style}">{delivery_state_id_comments}</span>
	</td>
</tr><!-- end delivery_state_id_block --><!-- begin delivery_address1_block -->
<tr>
	<td class="usualbg">
		{STREET_FIRST_FIELD} <span class="required">{delivery_address1_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_address1" value="{delivery_address1}" size="40" maxlength="255" onchange="uncheckSame();" />
	</td>
</tr><!-- end delivery_address1_block --><!-- begin delivery_address2_block -->
<tr>
	<td class="usualbg">
		{STREET_SECOND_FIELD} <span class="required">{delivery_address2_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_address2" value="{delivery_address2}" size="40" maxlength="255" onchange="uncheckSame();" />
	</td>
</tr><!-- end delivery_address2_block --><!-- begin delivery_city_block -->
<tr>
	<td class="usualbg">
		{CITY_FIELD} <span class="required">{delivery_city_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_city" value="{delivery_city}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end delivery_city_block --><!-- begin delivery_province_block -->
<tr>
	<td class="usualbg">
		{PROVINCE_FIELD} <span class="required">{delivery_province_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_province" value="{delivery_province}" size="40" maxlength="128" onchange="uncheckSame();" />
	</td>
</tr><!-- end delivery_province_block --><!-- begin delivery_zip_block -->
<tr>
	<td class="usualbg">
		{ZIP_FIELD} <span class="required">{delivery_zip_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_zip" value="{delivery_zip}" size="10" maxlength="16" onchange="uncheckSame(); orderFormUpdate('delivery');" />
	</td>
</tr><!-- end delivery_zip_block --><!-- begin delivery_phone_block -->
<tr class="usualbg">
	<td>{PHONE_FIELD} <span class="required">{delivery_phone_required}</span></td>
	<td>
		<!-- begin delivery_phone_code_block -->
		<select class="text" name="delivery_phone_code"><!-- begin delivery_phone_code -->
			<option {delivery_phone_code_selected} value="{delivery_phone_code_value}">{delivery_phone_code_description}</option><!-- end delivery_phone_code -->
		</select>
		<!-- end delivery_phone_code_block -->
		<input class="text" type="text" name="delivery_phone" value="{delivery_phone}" size="40" maxlength="32" onchange="uncheckSame();" />
</td>
</tr><!-- end delivery_phone_block --><!-- begin delivery_daytime_phone_block -->
<tr class="usualbg">
	<td>{DAYTIME_PHONE_FIELD} <span class="required">{delivery_daytime_phone_required}</span></td>
	<td>
		<!-- begin delivery_daytime_phone_code_block -->
		<select class="text" name="delivery_daytime_phone_code"><!-- begin delivery_daytime_phone_code -->
			<option {delivery_daytime_phone_code_selected} value="{delivery_daytime_phone_code_value}">{delivery_daytime_phone_code_description}</option><!-- end delivery_daytime_phone_code -->
		</select>
		<!-- end delivery_daytime_phone_code_block -->
		<input class="text" type="text" name="delivery_daytime_phone" value="{delivery_daytime_phone}" size="40" maxlength="32" onchange="uncheckSame();" />
</td>
</tr><!-- end delivery_daytime_phone_block --><!-- begin delivery_evening_phone_block -->
<tr class="usualbg">
	<td>{EVENING_PHONE_FIELD} <span class="required">{delivery_evening_phone_required}</span></td>
	<td>
		<!-- begin delivery_evening_phone_code_block -->
		<select class="text" name="delivery_evening_phone_code"><!-- begin delivery_evening_phone_code -->
			<option {delivery_evening_phone_code_selected} value="{delivery_evening_phone_code_value}">{delivery_evening_phone_code_description}</option><!-- end delivery_evening_phone_code -->
		</select>
		<!-- end delivery_evening_phone_code_block -->
		<input class="text" type="text" name="delivery_evening_phone" value="{delivery_evening_phone}" size="40" maxlength="32" onchange="uncheckSame();" />
</td>
</tr><!-- end delivery_evening_phone_block --><!-- begin delivery_cell_phone_block -->
<tr class="usualbg">
	<td>{CELL_PHONE_FIELD} <span class="required">{delivery_cell_phone_required}</span></td>
	<td>
		<!-- begin delivery_cell_phone_code_block -->
		<select class="text" name="delivery_cell_phone_code"><!-- begin delivery_cell_phone_code -->
			<option {delivery_cell_phone_code_selected} value="{delivery_cell_phone_code_value}">{delivery_cell_phone_code_description}</option><!-- end delivery_cell_phone_code -->
		</select>
		<!-- end delivery_cell_phone_code_block -->
		<input class="text" type="text" name="delivery_cell_phone" value="{delivery_cell_phone}" size="40" maxlength="32" onchange="uncheckSame();" />
</td>
</tr><!-- end delivery_cell_phone_block --><!-- begin delivery_fax_block -->
<tr class="usualbg">
	<td>{FAX_FIELD} <span class="required">{delivery_fax_required}</span></td>
	<td>
		<!-- begin delivery_fax_code_block -->
		<select class="text" name="delivery_fax_code"><!-- begin delivery_fax_code -->
			<option {delivery_fax_code_selected} value="{delivery_fax_code_value}">{delivery_fax_code_description}</option><!-- end delivery_fax_code -->
		</select>
		<!-- end delivery_fax_code_block -->
		<input class="text" type="text" name="delivery_fax" value="{delivery_fax}" size="40" maxlength="32" onchange="uncheckSame();" />
</td>
</tr><!-- end delivery_fax_block -->

<!-- begin delivery_req_block -->
<tr>
	<td class="usualbg">
		Желаемые день и время доставки <span class="required">{delivery_req_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_req" value="{delivery_req}" size="40" maxlength="255" />
	</td>
</tr><!-- end delivery_req_block -->
<!-- begin delivery_additional_comments_block -->
<tr>
	<td class="usualbg">
		Дополнительные комментарии и пожелания к заказу <span class="required">{delivery_additional_comments_required}</span>
	</td>
	<td class="usualbg">
		<input class="text" type="text" name="delivery_additional_comments" value="{delivery_additional_comments}" size="40" maxlength="255" />
	</td>
</tr><!-- end delivery_additional_comments_block -->


<!-- begin delivery_properties -->
<tr id="op_block_{property_id}" class="usualbg">
	<td style="{property_style}">
		{property_name} <span class="required">{property_required}</span>
	</td>
	<td style="{property_style}">
		{property_control}
	</td>
</tr><!-- end delivery_properties -->
</table>
</td></tr>
<!-- begin subscribe_block -->
<tr class="middlebg">
	<td colspan="2" style="padding: 0px;"><img src="images/tr.gif" alt="" /></td>
</tr>
<tr class="usualbg">
	<td colspan="2" >
		<label><input type="checkbox" name="subscribe" {subscribe} value="1" /> {SUBSCRIBE_CHECKBOX_MSG}</label>
	</td>
</tr>
<!-- end subscribe_block -->
<tr>
	<td colspan="2" align="right" class="middlebg">
		<span class="submit"><input class="submit" id="continue" type="submit" value="{CONTINUE_BUTTON}" onclick="var check=checkOrder(document.order_info); if (!check) {return false;}; return check_qiwi();" /></span>
	</td>
</tr>
</table>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</form>
</div>
<div class="shippingTypesDescBlock">
	<!-- begin additional_info_block -->
	<div class="typeDesc" id="bInfo{shipping_type_id}">
		<div style="font-size:16px; margin-bottom:10px"><b>{shipping_name_additional}</b></div>
		<div><b>Тип доставки:</b> {type}</div>
		<!-- begin phones_block --><div><b>Телефоны:</b> {phones}</div><!-- end phones_block -->
		<!-- begin days_block -->
		<div><b>График работы:</b></div>
		<div style="margin-left:10px">
			<!-- begin day_block -->{day_name}<br /><!-- end day_block -->
		</div>
		<!-- end days_block -->
		<!-- begin self_ship_block -->
		<!-- begin address_block --><div><b>Адрес:</b> {address}</div><!-- end address_block -->
		<!-- begin self_delivery_block --><div><b>Типы точки самовывоза:</b> {self_delivery}</div><!-- end self_delivery_block -->
		<!-- end self_ship_block -->
		<!-- begin deliv_ship_block -->
		<!-- begin evening_block --><div><b>Доставка после 18-00:</b> {evening}</div><!-- end evening_block -->
		<!-- begin weekend_block --><div><b>Доставка в выходные:</b> {weekend}</div><!-- end weekend_block -->
		<!-- begin at_time_block --><div><b>Доставка к определенному часу:</b> {at_time}</div><!-- end at_time_block -->
		<!-- begin to_floor_block --><div><b>Подъем на этаж:</b> {to_floor}</div><!-- end to_floor_block -->
		<!-- end deliv_ship_block -->
		<!-- begin info_block --><div><b>Примечание:</b> {info}</div><!-- end info_block -->
	</div>
	<!-- end additional_info_block -->	
</div>
<script type="text/javascript">
	var allowedCountiesPid = [
		<!-- begin countriesTypes -->
		<!-- begin psCountriesList -->
		{ 
			systemId:{systemId},
			allowedCountries: [{ctnsIds}]
		}{separator}
		<!-- end psCountriesList -->
		<!-- end countriesTypes -->
	];
	
	Array.prototype.in_array = function(p_val) {
		for(var i = 0, l = this.length; i < l; i++)	{
			if(this[i] == p_val) {
				return true;
			}
		}
		return false;
	}
	var CountriesChecker = {
		operationRequire: false,
		restrictedSysyemsLength: 0,
		cForm: document.order_info,
		paymentControlType: null,
		countryField: null,
		init: function(paymentControlType){
			var psLength = this.restrictedSysyemsLength = allowedCountiesPid.length;
			if (psLength == 0) return false;
			this.paymentControlType = paymentControlType;
			this.operationRequire = true;
			this.setCountryField();
			this.checkSelectedCountry();
			this.bindCountryChange();
		},
		checkSelectedCountry: function(){
			var userCountry = CountriesChecker.countryField.selectedIndex;
			if(CountriesChecker.operationRequire === false) return false;
			else if(userCountry == 0) CountriesChecker.getAlloewdPS(0);
			else{
				CountriesChecker.getAlloewdPS(CountriesChecker.countryField[userCountry].value);
			}
		},
		getAlloewdPS: function(_uC){
			var i, currentPS, sIndex;
			_uC = parseInt(_uC);
			for (i = 0; i < CountriesChecker.restrictedSysyemsLength; i += 1){
				currentPS = 'payment_id_' + allowedCountiesPid[i].systemId;
				if(allowedCountiesPid[i].allowedCountries.in_array(_uC) === false){
					if(this.paymentControlType === 'select'){
						this.cForm.payment_id.options[currentPS].disabled = true;
						sIndex = this.cForm.payment_id.selectedIndex;
						if (this.cForm.payment_id.options[currentPS].value == this.cForm.payment_id.options[sIndex].value){
							this.cForm.payment_id.selectedIndex = -1;
						}
					}
					else {
						this.cForm[currentPS].checked = false;
						this.cForm[currentPS].disabled = true;
					}
				}
				else{
					if(this.paymentControlType === 'select'){
						this.cForm.payment_id.options[currentPS].disabled = false;
					}
					else{
						this.cForm[currentPS].disabled = false;
					}
				}
			}
		},
		bindCountryChange: function(){
			var _countryChecker = this.countryField;
			if (!_countryChecker.addEventListener) {
				_countryChecker.attachEvent("onchange", CountriesChecker.checkSelectedCountry);
			}
			else {
				_countryChecker.addEventListener("change", CountriesChecker.checkSelectedCountry, false);
			}
		},
		setCountryField: function(){
			var _cField = document.order_info.country_id;
			if(!_cField){
				_cField = document.order_info.delivery_country_id
			}
			if(!_cField){
				CountriesChecker.operationRequire = false;
			}
			else{
				this.countryField = _cField;
			}			
		}
	}
	CountriesChecker.init("{pmt_control_type}");

	function showShippingAdditional(shippingId){
		var container = $("#LegalText");    
        if(!container.length){
            createContainerS();
        }
        textInfo = $("#bInfo" + shippingId).html();
        showContainerS(textInfo);
	}

	function createContainerS(){
        var body = $("body").eq(0),
	        cloud = $("<div></div>",{
	            id: "pageCloudL",
	            class: "pageCloudL",
	            click: hideCloudS
	        }),
            noteContainer = $("<div></div>",{
                class: "LegalText",
                id: "LegalText",
            }).BLZAlignFixed();

        cloud.appendTo(body);
        noteContainer.appendTo(body);
    }

    function showContainerS(textData){
        var buttonClose = $("<div></div>",{
			id: "buttonClose",
			class: "buttonClose oInf",
			click: hideCloudS,
			text: "Закрыть"
			}),
			elem = $("#LegalText");
        elem.html(textData);
        buttonClose.appendTo(elem);
        $("#pageCloudL").css({display:"block"});
        elem.css({display:"block"});
    }

    function hideCloudS(){
        $("#pageCloudL").css({display:"none"});
        $("#LegalText").css({display:"none"});                       
    }

    jQuery.fn.BLZAlignFixed = function () {
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2)) + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
        return this;
    }

</script>