<div class="block-merchant-list {block_class}" style="{block_style}">
<div class="BlockTop">
    <div class="TopCenter">
        <div class="TopLeftBgr">
            <div class="TopRightBgr">
                <div class="TopLeft"></div>
                <div class="TopRight"></div>
                <div class="TopTitle">    
                    <div class="TopTitleBgr"><div>{block_title}</div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="BlockMiddle">
    <div class="MiddleCenter">
        <!-- begin seller_data_block -->
        <div class="sellerData">
            <h3 class="sellerTitle">{company_name}<span style="float:right;font-size:11px">Рейтинг продавца: {merchant_rating}</span></h3>
            <span style="float:right;font-size:11px">Отзывов: {messages}</span>
            <div>Рейтинг: <img class="{average_rating_image}" src="images/tr.gif" align="top" alt="{average_rating_alt}" /></div>
            <img src="{seller_logo}" style="width:100px;" />
            <!-- begin seller_short_description_block -->
            <div class="sellerDesc">{short_description}</div>
            <div class="clearboth"></div><!-- end seller_short_description_block -->
            <!-- begin seller_site_block -->
            <div>Сайт: <noindex><a href="{user_site}" rel="nofollow">{user_site}</a></noindex></div><!-- end seller_site_block -->
            <div><br /><a href="merchant_reviews.php?user={user_id}">Посмотреть</a></div>
        </div>
        <!-- end seller_data_block -->
    </div>
</div>

<div class="BlockBottom">
    <div class="BottomCenter">
        <div class="BottomLeft"></div>
        <div class="BottomRight"></div>
    </div>
</div>
</div>
