<div class="block-checkout-final {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="usualbg padding10px" style="padding: 20px;">{final_message}</div>
		<!-- begin order_more_items -->
		<div class="moreItems">
			В корзине остались заказы других продавцов, вы можете их оформить перейдя по ссылке: <a class="finalBasket" href="basket.php"> Корзина</a>
		</div><!-- end order_more_items -->
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>