﻿<div style="background: orange; margin-bottom: 20px; padding: 20px;">
	
	<pre>{debug}</pre>
	
	<div>
		{BALANCE_COUNT_MSG}: {balance_count}
	</div>
	
	<!--
	<div>
		Комиссии за прошлый месяц: {summ_commisions_last_month}
	</div>
	
	<div>
		Комиссии за этот месяц: {summ_commisions_current_month}
	</div>
	-->
	
	<div>
		{BLOCKED_BALANCE_MSG}: {blocked_balance}
	</div>
	<div>
		<a href="#">{ADD_BALANCE}</a>
	</div>
	<div>
		{TARIF_PLAN_MSG}: {tarif_name}
	</div>
</div>