<div id="pb_{pb_id}" class="block-cart {block_class}" style="{block_style}">
<script type="text/javascript">
var HidingTimeout = 0;
$(document).ready(function() {
	LoadCSS();
	$(document).on("mouseover", ".block-cart  ", function(){ShowCart();});
	$(document).on("mouseout", ".block-cart  ", function(){HideTimeout();});	
});
function ShowCart() {
	if ($(this).not(":visible"))
		$("#cart_popup").fadeIn("slow");
	clearTimeout(HidingTimeout);}

function HideCart() {
	$("#cart_popup").stop(true, true).fadeOut(1000);}

function HideTimeout() {
	HidingTimeout = setTimeout("HideCart()", 300);}

function LoadCSS() {	
	var $ = document; // shortcut
	var cssId = 'vi_sliding_cart_css';  
	if (!$.getElementById(cssId)){
		var head  = $.getElementsByTagName('head')[0];
		var link  = $.createElement('link');
		link.id   = cssId;
		link.rel  = 'stylesheet';
		link.type = 'text/css';
		link.href = './styles/extra/vi_sliding_cart.css';
		link.media = 'all';
		head.appendChild(link);}	
}

</script>
<!--noindex-->
<form name="small_cart" action=""><input type="hidden" name="pb_id" value="{pb_id}" /></form>
<!-- begin empty_small_cart -->
<div class="vi-block-cart empty">
	<a href="{basket_href}" re="nofollow" class='cartIco empty'>{SMALL_CART_TITLE}</a>
	<!-- {EMPTY_CART_MSG} -->
	<div id="cart_popup" class="empty">
		<div class="cartItem">{EMPTY_CART_MSG}</div>
	</div>
	{VI_TOTAL_GOODS}: <b>{total_quantity}</b> 
	<div id="head_cart"><a class="but" href="{basket_href}" >Посмотреть</a></div>
	
</div>	
<!-- end empty_small_cart -->
<!-- begin small_cart -->
<div class="vi-block-cart full">
<a href="{basket_href}" re="nofollow" class='cartIco full'>{SMALL_CART_TITLE}</a>
<div id="cart_popup">
	<!-- BEGIN small_cart_items -->
	<div class="cartItem">
		<div class="image">
			<img src="{item_img}" alt="{short_name}"/>
		</div>
		<div class="name">{short_name}...</div><div class="quantity">{quantity}</div><div class="price">{price}</div>
	</div>
	<!-- END small_cart_items -->
	<div class="cartItem total"><div class="itogo"><b>{GOODS_TOTAL_MSG}</b></div><div class="quantity">{total_quantity}</div><div class="price">{total_price}</div></div>
	<div class="cartItem links">
		<div><a class="buttonCart button-check" id="check" href="{basket_href}" re="nofollow"><span>{GOTO_CHECKOUT_MSG}</span><img src="images/tr.gif" alt="{GOTO_CHECKOUT_MSG}" /></a></div>
		<div><a class="buttonCart button-view" id="view" href="{basket_href}" re="nofollow"><span>{VIEW_CART_MSG}</span><img src="images/tr.gif" alt="{VIEW_CART_MSG}" /></a></div>
	</div>
</div>
	{VI_TOTAL_GOODS}: <b>{total_quantity}</b> 
	<div id="head_cart"><a class="but" href="{basket_href}" >Посмотреть</a></div>
	
</div>	
<!-- end small_cart -->
</div>
<!--/noindex-->