/*** General styles ***/
body			{background: #000000 url(../images/ecommerce/black/body-bgr.gif) repeat-x 0px 0px; font: 12px Tahoma, Arial, Helvetica, sans-serif; color: #FFFFFF; margin: 0px; padding: 0px;}
body.popup	{background: #000000; font: 12px Tahoma, Arial, Helvetica, sans-serif; color: #FFFFFF; margin: 0px; padding: 0px;}

tr, td		{font: 12px Tahoma, Arial, Helvetica, sans-serif; color: #FFFFFF;}

h1, h2		{padding: 0px; margin: 0px;}

a						{color: #FFC000; outline: 0px; text-decoration: underline;}
a:hover				{text-decoration: none;}
a.smallText			{text-decoration: none; font-size: 11px; }
a.smallText:hover	{text-decoration: underline;}

input					{font: 13px Tahoma, Arial, Helvetica, sans-serif;}
input.search, 
input.text, 
input.field, 
input.fieldSmall	{background: #FFFFFF; border-top: 1px solid #000000; border-right: 1px solid #378BD2; border-bottom: 1px solid #378BD2; border-left: 1px solid #000000;}
input.fieldSmall	{font-size: 11px;}
input.submit		{background: #FF9C00 url(../images/ecommerce/black/button.gif) repeat-x top; border: 1px solid #FF9C00; color: #000000; font-size: 12px; cursor: pointer;}
	input#clear		{color: #333333;}
	input#reset		{color: #333333;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #333333;}
	input#delete	{color: #333333;}
select				{background: #FFFFFF; border-top: 1px solid #000000; border-right: 1px solid #378BD2; border-bottom: 1px solid #378BD2; border-left: 1px solid #000000; font: 13px Tahoma, Arial, Helvetica, sans-serif;}
textarea			{background: #FFFFFF; border-top: 1px solid #000000; border-right: 1px solid #378BD2; border-bottom: 1px solid #378BD2; border-left: 1px solid #000000; font: 13px Tahoma, Arial, Helvetica, sans-serif;}

.middlebg 			{background: #D8A979; font-weight: bold;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center;}
.popup 
.errorbg				{padding: 4px;}
.messagebg  		{color: #0000CC; font-weight: bold; padding: 6px; text-align: center;}
.block-order-info 
.messagebg  		{padding: 2px 6px; text-align: right;}

.padding10px				{padding: 10px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin: 0px 10px 5px 0px;}
.ArticleDescription	{padding: 10px 0px;}

.introBlock {border: 1px solid #D5D5D5; margin: 5px; padding: 6px;}

.articleDate	{font-size: 11px; color: #FFFFFF; font-style: italic; }
.titleText		{color: #FFC000; text-decoration: none; }
.top				{font-size: 11px;}
.smallText		{font-size: 11px;}
.middleText		{font-size: 12px;}
.bigText			{font-size: 13px;}
.comment			{font-size: 11px; color: #7777CC;}
.required		{color: #FF0000;}
.message			{font-size: 12px; color: #0000CC;}
.title			{font: 12px Arial, Helvetica, sans-serif; color: #FFC000;}
.bigtitle		{font: bold 12px Arial, Helvetica, sans-serif; color: #FFC000;}
.error			{color: red; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: blue; text-decoration: underline;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}
/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{margin: auto; padding: 0; text-align: left;}
.headerStyle	{padding: 0 15px; position: relative; z-index: 100;}
.contentStyle	{clear: both; height: 1%; overflow: hidden; padding: 0 15px; position: relative; z-index: 1;}
.footerStyle	{clear: both;}

.hotStylePadding		{padding: 7px 0 0 0;}
.leftStylePadding		{padding: 7px 7px 7px 0;}
.centerStylePadding	{padding: 7px 0;}
.rightStylePadding	{padding: 7px 0 7px 7px;}

/* Four frames */
.fourFrames .hotStyle			{float: left; position: relative; width: 80%;}
.fourFrames .leftStyle			{float: left; position: relative; width: 25%;}
.fourFrames .centerStyle		{float: left; position: relative; width: 75%;}
.fourFrames .rightStyle			{float: left; position: relative; width: 20%;}
.fourFrames .leftStylePadding		{padding: 0 7px 7px 0;}
.fourFrames .centerStylePadding	{padding: 0 0 7px 0;}

/* Three frames */
.threeFrames .leftStyle		{float: left; position: relative; width: 20%;}
.threeFrames .centerStyle	{float: left; position: relative; width: 60%;}
.threeFrames .rightStyle	{float: left; position: relative; width: 20%;}

/* Two frames */
.twoFrames .leftStyle	{float: left; position: relative; width: 30%;}
.twoFrames .centerStyle	{float: left; position: relative; width: 70%;}

/* One frames */
.oneFrame .centerStyle	{position: relative; width: 100%;}
/*** Frame set ***/

/*** Header ***/
.Header {height: 110px; position: relative; z-index: 100;}
.HeaderLogo {float: left;} 
.HeaderLogo img {border: none; margin: 20px 20px 5px 10px;}
.HeaderMenu {margin: 0 0 0 200px; padding: 40px 0px 0px 0px;}

/* Top Menu */
.TopMenu 			{background: url(../images/ecommerce/black/tmenu-bgr.gif) repeat-x top; display: block; height: 36px; margin: 0px; overflow: hidden; padding: 0px 0px 0px 0px; z-index: 20;}
.TopMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap;}
.TopMenu li.topmenu		{padding: 0px; z-index: 50;}
.TopMenu li.begin			{background: url(../images/ecommerce/black/tmenu-l.gif) no-repeat left top;}
.TopMenu li.begin img	{margin: 18px 6px;}
.TopMenu li.end			{background: url(../images/ecommerce/black/tmenu-r.gif) no-repeat right top; float: right;}
.TopMenu li.end img		{margin: 18px 6px;}

/* Top Menu Links */
a.menu					{color: #000000; display: block; font: 12px Tahoma, Arial, Helvetica, sans-serif; padding: 11px 15px 10px 15px; text-decoration: none; text-transform: uppercase;}
a.menu:hover			{background: url(../images/ecommerce/black/tmenu-bgr-a.gif) repeat-x top; color: #FFFFFF;}
a.menuActive			{background: url(../images/ecommerce/black/tmenu-bgr-a.gif) repeat-x top; color: #FFFFFF; cursor: text; display: block; font: 12px Tahoma, Arial, Helvetica, sans-serif; padding: 11px 15px 10px 15px; text-decoration: none; text-transform: uppercase;}
a.menuActive:hover	{}

/* Secondary Menu */
ul.secondaryMenu 			{display: block; height: 32px; margin: 0px 0px 0px 10px; overflow: hidden; padding: 0px 0px 0px 0px; z-index: 20;}
ul.secondaryMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{background: url(../images/ecommerce/black/tmenu-bgr.gif) repeat-x 0px -4px; padding: 0px;}
ul.secondaryMenu li.secondaryBegin			{display: none;}
ul.secondaryMenu li.secondaryEnd				{background: url(../images/ecommerce/black/tmenu-r.gif) no-repeat right -4px;}
ul.secondaryMenu li.secondaryEnd img		{margin: 18px 6px;}

/* Secondary Menu Links */
a.secondaryMenu 			{color: #000000; display: block; font: 12px Tahoma, Arial, Helvetica, sans-serif; padding: 9px 15px 9px 15px; text-decoration: none; text-transform: uppercase;}
a.secondaryMenu:hover 	{background: url(../images/ecommerce/black/tmenu-bgr-a.gif) repeat-x top; color: #FFFFFF;}
a.secondaryMenuActive 			{background: url(../images/ecommerce/black/tmenu-bgr-a.gif) repeat-x top; color: #FFFFFF; cursor: text; display: block; font: 12px Tahoma, Arial, Helvetica, sans-serif; padding: 9px 15px 9px 15px; text-decoration: none; text-transform: uppercase;}
a.secondaryMenuActive:hover	{}

/* Sub Menu */
.SubMenu 		{border: 1px solid #7303FF; border-bottom: none; display: none; margin: 0px 0px 0px 0px; padding: 0px; position: absolute; width: 150px;}
.SubMenu li 		{border-top: none !important; border-bottom: 1px solid #7303FF; display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap; width: 150px;}
.SubMenu li.topmenu		{padding: 0px; position: relative;}
.SubMenu li.secondaryMenu	{background: none !important; padding: 0px !important; position: relative;}
.SubMenu a.menu				{background: #C8C1FB !important; color: #000000; padding: 3px 10px; text-decoration: none; text-transform: none;}
.SubMenu a.menu:hover		{background: #7303FF !important; color: #FFFFFF;}
.SubMenu a.secondaryMenu			{background: #C8C1FB !important; color: #000000; padding: 3px 10px; text-decoration: none; text-transform: none;}
.SubMenu a.secondaryMenu:hover	{background: #7303FF !important; color: #FFFFFF;}
.SubMenu a.secondaryMenuActive			{background: #C8C1FB !important; color: #000000; padding: 3px 10px; text-decoration: none; text-transform: none;}
.SubMenu a.secondaryMenuActive:hover	{background: #7303FF !important; color: #FFFFFF;}

.SubMenu ul		{border: 1px solid #7303FF; border-bottom: none; display: none; left: 150px; margin: 0px; padding: 0px; position: absolute; top: -1px;}
.SubMenu span.nobr      {white-space: normal !important;}
/*** Header ***/

/*** Breadcrumbs ***/
.Breadcrumb {margin: 0px 0px 7px 0px; position: relative; width: 100%;}
.BreadcrumbCenter {background: #794614 url(../images/ecommerce/black/bread-bgr.gif) repeat-x top; position: relative;}
.BreadcrumbLeftBgr {background: url(../images/ecommerce/black/bread-lt.gif) no-repeat left top; position: relative;}
.BreadcrumbRightBgr {background: url(../images/ecommerce/black/bread-rb.gif) no-repeat right bottom; height: 100%; overflow: hidden; position: relative;}

.BreadcrumbRSS {float: right; padding: 6px 20px; text-align: right;}
.Breadcrumbs {background: none;  overflow: hidden; height: 100%;}
.BreadcrumbsBgr {padding: 6px 0px 6px 20px;}
.BreadcrumbsBgr a {color: #000000;}
.BreadcrumbsBgr a.treeItemLast {font-weight: bold; text-decoration: none; cursor: text;}
.BreadcrumbsBgr span {color: #000000;}
.BreadcrumbsBgr img {display: none;}

/* Step to Order Pages */
.BreadcrumbsBgr span.nonactive {display: inline; font-weight: normal; color: #FFFFFF; margin-right: 10px;}
.BreadcrumbsBgr span.active {display: inline; font-weight: bold; color: #FFFFFF; margin-right: 10px;}
/*** Breadcrumbs ***/

/*** Structure of Block ***/
.BlockTop {background: #CD9F6E url(../images/ecommerce/black/bl5-bgr-t.jpg) repeat-x top; position: relative; width: 100%;}
.TopCenter {position: relative;}
.TopLeftBgr {position: relative;}
.TopRightBgr {height: 100%; overflow: hidden; position: relative;}

.TopLeft {background: url(../images/ecommerce/black/bl5-lt.gif) no-repeat top left; float: left; width: 14px; height: 14px;}
.TopTitleIco {float: right; padding: 18px 24px 11px 10px; text-align: right;}
.TopTitle {background: none;  overflow: hidden; height: 100%;}
.TopTitleBgr {color: #000000; font: 15px Tahoma, Arial, Helvetica, sans-serif; padding: 18px 24px 11px 10px; text-transform: capitalize;}
.TopTitleBgr h1 {color: #000000; font: 15px Tahoma, Arial, Helvetica, sans-serif; text-transform: capitalize;}

.BlockMiddle {background: #552A00 url(../images/ecommerce/black/bl5-bgr-c.jpg) repeat-x top; position: relative;}
.MiddleCenter {background: url(../images/ecommerce/black/bl5-rb.gif) no-repeat right bottom; overflow: hidden; height: 100%; padding: 0px 10px 15px 10px; position: relative;}
.BlockData { position: relative; overflow: hidden; }

.BlockBottom {display: block; margin-bottom: 7px; position: relative; font-size: 1px;}
.BottomCenter {overflow: hidden; height: 100%;}
.BottomLeft {float: left; height: 1px; width: 1px;}
.BottomRight {float: right; height: 1px; width: 1px;}
/*** Structure of Block ***/

/*** Structure of Block Without Title ***/
.hidden-title .BlockTop, 
.block-simple .BlockTop {background: #67A7D7 url(../images/ecommerce/black/bl3-bgr-t.gif) repeat-x top !important; display: block; position: relative; font-size: 1px;}
.hidden-title .TopCenter, 
.block-simple .TopCenter {overflow: hidden; height: 100%;}
.hidden-title .TopLeft, 
.block-simple .TopLeft {background: url(../images/ecommerce/black/bl3-lt.gif) no-repeat top left !important; float: left; height: 14px; width: 14px;}
.hidden-title .BlockMiddle, 
.block-simple .BlockMiddle {background: #004F86 url(../images/ecommerce/black/bl3-bgr-b.gif) repeat-x top !important;}
.hidden-title .MiddleCenter, 
.block-simple .MiddleCenter {background: url(../images/ecommerce/black/bl3-rb.gif) no-repeat right bottom !important;}
.hidden-title .TopTitle { display: none; }
/*** Structure of Block Without Title ***/

/*** Structure of Block Left Column ***/
.mainTableCellLeft .BlockTop {background: #94CB4D url(../images/ecommerce/black/bl2-bgr-t.gif) repeat-x top;}
.mainTableCellLeft .TopLeft {background: url(../images/ecommerce/black/bl2-lt.gif) no-repeat top left;}
.mainTableCellLeft .TopTitleBgr {color: #000000;}
.mainTableCellLeft .TopTitleBgr h1 {color: #000000;}
.mainTableCellLeft .BlockMiddle {background: #105300 url(../images/ecommerce/black/bl2-bgr-c.gif) repeat-x top;}
.mainTableCellLeft .MiddleCenter {background: url(../images/ecommerce/black/bl2-rb.gif) no-repeat right bottom;}
/*** Structure of Block Left Column ***/

/*** Structure of Block Center Column ***/
/*** Structure of Block Center Column ***/

/*** Structure of Block Right Column ***/
.mainTableCellRight .BlockTop {background: #94CB4D url(../images/ecommerce/black/bl2-bgr-t.gif) repeat-x top;}
.mainTableCellRight .TopLeft {background: url(../images/ecommerce/black/bl2-lt.gif) no-repeat top left;}
.mainTableCellRight .TopTitleBgr {color: #000000;}
.mainTableCellRight .TopTitleBgr h1 {color: #000000;}
.mainTableCellRight .BlockMiddle {background: #105300 url(../images/ecommerce/black/bl2-bgr-c.gif) repeat-x top;}
.mainTableCellRight .MiddleCenter {background: url(../images/ecommerce/black/bl2-rb.gif) no-repeat right bottom;}
/*** Structure of Block Right Column ***/

/*** Structure of different Blocks ***/
.block-search .BlockTop, 
.block-currency .BlockTop, 
.block-login .BlockTop {background: #24679E url(../images/ecommerce/black/bl4-bgr-t.gif) repeat-x top;}
.block-search .TopLeft, 
.block-currency .TopLeft, 
.block-login .TopLeft {background: url(../images/ecommerce/black/bl4-lt.gif) no-repeat top left;}
.block-search .BlockMiddle, 
.block-currency .BlockMiddle, 
.block-login .BlockMiddle {background: #00223C url(../images/ecommerce/black/bl4-bgr-c.gif) repeat-x top;}
.block-search .MiddleCenter, 
.block-currency .MiddleCenter, 
.block-login .MiddleCenter {background: url(../images/ecommerce/black/bl4-rb.gif) no-repeat right bottom;}
/*** Structure of different Blocks ***/

/*** Structure of Hot Block ***/
.block-hot .BlockTop {background: #67A7D7 url(../images/ecommerce/black/bl3-bgr-t.gif) repeat-x top;}
.block-hot .TopLeft {background: url(../images/ecommerce/black/bl3-lt.gif) no-repeat top left;}
.block-hot .BlockMiddle {background: #004F86 url(../images/ecommerce/black/bl3-bgr-c.gif) repeat-x top;}
.block-hot .MiddleCenter {background: url(../images/ecommerce/black/bl3-rb.gif) no-repeat right bottom;}
/*** Structure of Hot Block ***/

/*** Structure of Offers Block ***/
.block-offers .BlockTop {background: #6E4EA2 url(../images/ecommerce/black/bl1-bgr-t.gif) repeat-x top;}
.block-offers .TopLeft {background: url(../images/ecommerce/black/bl1-lt.gif) no-repeat top left;}
.block-offers .BlockMiddle {background: #341C55 url(../images/ecommerce/black/bl1-bgr-c.gif) repeat-x top;}
.block-offers .MiddleCenter {background: url(../images/ecommerce/black/bl1-rb.gif) no-repeat right bottom;}
/*** Structure of Offers Block ***/

/*** Structure of Block Categories List ***/
.block-categories-list .BlockTop {background: #000000;}
.block-categories-list .TopLeft {background: none;}
.block-categories-list .TopTitleBgr div {color: #8BDB02;}
.block-categories-list .BlockMiddle {background: #000000;}
.block-categories-list .MiddleCenter {background: none;}
/*** Structure of Block Categories List ***/

/*** User Home Page ***/
.UHBRows {clear: both;}
.UserHomeBlock {float: left; position: relative; width: 49%;}
.UHBContent {padding: 7px;}
.UHBContent div {margin: 0px 0px 0px 50px;}

.userHomeLogout {clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a {color: #FFFFFF; text-decoration:underline;}
.userHomeLogout a:hover {text-decoration:none;}

.UserHomeBlock img.orders 		{background: url(../images/icons/admin_orders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 	{background: url(../images/icons/admin_profile.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 	{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 	{background: url(../images/icons/admin_support.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 		{background: url(../images/icons/admin_forum.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 	{background: url(../images/icons/admin_products.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 		{background: url(../images/icons/admin_pages.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders	{background: url(../images/icons/admin_salesorders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 	{background: url(../images/icons/admin_merchant.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates 	{background: url(../images/icons/admin_affiliates.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments 	{background: url(../images/icons/admin_payments.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts	 	{background: url(../images/icons/admin_carts.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist 	{background: url(../images/icons/admin_wishlist.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders 	{background: url(../images/icons/admin_reminders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd span.spacer {color: #FFC000;}	/* '|' between button */
.block-cart 
td.butTd span.spacer {color: #000000;}

a.button {font: 14px/20px Arial, Helvetica, sans-serif; padding: 0px 10px 0px 0px; white-space: nowrap;}
a.button img 	{display: none;}
a.button-add	{color: #FF9900; font-weight: bold;}

a.buttonBasket {font: 14px/20px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonBasket img 	{display: none;}
a.button-shopping 	{color: #FF9900; font-weight: bold;}	
a.button-checkout 	{color: #FF9900; font-weight: bold;}

a.buttonCart {font: 12px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonCart img 		{display: none;}

a.buttonMore {font: 12px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonMore img 	{display:none;}

a.disabled {color: gray; cursor: text; font: bold 14px/20px Arial, Helvetica, sans-serif; padding: 0px 10px 0px 0px; text-decoration: none;}
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #3B81B5; border: 2px solid #98D1FF; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/
.CategoryList		{display: block; margin: 0px; padding: 0px;}
.CategoryList li		{background: url(../images/ecommerce/black/tree_top.gif) no-repeat 0px 0px; display: block; list-style: none; margin: 0px; padding: 5px 0px 5px 18px;}
.SubCategoryList		{display: block; margin: 4px 0px 0px 0px; padding: 0px;}
.SubCategoryList li		{background: url(../images/ecommerce/tree_begin.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 14px;}
.SubCategoryList li.lastCategory		{background: url(../images/ecommerce/tree_end.gif) no-repeat 0px 6px;}

.topCategory a.title {color: #1584D2; font-size: 14px;}
.topCategory a.title:hover {color: #1584D2;}
.subCategory a.title {color: #1584D2; font-size: 12px;}
.subCategory a.title:hover {color: #1584D2;}
.selectedsubCategory a.title, 
.selectedtopCategory a.title {color: #8BDB02;}
.selectedsubCategory a.title:hover, 
.selectedtopCategory a.title:hover {color: #8BDB02;}
.selectedsubCategory ul a.title, 
.selectedtopCategory ul a.title {color: #1584D2;}
.selectedsubCategory ul a.title:hover, 
.selectedtopCategory ul a.title:hover {color: #1584D2;}

.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}
.block-products-list .productImg, 
.block-product-details .productImg {border: 1px solid #9E78FF; margin-right: 10px; margin-bottom: 10px; padding: 1px;}

.featuresList	{border: 2px solid #D8A979; float: right; font: 12px Arial, Helvetica, sans-serif; margin: 0px 0px 5px 5px; padding: 6px; width: 40%;}

.specification	{}
.groupTitle		{background: #D8A979; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #D8A979; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px;}
.matrixQty		{border-left: 1px solid #D8A979; border-top: 1px solid #D8A979; float: left;}
.matrixPrice	{border-top: 1px solid #D8A979; float: left;}
.matrixTitle	{background: #D8A979; border-right: 1px solid #D8A979; border-bottom: 1px solid #D8A979; font-weight: bold; padding: 3px 6px; text-align: center;}
.matrixItem		{border-right: 1px solid #D8A979; border-bottom: 1px solid #D8A979; padding: 3px 6px; text-align: left;}

/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 12px; font-weight: bold; color: #FFFFFF; background: #D8A979; padding: 6px !important; }
.productsCategoryDesc	{background: #D8A979; padding: 6px !important; }
.productsDelimiter 		{background: #D8A979; padding: 0px !important;}
.productsDelimiterTop 	{background: #D8A979; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px solid #D8A979;}
.hDelimiter {background: #D8A979; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs 			{border-bottom: 2px solid #E7B988; height: 1%; margin: 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.DetailTabs li 			{display: block; float: left; list-style: none; margin: 0px 10px 0px 0px; padding: 0px;}
.DetailTabs li.tab 			{background: none; border: 1px solid #E7B988; border-bottom: none;}
.DetailTabs li.tabActive 		{background: #E7B988; border: 1px solid #E7B988; border-bottom: none;}
.DetailTabs a.tab					{background: none; color: #E7B988; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tab:hover			{background: #E7B988; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tabActive			{background: #E7B988; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}
.DetailTabs a.tabActive:hover	{background: #E7B988; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #D8A979; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #D8A979; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #D8A979; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding: 0px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{text-align: left; clear: right; display: block;}
.offerItem 			{text-align: left;}
.offerImg			{float: left; border: 1px solid #9E78FF; margin-right: 10px; margin-bottom: 10px;} 
.offerText			{text-align: left;}
.offerItem 
a.buttonMore		{display: block;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumMessageLeft 	{background: #FFD1A1; border-left: 1px solid #552A00; border-top: 1px solid #552A00; border-bottom: 1px solid #552A00;}
.forumMessageRight 	{background: #FFD1A1; border: 1px solid #552A00;}
.forumMessageTop 		{background: #552A00; border-bottom: 1px solid #552A00;}
/*** Forum ***/

/*** Footer ***/
.footerMenu	{text-align:center; font-size: 11px;}
.footerMenu	span {display: none;}
.footerMenu	img.separator		{margin: 0px 5px;}
.footerHTML	{text-align:center; padding: 10px;}
.footerImg	{text-align:right;}
.footerImg img		{width: 80px; height: 26px; border:0px;}
/*** Footer ***/


/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background: url(../images/ecommerce/admin-tabs-bgr.gif); height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #919B9C;}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: #88C3F1; border: 1px solid #919B9C; border-bottom: none; cursor: pointer; font: 11px/18px Verdana, sans-serif; margin: 8px 2px 0px 2px; padding: 2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background: #6CABDC; border: 1px solid #919B9C; border-top: 2px solid #919B9C; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin: 3px 2px 0px 2px; padding: 4px 8px 4px 8px; white-space: nowrap;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
.priceBlock {color: #FFF; font-weight: bold;}
.priceBlock .price {font-weight: bold;}
.priceBlock .priceTax {font-weight: normal;}

.priceBlockOld {color: #FFF; text-decoration: line-through;}
.priceBlockOld .price {font-weight: normal;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #FFF; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #FFF; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #FFF; font-weight: bold; border: none; background: transparent;}
.salesPrice {font-weight: bold;}
.salesTax {font-weight: normal;}

.priceSaveBlock {color: #99F; font-weight: bold;}
.priceSaveBlock .price {font-weight: bold;}
.priceSaveBlock .percent {font-weight: normal;}

.pointsPriceBlock {}
.pointsPriceBlock .points {}

.rewardPointsBlock {}
.rewardPointsBlock .points {}
/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #614B36;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #552A00; border: 1px solid #D8A979;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #614B36;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #552A00; border: 1px solid #D8A979;}
.shipping-img-close	img {margin: 5px 5px 5px 0px; }
.shipping-descr		{padding: 0px 15px 10px 15px; font-size: 14px; width: 570px; font-family: Arial, Helvetica, sans-serif; }
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 20px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #341C55; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-product-details .TopTitleBgr {padding: 10px 0px 13px 10px;}
.block-product-details .TopTitleBgr h1 {text-align: left;}

/***  ***/
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}

/***  ***/
.mainTableCellRight div, .mainTableCellLeft div, .mainTableCellRight td, .mainTableCellLeft td {color: #000;}
.mainTableCellRight a, .mainTableCellLeft a, .mainTableCellRight a:hover, .mainTableCellLeft a:hover {color: #000;}
.mainTableCellRight a.top10, .mainTableCellLeft a.top10, .mainTableCellRight a.top10:hover, .mainTableCellLeft a.top10:hover {color: #000;}

.block-filter a, .block-filter a:hover {color: #000;}

.block-search div, .block-currency div, .block-login div, .block-search td, .block-currency td, .block-login td 
.block-search a, .block-currency a, .block-login a, .block-search a:hover, .block-currency a:hover, .block-login a:hover {color: #FFF;}
.block-search a.top10, .block-currency a.top10, .block-login a.top10, .block-search a.top10:hover, .block-currency a.top10:hover, .block-login a.top10:hover {color: #FFF;}
.block-search a					{color: #FFC000; text-decoration: underline; font-size: 9pt; }
.block-search a:hover				{color: #FFC000; text-decoration: none; }

.block-hot div, .block-hot td {color: #FFF;}
.block-hot a, .block-hot a:hover {color: #FFF;}
.block-hot a.top10, .block-hot a.top10:hover {color: #FFF;}