/* Reset code to remove theme inherent styling */
.dcjq-mega-menu ul.menum ul, .dcjq-mega-menu ul.menum li {
list-style: none; 
padding: 0; 
margin-top: 0;
}
.dcjq-mega-menu ul.menum ul {
display: none; /* Hides non-mega links */
}
.dcjq-mega-menu ul.menum .sub ul {
display: block; /* overrides above hide */
}

/* Main menu styles */
.dcjq-mega-menu{
background: url("../images/topmenu.png") repeat-x;  
width:100%;
text-align:center;
float:left;
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px; /* Safari, Chrome */
  	-khtml-border-radius: 5px; /* KHTML */
  	border-radius: 5px; /* CSS3 */
  	behavior: url(border-radius.htc);/* учим IE border-radius */
position:relative;
}
.dcjq-mega-menu ul.menum {	
	height: 55px; 
	margin:0 auto; 
	padding:0px 0 0 0px; 
	z-index: 50;
display:table;
display:inline-block;
width: auto;
position:relative;
}
.dcjq-mega-menu ul.menum li {
float: left; 
font-weight: normal;
	margin: 4px 5px 0 9px; 
	padding:0px 0px 0px 0px; 
display:block;
}
.dcjq-mega-menu ul.menum li {

}
.dcjq-mega-menu ul.menum li a {
float: left; 
display: block;  
padding: 12px 0px; 
color: #000;
/*text-shadow: 1px 1px 1px #000; */
font-size: 22px; 
text-decoration: none;
}

.dcjq-mega-menu ul.menum li a.topm {
float: left; 
display: block;  
text-decoration: none;
margin:-4px 0px 0 0px;
padding:0px 0px 0 0px;
color:#000;
text-transform: uppercase; 
height:51px;
position:relative;
}
.dcjq-mega-menu ul.menum li.topm:hover .tmleft{
display:block;
/*background: url("../images/tmleft.png") no-repeat; */
height:51px;
width:10px;
position:absolute;
top:0px;
left:-10px;
}
.dcjq-mega-menu ul.menum li.topm:hover .tmright{
display:block;
/*background: url("../images/tmright.png") no-repeat; */
height:51px;
width:10px;
position:absolute;
top:0px;
right:-10px;
}
.dcjq-mega-menu ul.menum li .tmmid{
display:block;
height:33px;
padding:10px 8px 10px 8px;
}
.dcjq-mega-menu ul.menum li.topm:hover .tmmid{
background: url("../images/tmmid.png") repeat-x; 
color: #006AB4;
}
.dcjq-mega-menu ul.menum li:hover a{
color: #006AB4;

}
.dcjq-mega-menu ul.menum .tmbord{
display:table;
        /*background: url("../images/topbord.png") no-repeat; */
        cursor:default;
height:22px;
width:2px;
padding:0px;
margin-top:10px;
margin-left:-7px;
float:left;
position:relative;
z-index:-50;
}


.dcjq-mega-menu ul.menum li.mega-hover a, .dcjq-mega-menu ul.menum li a:hover {
color: #000; 
text-shadow: none;
}

/* Arrow tag for parent links */
.dcjq-mega-menu ul.menum li a.dc-mega {
padding-right: 0px; /* Additional padding for arrow */
position: relative; /* Required for arrow positioning */
}
.dcjq-mega-menu ul.menum li a .dc-mega-icon {
display: block; 
position: absolute; 
top: 18px; 
right: 15px; 
width: 8px; 
height: 6px; 
background: url(images/arrow.png) no-repeat 0 0;
}
.dcjq-mega-menu ul.menum li.mega-hover a .dc-mega-icon {
background-position: 0 100%;
}

/* Mega Menu Styling */
/* Mega Drop Down Container */
.dcjq-mega-menu ul.menum li .sub-container {
position: absolute; /* Required */
/*background: url(images/bg_sub_left.png) no-repeat 0 100%; */
background:#f3f3f3;
}
.dcjq-mega-menu ul.menum li .sub {

/*background: url(images/bg_sub.png) no-repeat 100% 100%; */
/*background:#f3f3f3;
padding: 20px 10px 20px 15px;
position:absolute;
z-index:50;
top:3px;
left:-2px;*/
background: #f3f3f3;
border-radius: 20px;
box-shadow:background: #404040;
border-radius: 20px;
box-shadow:inset rgba(255,255,255,0.2) 8px 8px 18px 5px,inset rgba(200,200,200,0.5) -8px -8px 18px 5px;
}
.dcjq-mega-menu ul.menum li .sub-container.mega .sub {
padding: 20px 10px 0 0;
}
.dcjq-mega-menu ul.menum li .sub .row { /* Clear the sub-menu floats */
overflow: hidden; 
clear: both;
}
.dcjq-mega-menu ul.menum li .sub li {
float: none; 
font-size: 1em; 
font-weight: bold;
text-align:left;
}

.dcjq-mega-menu ul.menum li .sub li ul li.ssu {
margin-left: 27px;
float: none; 
font-size: 0.8em; 
font-weight: normal;
}
/* Sub-menu Headers */
.dcjq-mega-menu ul.menum li .sub li.mega-hdr { /* Sub-menu headers - i.e. 2nd level navigation */
float: left; /* Float the sub-menus and give them a fixed width to from the mega menu rows */
width: 190px;
margin: 0 5px 10px 5px;
/*border: 1px solid #006AB4; */
}
.dcjq-mega-menu ul.menum li .sub a { /* Clear the styles from the top-level links and set the font styles */
background: none; 
border: none; 
text-shadow: none; 
color: #111; 
padding: 7px 10px; 
display: block; 
float: none; 
text-decoration: none; 
font-size: 1.0em; 
}
.dcjq-mega-menu ul.menum li .sub li.mega-hdr a.mega-hdr-a {
padding: 7px 10px; 
margin-bottom: 5px; 
border-bottom: 1px solid #006AB4; 
text-transform: uppercase; 
font-weight: bold; 
color: #006AB4; 
background: #EAEAEA url(images/bg_hdr.png) repeat-x center center;
}
.dcjq-mega-menu ul.menum li .sub li.mega-hdr a.mega-hdr-a:hover {
color: #ff9933; 
text-shadow: none;
}

/* Add the individual sub-menu backgrounds */
.dcjq-mega-menu ul.menum li .sub li#menu-item-1 {
background: url(images/m001.jpg) no-repeat 135px 40px;
}
.dcjq-mega-menu ul.menum li .sub li#menu-item-2 {
background: url(images/m002.jpg) no-repeat 135px 40px;
}
.dcjq-mega-menu ul.menum li .sub li#menu-item-3 {
background: url(images/m003.jpg) no-repeat 135px 40px;
}
.dcjq-mega-menu ul.menum li .sub li#menu-item-4 {
background: url(images/m004.jpg) no-repeat 135px 40px;
}
.dcjq-mega-menu ul.menum li .sub li#menu-item-5 {
background: url(images/m005.jpg) no-repeat 135px 40px;
}
.dcjq-mega-menu ul.menum li .sub li#menu-item-6 {
background: url(images/m006.jpg) no-repeat 135px 40px;
}
.dcjq-mega-menu ul.menum li .sub li#menu-item-7 {
background: url(images/m006.jpg) no-repeat 135px 40px;
}
.dcjq-mega-menu ul.menum li .sub li#menu-item-8 {
background: url(images/m006.jpg) no-repeat 135px 40px;
}
.dcjq-mega-menu ul.menum li .sub li#menu-item-9 {
background: url(images/m006.jpg) no-repeat 135px 40px;
}
.dcjq-mega-menu ul.menum li .sub li#menu-item-10 {
background: url(images/m006.jpg) no-repeat 135px 40px;
}
/* Style the 3rd level links */
.dcjq-mega-menu ul.menum li .sub li ul li {
margin-right: 10px;
}
.dcjq-mega-menu ul.menum .sub li.mega-hdr li a {
color: #006AB4;
font-size: 1.0em; 
font-weight: normal; 
padding: 0px 0 0px 0px; 
/*background: url(images/bullet.png) no-repeat 5px 4px; */
}
.dcjq-mega-menu ul.menum .sub li.mega-hdr li a:hover {
color: #ff9933;
/*background-image: url(images/bullet_on.png); */
}

/* Styling for items with only 2 levels */
.dcjq-mega-menu ul.menum li .sub-container.non-mega .sub {
padding: 20px 10px 20px 10px;
}
.dcjq-mega-menu ul.menum li .sub-container.non-mega li {
width: 150px; /* Set the drop down width */
}
.dcjq-mega-menu ul.menum li .sub-container.non-mega li a {
padding: 7px 5px 7px 22px; 
/*background: url(images/bullet.png) no-repeat 5px 12px;*/
}
.dcjq-mega-menu ul.menum li .sub-container.non-mega li a:hover {
color: #ff9933;
/*background-image: url(images/bullet_on.png);*/
}
.style-header-punkt{
padding-left:3px;
font-size:12px;
}