/*** General styles ***/
body			{font: 11px Tahoma, Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background: #FFFFFF;}
body.popup	{font: 11px Tahoma, Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background: #FFFFFF;}

tr, td		{font: 11px Tahoma, Arial, Helvetica, sans-serif; color: #000000;}

h1, h2		{padding: 0px; margin: 0px;}

a						{color: #3E3EAB; outline: 0px;}
a:hover				{color: #6666FF !important;}
a.header 			{text-decoration: none;}
a.header:hover		{text-decoration: underline; }
a.title				{color: #000000; font-size: 13px; font-weight: bold;}
a.bigtitle			{color: #000000; font-size: 14px; font-weight: bold;}
a.smallText			{color: #0000CC; font-size: 11px;}

input					{font: 11px Tahoma, Arial, Helvetica, sans-serif;}
input.usualprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Arial, Helvetica, sans-serif; text-align: right;}
input.orderprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Arial, Helvetica, sans-serif; text-align: right;}
input.search,		
input.text,			
input.field, 
input.fieldSmall	{border-top: 1px solid #747474; border-right: 1px solid #DCDCDC; border-bottom: 1px solid #DCDCDC; border-left: 1px solid #747474;}
input.search		{width: 120px;}
input.fieldSmall	{font-size: 11px;}
input.submit		{
	background: #FFE58F url(../images/silver/bg-button.gif) repeat-x; 
	color: #000; 
	cursor: pointer; 
}
	input#clear		{color: #8A8A8A;}
	input#reset		{color: #8A8A8A;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #8A8A8A;}
	input#delete	{color: #8A8A8A;}
select				{border-top: 1px solid #747474; border-right: 1px solid #DCDCDC; border-bottom: 1px solid #DCDCDC; border-left: 1px solid #747474; font: 11px Tahoma, Arial, Helvetica, sans-serif;}
textarea				{border-top: 1px solid #747474; border-right: 1px solid #DCDCDC; border-bottom: 1px solid #DCDCDC; border-left: 1px solid #747474; font: 11px Tahoma, Arial, Helvetica, sans-serif;}

.middlebg 			{background: #CCCCCC; font-weight: bold;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center; font-size: 12px; }
.popup 
.errorbg				{padding: 4px;}
.messagebg  		{color: #0000CC; font-weight: bold; padding: 6px; text-align: center;}
.block-order-info 
.messagebg  		{padding: 2px 6px; text-align: right;}

.padding10px				{padding: 10px;}
.block-categories-list 
.padding10px				{padding: 10px 0px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin: 0px 10px 5px 0px;}
.ArticleDescription	{padding: 10px 0px;}

.introBlock {border: 1px solid #CCCCCC; margin: 5px; padding: 6px;}

.articleDate	{color: #828282; font-size: 11px; font-style: italic; }
.titleText		{color: #3E3EAB; text-decoration: none; }
.top				{font-size: 11px;}
.smallText		{font-size: 11px;}
.middleText		{font-size: 13px;}
.bigText			{font-size: 14px;}
.comment			{font-size: 11px; color: #7777CC;}
.required		{color: #FF0000;}
.message			{color: blue;}
.title			{font-size: 13px; font-weight: bold;}
.bigtitle		{font-size: 14px; font-weight: bold;}
.error			{color: red; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: #C5CCD0; text-decoration: underline;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}
/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{margin: auto; padding: 0; text-align: left;}
.headerStyle	{margin: auto; position: relative; width: 999px; z-index: 100;}
.contentStyle	{height: 1%; margin: auto; overflow: hidden; padding: 0 8px; position: relative; width: 999px; z-index: 1;}
.footerStyle	{clear: both; margin: auto; width: 999px;}

.leftStylePadding		{padding: 0 10px 0 0;}
.rightStylePadding	{padding: 0 0 0 10px;}

/* Four frames */
.fourFrames .hotStyle			{float: left; position: relative; width: 780px;}
.fourFrames .leftStyle			{float: left; position: relative; width: 219px;}
.fourFrames .centerStyle		{float: left; position: relative; width: 561px;}
.fourFrames .rightStyle			{float: left; position: relative; width: 219px;}

/* Three frames */
.threeFrames .leftStyle		{float: left; position: relative; width: 219px;}
.threeFrames .centerStyle	{float: left; position: relative; width: 561px;}
.threeFrames .rightStyle	{float: left; position: relative; width: 219px;}

/* Two frames */
.twoFrames .leftStyle	{float: left; position: relative; width: 219px;}
.twoFrames .centerStyle	{float: left; position: relative; width: 780px;}

/* One frames */
.oneFrame .centerStyle	{position: relative; width: 100%;}
/*** Frame set ***/

/*** Header ***/
.Header {margin: auto auto 15px auto; position: relative; z-index: 100;}
.HeaderLogo {background: #000000 url(../images/silver/top.jpg) no-repeat top right;} 
.HeaderLogo img {border: none; margin: 10px 22px 7px 22px;}
.HeaderMenu {background: #000000; margin: 0px; padding: 0px;}

/* Top Menu */
.TopMenu 			{display: block; height: 26px; margin: 0px; overflow: hidden; padding: 0px 0px 0px 0px; z-index: 20;}
.TopMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap;}
.TopMenu li.topmenu		{padding: 0px; z-index: 50;}
.TopMenu li.begin			{width: 25px;}
.TopMenu li.end			{display: none;}

/* Top Menu Links */
a.menu					{background: #000000; border-top: 2px solid #000000; border-right: 2px solid #000000; color: #FFFFFF; display: block; font: bold 11px "MS Sans Serif", Geneva, sans-serif; padding: 5px 15px 6px 15px; text-decoration: none; text-transform: uppercase;}
a.menu:hover			{color: #FFFFFF !important; text-decoration: none;}
a.menuActive			{background: #FFFFFF; border-top: 2px solid #E0E0E0; border-right: 2px solid #E0E0E0; color: #000000; display: block; font: bold 11px "MS Sans Serif", Geneva, sans-serif; padding: 5px 15px 6px 15px; text-decoration: none; text-transform: uppercase;}
a.menuActive:hover	{color: #000000 !important; text-decoration: none;}

/* Secondary Menu */
ul.secondaryMenu 			{display: block; height: 30px; margin: 0px 0px 0px 20px; overflow: hidden; padding: 0px; z-index: 20;}
ul.secondaryMenu li 			{border-top: 2px solid #FFFFFF; display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{padding: 4px 0px 0px 0px;}
ul.secondaryMenu li.secondaryBegin			{display: none;}
ul.secondaryMenu li.secondaryEnd				{display: none;}

/* Secondary Menu Links */
a.secondaryMenu 			{background: #000000; border-top: 2px solid #000000; border-right: 2px solid #000000; color: #FFFFFF; display: block; font: bold 11px "MS Sans Serif", Geneva, sans-serif; padding: 4px 15px 5px 15px; text-decoration: none; text-transform: uppercase;}
a.secondaryMenu:hover 	{color: #FFFFFF !important; text-decoration: none;}
a.secondaryMenuActive 			{background: #FFFFFF; border-top: 2px solid #E0E0E0; border-right: 2px solid #E0E0E0; color: #000000; display: block; font: bold 11px "MS Sans Serif", Geneva, sans-serif; padding: 4px 15px 5px 15px; text-decoration: none; text-transform: uppercase;}
a.secondaryMenuActive:hover	{color: #000000 !important; text-decoration: none;}

/* Sub Menu */
.SubMenu 		{border: 1px solid #000000; border-bottom: none; display: none; margin: 0px; padding: 0px; position: absolute; width: 150px;}
.SubMenu li 		{border-top: none !important; border-bottom: 1px solid #000000; display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap; width: 150px;}
.SubMenu li.topmenu		{padding: 0px; position: relative;}
.SubMenu li.secondaryMenu	{background: none !important; padding: 0px !important; position: relative;}
.SubMenu a.menu				{background: #FFE58F !important; border: none; color: #000000; padding: 2px 10px; text-decoration: none;}
.SubMenu a.menu:hover		{background: #FFFFFF !important; color: #000000 !important;}
.SubMenu a.secondaryMenu			{background: #FFE58F !important; border: none; color: #000000; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenu:hover	{background: #FFFFFF !important; color: #000000 !important;}
.SubMenu a.secondaryMenuActive			{background: #FFE58F !important; border: none; color: #000000; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenuActive:hover	{background: #FFFFFF !important; color: #000000 !important;}

.SubMenu ul		{border: 1px solid #000000; border-bottom: none; display: none; left: 150px; margin: 0px; padding: 0px; position: absolute; top: -1px;}
.SubMenu span.nobr      {white-space: normal !important;}
/*** Header ***/

/*** Breadcrumbs ***/
.Breadcrumb {background: #F3F3F3; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; margin: 0px 0px 12px 0px; padding-bottom: 1px; position: relative; width: 100%;}
.BreadcrumbCenter {border-left: 5px solid #CCCCCC; position: relative;}
.BreadcrumbLeftBgr {position: relative;}
.BreadcrumbRightBgr {height: 100%; overflow: hidden; position: relative;}

.BreadcrumbRSS {float: right; padding: 4px; text-align: right;}
.Breadcrumbs {background: none;  overflow: hidden; height: 100%;}
.BreadcrumbsBgr {padding: 4px 0px 4px 10px;}
.BreadcrumbsBgr a.treeItemLast {font-weight: bold; text-decoration: none; cursor: text;}
.BreadcrumbsBgr a.treeItemLast:hover {font-weight: bold; cursor: text;}
.BreadcrumbsBgr span {color: #3E3EAB;}
.BreadcrumbsBgr img {display: none;}

/* Step to Order Pages */
.BreadcrumbsBgr span.nonactive {display: inline; font-weight: bold; color: #AAAAAA; margin-right: 10px;}
.BreadcrumbsBgr span.active {display: inline; font-weight: bold; color: #41B944; margin-right: 10px;}
/*** Breadcrumbs ***/

/*** Structure of Block ***/
.BlockTop {background: #F3F3F3; padding-bottom: 1px; position: relative; width: 100%;}
.TopCenter {border-left: 5px solid #CCCCCC; position: relative;}
.TopLeftBgr {position: relative;}
.TopRightBgr {height: 100%; overflow: hidden; position: relative;}

.TopTitleIco {float: right; padding: 5px 10px; text-align: right;}
.TopTitle {background: none; overflow: hidden; height: 100%;}
.TopTitleBgr {color: #41B944; font: bolder 14px "MS Sans Serif", Geneva, sans-serif; padding: 5px 0px 5px 10px; text-align: left; text-transform: uppercase;}
.TopTitleBgr h1 {color: #41B944; font: bolder 14px "MS Sans Serif", Geneva, sans-serif; text-align: left; text-transform: uppercase;}

.BlockMiddle {background: #F3F3F3; border-top: 1px solid #CCCCCC; border-right: 5px solid #CCCCCC; position: relative;}
.MiddleCenter {overflow: hidden; height: 100%; position: relative;}
.BlockData { position: relative; overflow: hidden; }

.BlockBottom {background: #F3F3F3; border-bottom: 1px solid #CCCCCC; display: block; margin-bottom: 14px; position: relative; font-size: 1px;}
.BottomCenter {overflow: hidden; height: 100%;}
.BottomLeft {float: left; height: 1px; width: 1px;}
.BottomRight {float: right; height: 1px; width: 1px;}
/*** Structure of Block ***/

/*** Structure of Block Without Title ***/
.hidden-title .BlockTop, 
.block-simple .BlockTop {display: none;}
.hidden-title .TopTitle { display: none; }
/*** Structure of Block Without Title ***/

/*** Structure of Block Left Column ***/
/*** Structure of Block Left Column ***/

/*** Structure of Block Center Column ***/
/*** Structure of Block Center Column ***/

/*** Structure of Block Right Column ***/
/*** Structure of Block Right Column ***/

/*** Structure of Offers and Categories Blocks ***/
/*** Structure of Block Right Column ***/

/*** User Home Page ***/
.UHBRows				{clear: both;}
.UserHomeBlock		{float: left; position: relative; width: 49%;}
.UHBContent			{padding: 7px;}
.UHBContent div 	{margin: 0px 0px 0px 50px;}

.userHomeLogout 		{clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a 	{color: #000000; font-weight: bold;}

.UserHomeBlock img.orders 					{background: url(../images/icons/admin_orders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 				{background: url(../images/icons/admin_profile.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 				{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 				{background: url(../images/icons/admin_support.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 					{background: url(../images/icons/admin_forum.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 				{background: url(../images/icons/admin_products.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 					{background: url(../images/icons/admin_pages.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders			{background: url(../images/icons/admin_salesorders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 				{background: url(../images/icons/admin_merchant.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates				{background: url(../images/icons/admin_affiliates.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments				{background: url(../images/icons/admin_payments.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts					{background: url(../images/icons/admin_carts.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist				{background: url(../images/icons/admin_wishlist.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders				{background: url(../images/icons/admin_reminders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd span.spacer {color: #999999;}	/* '|' between button */

a.button {color: #4144B9; font: bold 12px "MS Sans Serif", Geneva, sans-serif; padding: 0px 10px 0px 0px; white-space: nowrap;}
a.button img 	{display: none;}
a.button-add	{color: #41B944;}

a.buttonBasket {color: #4144B9; font: bold 12px "MS Sans Serif", Geneva, sans-serif; padding: 0px 10px 0px 0px; white-space: nowrap;}
a.buttonBasket img 	{display: none;}
a.button-shopping 	{color: #41B944;}	
a.button-checkout 	{color: #41B944;}

a.buttonCart {font: 12px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonCart img 		{display: none;}

a.buttonMore {font: 11px "MS Sans Serif", Geneva, sans-serif; padding: 0px 10px 0px 0px; white-space: nowrap;}
a.buttonMore img 	{display:none;}

a.disabled {color: gray; cursor: text; font: bold 12px "MS Sans Serif", Geneva, sans-serif; padding: 0px 10px 0px 0px;}
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #F3F3F3; border: 1px solid #CCCCCC; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/
.CategoryList		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CategoryList li		{background: url(../images/silver/tree_top.gif) no-repeat 0px 1px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.SubCategoryList		{display: block; margin: 4px 0px 0px 0px; padding: 0px;}
.SubCategoryList li		{background: url(../images/silver/tree_begin.gif) no-repeat 0px 1px; display: block; list-style: none; margin: 0px; padding: 2px 0px 0px 14px;}
.SubCategoryList li.lastCategory		{background: url(../images/silver/tree_end.gif) no-repeat 0px 1px;}

.selectedsubCategory a.title, 
.selectedtopCategory a.title {color: #37A210;}
.selectedsubCategory ul a.title, 
.selectedtopCategory ul a.title {color: #000000;}

.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}
.block-products-list .productImg, 
.block-product-details .productImg {margin-right: 10px; margin-bottom: 10px; padding: 1px;}

.featuresList	{border: 2px solid #CCCCCC; float: right; margin: 0px 0px 5px 5px; padding: 6px; width: 40%;}

.specification	{}
.groupTitle		{background: #CCCCCC; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #CCCCCC; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px;}
.matrixQty		{border-left: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; float: left;}
.matrixPrice	{border-top: 1px solid #CCCCCC; float: left;}
.matrixTitle	{background: #E3E3E3; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; font-weight: bold; padding: 3px 6px; text-align: center;}
.matrixItem		{border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; padding: 3px 6px; text-align: left;}

/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 14px; font-weight: bold; background: #CCCCCC; color: blue; padding: 6px !important; }
.productsCategoryDesc	{background: #CCCCCC; padding: 6px !important; }
.productsDelimiter 		{background: #CCCCCC; padding: 0px !important;}
.productsDelimiterTop 	{background: #CCCCCC; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px solid #CCCCCC;}
.hDelimiter {background: #CCCCCC; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs 			{border-bottom: 2px solid #DEDEDE; height: 1%; margin: 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.DetailTabs li 			{display: block; float: left; list-style: none; margin: 0px 10px 0px 0px; padding: 0px;}
.DetailTabs li.tab 			{background: none; border: 1px solid #DEDEDE; border-bottom: none;}
.DetailTabs li.tabActive 		{background: #DEDEDE; border: 1px solid #DEDEDE; border-bottom: none;}
.DetailTabs a.tab					{background: none; color: #3E3EAB; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tab:hover			{background: #DEDEDE; color: #6666FF; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tabActive			{background: #DEDEDE; color: #3E3EAB; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}
.DetailTabs a.tabActive:hover	{background: #DEDEDE; color: #3E3EAB; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #CCCCCC; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #CCCCCC; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #AAAAAA; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding: 0px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{text-align: left; clear: right; display: block;}
.offerItem 			{text-align: left;}
.offerImg			{float: left; margin-right: 10px; margin-bottom: 10px;} 
.offerText			{text-align: left;}
.offerItem 
a.buttonMore		{display: block;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumMessageLeft 	{background: #F4F4F4; border-left: 1px solid #000000; border-top: 1px solid #000000; border-bottom: 1px solid #000000;}
.forumMessageRight 	{background: #F4F4F4; border: 1px solid #000000;}
.forumMessageTop 		{background: #CCCCCC; border-bottom: 1px solid #000000;}
/*** Forum ***/

/*** Footer ***/
.footerMenu	{font-size: 11px; padding: 0px 10px 10px 10px; text-align: center;}
.footerMenu	span {padding: 0px 0px 0px 5px;}
.footerHTML	{border-left: 4px solid #FFAA00; border-top: 1px solid #DEDEDE; padding: 10px; text-align: center;}
.footerImg	{text-align: right; padding: 0px 10px 0px 0px;}
.footerImg img		{width: 80px; height: 26px; border:0px;}
/*** Footer ***/

/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background: url(../images/default/admin-tabs-bgr-light.gif); height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #919B9C;}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: #E9E9E9; border: 1px solid #919B9C; border-bottom: none; cursor: pointer; font: 11px/18px Verdana, sans-serif; margin: 8px 2px 0px 2px; padding: 2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background: #F4F4F4; border: 1px solid #919B9C; border-top: 2px solid #919B9C; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin: 3px 2px 0px 2px; padding: 4px 8px 4px 8px; white-space: nowrap;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
.priceBlock {color: #000; font-weight: bold;}
.priceBlock .price {font-weight: bold;}
.priceBlock .priceTax {font-weight: normal;}

.priceBlockOld {color: #000; text-decoration: line-through;}
.priceBlockOld .price {font-weight: normal;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #000; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #000; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #000; font-weight: bold; border: none; background: transparent;}
.salesPrice {font-weight: bold;}
.salesTax {font-weight: normal;}

.priceSaveBlock {color: #0A0; font-weight: bold;}
.priceSaveBlock .price {font-weight: bold;}
.priceSaveBlock .percent {font-weight: normal;}

.pointsPriceBlock {}
.pointsPriceBlock .points {}

.rewardPointsBlock {}
.rewardPointsBlock .points {}
/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #CCCCCC;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #F4F4F4; border: 1px solid #78C7FF;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #78C7FF;}
.shipping-img-close	img {margin: 5px 5px 5px 0px; }
.shipping-descr		{padding: 0px 15px 10px 15px; font-size: 14px; width: 570px; font-family: Arial, Helvetica, sans-serif; }
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 20px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #FFFFFF; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-categories-catalog .MiddleCenter {padding-left: 10px;}
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}