.jcarousel-container {
    -moz-user-select: none;
    position: relative;
}
.jcarousel-clip {
    overflow: hidden;
    position: relative;
}
.jcarousel-clip-horizontal{margin:0 35px;}
.jcarousel-list {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
}
.jcarousel-list li, .jcarousel-item {
    float: left;
    list-style: none outside none;
}

.jcarousel-prev-horizontal, .jcarousel-next-horizontal, .prev-horizontal, .next-horizontal {
    background-image: url(../images/blz_carousel/prev_next_btn_sprite.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 36px;
    margin: -125px 1px 0 0;
    width: 18px;
}
.jcarousel-next-horizontal, .next-horizontal {
    background-position: 100% 0;
    float: right;
    margin: -125px 0 0 1px;
}
.jcarousel-prev-vertical, .jcarousel-next-vertical, .prev-vertical, .next-vertical {
    background: url(../images/blz_carousel/up_btn.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 18px;
    margin: 0 1px 0 0;
    width: 36px;
}
.jcarousel-prev-horizontal:hover, .prev-horizontal:hover {
    background-position: 0 -60px;
}
.jcarousel-next-horizontal:hover, .next-horizontal:hover {
    background-position: 100% -60px;
}
.jcarousel-next-vertical, .next-vertical {
    background-image: url(../images/blz_carousel/down_btn.png);
}