/*** General styles ***/
body			{font: 12px Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background: #FFFFFF;}
body.popup	{font: 12px Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background: #FFFFFF;}

tr, td		{font: 12px Arial, Helvetica, sans-serif; color: #000000;}

h1, h2		{padding: 0px; margin: 0px;}

a						{color: #1584D2; outline: 0px; text-decoration: underline;}
a:hover				{text-decoration: none;}
a.header 			{text-decoration: none;}
a.header:hover		{text-decoration: underline; }
a.title				{font-size: 13px; font-weight: bold;}
a.bigtitle			{font-size: 14px; font-weight: bold;}
a.smallText			{font-size: 11px; text-decoration: none;}
a.smallText:hover	{text-decoration: underline;}

input					{font: 14px Arial, Helvetica, sans-serif;}
input.usualprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Arial, Helvetica, sans-serif; text-align: right;}
input.orderprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Arial, Helvetica, sans-serif; text-align: right;}
input.search,		
input.text,			
input.field			{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; margin: 3px 0px;}
input.fieldSmall	{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font-size: 11px;}
input.submit		{
	background: url(../images/default/button-r-bgr.gif) no-repeat right; 
	border: 0px; 
	color: #000; 
	cursor: pointer; 
	font-size: 13px; 
	height: 28px; 
	margin: 0px;
	padding: 0px 7px 2px 0px; 
}
	input#clear		{color: #8A8A8A;}
	input#reset		{color: #8A8A8A;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #8A8A8A;}
	input#delete	{color: #8A8A8A;}
select				{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font: 14px Arial, Helvetica, sans-serif;}
textarea				{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font: 14px Arial, Helvetica, sans-serif;}

span.submit {background: url(../images/default/button-l-bgr.gif) no-repeat left; font: 25px Arial; padding-left: 7px !important; white-space: nowrap; display: inline-block;}

.middlebg 			{background: #E9E9E9; font-weight: bold;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center;}
.popup 
.errorbg				{padding: 4px;}
.messagebg  		{color: #0000CC; font-weight: bold; padding: 6px; text-align: center;}
.block-order-info 
.messagebg  		{padding: 2px 6px; text-align: right;}

.padding10px				{padding: 10px;}
.block-categories-list 
.padding10px				{padding: 10px 0px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin: 0px 10px 5px 0px;}
.ArticleDescription	{padding: 10px 0px;}

.introBlock {border: 1px solid #FFFFFF; margin: 5px; padding: 6px;}

.articleDate	{color: #7777CC; font-size: 11px; font-style: italic; }
.titleText		{color: #1584D2; text-decoration: none; }
.top				{font-size: 11px;}
.smallText		{font-size: 11px;}
.middleText		{font-size: 13px;}
.bigText			{font-size: 14px;}
.comment			{font-size: 11px; color: #7777CC;}
.required		{color: #FF0000;}
.message			{color: #FFBA00;}
.title			{font-size: 13px; font-weight: bold; color: #1584D2;}
.bigtitle		{font-size: 14px; font-weight: bold; color: #1584D2;}
.error			{color: red; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: #C5CCD0; text-decoration: underline;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}
/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{margin: auto; padding: 0 20px 20px 20px; text-align: left;}
.headerStyle	{position: relative; z-index: 100;}
.contentStyle	{height: 1%; overflow: hidden; position: relative; z-index: 1;}
.footerStyle	{clear: both;}

.hotStylePadding		{padding: 8px 0 0 0;}
.leftStylePadding		{padding: 8px 8px 8px 0;}
.centerStylePadding	{padding: 8px 0;}
.rightStylePadding	{padding: 8px 0 8px 8px;}

/* Four frames */
.fourFrames .hotStyle			{float: left; position: relative; width: 80%;}
.fourFrames .leftStyle			{float: left; position: relative; width: 25%;}
.fourFrames .centerStyle		{float: left; position: relative; width: 75%;}
.fourFrames .rightStyle			{float: left; position: relative; width: 20%;}
.fourFrames .leftStylePadding		{padding: 0 8px 8px 0;}
.fourFrames .centerStylePadding	{padding: 0 0 8px 0;}

/* Three frames */
.threeFrames .leftStyle		{float: left; position: relative; width: 20%;}
.threeFrames .centerStyle	{float: left; position: relative; width: 60%;}
.threeFrames .rightStyle	{float: left; position: relative; width: 20%;}

/* Two frames */
.twoFrames .leftStyle	{float: left; position: relative; width: 30%;}
.twoFrames .centerStyle	{float: left; position: relative; width: 70%;}

/* One frames */
.oneFrame .centerStyle	{position: relative; width: 100%;}
/*** Frame set ***/

/*** Header ***/
.Header {height: 100px; margin: auto 0; position: relative; z-index: 100;}
.HeaderLogo {float: left;} 
.HeaderLogo img {border: none; margin: 20px;}
.HeaderMenu {margin: 0px 0px 0px 250px; padding: 35px 0px 0px 0px;}

/* Top Menu */
.TopMenu 			{display: block; height: 30px; margin: 0px; overflow: hidden; padding: 0px 0px 0px 0px; z-index: 20;}
.TopMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap;}
.TopMenu li.topmenu		{padding: 4px 0px; z-index: 50;}
.TopMenu li.begin			{display: none;}
.TopMenu li.end			{display: none;}

/* Top Menu Links */
a.menu					{color: #52AE30; display: block; font: 16px Arial, Helvetica, sans-serif; padding: 1px 20px; text-decoration: underline; text-transform: capitalize;}
a.menu:hover			{color: #52AE30; text-decoration: none;}
a.menuActive			{color: #444444; display: block; font: 16px Arial, Helvetica, sans-serif; padding: 1px 20px; text-transform: capitalize;}
a.menuActive:hover	{color: #444444;}

/* Secondary Menu */
ul.secondaryMenu 			{display: block; height: 30px; margin: 0px 0px 0px 20px; overflow: hidden; padding: 0px; z-index: 20;}
ul.secondaryMenu li 			{border-top: 1px solid #444444; display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{padding: 2px 0px 4px 0px;}
ul.secondaryMenu li.secondaryBegin			{display: none;}
ul.secondaryMenu li.secondaryEnd				{display: none;}

/* Secondary Menu Links */
a.secondaryMenu 			{color: #52AE30; display: block; font: 14px Arial, Helvetica, sans-serif; padding: 2px 20px; text-decoration: underline; text-transform: capitalize;}
a.secondaryMenu:hover 	{color: #52AE30; text-decoration: none;}
a.secondaryMenuActive 			{color: #444444; display: block; font: 14px Arial, Helvetica, sans-serif; padding: 2px 20px; text-transform: capitalize;}
a.secondaryMenuActive:hover	{color: #444444;}

/* Sub Menu */
.SubMenu 		{border: 1px solid #FFD075; border-bottom: none; display: none; margin: 2px 0px 0px 0px; padding: 0px; position: absolute; width: 150px;}
.SubMenu li 		{border-top: none !important; border-bottom: 1px solid #FFD075; display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap; width: 150px;}
.SubMenu li.topmenu		{padding: 0px; position: relative;}
.SubMenu li.secondaryMenu	{background: none !important; padding: 0px !important; position: relative;}
.SubMenu a.menu				{background: #FFF1C7 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.menu:hover		{background: #FFFBED !important; color: #1584D2;}
.SubMenu a.secondaryMenu			{background: #FFF1C7 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenu:hover	{background: #FFFBED !important; color: #1584D2;}
.SubMenu a.secondaryMenuActive			{background: #FFF1C7 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenuActive:hover	{background: #FFFBED !important; color: #1584D2;}

.SubMenu ul		{border: 1px solid #FFD075; border-bottom: none; display: none; left: 150px; margin: 0px; padding: 0px; position: absolute; top: -1px;}
.SubMenu span.nobr      {white-space: normal !important;}
/*** Header ***/

/*** Breadcrumbs ***/
.Breadcrumb {background: #F4F4F4 url(../images/default/breadcramb-bgr.gif) repeat-x top; margin: 0px 0px 10px 0px; position: relative; width: 100%;}
.BreadcrumbCenter {background: url(../images/default/breadcramb-bgr.gif) repeat-x bottom; position: relative;}
.BreadcrumbLeftBgr {background: url(../images/default/breadcramb-b-l.gif) no-repeat bottom left; position: relative;}
.BreadcrumbRightBgr {background: url(../images/default/breadcramb-b-r.gif) no-repeat bottom right; height: 100%; overflow: hidden; position: relative;}

.BreadcrumbLeft {background: url(../images/default/breadcramb-t-l.gif) no-repeat top left; float: left; width: 11px; height: 22px;}
.BreadcrumbRight {background: url(../images/default/breadcramb-t-r.gif) no-repeat top right; float: right; width: 11px; height: 22px;}
.BreadcrumbRSS {float: right; padding: 10px; text-align: right;}
.Breadcrumbs {background: none;  overflow: hidden; height: 100%;}
.BreadcrumbsBgr {padding: 10px 0px 10px 10px;}
.BreadcrumbsBgr a.treeItemLast {font-weight: bold; text-decoration: none; cursor: text;}
.BreadcrumbsBgr a.treeItemLast:hover {font-weight: bold; cursor: text;}
.BreadcrumbsBgr span {color: #1584D2;}
.BreadcrumbsBgr img {display: none;}

/* Step to Order Pages */
.BreadcrumbsBgr span.nonactive {display: inline; font-weight: normal; color: #AAAAAA; margin-right: 10px;}
.BreadcrumbsBgr span.active {display: inline; font-weight: bold; color: #444444; margin-right: 10px;}
/*** Breadcrumbs ***/

/*** Structure of Block ***/
.BlockTop {position: relative; width: auto;}
.TopCenter {background: #F4F4F4 url(../images/default/cblock-t-bgr.gif) repeat-x top; position: relative;}
.TopLeftBgr {background: url(../images/default/cblock-l-bgr.gif) repeat-y bottom left; position: relative;}
.TopRightBgr {background: url(../images/default/cblock-r-bgr.gif) repeat-y bottom right; height: 100%; overflow: hidden; position: relative;}

.TopLeft {background: url(../images/default/cblock-t-l.gif) no-repeat top left; float: left; width: 24px; height: 42px;}
.TopRight {background: url(../images/default/cblock-t-r.gif) no-repeat top right; float: right; width: 24px; height: 42px;}
.TopTitleIco {float: right; padding: 17px 0px 13px 0px; text-align: right;}
.TopTitle {background: none;  overflow: hidden; height: 100%;}
.TopTitleBgr {color: #444444; font: 16px Arial, Helvetica, sans-serif; padding: 17px 0px 13px 0px; text-align: left; text-transform: uppercase;}
.TopTitleBgr h1 {color: #444444; font: 16px Arial, Helvetica, sans-serif; text-align: left; text-transform: uppercase;}

.BlockMiddle {background: #F4F4F4 url(../images/default/cblock-r-bgr.gif) repeat-y right; position: relative;}
.MiddleCenter {background: url(../images/default/cblock-l-bgr.gif) repeat-y left; overflow: hidden; height: 100%; padding: 0px 11px; position: relative;}
.BlockData { position: relative; overflow: hidden; }

.BlockBottom {display: block; margin-bottom: 8px; position: relative; font-size: 1px;}
.BottomCenter {background: url(../images/default/cblock-b-bgr.gif) repeat-x bottom; overflow: hidden; height: 100%;}
.BottomLeft {background: url(../images/default/cblock-b-l.gif) no-repeat left bottom; float: left; height: 23px; width: 24px;}
.BottomRight {background: url(../images/default/cblock-b-r.gif) no-repeat right bottom; float: right; height: 23px; width: 24px;}
/*** Structure of Block ***/

/*** Structure of Block Without Title ***/
.hidden-title .BlockTop, 
.block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.hidden-title .TopCenter, 
.block-simple .TopCenter {background: url(../images/default/cblock-t-bgr.gif) repeat-x top; overflow: hidden; height: 100%;}
.hidden-title .TopLeft, 
.block-simple .TopLeft {background: url(../images/default/cblock-t-l.gif) no-repeat left top; float: left; height: 23px; width: 24px;}
.hidden-title .TopRight, 
.block-simple .TopRight {background: url(../images/default/cblock-t-r.gif) no-repeat right top; float: right; height: 23px; width: 24px;}
.hidden-title .TopTitle { display: none; }
/*** Structure of Block Without Title ***/

/*** Structure of Block Left Column ***/
.leftStyle .TopCenter {background: #FFFFFF url(../images/default/lrblock-t-bgr.gif) repeat-x top;}
.leftStyle .TopLeftBgr {background: url(../images/default/lrblock-l-bgr.gif) repeat-y bottom left;}
.leftStyle .TopRightBgr {background: url(../images/default/lrblock-r-bgr.gif) repeat-y bottom right;}

.leftStyle .TopLeft {background: url(../images/default/lrblock-t-l.gif) no-repeat top left;}
.leftStyle .TopRight {background: url(../images/default/lrblock-t-r.gif) no-repeat top right;}
.leftStyle .TopTitleBgr {text-align: center;}

.leftStyle .BlockMiddle {background: #FFFFFF url(../images/default/lrblock-r-bgr.gif) repeat-y right;}
.leftStyle .MiddleCenter {background: url(../images/default/lrblock-l-bgr.gif) repeat-y left; overflow: hidden; height: 100%; padding: 0px 11px;}

.leftStyle .BottomCenter {background: url(../images/default/lrblock-b-bgr.gif) repeat-x bottom; overflow: hidden; height: 100%;}
.leftStyle .BottomLeft {background: url(../images/default/lrblock-b-l.gif) no-repeat left bottom; float: left; height: 23px; width: 24px;}
.leftStyle .BottomRight {background: url(../images/default/lrblock-b-r.gif) no-repeat right bottom; float: right; height: 23px; width: 24px;}

.leftStyle .hidden-title .BlockTop, 
.leftStyle .block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.leftStyle .hidden-title .TopCenter, 
.leftStyle .block-simple .TopCenter {background: url(../images/default/lrblock-t-bgr.gif) repeat-x top;}
.leftStyle .hidden-title .TopLeft, 
.leftStyle .block-simple .TopLeft {background: url(../images/default/lrblock-t-l.gif) no-repeat left top;}
.leftStyle .hidden-title .TopRight, 
.leftStyle .block-simple .TopRight {background: url(../images/default/lrblock-t-r.gif) no-repeat right top;}
.leftStyle .hidden-title .TopTitle { display: none; }
/*** Structure of Block Left Column ***/

/*** Structure of Block Center Column ***/
/*** Structure of Block Center Column ***/

/*** Structure of Block Right Column ***/
.rightStyle .TopCenter {background: #FFFFFF url(../images/default/lrblock-t-bgr.gif) repeat-x top;}
.rightStyle .TopLeftBgr {background: url(../images/default/lrblock-l-bgr.gif) repeat-y bottom left;}
.rightStyle .TopRightBgr {background: url(../images/default/lrblock-r-bgr.gif) repeat-y bottom right;}

.rightStyle .TopLeft {background: url(../images/default/lrblock-t-l.gif) no-repeat top left;}
.rightStyle .TopRight {background: url(../images/default/lrblock-t-r.gif) no-repeat top right;}
.rightStyle .TopTitleBgr {text-align: center;}

.rightStyle .BlockMiddle {background: #FFFFFF url(../images/default/lrblock-r-bgr.gif) repeat-y right;}
.rightStyle .MiddleCenter {background: url(../images/default/lrblock-l-bgr.gif) repeat-y left;}

.rightStyle .BottomCenter {background: url(../images/default/lrblock-b-bgr.gif) repeat-x bottom;}
.rightStyle .BottomLeft {background: url(../images/default/lrblock-b-l.gif) no-repeat left bottom;}
.rightStyle .BottomRight {background: url(../images/default/lrblock-b-r.gif) no-repeat right bottom;}

.rightStyle .hidden-title .BlockTop, 
.rightStyle .block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.rightStyle .hidden-title .TopCenter, 
.rightStyle .block-simple .TopCenter {background: url(../images/default/lrblock-t-bgr.gif) repeat-x top;}
.rightStyle .hidden-title .TopLeft, 
.rightStyle .block-simple .TopLeft {background: url(../images/default/lrblock-t-l.gif) no-repeat left top;}
.rightStyle .hidden-title .TopRight, 
.rightStyle .block-simple .TopRight {background: url(../images/default/lrblock-t-r.gif) no-repeat right top;}
.rightStyle .hidden-title .TopTitle { display: none; }
/*** Structure of Block Right Column ***/

/*** Structure of Offers and Categories Blocks ***/
.block-categories-catalog .TopCenter {background: #FFF7DE url(../images/default/categories-t-bgr.gif) repeat-x top;}
.block-categories-catalog .TopLeftBgr {background: url(../images/default/categories-l-bgr.gif) repeat-y bottom left;}
.block-categories-catalog .TopRightBgr {background: url(../images/default/categories-r-bgr.gif) repeat-y bottom right;}

.block-categories-catalog .TopLeft {background: url(../images/default/categories-t-l.gif) no-repeat top left;}
.block-categories-catalog .TopRight {background: url(../images/default/categories-t-r.gif) no-repeat top right;}
.block-categories-catalog .TopTitleBgr {text-align: center;}

.block-categories-catalog .BlockMiddle {background: #FFF7DE url(../images/default/categories-r-bgr.gif) repeat-y right;}
.block-categories-catalog .MiddleCenter {background: url(../images/default/categories-l-bgr.gif) repeat-y left; padding-left: 20px;}

.block-categories-catalog .BottomCenter {background: url(../images/default/categories-b-bgr.gif) repeat-x bottom;}
.block-categories-catalog .BottomLeft {background: url(../images/default/categories-b-l.gif) no-repeat left bottom;}
.block-categories-catalog .BottomRight {background: url(../images/default/categories-b-r.gif) no-repeat right bottom;}

.block-offers .TopCenter {background: #DEF0FF url(../images/default/offers-t-bgr.gif) repeat-x top;}
.block-offers .TopLeftBgr {background: url(../images/default/offers-l-bgr.gif) repeat-y bottom left;}
.block-offers .TopRightBgr {background: url(../images/default/offers-r-bgr.gif) repeat-y bottom right;}

.block-offers .TopLeft {background: url(../images/default/offers-t-l.gif) no-repeat top left;}
.block-offers .TopRight {background: url(../images/default/offers-t-r.gif) no-repeat top right;}
.block-offers .TopTitleBgr {text-align: center;}

.block-offers .BlockMiddle {background: #DEF0FF url(../images/default/offers-r-bgr.gif) repeat-y right;}
.block-offers .MiddleCenter {background: url(../images/default/offers-l-bgr.gif) repeat-y left;}

.block-offers .BottomCenter {background: url(../images/default/offers-b-bgr.gif) repeat-x bottom;}
.block-offers .BottomLeft {background: url(../images/default/offers-b-l.gif) no-repeat left bottom;}
.block-offers .BottomRight {background: url(../images/default/offers-b-r.gif) no-repeat right bottom;}
/*** Structure of Block Right Column ***/

/*** User Home Page ***/
.UHBRows				{clear: both;}
.UserHomeBlock		{float: left; position: relative; width: 49%;}
.UHBContent			{padding: 7px;}
.UHBContent div 	{margin: 0px 0px 0px 50px;}

.userHomeLogout 		{clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a 	{color: #444444; font-weight: bold;}

.UserHomeBlock img.orders 					{background: url(../images/icons/admin_orders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 				{background: url(../images/icons/admin_profile.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 				{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 				{background: url(../images/icons/admin_support.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 					{background: url(../images/icons/admin_forum.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 				{background: url(../images/icons/admin_products.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 					{background: url(../images/icons/admin_pages.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders			{background: url(../images/icons/admin_salesorders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 				{background: url(../images/icons/admin_merchant.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates				{background: url(../images/icons/admin_affiliates.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments				{background: url(../images/icons/admin_payments.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts					{background: url(../images/icons/admin_carts.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist				{background: url(../images/icons/admin_wishlist.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders				{background: url(../images/icons/admin_reminders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd span.spacer {color: #1584D2;}	/* '|' between button */

a.button {font: 14px/20px Arial, Helvetica, sans-serif; padding: 0px 10px 0px 0px; white-space: nowrap;}
a.button img 	{display: none;}
a.button-add	{color: #FF3300; font-weight: bold;}

a.buttonBasket {font: 14px/20px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonBasket img 	{display: none;}
a.button-shopping 	{color: #FF3300; font-weight: bold;}	
a.button-checkout 	{color: #FF3300; font-weight: bold;}

a.buttonCart {font: 12px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonCart img 		{display: none;}

a.buttonMore {color: #FF3300; font: 12px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonMore img 	{display:none;}

a.disabled {color: gray; cursor: text; font: bold 14px/20px Arial, Helvetica, sans-serif; padding: 0px 10px 0px 0px;}
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #FFF1C7; border: 2px solid #FFD075; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/
.CategoryList		{display: block; margin: 0px; padding: 0px;}
.CategoryList li		{background: url(../images/default/tree_top.gif) no-repeat 0px 1px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.SubCategoryList		{background: url(../images/default/tree_line.gif) repeat-y 2px 0px; display: block; margin: 4px 0px 0px 0px; padding: 0px;}
.SubCategoryList li		{background: url(../images/default/tree_begin.gif) no-repeat 2px 9px; display: block; list-style: none; margin: 0px; padding: 2px 0px 0px 14px;}
.SubCategoryList li.lastCategory		{background: #FFFFFF url(../images/default/tree_end.gif) no-repeat 2px -9px;}

.selectedsubCategory a.title, 
.selectedtopCategory a.title {color: #37A210;}
.selectedsubCategory ul a.title, 
.selectedtopCategory ul a.title {color: #1584D2;}

.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}
.block-products-list .productImg, 
.block-product-details .productImg {background: #FFFFFF; border: 1px solid #78C7FF; margin-right: 10px; margin-bottom: 10px; padding: 1px;}

.featuresList	{border: 2px solid #E9E9E9; float: right; margin: 0px 0px 5px 5px; padding: 6px; width: 40%;}

.specification	{}
.groupTitle		{background: #E9E9E9; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #E9E9E9; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px;}
.matrixQty		{border-left: 1px solid #E9E9E9; border-top: 1px solid #E9E9E9; float: left;}
.matrixPrice	{border-top: 1px solid #E9E9E9; float: left;}
.matrixTitle	{background: #E9E9E9; border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; font-weight: bold; padding: 3px 6px; text-align: center;}
.matrixItem		{border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; padding: 3px 6px; text-align: left;}

/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 14px; font-weight: bold; background: #E9E9E9; color: #1584D2; padding: 6px !important; }
.productsCategoryDesc	{background: #E9E9E9; padding: 6px !important; }
.productsDelimiter 		{background: #E9E9E9; padding: 0px !important;}
.productsDelimiterTop 	{background: #E9E9E9; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px solid #E9E9E9;}
.hDelimiter {background: #E9E9E9; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs 			{border-bottom: 2px solid #E9E9E9; height: 1%; margin: 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.DetailTabs li 			{display: block; float: left; list-style: none; margin: 0px 10px 0px 0px; padding: 0px;}
.DetailTabs li.tab 			{background: none; border: 1px solid #E9E9E9; border-bottom: none;}
.DetailTabs li.tabActive 		{background: #E9E9E9; border: 1px solid #E9E9E9; border-bottom: none;}
.DetailTabs a.tab					{background: none; color: #1584D2; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tab:hover			{background: #E9E9E9; color: #1584D2; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tabActive			{background: #E9E9E9; color: #1584D2; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}
.DetailTabs a.tabActive:hover	{background: #E9E9E9; color: #1584D2; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #E9E9E9; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #E9E9E9; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #D9D9D9; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding: 0px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{text-align: left; clear: right; display: block;}
.offerItem 			{text-align: left;}
.offerImg			{float: left; border: 1px solid #78C7FF; margin-right: 10px; margin-bottom: 10px;} 
.offerText			{text-align: left;}
.offerItem 
a.buttonMore		{display: block;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumMessageLeft 	{background: #F4F4F4; border-left: 1px solid #D5D5D5; border-top: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5;}
.forumMessageRight 	{background: #F4F4F4; border: 1px solid #D5D5D5;}
.forumMessageTop 		{background: #E9E9E9; border-bottom: 1px solid #D5D5D5;}
/*** Forum ***/

/*** Footer ***/
.footerMenu	{text-align: center; font-size: 11px;}
.footerMenu	span {padding: 0px 0px 0px 5px;}
.footerHTML	{text-align: center; padding: 10px;}
.footerImg	{text-align: right; padding: 0px 10px 0px 0px;}
.footerImg img		{width: 80px; height: 26px; border:0px;}
/*** Footer ***/

/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background: url(../images/default/admin-tabs-bgr-light.gif); height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #919B9C;}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: #E9E9E9; border: 1px solid #919B9C; border-bottom: none; cursor: pointer; font: 11px/18px Verdana, sans-serif; margin: 8px 2px 0px 2px; padding: 2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background: #F4F4F4; border: 1px solid #919B9C; border-top: 2px solid #919B9C; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin: 3px 2px 0px 2px; padding: 4px 8px 4px 8px; white-space: nowrap;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
.priceBlock {color: #000; font-weight: bold;}
.priceBlock .price {font-weight: bold;}
.priceBlock .priceTax {font-weight: normal;}

.priceBlockOld {color: #000; text-decoration: line-through;}
.priceBlockOld .price {font-weight: normal;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #000; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #000; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #000; font-weight: bold; border: none; background: transparent;}
.salesPrice {font-weight: bold;}
.salesTax {font-weight: normal;}

.priceSaveBlock {color: #0A0; font-weight: bold;}
.priceSaveBlock .price {font-weight: bold;}
.priceSaveBlock .percent {font-weight: normal;}

.pointsPriceBlock {}
.pointsPriceBlock .points {}

.rewardPointsBlock {}
.rewardPointsBlock .points {}
/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #CCCCCC;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #F4F4F4; border: 1px solid #78C7FF;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #78C7FF;}
.shipping-img-close	img {margin: 10px 10px 5px 0px;}
.shipping-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 20px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #FFFFFF; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}


#categories_box select	{display: block; margin: 0px 0px 5px 0px;}
#categories_box a	{display: inline-block; background: #E8E8E8; border: 1px solid #93BDFD; padding: 3px 10px; text-decoration: none; margin-bottom: 5px;}

