/*** General styles ***/
body		{font: 13px Arial; color: #000000; margin: 0px; padding: 0px; background: url("../images/stan/main_bg.gif") no-repeat scroll center 0 #EFEFEF;}
body.popup	{font: 13px Arial; color: #000000; margin: 0px; padding: 0px; background: #FFFFFF;}

tr, td		{font: 13px Arial; color: #000000;}

h1, h2		{padding: 0px; margin: 0px;}

h1 {font-size:18px; text-indent: 25px;}
h2 {font-size:18px; text-indent: 25px;}
h3 {font-size:16px; text-indent: 25px;}


.smallText2 h2 {font-size:16px; text-indent: 25px; margin-top: 20px; font-family: Arial Narrow; font-weight: normal; }

p {
  text-indent: 25px;
}
#cart_popup{display:none;z-index:1500;}
img{border:0px;}
.TopTitleIco{float: right;padding: 10px 10px 0 0;}
.TopMenu,.leftStyle .TopTitleBgr,.rightStyle .TopTitleBgr,.contentStyle,
a.buttonMore,a.button,a.buttonBasket,a.menu:hover,a.menuActive:hover,.featuresList,#popupBlock {
	-moz-border-radius: 3px; /* Firefox */
  	-webkit-border-radius: 3px; /* Safari, Chrome */
  	-khtml-border-radius: 3px; /* KHTML */
  	border-radius: 3px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
}
.SubMenu{
	-moz-border-radius: 3px 3px 0px 0px; /* Firefox */
  	-webkit-border-radius: 3px 3px 0px 0px; /* Safari, Chrome */
  	-khtml-border-radius: 3px 3px 0px 0px; /* KHTML */
  	border-radius: 3px 3px 0px 0px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
}
.TopMenu,.leftStyle .TopTitleBgr,.rightStyle .TopTitleBgr{border: 1px solid #dcdcdc; }
.leftStyle .TopTitleBgr,.rightStyle .TopTitleBgr{background: url("../images/stan/moduletable_title.png") repeat-x left bottom;min-height: 35px;font-weight: bold; }
.leftStyle .TopTitleBgr div,.rightStyle .TopTitleBgr div {padding: 10px 5px 5px 8px;}

.centerStyle .BlockTop{font-weight: bold;font-size: 12px;margin-bottom: 10px;}
.centerStyle .TopTitleBgr{padding: 5px 5px; background: url(../images/stan/prod_bg.png) repeat-x left top #eee;}
.centerStyle .block-without-title .BlockTop {border-bottom:0px;}
.BlockMiddle {position: relative;}
.MiddleCenter {overflow: hidden; height: 100%; position: relative;}

.SubMenu{
  	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	box-shadow: 3px 3px 5px #000;
	behavior: url(ie-css3.htc);
}

a					{color: #006AB4; outline: 0px; text-decoration: underline;}
a:hover				{text-decoration: none; color: #999999;}
a:active		 {text-decoration: none;}
a.header 			{text-decoration: none;}
a.header:hover		{text-decoration: none; }
a.title				{color: #006AB4;font-size: 13px; font-weight: bold; text-decoration: none;}
a.title:hover			{color: #999999;}
a.bigtitle			{color: #006AB4; font-size: 15px; font-weight: normal; text-decoration: underline; }
a.bigtitle:hover	{color: #999999; }
a.bigtitle2			{color: #006AB4; font-size: 16px; text-transform:uppercase; font-weight: bold; text-decoration: underline; }
a.bigtitle2:hover	{color: #999999; }

a.smallText			{font-size: 12px; text-decoration: underline;}
a.smallText:hover	{text-decoration: none; color: #999999;}
a.treeItemLast		{color: #ff6600;}
a img {padding: 5px 5px 5px 0;margin: 0;}

input					{font: 14px Arial;}
input.usualprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Arial; text-align: right;}
input.orderprice	{color: #C5CCD0; background-color: transparent; border: none; font: 12px Arial; text-align: right;}
input.search,		
input.text,			
input.field			{margin: 3px 0px;}
input.fieldSmall	{font-size: 11px;}
input.submit		{
	color: #006AB4; 
        font-weight:bold;
	cursor: pointer; 
	font-size: 12px; 
	height: 30px; 
        width:101px;
	margin: 5px 0 0 0;
padding:0px 0 0 0; 
        text-align:center;
border:0px;
background:none;
background:url(../images/subm.png);
}
input.submit:hover{background:url(../images/submact.png);}
	input#clear		{color: #8A8A8A;}
	input#reset		{color: #8A8A8A;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #8A8A8A;}
	input#delete	{color: #8A8A8A;}
select				{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font: 14px Arial;}
textarea			{border-top: 1px solid #7F9DB9;border-right: 1px solid #BACDDF;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font: 14px Arial;}

.middlebg 			{background: #f5f5f5; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center;}
.popup 
.errorbg			{padding: 4px;}
.messagebg  		{color: #ff6600; font-weight: bold; padding: 6px; text-align: center;}
.block-order-info 
.messagebg  		{padding: 2px 6px; text-align: right;}

.padding10px				{padding: 10px 5px;}
.block-categories-list 
.padding10px				{padding: 10px 0px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin-right: 5px;}
.ArticleDescription	{padding: 10px 0px; font-size: 15px; font-family: Arial Narrow; text-align: justify;}
.ArticleDescription	td {padding-left: 10px; font-size: 15px; font-family: Arial Narrow; text-align: justify;}	


.introBlock {border: 1px solid #FFFFFF; margin: 5px; padding: 6px;}

.articleDate	{color: #666666; font-size: 11px; font-style: italic; }
.titleText		{color: #1584D2; text-decoration: none; }
.top				{font-size: 12px;}
.smallText		{font-size: 12px;}
.smallText2 {font-size:13px; font-weight: normal;  color: #333333; text-align: justify;}
.middleText		{font-size: 13px;}
.bigText			{font-size: 14px;}
.comment			{font-size: 11px; color: #7777CC;}
.required		{color: #FF0000;}
.message			{color: #FFBA00;}
.title			{font-size: 13px; font-weight: bold; color: #000;}
.bigtitle		{font-size: 14px; font-weight: normal; color: #ff6600;}
.error			{color: #ff6600; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: #C5CCD0; text-decoration: none;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}

.productQty{padding-top: 10px;}

.productImg {background: #fff; border:0; margin-right: 10px; margin-bottom: 10px; padding: 1px;}

.Breadcrumb {margin-bottom: 10px;}
.BreadcrumbRSS {float: right;}

/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{margin: 0 auto; padding: 0 20px 20px 20px; text-align: left; min-width: 1120px; max-width: 1600px;}
.headerStyle	{position: relative; z-index: 100;}
.contentStyle	{-moz-border-radius:3px 3px 3px 3px; border:1px solid #DCDCDC; height: 1%; overflow: hidden; position: relative; z-index: 1;background: #fff;padding: 10px 10px;}
.footerStyle	{clear: both;margin-top: 10px;}

/* Four frames */
.fourFrames .rightStyle			{float: right; margin: 10px 0; position: relative; width: 20%;}
.fourFrames .contentLeftStyle	{float: left; position: relative; }
.fourFrames .hotStyle			{margin: 10px 0 0 0; position: relative; width: 80%; float: left; }
.fourFrames .leftStyle			{float: left; margin: 0 0 10px 0; position: relative; width: 20%;}
.fourFrames .centerStyle		{float: left; margin:auto 10px; position: relative; width: 77%;}

/* Three frames */
.threeFrames .leftStyle		{float: left; margin: 10px 0; position: relative; width: 20%;}
.threeFrames .rightStyle	{float: right; margin: 10px 0; position: relative; width: 20%;}
.threeFrames .centerStyle	{margin: 10px; float:left; position: relative; width: 58%;}

/* Two frames */
.twoFrames .leftStyle	{float: left; margin: 10px 0; position: relative; width: 29%;}
.twoFrames .centerStyle	{float: right; margin: 10px 0; position: relative; width: 70%;}

/* One frames */
.oneFrame .centerStyle	{margin: 10px 0; position: relative; width: 100%;}
/*** Frame set ***/

/*** Header ***/
.contentMulti .headerAll{height:60px;}
.Header {margin: 0px 0 0px 0; position: relative; z-index: 100; }
.HeaderLogo {float: left;} 
.HeaderLogo img {border: none; margin: 0px;}
.HeaderMenu {margin: 0px; padding: 0px;clear: both; height:55px;}

/* Top Menu */
.contentMulti .TopMenu {
	/*background: url("../images/topmenu.png") repeat-x;  */
	background: url("../images/topmenu.png") repeat-x;  
	display: block; 	
	height: 55px; 
	margin: 0px; 
	padding:0px 0 0 30px; 
	z-index: 50;
        position:relative;
  	-moz-box-shadow: 5px 5px 5px 5px;
	-webkit-box-shadow: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px 5px;
	behavior: url(ie-css3.htc);
}

.contentMulti .TopMenu li {
	display: block;
	float: left; 
	list-style: none; 
	margin: 0px 15px 0 0px; 
	padding:18px 8px 0px 8px; 
        height:37px;
        position:relative;
}
.contentMulti .TopMenu li:hover, .contentMulti .TopMenu li.menuActive:hover{
        background: url("../images/tmmid.png") repeat-x; 
        cursor:pointer;
}
.contentMulti .TopMenu li.menuActive, .contentMulti .TopMenu li.menuActive .tmleft, .contentMulti .TopMenu li.menuActive .tmright{
background:none;
}
.contentMulti .TopMenu li:hover a{
color: #095db2;
}
.contentMulti .TopMenu li a{
display:block;
height:100%;
margin:-8px 0px 0 0px;
padding:8px 0px 0 0px;
}
.contentMulti .TopMenu li.tmbord{
margin:14px 0 0 0;
background: url("../images/topbord.png") no-repeat; 
height:22px;
width:2px;
}
.contentMulti .TopMenu li:hover .tmleft{
display:block;
background: url("../images/tmleft.png") no-repeat; 
height:51px;
width:10px;
position:absolute;
top:0px;
left:-10px;
}
.contentMulti .TopMenu li:hover .tmright{
display:block;
background: url("../images/tmright.png") no-repeat; 
height:51px;
width:10px;
position:absolute;
top:0px;
right:-10px;
}
#bord1{
display:none;
}
.headerAllMiddle .TopMenu li.topmenu a{text-transform: none;}
.TopMenu li.topmenu	{z-index: 50;}
.TopMenu li.begin	{display: none;border: 0;padding: 0;}
.TopMenu li.end		{display: none;border: 0;width: 40px;}

/* Top Menu Links */
.TopMenu a.menu,a.menuActive{
	display: block; 
	font: 12px; 
	padding: 0px 0px; 
	text-decoration: none; 
        text-transform:uppercase;
	font-weight: normal;
}
a.menu				{color:#fff;}
a.menu:hover		{color: #095db2;}
a.menuActive		{color:#fff;}
a.menuActive:hover	{color: #095db2;}

/* Secondary Menu */
ul.secondaryMenu 			{display: block; height: 30px; margin: 0px 0px 0px 20px; overflow: hidden; padding: 0px; z-index: 20;}
ul.secondaryMenu li 			{border-top: 1px solid #444444; display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{padding: 2px 0px 4px 0px;}
ul.secondaryMenu li.secondaryBegin			{display: none;}
ul.secondaryMenu li.secondaryEnd				{display: none;}

/* Secondary Menu Links */
a.secondaryMenu 			{color: #52AE30; display: block; font: 14px Arial; padding: 2px 20px; text-decoration: underline; text-transform: capitalize;}
a.secondaryMenu:hover 	{color: #52AE30; text-decoration: none;}
a.secondaryMenuActive 			{color: #444444; display: block; font: 14px Arial; padding: 2px 20px; text-transform: capitalize;}
a.secondaryMenuActive:hover	{color: #444444;}

/* Sub Menu */

.TopMenu .SubMenu 		{
	display: none; 
	margin: 20px 0 0 0; 
	padding: 0px 0 10px 0; 
	position: absolute; 
	width: 200px;
	background: #efefef;
       z-index:51;
}
.TopMenu .SubMenu li {
	border: 0;
	width: 180px;	
	margin: 0px 0px;
	padding: 10px 0 0px 10px;	
	height: 25px;
border-bottom:1px solid #b8b8b8;
}
.contentMulti .TopMenu .SubMenu li.tmbord, .contentMulti .TopMenu .SubMenu li.topmenu span.tmleft, .contentMulti .TopMenu .SubMenu li.topmenu span.tmright{
display:none;
}
.SubMenu a.menu 	{padding: 0;margin: 0; font-weight:normal; color:#006AB4;}
.SubMenu span.nobr  {white-space: normal !important;}
/*
.SubMenu li {display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap; width: 150px;}
.SubMenu li.topmenu		{padding: 0px; position: relative;z-index:50;}
.SubMenu li.secondaryMenu	{background: none !important; padding: 0px !important; position: relative;}
.SubMenu a.menu				{color: #fff;font-weight: normal;}
.SubMenu a.menu:hover		{}
.SubMenu a.secondaryMenu	{background: #FFF1C7 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenu:hover	{background: #FFFBED !important; color: #1584D2;}
.SubMenu a.secondaryMenuActive			{background: #FFF1C7 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenuActive:hover	{background: #FFFBED !important; color: #1584D2;}

.SubMenu ul		{display: none; left: 150px; margin: 0px; padding: 0px; position: absolute; top: -1px;z-index:50;}


/*** Header ***/

/*** User Home Page ***/
.UHBRows				{clear: both;}
.UserHomeBlock		{float: left; position: relative; width: 49%;}
.UHBContent			{padding: 7px;}
.UHBContent div 	{margin: 0px 0px 0px 50px;}

.userHomeLogout 		{clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a 	{color: #444444; font-weight: bold;}

.UserHomeBlock img.orders 					{background: url(../images/icons/admin_orders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 				{background: url(../images/icons/admin_profile.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 				{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 				{background: url(../images/icons/admin_support.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 					{background: url(../images/icons/admin_forum.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 				{background: url(../images/icons/admin_products.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 					{background: url(../images/icons/admin_pages.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders			{background: url(../images/icons/admin_salesorders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 				{background: url(../images/icons/admin_merchant.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates				{background: url(../images/icons/admin_affiliates.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments				{background: url(../images/icons/admin_payments.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts					{background: url(../images/icons/admin_carts.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist				{background: url(../images/icons/admin_wishlist.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders				{background: url(../images/icons/admin_reminders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd span.spacer {color: #1584D2;}	/* '|' between button */
td.butTd a.buttonBasket{background:none;color:#006AB4;display:inline;font-size:12px;padding:0px;margin:0px;}
td.butTd a.buttonBasket:hover{color:#006AB4;}
td.butTd a.button-checkout{color:#006AB4;}
a.button {font: 14px/20px Arial; padding: 0px 10px 0px 0px; white-space: nowrap; margin:5px;}
a.button img 	{display: none;}
a.button {	
	font-size: 12px; 
	white-space: nowrap;
        color: #006AB4;
		text-decoration: none;
}
a.button:hover {text-decoration:none;}
a.button span {line-height: 30px;}

a.button-shipping, .butTd a.button-checkout{	
	height: 20px;
	color: #006AB4; 
	font-size: 12px; 
	white-space: nowrap;
	text-decoration: none;
}
a.button-shipping:hover {text-decoration:none;}


a.buttonBasket img 	{display: none;}
a.button-shopping 	{color: #FF3300; font-weight: bold;}	
a.button-checkout 	{}


a.buttonCart {font: 12px Arial; white-space: nowrap;}
a.buttonCart img 		{display: none;}

a.buttonMore {
	display:block; 
	width: 114px;
	height: 29px;
	padding:5px 0px 0 0;
	color: #fff; 
	font-size: 14px; 
	white-space: nowrap;
	background: url(../images/button.png) no-repeat;
        color: #FFF;
	float: right;	
	margin-top: 5px;
text-align:center;
text-decoration: none;
}
a.buttonMore b{font-weight: normal;line-height: 24px; font-size: 14px; text-decoration: none;}
a.buttonMore img {display:none;}
a.buttonMore:hover {background: url(../images/buttonact.png) no-repeat; color: white;text-decoration:none;}

a.disabled {color: gray; cursor: text; font: bold 14px/20px Arial; padding: 0px 10px 0px 0px;}
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #FFF1C7; border: 2px solid #FFD075; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/

.CategoryList		{display: block; margin: 0px; padding: 0px; text-decoration: none;}

.CategoryList li {    
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0; 
	border-bottom: 1px solid #ffffff;
    }

.CategoryList li a {
    display: block;
    height: auto;
    margin-right: 1px;
    padding: 4px 0 0px 4px;
    width: auto;
margin:0 0 5px 0 !important;
}

.SubCategoryList	{   
    background: none repeat scroll 0 0 #F0F0F0;
    display: block;
    margin: 0;
    padding: 0 0 7px 10px;
	}
.SubCategoryList li	{display: block; list-style: none; margin: 0px; padding: 0px 0px 0px 0; border: none; background: none !important; }
.SubCategoryList li.lastCategory {}


.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}
#featbl{width: 45%;float:right;}
.featuresList	{background: url(../images/stan/product-feature-bg.gif) repeat-x scroll left top #F1F2F4; border: 1px solid #ddd; margin: 0px 0px 0px 0px; padding: 6px;}

.specification	{}
.groupTitle		{background: #E9E9E9; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #E9E9E9; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px;}
.matrixQty		{border-left: 1px solid #E9E9E9; border-top: 1px solid #E9E9E9; float: left;}
.matrixPrice	{border-top: 1px solid #E9E9E9; float: left; }
.matrixTitle	{background: #E9E9E9; border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; font-weight: bold; padding: 3px 6px; text-align: center; }
.matrixItem		{border-right: 1px solid #E9E9E9; border-bottom: 1px solid #E9E9E9; padding: 3px 6px; text-align: left; }
.matrix .clearboth{clear:left;}
/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 14px; font-weight: normal; color: #ff6600; padding: 6px !important;border-bottom:1px solid #ddd; }
.productsCategoryDesc	{background: #E9E9E9; padding: 6px !important; }
.productsDelimiter 		{background: #E9E9E9; padding: 0px !important;}
.productsDelimiterTop 	{background: #E9E9E9; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px dotted #ddd;}
.hDelimiter {background: #E9E9E9; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs {border-bottom: 1px solid #ddd;list-style: none;height: 31px;margin-left:-30px;}
.DetailTabs li{float: left;margin: 0 0px 0 0;}
.DetailTabs a.tabActive,.DetailTabs a.tab{
	display: block;
	border-bottom: 0px;
}
.DetailTabs a.tab{background: url(../images/buttabs.png) no-repeat;padding:6px 10px 0 20px; height:24px; color:#000;border:none;
margin:2px 10px 0px 0;position:relative;}
.DetailTabs a.tab span{display:block;position:absolute;top:0px;right:-10px;background: url(../images/buttabsr.png) no-repeat; height:30px;
width:10px;}
.DetailTabs a.tabActive, .DetailTabs a.tab:hover{background: url(../images/buttabact.png) no-repeat;padding:6px 10px 0 20px;height:24px; color:#FFF;border:none;
margin:2px 10px 0px 0;position:relative;}
.DetailTabs a.tabActive span, .DetailTabs a.tab:hover span{display:block;position:absolute;top:0px;right:-10px;background: url(../images/buttabactr.png) no-repeat; height:30px;
width:10px;}
/*
.DetailTabs li 			
.DetailTabs li.tab 		
.DetailTabs li.tabActive
.DetailTabs a.tab		
	
.DetailTabs a.tabActive	
.DetailTabs a.tabActive:hover

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #E9E9E9; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #E9E9E9; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #D9D9D9; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding: 0px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{text-align: center; display: block;}
.offerItem 			{text-align: left;}
.offerImg			{ border: 0;margin-bottom: 10px;} 
.offerText			{text-align: left; color: #ff6600;}
.special_offer   {text-align: center; color: #ff6600;}
.offerItem 
a.buttonMore		{display: block;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumMessageLeft 	{background: #F4F4F4; border-left: 1px solid #D5D5D5; border-top: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5;}
.forumMessageRight 	{background: #F4F4F4; border: 1px solid #D5D5D5;}
.forumMessageTop 		{background: #E9E9E9; border-bottom: 1px solid #D5D5D5;}
/*** Forum ***/

/*** Footer ***/
.footerMenu	{text-align: left; font-size: 11px;margin:8px 0 0px -18px; }
.footerMenu	span {padding: 0px 0px 0px 5px;}
.footerHTML	{text-align: center; padding: 10px;}
.footerImg	{text-align: right; padding: 0px 10px 0px 0px;}
.footerImg img		{width: 76px; height: 22px; border:0px;}
/*** Footer ***/

/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{ height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;border-bottom:1px solid #ddd;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;


}
.AdminTabs li.adminTab			{}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: url(../images/buttabs.png) no-repeat;padding:6px 10px 0 20px; height:24px; color:#000;border:none;
margin:2px 10px 0px 0;position:relative;}
div.adminTab span	{display:block;position:absolute;top:0px;right:-10px;background: url(../images/buttabsr.png) no-repeat; height:30px;
width:10px;}

div.adminTabActive, div.adminTab:hover	{background: url(../images/buttabact.png) no-repeat;padding:6px 10px 0 20px;height:24px; color:#FFF;border:none;
margin:2px 10px 0px 0;position:relative;}
div.adminTabActive span, div.adminTab:hover span	{display:block;position:absolute;top:0px;right:-10px;background: url(../images/buttabactr.png) no-repeat; height:30px;
width:10px;}
div.adminTab a{color:#000;}
div.adminTabActive a, div.adminTab:hover a{color:#FFF;text-decoration:none;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
/* .priceBlock {color: #000; font-weight: bold;}
.priceBlock .price {color: #ff6600; font-weight: normal;font-size:18px;}
.priceBlock .priceTax {color: #999999;;font-weight: normal;}

.priceBlockOld {color: #000; text-decoration: line-through;font-size:12px;}
.priceBlockOld .price {font-weight: normal;font-size:18px;margin-left:0px;}
.block-product-details .priceBlockOld {color: #000; text-decoration: line-through;font-size:12px;}
.block-product-details .priceBlockOld .price {font-weight: normal;font-size:18px;margin-left:42px;color: #9b9b9b;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #000; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #000; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #000; font-weight: normal; border: none; background: transparent;}
.salesPrice {color: #ff6600; font-weight: normal;font-size:18px;}

.priceSaveBlock {color: #000; font-weight: normal;font-size:12px;}
.priceSaveBlock .price {color: #ff3722; font-weight: bold; font-size:12px;}
.priceSaveBlock .percent {color: #ff3722; font-weight: bold; font-size:12px;}

.pointsPriceBlock {color: black; font-weight: bold;}
.pointsPriceBlock .points {color: black; font-weight: bold;}

.rewardPointsBlock {color: black;}
.rewardPointsBlock .points {color: #006AB4;}

.rewardCreditsBlock {color: black; font-weight: bold;}
.rewardCreditsBlock .credits {color: black; font-weight: bold;}

.stockLevel {color: black; font-weight: bold;} */
.priceBlock {color: #999999; font-weight: bold;}
.priceBlock .price {color: #ff6600; font-weight: normal;font-size:22px;}
.priceBlock .priceTax {color: #999999;;font-weight: normal;}

.matrixItem.priceBlock .price {color: #ff6600; font-weight: normal; font-size:12px;}

.priceBlockOld {color: #9b9b9b; text-decoration: line-through;font-size:18px;}
.priceBlockOld .price {font-weight: normal;font-size:18px;margin-left:0px;}
.block-product-details .priceBlockOld {color: #9b9b9b; text-decoration: line-through;font-size:12px;}
.block-product-details .priceBlockOld .price {font-weight: normal;font-size:18px;margin-left:42px;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #000; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #000; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #999999; font-weight: normal; border: none; background: transparent;}
.salesBlock .price{color:#979797;font-size:18px;text-decoration: line-through;}
.salesPrice {color: #ff6600; font-weight: normal;font-size:22px;}
.salesTax {color: #cf1919; font-weight: normal;}

.priceSaveBlock {color: #999999; font-weight: normal;}
.priceSaveBlock .price {color: #999999; font-weight: bold; font-size:14px;}
.priceSaveBlock .percent {color: #999999; font-weight: bold; font-size:14px;}

.pointsPriceBlock {color: black; font-weight: bold;}
.pointsPriceBlock .points {color: black; font-weight: bold;}

.rewardPointsBlock {color: black; font-weight: bold;}
.rewardPointsBlock .points {color: black; font-weight: bold;}

.rewardCreditsBlock {color: black; font-weight: bold;}
.rewardCreditsBlock .credits {color: black; font-weight: bold;}

.stockLevel {color: black; font-weight: bold;}
/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #CCCCCC;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #F4F4F4; border: 1px solid #78C7FF;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #CCCCCC;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #F4F4F4; border: 1px solid #78C7FF;}
.shipping-img-close	img {margin: 10px 10px 5px 0px;}
.shipping-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial; text-align:justify;}
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 37px; height: 39px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 37px; height: 39px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 24px; height: 25px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #FFFFFF; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}


#categories_box select	{display: block; margin: 0px 0px 5px 0px;}
#categories_box a	{display: inline-block; background: #E8E8E8; border: 1px solid #93BDFD; padding: 3px 10px; text-decoration: none; margin-bottom: 5px;}

/*Addition to Stan template TopTitleBgr for 4.06 version and multi layout*/
.TopTitleBgr{border: 1px solid #dcdcdc;
	background: url("../images/stan/moduletable_title.png") repeat-x left bottom;min-height: 35px;font-weight: bold;
	-moz-border-radius: 6px; /* Firefox */
  	-webkit-border-radius: 6px; /* Safari, Chrome */
  	-khtml-border-radius: 6px; /* KHTML */
  	border-radius: 6px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */}
.TopTitleBgr div {padding: 10px 5px 5px 8px; text-transform:uppercase; font-size: 13px; color: #000000; }
/**************************************************************/

a.cartIco {background: url("../images/stan/race_cart.png") no-repeat scroll left bottom transparent;
    font-weight: 700;
    padding-left: 53px;
    text-decoration: underline;
    display: block;
    height: 32px;
    line-height: 48px;}
.searchIco {background: url("../images/stan/find.png") no-repeat scroll left bottom transparent;height: 30px;padding-left: 35px;padding-top: 42px;}
.searchIco .searchField {border: 1px solid #ddd;vertical-align: middle; margin-top: 6px;}
.searchIco .searchSubmit {border: 1px solid #ddd;height: 20px;vertical-align: middle;background: #eee;margin-top: 6px;}
.headerLanguage {padding: 50px 0 0;}
.headerLanguage span, .headerCurrency span{float: left;padding: 4px 5px 0px 0px; font-weight: bold;}
.headerCurrency {padding: 45px 0 0; overflow: hidden;}
.contentMulti{margin: 10px;}
.wrapContent{background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    height: 1%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    z-index: 1;}
.BlockBottom {margin-bottom: 5px;}
.TopTitleBgr h1{padding-left: 5px;line-height: 35px; vertical-align: middle; 
font-size:18px;
margin-top:7px;
font-weight:normal;
color: #333333;
}
.MiddleCenter {margin-top: 3px;}
.cookieControl {
    background: url("../images/icons/va_cookies.png") no-repeat scroll 0 -32px transparent;
    bottom: 0;
    height: 32px;
    left: 0;
    position: fixed;
    width: 32px;
    z-index: 1000;
}
.cookieControl:hover {
    cursor: pointer;
}
.cookieInfo {
    background-color: #FFFFFF;
    border: 2px solid #333333;
    border-radius: 10px 10px 10px 10px;
    bottom: 40px;
    height: 200px;
    left: 40px;
    padding: 20px;
    position: fixed;
    width: 200px;
    z-index: 1000;
}
.cookieInfo .button {
    border: 1px solid #333333;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    float: left;
    font-weight: 700;
    margin: 20px 15px 0;
    padding: 3px 15px;
    text-align: center;
    width: 30px;
}
.cookieInfo div.buttonGreen {
    background-color: green;
    float: left;
}
.cookieInfo div.buttonRed {
    background-color: red;
    float: right;
}
.cookieInfo .button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.cookieInfoClose {
    background: url("../images/icons/buttonClose.png") no-repeat scroll 0 0 transparent;
    height: 12px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 12px;
}
.cookieInfoClose:hover {
    background-position: 0 -12px;
    cursor: pointer;
}
.twitter li {
    display: block;
    list-style: none outside none;
    padding: 7px;
}
.twitter li > a {
    display: block;
}
.facebook li {
    display: block;
    list-style: none outside none;
    padding: 0 7px 7px;
}
.facebook .from {
    padding-bottom: 5px;
    text-decoration: underline;
}
.facebook .date {
    font-size: 11px;
    font-style: italic;
}

/*Sliding Cart Styles*/
.vi-block-cart,.vi-block-cart.empty  {background: url("../images/stan/race_cart.png") no-repeat scroll 0 0 transparent; padding: 10px 10px 10px 70px;}
.vi-block-cart.full {background-position:0 -65px;} 
/*/Sliding Cart Styles*/

/*viewer-toggle-nav*/
.viewer-toggle-nav{float:right;}

.viewer-toggle-nav div.menu-viewer-toggle-container {
    display: inline-block;
}
.viewer-toggle-nav {
    margin: 0;
}
.viewer-toggle-nav li {
    display: inline-block;
    list-style: none outside none;
}
.viewer-toggle-nav  li:first-child a.active{
    background-position: 0 0;
    color: #333333;
}
.viewer-toggle-nav li:last-child a.active {
    background-position: -35px 0;
    color: #333333;
}

.viewer-toggle-nav li:first-child a {
    background: url("../images/list_sprite.png") no-repeat scroll 0 -32px transparent; width:0px; 
}
.viewer-toggle-nav li:last-child a {
    background: url("../images/list_sprite.png") no-repeat scroll -32px -32px transparent;
}

.viewer-toggle-nav  li a {
    color: #666666;
    text-transform: uppercase;
    display: inline-block;
    line-height: 31px;
    padding-left: 35px;
}
.viewer-toggle-nav  li a:hover {text-decoration:none;}
/*viewer-toggle-nav*/

/*Css class for blocks such as sliders and banners*/
.no-borders, .no-borders  .BlockMiddle, .no-borders .padding10px, .no-borders .TopTitleBgr div, .no-borders .BlockMiddle a img  {border:0; background:none; padding:0;}

/*ДОБАВЛЕНО*/

.contentMulti .siteTop{
padding:0px;
margin:0px;
height:15px;
}
.siteTop .MiddleCenter{
margin-top:-15px;
}
.head_bl{
float:left;
}
#head_ll{
position:absolute;
top:-20px;
left:30%;
height:150px;
}
#head_ll span.strok{
margin-top:3px;
margin-bottom:2px;
display:block;
font-size:12px;
color:#010101;
font-weight:bold;
}
#head_ll span.strok .hl_col{
font-weight:normal;
color:#006AB4;
}
#head_ll #hl_tel{
margin:12px 0 0px 0;
font-size:24px;
color:#006AB4;
font-family:Arial Narrow;
font-weight:normal;
}
#head_ll #hl_tel2{
margin:-4px 0 0px 0;
font-size:24px;
color:#006AB4;
font-family:Arial Narrow;
font-weight:normal;
}
#head_ll #hl_telbes{
margin:0px 0 8px 0;
padding-left:0px;
font-size:13px;
color:#999999;
font-weight:normal;
font-family:Arial Narrow;
display:block;
}
#head_ll #hl_icq{
background: url(../images/icq.png) no-repeat;
padding-left:18px;
margin-right:8px;
}
#head_ll #hl_skyp{
background: url(../images/skyp.png) no-repeat;
padding-left:18px;
}
#head_ll #hl_mail{
background: url(../images/pismo.png) no-repeat;
padding-left:20px;
}
#head_ll #hl_vop{
background: url(../images/vop.png) no-repeat;
padding-left:20px;
margin-right:10px;
}
#head_ll #hl_kon{
background: url(../images/kon.png) no-repeat;
padding-left:20px;
}
#head_l img{
margin-top:30px;
}
.siteTopLeft .MiddleCenter{
width:400px;
}
.siteTopLeft .usualbg{
padding-left:20px;
color:#a7a7a7;
font-size:11px;
margin-top:4px;
width:400px;
}
.siteTopLeft .usualbg a{
font-size:11px;
font-weight:normal;
}
#head_lr{
position:absolute;
top:0px;
left:51%;
}
#bl_left{
display:block;
float:left;
position:relative;
height:80px;
width:140px;
}
#bl_right{
display:block;
float:left;
position:relative;
height:80px;
width:140px;
margin-left:10px;
}
#bl_left .bll_str{
margin:5px 0 0px 0;
display:block;
color:#010101;
font-weight:bold;
font-size:12px;
}
#bl_left .bll_ct, #bl_left .bll_ct a{
color:#006ab4;
font-weight:normal;
text-decoration:none;;
}
#bl_right span{
font-size:18px;
color:#006AB4;
display:block;
}
#bl_right .blr_vr{
font-size:12px;
}

#head_lr ul{
margin-top:0px;
list-style-image:url("../images/type.png");
}
#head_lr #left{
float:left;
}
#head_lr #right{
float:left;
}
#head_lr ul li{
margin:4px 0 0 0;
padding:0px;
}
#head_lr  .usualbg{
color:#006AB4;
font-size:12px;
}
#head_lr  .usualbg a{
color:#006ab4;
font-size:12px;
}
#head_lr  .usualbg a:hover{
color:#999999;
}
#header1 .MiddleCenter{
overflow:visible;
}
#header1 .usualbg{
position:relative;
z-index:50;
}
#header1{
position:relative;
z-index:1050;
height:130px;
background: url("../images/topf.png") repeat-x;
}
.reg{
text-transform:lowercase;
margin-left:4px;
}
#head_cart{
padding-left:95px;
width:95px;
position:relative;
font-size:13px;
color:#000000;
}
#head_cart a{
color:#006AB4;
font-size:13px;
font-weight:bold;
}
#head_cart a:hover{
color:#999999;
}
#head_cart span span{
font-weight:bold;
font-size:12px;
display:inline;
}
#head_cart #cart_ris{
background: url("../images/korzina.png") no-repeat;
width:72px;
height:65px; 
position:absolute;
top:0px;
left:0px;
}
#head_cart span{
margin-top:5px;
margin-bottom:5px;
display:block;
white-space:nowrap;
}
#head_cart a.but{
margin:10px 0 5px 0;
padding:4px 0 0 0;
display:block;
color:#006AB4;
font-size:12px;
font-weight:bold;
background: url("../images/button_b.png") no-repeat;
height:19px;
width:101px;
text-align:center;
text-decoration: none;
}
#head_cart a.but:hover{
text-decoration:none;
color:#999999;
}
#head_lr{
margin-top:-10px;
float:left;
width:290px;
}
#head_lr input.submit{
background: url("../images/vhod.png") no-repeat;
width:70px;
height:21px;
padding:0px;
float:right;
}
#head_lr input.submit:hover{
background: url("../images/vhodact.png") no-repeat;
}
#head_r{
margin:-1px 0 0 0;
padding:5px 7px 0 7px;
float:right;
width:244px;
height:128px;
background: url("../images/topr.png") no-repeat;
}
.block-search .search{
background:none;
border:none;
background:#f5f6f6;
border-left:1px solid #929292;
border-top:1px solid #929292;
border-right:1px solid #ececec;
border-bottom:1px solid #ececec;
}
.block-search .search, .block-search select{
padding:0px;
margin:0px;
height:28px;
position:relative;
background:#fff;
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px; /* Safari, Chrome */
  	-khtml-border-radius: 5px; /* KHTML */
  	border-radius: 5px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
}
.block-search .padding10px{
position:relative;
}
.block-search select{
position:absolute;
top:3px;
left:0px;
}
.block-search input.search{
background:#fff;
border-bottom:none;
width:240px;
height:26px;
position:absolute;
top:3px;
left:275px;
}
.block-search input.submit{
background:none;
border:none;
padding:0px 0 5px 3px;
margin:0px 0 0 10px;
background: url("../images/search_but.png") no-repeat;
width:73px;
height:36px;
color:#fff;
font-size:14px;
font-weight:normal;
position:absolute;
top:1px;
left:520px;
}
.block-search input.submit:hover{
}
.block-search{
border:1px solid #d0d0d0;
height:65px;
	-moz-border-radius: 8px; /* Firefox */
  	-webkit-border-radius: 8px; /* Safari, Chrome */
  	-khtml-border-radius: 8px; /* KHTML */
  	border-radius: 8px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
margin-bottom:10px;
background:#f6f6f6;
}
.block-search .padding10px{
padding:0 0 0 30px;
}
#search_ik{
background: url("../images/search.png") no-repeat;
height:15px;
width:15px;
position:absolute;
top:9px;
left:5px;
}
a.advancedSearch{
text-transform:lowercase;
color:#006ab4;
font-size:11px;
float:left;
margin:10px 0px 0 0;
}
a.advancedSearch:hover{
color:#999999;
}
.TopTitleBgr{
background: url(../images/BlockTitle.gif) repeat-x left bottom #efefef;
border:0px solid #e2e2e2;
color: #333333;
}
.block-categories-list{

}
.block-categories-list ul.CategoryList li{
}
.block-categories-list ul.CategoryList li a{
font-weight:normal;
font-size:13px;
color:#006AB4;
}
.block-categories-list ul.CategoryList li ul li a{
font-weight:normal;
text-decoration:none;
color:#006AB4;
}
.block-categories-list ul.CategoryList a:hover, .block-categories-list ul.CategoryList li ul li a:hover{
color:#ff9933;
text-decoration:none;
}
.block-categories-list ul.CategoryList .selectedtopCategory a, .block-categories-list ul.CategoryList .selectedsubCategory a{
color:#ff9933;
text-decoration:none;
}
.block-categories-list ul.CategoryList .selectedtopCategory ul li a, .block-categories-list ul.CategoryList .selectedsubCategory ul li a{
color:#006AB4;
}
#lft .block-categories-list .MiddleCenter {overflow: visible;position:relative; z-index: 90;}
.footerAll{
padding:7px 20px 0 20px;
color:#006AB4;
}
.footerAll a{
color:#006AB4;
}
.footerAll .footerImg, .footerAll .footerHTML, .footerMenu span{
display:none;
}
.footerMenu a{color:#006AB4;}
.footerAll .block-simple .usualbg p{
margin:0px;
padding:0px;
}
#vverh{
width:101px;
height:30px;
position:absolute;
right:30px;
bottom:20px;
}
#vverh a{
display:block;
color:#006AB4;
background: url("../images/subm.png") no-repeat;
width:101px;
padding:7px 0 0 0;
height:23px;
text-align:center;
font-weight:bold;
text-decoration: none;
}
#vverh a:hover{color:#006AB4;background: url("../images/submact.png") no-repeat;}
#coop_bl{
width:100%;
height:70px;
position:relative;
}
#cooper{
position:absolute;
top:55px;
right:20px;
}
#cooper a{
color:#006AB4;
font-size:11px;
}
#cooper a:hover{
color:#999999;
}
a#zadat{
display:block;
}
a#zadat span{
display:block;
background: url("../images/zadat.png") no-repeat;
width:212px;
height:43px;
}
a#zadat span:hover{
background: url("../images/zadatact.png") no-repeat;
}
#butti a{
clear:both;
}
.BreadcrumbsBgr div a{color:#006AB4;font-size:11px;}
.BreadcrumbsBgr div a.treeItemLast{color:#006AB4;font-size:11px;}
.BreadcrumbsBgr div a:hover{color:#999999;}
.block-top-rated .MiddleCenter .top{clear:both;}

.block-product-details h1 img{
overflow: visible;
height:30px;
}
.akcia img{
width:55px;
height:21px;
}
.price_n{
text-decoration: line-through;
font-size:12px;
}
.headerAll .headerAllMiddle .TopMenu li a .nobr{text-transform: uppercase;}
.prais div.priceBlockOld, .prais div.salesBlock{
width:100px;
}
.butTd a.button-checkout{

}
.butTd a.button-checkout span{	
	display:block; 
	width: 180px;
	height: 27px;
	padding:7px 0px 0 0;
	color: #fff; 
	font-size: 14px; 
	white-space: nowrap;
	background: url(../images/buttonof.png) no-repeat;	
	margin-top: 10px;
text-align:center;
font-weight:normal;
float:right;
}
.butTd a.button-checkout:hover span{
background: url(../images/buttonofact.png) no-repeat; color: white;text-decoration:none;
}
.SubCategoryList .subCategory a.title{text-decoration:none;}
.block-top-rated .TopTitle, .block-products-top-viewed .TopTitle{
background:#f4f4f7;
}


.block-top-rated .TopTitleBgr{
background: url(../images/rad.png) no-repeat #fff;
padding-left:40px;
color:#ff9933;
border: 1px solid #ff9933;
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px; /* Safari, Chrome */
  	-khtml-border-radius: 5px; /* KHTML */
  	border-radius: 5px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
}


#rht .block-products-top-viewed .TopTitleBgr{
background: url(../images/popul.png) no-repeat #fff;
padding-left:40px;
color:#ff9933;
border:1px solid #ff9933;
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px; /* Safari, Chrome */
  	-khtml-border-radius: 5px; /* KHTML */
  	border-radius: 5px; /* CSS3 */
  	behavior: url(border-radius.htc);/* СѓС‡РёРј IE border-radius */
}
#rht .block-products-top-viewed .TopTitleBgr div, #rht .block-top-rated .TopTitleBgr div{color:#ff9933;}

.block-categories-catalog td img{margin-top:-4px;}
.block-categories-catalog a{
font-size:13px; 
}

.block-product-details .TopTitleBgr h1{
font-size:18px;
margin-top:7px;
font-weight:normal;
}
.TopTitleIco a{
position:relative;
z-index:50;
}
.block-product-details .button{float:none;clear:both;}
.block-product-details .button-add {
    background: url("../images/dobpod_cor.png") no-repeat scroll 0 0 transparent;
    clear: none;
    color: #FFFFFF;
    display: block;
    float: none;
    font-size: 16px;
	font-weight: bold;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px 0 0 19px;
    width: 195px;
    text-align:center;
}
#accessories_data .button.button-add, #accessories_data .button.button-add:hover{
width:105px;
}
.block-product-details .button-add:hover{
background: url(../images/dobpod_coract.png) no-repeat;
}
.productsTable .button-add, table .button-add{
display:block;
background: url(../images/dob_cor.png) no-repeat;
float:none;
clear:none;
width:90px;
height:33px;
padding:4px 0 0 55px;
font-size:14px;
color:#FFF;
text-align:left;
margin:10px 0 0 10px;
}
.productsTable .button-add:hover, table .button-add:hover{
background: url(../images/dob_coract.png) no-repeat;
}
.block-product-details .smallText{}
#menubox{background:#f5f5f5;padding-bottom:15px;padding-top:10px;}
#menubox .leftSecond,#menubox .rightSecond {min-height: 20px; width:25%; }
#menubox .middleSecond{width:50%;}
#menubox .middleSecond .block-navigation{width:50%;float:left;}
#menubox .TopTitleBgr{background:none;
border:0px;}
#menubox .TopTitleBgr div{
font-size:13px;
color:#000000;

}
#menubox .BlockMiddle, #menubox .BlockMiddle .MiddleCenter{
list-style:none;	
background:none;
}

#menubox .BlockMiddle ul{
}
#menubox .BlockMiddle ul li{
padding:0px 0 0 15px;
}
#menubox .BlockMiddle .mtyp{
margin-top:-2px;
}
#menubox .BlockMiddle ul li a.customMarked{
font-weight:normal;
color:#006AB4;
font-size:13px;
}

.siteTopRight .BlockTop{
display:none;
}
.siteTopRight .BlockMiddle, .siteTopRight .BlockMiddle .usualbg{
padding:0px;
margin:0px;
}
.siteTopRight a{margin-right:10px;}
#aut .aut{display:block;margin:2px 0 0 0px;width:190px; text-align:right;}
.block-login .submit2{
background: url(../images/button_v.png) no-repeat;
width:62px;
height:20px;
padding:0px 0 3px 0;
border:0px;
font-size:12px;
color:#006AB4;
font-weight:bold;
cursor:pointer;
}
#footer{
background: url(../images/foot.png) repeat-x;
height:129px;
padding:0px;
margin:0px;
color:#fff;
font-size:12px;
}
#footer .footerLeft{
width:30%;
float:left;
}
#footer .footerMiddle{
margin:-20px 0 0 0;
width:30%;
}
#footer .footerRight{
margin-top:-30px;
width:40%;
float:right;
}
#menubox .block-navigation .BlockMiddle li a{font-weight:normal;}
#menubox .block-navigation .BlockMiddle li a.customActive:hover{color:#999999;}
.productmanuf, .productCode{color:#000;font-size:12px;}
.productmanuf b, .productCode b{color:#000;font-size:12px;font-weight:normal;}
#tovar_id{float:left;color:#a7a7a7;font-size:12px;}
.foottel{font-size:24px;
display:block;
margin-top:7px;
margin-left:25px;
text-indent: 0px;
}
/* .salesBlock .salesPrice{color:#ff6600;}
.priceSaveBlock .price, .priceSaveBlock .percent{color:#ff6600;font-size:18px;}*/
#menubox .leftSecond .BlockMiddle .MiddleCenter .customMenu1{
list-style:none;
}

.button-wishlist{
padding:6px 0 18px 20px;
background: url(../images/izbr.png) no-repeat 0% 50%;
display:block;
height:9px;
margin-top:0px;
float:left;
}
.button-shipping{
margin-top:0px;
padding:6px 0 18px 20px;
background: url(../images/kalk.png) no-repeat 0% 50%;
display:block;
height:9px;
}
#viewform:hover, #viewform1:hover, .block-product-details .button-shipping:hover, .block-product-details .button-wishlist:hover{color:#999999;}


#head_ll .BlockMiddle a:hover span{color:#999999;}

#vid_vivod{text-align:right;height:20px;padding:5px 0 0 0;}
#vid_vivod a{position:relative;padding:0 24px 0 0;}
#vid_vivod img{position:absolute;right:0px;top:-4px;}

.block-filter .nfiltr{padding:0px 0 0 10px; background: url(../images/dost/orstr30.png) no-repeat left center; width: 230px; height:30px; display:table-cell; color:#fff; font-weight:bold;vertical-align:middle;}
.block-filter .fvibr{ color:#ff9933;}
.block-categories-list ul.CategoryList li{padding:0px 0 0 4px;margin:-5px 0 -5px 0;background:#f5f6f8;border-top:1px solid #FFF;}
.block-categories-list ul.CategoryList li a{padding:0px 0 0px 0;margin:0;}
.block-categories-list ul.SubCategoryList{padding:5px 0 10px 10px;}

.gelt {background: #ff9933; color:#fff; padding: 1px;}
.gelt2 {background: #ff9933; color:#fff; padding: 2px; font-size:14px; width:210px;}
#accessories_data .button-add{
width:67px;
 background: url(../images/buttonkor.png) no-repeat;
}
#accessories_data .button-add:hover{
width:66px;
 background: url(../images/buttonkoract.png) no-repeat;
}
.block-sliders-content .BlockData{
text-align:center;
margin:0 auto;
}
.block-sliders-content .BlockData a{
display:none;
}
.block-sliders-content .BlockData #slid_im a{
display:block;
}
.offerButtons{
margin:10px 0 0 0;
position:relative;
text-align:right;
}
.offerButtons .button-add{
float:right;
}
.block-user-product ul.AdminTabs, .block-user-product li.AdminTabs, .block-user-product div.AdminTabs, div.AdminTabs a{
background:none;
}
.block-offers table tr td{text-align:center;}
.block-offers img.offerImg{
display:block;
margin:0 auto;
}
.block-offers .button-add{ background: url(../images/dob_cor.png) no-repeat;width:145px;padding:2px 0 0 24px;height:37px;float:none;margin:0 auto;margin-top:20px;}
.block-offers .button-add span{display:block;text-align:center; }
.block-offers .button-add:hover{ background: url(../images/dob_coract.png) no-repeat;}
.block-offers .priceBlockOld,.block-offers .salesBlock, .block-offers .buttonMore, .block-offers .priceBlock{text-align:center;margin:0 auto;}
.block-offers .buttonMore{float:none;margin-top:10px;margin-bottom:10px;}
.block-offers .offerText	{text-align:centr;}
#mdd{font-size:13px;}
.button-wishlist a:hover, .button-shipping a:hover{color:#999999;}

/*slider blz popular*/

.bPopular{margin:0 auto;padding-top:1px;}
.bPopular .bpHead{width:210px;height:25px;margin:15px 0 0 20px;font:22px Arial, arial;color:#666;}

.sliderHover {
    height: 290px;
    margin-top: 55px;
    overflow: hidden;
    position: relative;
}
.sliderContainer{height:290px;position:absolute;}
.bPopular .tabs{margin:18px 0 0 100px;}
.bPopular .tabs span{display:block;float:left;margin-right:35px;color:#fa6900;text-decoration:underline;font-size:12px;font-family:tahoma;}
.bPopular .tabs span:hover{cursor:pointer;text-decoration:none;}
.bPopular .tabs span.tAcrive{cursor:default;text-decoration:none;}
.bPopular .popData .sOImg a{display:block;width:180px;height:180px;overflow:hidden;margin:0 auto;}
.popData{
height:290px;
margin-top: 0px;
overflow: hidden;
position: relative;
width: 700px;
}

.sOfferRow {
    float: left;
    height: 290px;
    overflow: hidden;
    position: relative;
    width: 650px;
}

.sRotator {
height: 290px;
left: 0;
position: absolute;
top: 0;
width: 1200px;
}

.sItem {
float:left;
margin:0 20px 20px 0;
height:260px;
width:198px;
border:1px solid #ddd;
background-color:#fff;
box-shadow: 0 6px 6px -6px #000;
overflow:hidden;
position:relative;
}
.cPrev, .cNext{
height: 58px;
margin-top: 30px;
width: 37px;}

.cNext, .cPrev {
    height: 36px;
    margin-top: 110px;
    width: 18px;
    visibility:hidden;
}
.cNext:hover, .cPrev:hover, #mMoveBackward:hover, #mMoveForward:hover{
cursor:pointer;
}
.cNext {
    background: url("../images/blz_carousel/prev_next_btn_sprite.png") no-repeat scroll -18px 0 transparent;
    float: right;
    margin-right: 0px;
}
.cPrev {
    background: url("../images/blz_carousel/prev_next_btn_sprite.png") no-repeat scroll 0 0 transparent;
    float: left;
    margin:110px 8px 0 3px;
}
h2.pItemTitle{padding:0 5px;text-align:center;}
h2.pItemTitle a{font-size:12px;font-weight: 300;font-family:tahoma;}

.sOImg{text-align:center;padding:10px 0 0 0;}

/*offer and catalog popwindow*/
.blzPreview{
padding:20px 10px 10px;
background-color: #fff;
border: 1px solid #ddd;
font-family:tahoma;
text-align:center;
}
.pTitle{margin:10px 0;text-align:center;font-weight:700;color:#FA6900;}
.blzText{text-align:justify;width:300px;color:#333;margin:10px auto 0;}

/*** Block Random Items ***/
.item {border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; float: left;}
.item_right {border-bottom: 1px solid #ddd; float: left;}
.item_bottom {border-right: 1px solid #ddd; float: left;}
.item_bottom_right {float: left;}

/***  ***/
.dopmenu {
margin-top: -42px;
margin-left: -100px;
padding:0px;
font-size: 15px;
text-align:center;
color: #996600;
}

.dopmenu a {
padding-left:4px;
font-size: 15px;
text-align:center;
color: #FF6600;
font-weight: normal; 
}

#block_cont{
position:relative;
height:130px;
}
#block_cont > div{
position:absolute;
}
#block_cont .blc_l{
top:5px;
left:0px;
}
#block_cont .blc_m{
top:21px;
left:163px;
}
#block_cont .blc_r{
top:22px;
left:370px;
}
.blc_r > span{
display:block;
}
#hl_telbes{
}
.hl_col, .hl_col:hover{
text-decoration:none !important;
}

#bl_pod{height:100px; text-indent: 0px;}
#bl_pod h2{font-size:12px;color:#000;margin:0 0 10px 0px;}
#bl_pod span{display:block;margin:0px 0 10px 0px;padding:0 0 0 0px; text-align: left;}
#bl_pod #pod_idea a{background: url(../images/lampa.png) no-repeat; padding:0 0 0 20px; text-indent: 0px;}
#bl_pod #pod_pokr a{background: url(../images/vo.png) no-repeat; padding:0 0 0 20px; text-indent: 0px;}
#bl_pod #pod_pokr1 a{background: url(../images/vo1.png) no-repeat; padding:0 0 0 20px; text-indent: 0px;}
#bl_pod #pod_pohv a{background: url(../images/fu.png) no-repeat; padding:0 0 0 20px; text-indent: 0px;}
#bl_pod{
padding-top:0px;
position:relative !important;
height:45px;
display:block;
margin-left:10px;
}
.bl_pod_left{
width:110px;
position:absolute;
}
.bl_pod_right{
width:90px;
position:absolute;
right:0px;
}
/*
.block-products-list .width_center{
text-align:center;
}
.block-products-list .width_left{
text-align:left;
}
*/

.gorod{
padding-left:20px;
color:#a7a7a7;
font-size:14px;
margin-top:0px;
width:400px;
font-family: Arial Narrow; 
}
.gorod a{
font-size:14px;
font-weight:normal;
}

.gorod select {border-top: 1px solid #999999;border-right: 1px solid #999999;border-bottom: 1px solid #BACDDF;border-left: 1px solid #7F9DB9; font: 14px Arial Narrow;}

.bPopular .priceBlock{
background: url(../images/ui/blz_offers/stripLine.png) no-repeat scroll 0 0 transparent;
width:102px;
height:29px;
color:#fff;
padding:5px 0 0 5px;
position:absolute;
right:0;
top:12px;
text-align:center;
}

/*products listing view*/
.viewSelections{
text-align:right;
padding-bottom:3px;
}
.viewSelections a{
margin-right:5px;
}
.viewSelections a.active{
font-weight:700;
}
.viewSelections a img{
position:relative;
top:8px;
left:4px;
}
div.oneCat{
border-bottom:1px solid #ddd;
}
ul.categorySelector{
padding-left:0;
}
ul.categorySelector span.signPlus{
background:url(../images/icons/plus.gif) 0 0 no-repeat;
width:11px;
height:11px;
display:block;
float:left;
margin-top:2px;
}
ul.categorySelector span.signMinus{
background:url(../images/icons/minus.gif) 0 0 no-repeat;
width:11px;
height:11px;
display:block;
float:left;
margin-top:2px;
}
ul.categorySelector li{
list-style:none;
}
ul.categorySelector > li{
font-size: 14px;
}
ul.categorySelector span.signPlus:hover{
cursor:pointer;
}
div.selectedCat{
margin:3px 0;
padding:7px 5px;
border-radius:3px;
border:1px solid #666;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}
div.removeSelected{
width:140px;
font-size:14px;
font-weight:700;
color:#fff;
border-radius:3px;
background: #f0b7a1;
padding:5px 10px;
text-align:center;
background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e));
background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
background: -o-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
background: -ms-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 );
margin: 3px 0;
}
div.removeSelected:hover, .postAllowed:hover{
cursor:pointer;
}
.subsLi.noClildren{
padding-left: 11px;
}
ul.subs{
margin-bottom:7px;
}
small.postAllowed{
text-decoration:underline;
}
.subsLi.postDisallowed{
text-decoration:none;
}
small{
font-size:12px;
}
.topNavCust .padding10px{padding-bottom:0;}


/*merchant info styles*/
#rht .merchantLogoContainer{
text-align:center;
}
#mdd .merchantLogoContainer{
float:right;
margin-top:-40px;
}
#mdd .block-merchant-info h3{
text-indent:0;
}
#rht .block-merchant-info h3{
text-indent:0;
}
.merchantReviewsLinks{
margin-top:-10px;
}

#rht .shippingDetails{
color:#aaa;
font-size:11px;
}
#showMerchantWarrantyInfo, #showMerchantLegalInfo{
color:#006AB4;
text-decoration:underline;
}
#showMerchantWarrantyInfo:hover, #showMerchantLegalInfo:hover{
cursor:pointer;
}
#merchantWarrantyInfo, #merchantLegalInfo{
display:none;
}

.pageCloud, .pageCloudL{
background-color: #000;
height: 100%;
opacity: 0.6;
position: fixed;
top: 0;
width: 100%;
z-index: 20000;
}

.WarrantyText, .LegalText{
background-color: #fff;
border:7px solid #006AB4;
border-radius:14px;
height: 400px;
overflow:auto;
position: fixed;
top: 100px;
padding:20px;
width: 400px;
z-index: 20001;
}
.LegalText{
    top: 200px;
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    height: 250px;
}
.buttonClose{
    background: url("../images/buttonof.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: normal;
    height: 27px;
    margin-top: 25px;
    padding: 7px 0 0;
    text-align: center;
    white-space: nowrap;
    width: 180px;
}
.buttonClose:hover{
cursor:pointer;
font-weight: 700;
}
.LegalText .buttonClose{
position: absolute;
bottom:3px;
right: 3px;
}
/*merchant info styles end*/

/*order info button close*/
.LegalText .buttonClose.oInf{
position:relative;
bottom:5px;
}
/*quantity styles*/
.quantityContainer{
display: inline-block;
margin-bottom: -9px;
margin-left: 5px;
}
.quantityUp{
background: url("../images/ui/buttons/quantityControls.png") no-repeat scroll 0 0 transparent;
width:15px;
height:14px;
margin-bottom:1px;
}
.quantityDown{
background: url("../images/ui/buttons/quantityControls.png") no-repeat scroll 0 -14px transparent;
width:15px;
height:14px;

}
.quantityUp, .quantityDown{
cursor:pointer;
}

.applayCurrent{
background: url("../images/ui/buttons/iconApply.png") no-repeat scroll 0 0 transparent;
width:15px;
height:15px;
margin-right:1px;
display:none;
}
.applayCurrent:hover{
cursor:pointer;
}
/*quantity styles end*/

.block-merchant-info #info > div{
padding:3px 0;
}
.cls{clear:both;}
.mSite{
	width:230px;
	float:left;
	margin-right:10px;
	margin-bottom:5px;
}
.mSite label:hover{
cursor:pointer;
}

.defaultHidden, .shippingTypesDescBlock{
display:none;
}

.shipDetails{
font-size: 11px;
text-decoration:underline;
color:#006AB4;
cursor:pointer;
}
.usualbg.supportInfo td{
border-bottom: 1px solid #999;
background-color: #fff;
font-size: 12px;
padding: 4px 20px;
}