/*** General styles ***/
body			{font: 11px Tahoma, Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background: #FE9000 url(../images/fashion/body-bgr.gif) repeat-x 0px 0px;}
body.popup	{font: 11px Tahoma, Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background: #FE9000;}

tr, td		{font: 11px Tahoma, Arial, Helvetica, sans-serif; color: #000000;}

h1, h2		{padding: 0px; margin: 0px;}

a						{color: #000000; outline: 0px; text-decoration: underline;}
a:hover				{text-decoration: none;}
a.header 			{color: #FFFFFF;}
a.header:hover		{color: #FAF7AA; text-decoration: underline; }

input					{color: #000000; font: 12px Tahoma,Arial,sans-serif;}
input.search,		
input.text,			
input.field, 
input.fieldSmall	{background: #FFFCC0; border: 1px solid #C56A1A; margin: 3px 0px;}
input.search		{font-size: 11px;}
input.fieldSmall	{width: 120px;}
input.submit		{
	background: url(../images/fashion/button-right.gif) no-repeat right; 
	border: 0px; 
	color: #000; 
	cursor: pointer; 
	font-size: 13px; 
	height: 28px; 
	margin: 0px;
	padding: 0px 13px 3px 0px; 
}
	input#clear		{color: #8A8A8A;}
	input#reset		{color: #8A8A8A;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #8A8A8A;}
	input#delete	{color: #8A8A8A;}
select				{background: #FFFCC0; border: 1px solid #C56A1A; color: #000000; font: 12px Tahoma,Arial,sans-serif; margin: 3px 0px;}
textarea				{background: #FFFCC0; border: 1px solid #C56A1A; color: #000000; font: 12px Tahoma,Arial,sans-serif; margin: 3px 0px;}

span.submit {background: url(../images/fashion/button-left.gif) no-repeat left; font: 25px Arial; padding-left: 13px !important; white-space: nowrap; display: inline-block;}

.middlebg 			{background: #E58200; font-weight: bold;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center;}
.popup 
.errorbg				{padding: 4px;}
.messagebg  		{color: #0000CC; font-weight: bold; padding: 6px; text-align: center;}
.block-order-info 
.messagebg  		{padding: 2px 6px; text-align: right;}

.padding10px				{padding: 10px;}
.block-categories-list 
.padding10px				{padding: 10px 0px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin: 0px 10px 5px 0px;}
.ArticleDescription	{padding: 10px 0px;}

.introBlock {border: 1px solid #FE9000; margin: 5px; padding: 6px;}

.articleDate	{color: #6E1900; font-size: 11px; font-style: italic; }
.titleText		{color: #000000; text-decoration: none; }
.top				{font-size: 11px;}
.smallText		{font-size: 11px;}
.middleText		{font-size: 13px;}
.bigText			{font-size: 14px;}
.comment			{font-size: 11px; color: #343434;}
.required		{color: #FF0000;}
.message			{color: #FFFFFF;}
.title			{font-size: 13px; font-weight: bold;}
.bigtitle		{font-size: 14px; font-weight: bold;}
.error			{color: red; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: #C5CCD0; text-decoration: underline;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}
/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{margin: auto; padding: 0; text-align: left;}
.headerStyle	{background: url(../images/fashion/logo-bgr.gif) no-repeat left top; padding: 0 20px; position: relative; z-index: 100;}
.contentStyle	{clear: both; height: 1%; overflow: hidden; padding: 10px 20px; position: relative; z-index: 1;}
.footerStyle	{clear: both;}

.leftStylePadding		{padding: 0 10px 0 0;}
.rightStylePadding	{padding: 0 0 0 10px;}

/* Four frames */
.fourFrames .hotStyle			{float: left; position: relative; width: 80%;}
.fourFrames .leftStyle			{float: left; position: relative; width: 25%;}
.fourFrames .centerStyle		{float: left; position: relative; width: 75%;}
.fourFrames .rightStyle			{float: left; position: relative; width: 20%;}

/* Three frames */
.threeFrames .leftStyle		{float: left; position: relative; width: 20%;}
.threeFrames .centerStyle	{float: left; position: relative; width: 60%;}
.threeFrames .rightStyle	{float: left; position: relative; width: 20%;}

/* Two frames */
.twoFrames .leftStyle	{float: left; position: relative; width: 30%;}
.twoFrames .centerStyle	{float: left; position: relative; width: 70%;}

/* One frames */
.oneFrame .centerStyle	{position: relative; width: 100%;}
/*** Frame set ***/

/*** Header ***/
.Header {height: 120px; margin: auto auto 15px auto; position: relative; z-index: 100;}
.HeaderLogo {float: left;} 
.HeaderLogo img {border: none; margin: 40px 25px 25px 5px;}
.HeaderMenu {margin: 0px 0px 0px 250px; padding: 53px 20px 0px 0px;}

/* Top Menu */
.TopMenu 			{display: block; height: 47px; margin: 0px; overflow: hidden; padding: 0px 0px 0px 0px; z-index: 20;}
.TopMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap;}
.TopMenu li.topmenu		{background: url(../images/fashion/tmenu-bgr.gif) repeat-x top; padding: 0px; z-index: 50;}
.TopMenu li.begin			{background: url(../images/fashion/tmenu-left.gif) no-repeat top left;}
.TopMenu li.begin img	{margin: 23px 6px;}
.TopMenu li.end			{background: url(../images/fashion/tmenu-right.gif) no-repeat top right;}
.TopMenu li.end img		{margin: 23px 7px;}

/* Top Menu Links */
a.menu					{color: #D37310; display: block; font: 14px/17px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 15px 20px; text-decoration: none; text-transform: uppercase;}
a.menu:hover			{color: #D37310;}
a.menuActive			{color: #291310; display: block; font: 14px/17px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 15px 20px; text-decoration: none; text-transform: uppercase;}
a.menuActive:hover	{color: #291310;}

/* Secondary Menu */
ul.secondaryMenu 			{display: block; height: 35px; margin: 0px 0px 0px 15px; overflow: hidden; padding: 0px 0px 0px 0px; z-index: 20;}
ul.secondaryMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{background: url(../images/fashion/tmenu-bgr.gif) repeat-x bottom; padding: 0px;}
ul.secondaryMenu li.secondaryBegin			{background: url(../images/fashion/tmenu-left.gif) no-repeat left bottom;}
ul.secondaryMenu li.secondaryBegin img		{margin: 16px 6px;}
ul.secondaryMenu li.secondaryEnd				{background: url(../images/fashion/tmenu-right.gif) no-repeat right bottom;}
ul.secondaryMenu li.secondaryEnd img		{margin: 16px 7px;}

/* Secondary Menu Links */
a.secondaryMenu 			{color: #D37310; display: block; font: 14px/17px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 5px 20px 13px 20px; text-decoration: none; text-transform: uppercase;}
a.secondaryMenu:hover 	{color: #D37310;}
a.secondaryMenuActive 			{color: #291310; display: block; font: 14px/17px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 5px 20px 13px 20px; text-decoration: none; text-transform: uppercase;}
a.secondaryMenuActive:hover	{color: #291310;}

/* Sub Menu */
.SubMenu 		{border: 1px solid #500000; border-bottom: none; display: none; margin: -5px 0px 0px 0px; padding: 0px; position: absolute; width: 150px;}
.SubMenu li 		{border-top: none !important; border-bottom: 1px solid #500000; display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap; width: 150px;}
.SubMenu li.topmenu		{padding: 0px; position: relative;}
.SubMenu li.secondaryMenu	{background: none !important; padding: 0px !important; position: relative;}
.SubMenu a.menu				{background: #BC5A00 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.menu:hover		{background: #E99140 !important; color: #FEFFB0;}
.SubMenu a.secondaryMenu			{background: #BC5A00 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenu:hover	{background: #E99140 !important; color: #FEFFB0;}
.SubMenu a.secondaryMenuActive			{background: #BC5A00 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenuActive:hover	{background: #E99140 !important; color: #FEFFB0;}

.SubMenu ul		{border: 1px solid #500000; border-bottom: none; display: none; left: 150px; margin: 0px; padding: 0px; position: absolute; top: -1px;}
.SubMenu span.nobr      {white-space: normal !important;}
/*** Header ***/

/*** Breadcrumbs ***/
.BreadcrumbRightBgr {border: 1px solid #C56A1A; height: 100%; margin: 0px 0px 15px 0px; overflow: hidden; position: relative;}
.BreadcrumbRSS {float: right; padding: 4px 10px; text-align: right;}
.Breadcrumbs {background: none;  overflow: hidden; height: 100%;}
.BreadcrumbsBgr {padding: 5px 0px 5px 10px;}
.BreadcrumbsBgr a.treeItemLast {font-weight: bold; text-decoration: none; cursor: text;}
.BreadcrumbsBgr a.treeItemLast:hover {font-weight: bold; cursor: text;}
.BreadcrumbsBgr span {display: none;}
.BreadcrumbsBgr img {width: 3px; height: 3px; background: #fe9000; margin: 0px 5px 2px 5px;}

/* Step to Order Pages */
.BreadcrumbsBgr span.nonactive {display: inline; font-weight: bold; color: #500000; margin-right: 10px;}
.BreadcrumbsBgr span.active {display: inline; font-weight: bold; color: #FF9900; margin-right: 10px;}
/*** Breadcrumbs ***/

/*** Structure of Block ***/
.BlockTop {position: relative; width: 100%;}
.TopCenter {background: url(../images/fashion/block-all-t-l.gif) no-repeat top left; padding-left: 5px; position: relative;}
.TopLeftBgr {background: url(../images/fashion/block-all-bgr.gif) repeat-x top; position: relative;}
.TopRightBgr {background: url(../images/fashion/block-all-bgr.gif) repeat-y right; height: 100%; overflow: hidden; position: relative;}

.TopTitleIco {float: right; padding: 13px; text-align: right;}
.TopTitle {background: none;  overflow: hidden; height: 100%;}
.TopTitleBgr {color: #332410; font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 13px; text-align: left; text-transform: uppercase;}
.TopTitleBgr h1 {color: #332410; font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align: left; text-transform: uppercase;}

.BlockMiddle {background: url(../images/fashion/block-all-bgr.gif) repeat-y right; position: relative;}
.MiddleCenter {background: url(../images/fashion/block-all-bgr.gif) repeat-y left; overflow: hidden; height: 100%; padding: 0px 10px; position: relative;}
.BlockData { position: relative; overflow: hidden; }

.BlockBottom {display: block; margin-bottom: 15px; position: relative; font-size: 1px;}
.BottomCenter {background: url(../images/fashion/block-all-bgr.gif) repeat-x bottom; overflow: hidden; height: 100%;}
.BottomRight {float: right; height: 1px; width: 1px;}
/*** Structure of Block ***/

/*** Structure of Block Without Title ***/
.hidden-title .BlockTop, 
.block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.hidden-title .TopCenter, 
.block-simple .TopCenter {background: url(../images/fashion/block-all-t-l.gif) no-repeat top left; overflow: hidden; height: 5px;}
.hidden-title .TopLeftBgr, 
.block-simple .TopLeftBgr {background: url(../images/fashion/block-all-bgr.gif) repeat-x top;}
.hidden-title .TopRightBgr, 
.block-simple .TopRightBgr {background: url(../images/fashion/block-all-bgr.gif) repeat-y right; overflow: hidden; height: 5px;}
.hidden-title .TopTitle { display: none; }
/*** Structure of Block Without Title ***/

/*** Structure of Block Left Column ***/
.leftStyle .TopCenter {background: url(../images/fashion/block-div-l.gif) no-repeat left 0px; padding-left: 23px;}
.leftStyle .TopLeftBgr {background: url(../images/fashion/block-t-r.gif) no-repeat right 15px; padding-right: 10px;}
.leftStyle .TopRightBgr {background: url(../images/fashion/block-bgr.gif) repeat-x 0px 15px;}

.leftStyle .TopTitleBgr {background: url(../images/fashion/block-div-r.gif) no-repeat right 0px; float: left;}
.leftStyle .TopTitleBgr div {padding: 2px 10px 3px 0px;}
.leftStyle .TopTitleBgr h1 {padding: 2px 10px 3px 0px;}

.leftStyle .BlockMiddle {background: url(../images/fashion/block-bgr.gif) repeat-y right; position: relative;}
.leftStyle .MiddleCenter {background: url(../images/fashion/block-bgr.gif) repeat-y left; overflow: hidden; height: 100%; padding: 0px 10px;}

.leftStyle .BlockBottom {background: url(../images/fashion/block-b-l.gif) no-repeat left bottom; padding-left: 5px;}
.leftStyle .BottomCenter {background: url(../images/fashion/block-b-r.gif) no-repeat right bottom; padding-right: 5px;}
.leftStyle .BottomLeft {background: url(../images/fashion/block-bgr.gif) repeat-x bottom; float: none; overflow: hidden; height: 6px;}
.leftStyle .BottomRight {display: none;}

.leftStyle .hidden-title .BlockTop, 
.leftStyle .block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.leftStyle .hidden-title .TopCenter, 
.leftStyle .block-simple .TopCenter {background: url(../images/fashion/block-t-l.gif) no-repeat left 0px; height: 6px; overflow: hidden; padding-left: 5px;}
.leftStyle .hidden-title .TopLeftBgr, 
.leftStyle .block-simple .TopLeftBgr {background: url(../images/fashion/block-t-r.gif) no-repeat right 0px; padding-right: 5px;}
.leftStyle .hidden-title .TopRightBgr, 
.leftStyle .block-simple .TopRightBgr {background: url(../images/fashion/block-bgr.gif) repeat-x 0px 0px; height: 6px; overflow: hidden;}
.leftStyle .hidden-title .TopTitle { display: none; }
/*** Structure of Block Left Column ***/

/*** Structure of Block Center Column ***/
/*** Structure of Block Center Column ***/

/*** Structure of Block Right Column ***/
/*** Structure of Block Right Column ***/

/*** Structure of Offers and Categories Blocks ***/
.block-categories-catalog .TopCenter {background: none;}
.block-categories-catalog .TopLeftBgr {background: none;}
.block-categories-catalog .TopRightBgr {background: none;}
.block-categories-catalog .BlockMiddle {background: #D57C2E url(../images/fashion/browse-bgr.gif) no-repeat left top;}
.block-categories-catalog .MiddleCenter {background: none; padding-left: 20px;}
.block-categories-catalog .BottomCenter {background: none;}
.block-categories-catalog .BottomLeft {background: none;}
.block-categories-catalog .BottomRight {background: none;}

.block-offers {background: url(../images/fashion/offers-bgr.gif) repeat center; margin-bottom: 15px;}
.block-offers .TopCenter {background: url(../images/fashion/offers-img-all.jpg) no-repeat right top;}
.block-offers .TopLeftBgr {background: none;}
.block-offers .TopRightBgr {background: none;}
.block-offers .TopTitleBgr {color: #E0CC89; font: lighter 30px/82px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 0px 13px; text-align: left; text-transform: none;}
.block-offers .BlockMiddle {background: url(../images/fashion/offers-img-all.jpg) no-repeat right -82px;}
.block-offers .MiddleCenter {background: url(../images/fashion/offers-sale.gif) no-repeat right 82px; padding: 0px 300px 0px 10px;}
.block-offers .vDelimiter {border-right: none;}
.block-offers .hDelimiter {background: none; border: 0px;}
.block-offers .BlockBottom {display: none;}

.mainTableCellLeft .block-offers .TopCenter {background: none;}
.mainTableCellLeft .block-offers .TopTitleBgr {background: none; color: #E0CC89; font: lighter 30px/30px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 13px; text-align: left; text-transform: none;}
.mainTableCellLeft .block-offers .BlockMiddle {background: none;}
.mainTableCellLeft .block-offers .MiddleCenter {background: none; padding: 0px;}

/*** Structure of Offers and Categories Blocks ***/

/*** User Home Page ***/
.UHBRows				{clear: both;}
.UserHomeBlock		{float: left; position: relative; width: 49%;}
.UHBContent			{padding: 7px;}
.UHBContent div 	{margin: 0px 0px 0px 50px;}

.userHomeLogout 		{clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a 	{color: #FEFFB0; font-weight: bold;}

.UserHomeBlock img.orders 					{background: url(../images/icons/admin_orders_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 				{background: url(../images/icons/admin_profile_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 				{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 				{background: url(../images/icons/admin_support_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 					{background: url(../images/icons/admin_forum_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 				{background: url(../images/icons/admin_products_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 					{background: url(../images/icons/admin_pages_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders			{background: url(../images/icons/admin_salesorders_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 				{background: url(../images/icons/admin_merchant_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates 			{background: url(../images/icons/admin_affiliates_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments 				{background: url(../images/icons/admin_payments_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts	 				{background: url(../images/icons/admin_carts_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist 				{background: url(../images/icons/admin_wishlist_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders				{background: url(../images/icons/admin_reminders_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd span.spacer {display: none;}	/* '|' between button */


a.button {display: inline-block; color: #000; font: normal normal normal 11px/28px "Trebuchet MS", Arial; text-decoration: none; background: url(../images/fashion/button-left.gif) no-repeat left; padding: 7px 5px 7px 13px; white-space: nowrap;}
a.button span 			{padding: 7px 13px 7px 0px; font: 11px "Trebuchet MS", Arial; cursor: pointer; white-space: nowrap; background: url(../images/fashion/button-right.gif) no-repeat right;}
a.button img 			{display: none;}
a.button-add span 			{font-weight: bolder;}

a.buttonBasket {display: inline-block; color: #000; font: normal normal normal 11px/28px "Trebuchet MS", Arial; text-decoration: none; background: url(../images/fashion/button-left.gif) no-repeat left; padding: 7px 0px 7px 13px; white-space: nowrap;}
a.buttonBasket span 			{padding: 7px 13px 7px 0px; font: 11px "Trebuchet MS", Arial; cursor: pointer; white-space: nowrap; background: url(../images/fashion/button-right.gif) no-repeat right;}
a.buttonBasket img 			{display: none;}

a.buttonCart {display: inline-block; color: #000; font: normal normal normal 11px/28px "Trebuchet MS", Arial; text-decoration: none; background: url(../images/fashion/button-left.gif) no-repeat left; padding: 7px 0px 7px 13px; white-space: nowrap;}
a.buttonCart span 		{padding: 7px 13px 7px 0px; font: 11px "Trebuchet MS", Arial; cursor: pointer; white-space: nowrap; background: url(../images/fashion/button-right.gif) no-repeat right;}
a.buttonCart img 			{display: none;}

a.buttonMore {display: block; font: 12px Tahoma, Arial, Helvetica, sans-serif; text-transform: capitalize;}
a.buttonMore img 		{display: none;}

a.disabled {color: gray; cursor: text; font: bold 11px/28px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 7px 5px 7px 13px;}
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #FE9000; border: 1px solid #C56A1A; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/
.CategoryList		{display: block; margin: 0px; padding: 0px 0px 0px 15px;}
.CategoryList li		{background: url(../images/fashion/tree_top.gif) no-repeat 0px 1px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.SubCategoryList		{display: block; margin: 4px 0px 0px 0px; padding: 0px;}
.SubCategoryList li		{background: url(../images/fashion/tree_top.gif) no-repeat 0px 1px; display: block; list-style: none; margin: 0px; padding: 2px 0px 0px 14px;}
.SubCategoryList li.lastCategory		{background: url(../images/fashion/tree_top.gif) no-repeat 0px 1px;}

.selectedsubCategory a.title, 
.selectedtopCategory a.title {color: #FEFFB0;}
.selectedsubCategory ul a.title, 
.selectedtopCategory ul a.title {color: #000000;}

.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}
.block-products-list .productImg, 
.block-product-details .productImg {border: 1px solid #C56A1A; margin-right: 10px; margin-bottom: 10px; padding: 1px;}

.featuresList	{border: 2px solid #C56A1A; float: right; margin: 0px 0px 5px 5px; padding: 6px; width: 40%;}

.specification	{}
.groupTitle		{background: #E58200; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #C56A1A; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px;}
.matrixQty		{border-left: 1px solid #C56A1A; border-top: 1px solid #C56A1A; float: left;}
.matrixPrice	{border-top: 1px solid #C56A1A; float: left;}
.matrixTitle	{background: #E58200; border-right: 1px solid #C56A1A; border-bottom: 1px solid #C56A1A; font-weight: bold; padding: 3px 6px; text-align: center;}
.matrixItem		{border-right: 1px solid #C56A1A; border-bottom: 1px solid #C56A1A; padding: 3px 6px; text-align: left;}

/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 14px; font-weight: bold; background: #E58200; color: #000000; padding: 6px !important; }
.productsCategoryDesc	{background: #C56A1A; padding: 6px !important; }
.productsDelimiter 		{background: #C56A1A; padding: 0px !important;}
.productsDelimiterTop 	{background: #C56A1A; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px solid #C56A1A;}
.hDelimiter {background: #C56A1A; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs 			{border-bottom: 2px solid #8B3100; height: 1%; margin: 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.DetailTabs li 			{display: block; float: left; list-style: none; margin: 0px 10px 0px 0px; padding: 0px;}
.DetailTabs li.tab 			{background: none; border: 1px solid #8B3100; border-bottom: none;}
.DetailTabs li.tabActive 		{background: #8B3100; border: 1px solid #FE9000; border-bottom: none;}
.DetailTabs a.tab					{background: #FE9000; color: #8B3100; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tab:hover			{background: #8B3100; color: #FE9000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tabActive			{background: #8B3100; color: #FE9000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}
.DetailTabs a.tabActive:hover	{background: #8B3100; color: #FE9000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #E58200; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #E58200; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #E58200; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding: 0px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{color: #EC6B4B; clear: right; display: block; padding-bottom: 10px; text-align: left;}
.offerTitle	.bigtitle	{color: #EC6B4B;}
.offerItem 			{text-align: left;}
.offerItem .priceBlock, 
.offerItem .priceBlockOld, 
.offerItem .salesBlock {color: #EC6B4B;}
.offerImg			{float: left; border: 1px solid #C56A1A; margin-right: 10px; margin-bottom: 10px;} 
.offerText			{color: #EC6B4B; text-align: left;}
.offerItem a.buttonMore		{color: #FF987F; display: block; text-decoration: none;}
.offerItem a.buttonMore span {cursor: pointer; white-space: nowrap;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumMessageLeft 	{background: #FCDCB1; border-left: 1px solid #C56A1A; border-top: 1px solid #C56A1A; border-bottom: 1px solid #C56A1A;}
.forumMessageRight 	{background: #FCDCB1; border: 1px solid #C56A1A;}
.forumMessageTop 		{background: #FAB964; border-bottom: 1px solid #C56A1A;}
/*** Forum ***/

/*** Footer ***/
.footerMenu	{text-align: center; font-size: 11px;}
.footerMenu	span {display: none;}
.footerMenu	img.separator 	{background: #500000; display: inline-block; height: 3px; margin: 0px 5px 4px 6px; vertical-align: bottom; width: 3px;}
.footerHTML	{text-align: center; padding: 10px;}
.footerImg	{text-align: right; padding: 0px 10px 0px 0px;}
.footerImg img		{width: 80px; height: 26px; border:0px;}
/*** Footer ***/

/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background: url(../images/fashion/admin-tabs-bgr.gif); height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #C56A1A;}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: none; border: 1px solid #C56A1A; border-bottom: none; cursor: pointer; font: 11px/18px Verdana, sans-serif; margin: 8px 2px 0px 2px; padding: 2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background: #9F4200; border: 1px solid #C56A1A; border-top: 2px solid #C56A1A; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin: 3px 2px 0px 2px; padding: 4px 8px 4px 8px; white-space: nowrap;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
.priceBlock {color: #000; font-weight: bold;}
.priceBlock .price {font-weight: bold;}
.priceBlock .priceTax {font-weight: normal;}

.priceBlockOld {color: #000; text-decoration: line-through;}
.priceBlockOld .price {font-weight: normal;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #000; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #000; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #000; font-weight: bold; border: none; background: transparent;}
.salesPrice {font-weight: bold;}
.salesTax {font-weight: normal;}

.priceSaveBlock {color: #0A0; font-weight: bold;}
.priceSaveBlock .price {font-weight: bold;}
.priceSaveBlock .percent {font-weight: normal;}

.pointsPriceBlock {}
.pointsPriceBlock .points {}

.rewardPointsBlock {}
.rewardPointsBlock .points {}
/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #A37E4D;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #FE9000; border: 1px solid #C56A1A;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #A37E4D;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #FE9000; border: 1px solid #C56A1A;}
.shipping-img-close	img {margin: 5px 5px 5px 0px; }
.shipping-descr		{padding: 0px 15px 10px 15px; font-size: 14px; width: 570px; font-family: Arial, Helvetica, sans-serif; }
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 20px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #FE9000; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}