/*** General styles ***/
body			{font: 12px Arial, Helvetica, sans-serif; color: #7BC8FF; margin: 0px; padding: 0px; background: #FFFFFF;}
body.popup	{font: 12px Arial, Helvetica, sans-serif; color: #7BC8FF; margin: 0px; padding: 0px; background: #2E5BB6;}
body.editor	{background: #2E5BB6;}

tr, td		{font: 12px Arial, Helvetica, sans-serif; color: #7BC8FF;}

h1, h2		{padding: 0px; margin: 0px;}

a						{color: #B2E004; outline: 0px; text-decoration: none;}
a:hover				{text-decoration: underline;}
a.header 			{color: #FFFFFF; text-decoration: underline;}
a.header:hover		{color: #FAF7AA;}
a.title				{text-decoration: underline;}
a.title:hover		{text-decoration: none;}
a.smallText			{font-size: 11px; text-decoration: none;}
a.smallText:hover	{text-decoration: underline;}

.mainTableCellLeft a, 
.mainTableCellRight a, 
.footerHTML a		{color: #B2E004;}

input					{font: 13px Arial, Helvetica, sans-serif;}
input.search,		
input.text,			
input.field, 
input.fieldSmall	{border-top: 1px solid #95B6D1;border-right: 1px solid #BDDDF5;border-bottom: 1px solid #BDDDF5;border-left: 1px solid #95B6D1; margin: 3px 0px;}
input.fieldSmall	{font-size: 11px;}
input.submit		{
	background: url(../images/marine/button-r.gif) no-repeat right;  
	border: 0px; 
	color: #000; 
	cursor: pointer; 
	font-size: 13px; 
	height: 28px; 
	margin: 0px;
	padding: 0px 7px 2px 3px; 
}
	input#clear		{color: #8A8A8A;}
	input#reset		{color: #8A8A8A;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #8A8A8A;}
	input#delete	{color: #8A8A8A;}
select				{border-top: 1px solid #95B6D1;border-right: 1px solid #BDDDF5;border-bottom: 1px solid #BDDDF5;border-left: 1px solid #95B6D1; font: 13px Arial, Helvetica, sans-serif;}
textarea				{border-top: 1px solid #95B6D1;border-right: 1px solid #BDDDF5;border-bottom: 1px solid #BDDDF5;border-left: 1px solid #95B6D1; font: 13px Arial, Helvetica, sans-serif;}

span.submit {background: url(../images/marine/button-l.gif) no-repeat left; font: 25px Arial; padding-left: 4px !important; white-space: nowrap; display: inline-block;}

.middlebg 			{background: #19449A; font-weight: bold;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center;}
.popup 
.errorbg				{padding: 4px;}
.messagebg  		{color: #0000CC; font-weight: bold; padding: 6px; text-align: center;}
.block-order-info 
.messagebg  		{padding: 2px 6px; text-align: right;}

.padding10px				{padding: 10px;}
.block-categories-list 
.padding10px				{padding: 10px 0px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin: 0px 10px 5px 0px;}
.ArticleDescription	{padding: 10px 0px;}

.introBlock {margin: 5px; padding: 5px 15px;}

.articleDate	{color: #7BC8FF; font-size: 11px; font-style: italic; }
.titleText		{color: #B2E004; text-decoration: none; }
.top				{font-size: 11px;}
.smallText		{font-size: 11px;}
.middleText		{font-size: 13px;}
.bigText			{font-size: 14px;}
.comment			{font-size: 11px; color: #7777CC;}
.required		{color: #FF0000;}
.message			{color: #FFFFFF;}
.title			{font-size: 13px; font-weight: bold; color: #B2E004;}
.bigtitle		{font-size: 14px; font-weight: bold; color: #B2E004;}
.error			{color: red; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: #CAFF00; text-decoration: underline;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}
/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{margin: auto; padding: 0; text-align: left;}
.headerStyle	{background: #2E5BB6; position: relative; z-index: 100;}
.contentStyle	{background: #2E5BB6; clear: both; height: 1%; overflow: hidden; position: relative; z-index: 1;}
.footerStyle	{clear: both;}

.rightStyle			{background: #133D92 url(../images/marine/rcolumn-l.gif) repeat-y left;}
.hotStyle			{background: #2E5BB6;}
.leftStyle			{background: #133D92 url(../images/marine/lcolumn-l.gif) repeat-y right;}
.centerStyle		{background: #2E5BB6;}

/* Four frames */
.fourFrames .hotStyle			{float: left; position: relative; width: 80%;}
.fourFrames .leftStyle			{float: left; position: relative; width: 25%;}
.fourFrames .centerStyle		{float: left; position: relative; width: 75%;}
.fourFrames .rightStyle			{float: left; position: relative; width: 20%;}

/* Three frames */
.threeFrames .leftStyle		{float: left; position: relative; width: 20%;}
.threeFrames .centerStyle	{float: left; position: relative; width: 60%;}
.threeFrames .rightStyle	{float: left; position: relative; width: 20%;}

/* Two frames */
.twoFrames .leftStyle	{float: left; position: relative; width: 30%;}
.twoFrames .centerStyle	{float: left; position: relative; width: 70%;}

/* One frames */
.oneFrame .centerStyle	{position: relative; width: 100%;}
/*** Frame set ***/

/*** Header ***/
.Header {background: #FFFFFF url(../images/marine/border-bt.gif) repeat-x bottom; height: 110px; margin: auto; position: relative; z-index: 100;}
.HeaderLogo {float: left;} 
.HeaderLogo img {border: none; margin: 20px 20px 0px 30px;}
.HeaderMenu {margin: 0px 0px 0px 250px; padding: 40px 0px 0px 0px;}

/* Top Menu */
.TopMenu 			{background: url(../images/marine/tmenu-bgr.gif) repeat-x top; display: block; height: 26px; margin: 0px; overflow: hidden; padding: 0px 0px 0px 0px; z-index: 20;}
.TopMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap;}
.TopMenu li.topmenu		{padding: 0px; z-index: 50;}
.TopMenu li.begin			{background: url(../images/marine/tmenu-l-img.gif) no-repeat bottom; height: 26px; width: 26px;}
.TopMenu li.end			{display: none;}

/* Top Menu Links */
a.menu					{background: url(../images/marine/tmenu-r-na.gif) no-repeat right; color: #FFFFFF; display: block; font: bold 14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration: none; text-transform: uppercase;}
a.menu:hover			{text-decoration: none;}
a.menu .nobr 			{background: url(../images/marine/tmenu-l-na.gif) no-repeat left; display:block; padding: 4px 27px 4px 13px;} 
a.menuActive			{background: url(../images/marine/tmenu-r.gif) no-repeat right; color: #7B7B7B; display: block; font: bold 14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration: none; text-transform: uppercase;}
a.menuActive:hover	{text-decoration: none;}
a.menuActive .nobr 	{background: url(../images/marine/tmenu-l.gif) no-repeat left; display:block; padding: 4px 27px 4px 13px;} 

/* Secondary Menu */
ul.secondaryMenu 			{background: url(../images/marine/tmenu-bgr.gif) repeat-x top; display: block; height: 26px; margin: 5px 0px 0px 0px; overflow: hidden; padding: 0px; z-index: 20;}
ul.secondaryMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{padding: 0px;}
ul.secondaryMenu li.secondaryBegin			{background: url(../images/marine/tmenu-l-img.gif) no-repeat bottom; height: 26px; width: 26px;}
ul.secondaryMenu li.secondaryEnd				{display: none;}

/* Secondary Menu Links */
a.secondaryMenu 			{background: url(../images/marine/tmenu-r-na.gif) no-repeat right; color: #FFFFFF; display: block; font: bold 14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration: none; text-transform: uppercase;}
a.secondaryMenu:hover 	{text-decoration: none;}
a.secondaryMenu .nobr 			{background: url(../images/marine/tmenu-l-na.gif) no-repeat left; display:block; padding: 4px 27px 4px 13px;} 
a.secondaryMenuActive 			{background: url(../images/marine/tmenu-r.gif) no-repeat right; color: #7B7B7B; display: block; font: bold 14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration: none; text-transform: uppercase;}
a.secondaryMenuActive:hover	{text-decoration: none;}
a.secondaryMenuActive .nobr 	{background: url(../images/marine/tmenu-l.gif) no-repeat left; display:block; padding: 4px 27px 4px 13px;} 

/* Sub Menu */
.SubMenu 		{border: 1px solid #6A9C02; border-bottom: none; display: none; margin: 0px; padding: 0px; position: absolute; width: 150px;}
.SubMenu li 		{border-top: none !important; border-bottom: 1px solid #6A9C02; display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap; width: 150px;}
.SubMenu li.topmenu		{padding: 0px; position: relative;}
.SubMenu li.secondaryMenu	{background: none !important; padding: 0px !important; position: relative;}
.SubMenu a						{font: 12px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.SubMenu a.menu				{background: #B3E001 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.menu:hover		{background: #DFFF61 !important; color: #588300;}
.SubMenu a.menu .nobr 			{background: none; display:block; padding: 0px;} 
.SubMenu a.secondaryMenu			{background: #B3E001 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenu:hover	{background: #DFFF61 !important; color: #588300;}
.SubMenu a.secondaryMenu .nobr 			{background: none; display:block; padding: 0px;} 
.SubMenu a.secondaryMenuActive			{background: #B3E001 !important; color: #0A0509; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenuActive:hover	{background: #DFFF61 !important; color: #588300;}
.SubMenu a.secondaryMenuActive .nobr 	{background: none; display:block; padding: 0px;} 

.SubMenu ul		{border: 1px solid #6A9C02; border-bottom: none; display: none; left: 150px; margin: 0px; padding: 0px; position: absolute; top: -1px;}
.SubMenu span.nobr      {white-space: normal !important;}
/*** Header ***/

/*** Breadcrumbs ***/
.Breadcrumb {background: #2E5BB6 url(../images/marine/ccolumn-t.gif) repeat-x top; margin: 0px; position: relative; width: 100%;}
.BreadcrumbCenter {background: url(../images/marine/ccolumn-b.gif) repeat-x bottom; position: relative;}
.BreadcrumbLeftBgr {position: relative;}
.BreadcrumbRightBgr {height: 100%; overflow: hidden; position: relative;}

.BreadcrumbRSS {float: right; padding: 10px 20px; text-align: right;}
.Breadcrumbs {background: none;  overflow: hidden; height: 100%;}
.BreadcrumbsBgr {padding: 10px 0px 10px 20px;}
.BreadcrumbsBgr a {color: #B2E004;}
.BreadcrumbsBgr a.treeItemLast {color: #C7D3EC; font-weight: bold; text-decoration: none; cursor: text;}
.BreadcrumbsBgr a.treeItemLast:hover {font-weight: bold; cursor: text;}
.BreadcrumbsBgr span {color: #7BC8FF;}
.BreadcrumbsBgr img {display: none;}

/* Step to Order Pages */
.BreadcrumbsBgr span.nonactive {display: inline; font-weight: bold; color: #4179E8; margin-right: 10px;}
.BreadcrumbsBgr span.active {display: inline; font-weight: bold; color: #C7D3EC; margin-right: 10px;}
/*** Breadcrumbs ***/

/*** Structure of Block ***/
.BlockTop {position: relative; width: 100%;}
.TopCenter {background: url(../images/marine/ccolumn-t.gif) repeat-x top; position: relative;}
.TopLeftBgr {position: relative;}
.TopRightBgr {height: 100%; overflow: hidden; position: relative;}

.TopTitleIco {float: right; padding: 17px 20px 13px 0px; text-align: right;}
.TopTitle {background: none;  overflow: hidden; height: 100%;}
.TopTitleBgr {color: #C7D3EC; font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 18px 20px 10px 20px; text-align: left; text-transform: uppercase;}
.TopTitleBgr h1 {color: #C7D3EC; font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align: left; text-transform: uppercase;}

.BlockMiddle {position: relative;}
.MiddleCenter {overflow: hidden; height: 100%; padding: 0px 11px; position: relative;}
.BlockData { position: relative; overflow: hidden; }

.BlockBottom {display: block; position: relative; font-size: 1px;}
.BottomCenter {background: url(../images/marine/ccolumn-b.gif) repeat-x bottom; overflow: hidden; height: 17px;}
/*** Structure of Block ***/

/*** Structure of Block Without Title ***/
.hidden-title .BlockTop, 
.block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.hidden-title .TopCenter, 
.block-simple .TopCenter {background: url(../images/marine/ccolumn-t.gif) repeat-x top; overflow: hidden; height: 16px;}
.hidden-title .TopTitle { display: none; }
/*** Structure of Block Without Title ***/

/*** Structure of Block Left Column ***/
.leftStyle .TopCenter {background: url(../images/marine/lcolumn-t.gif) repeat-x top;}
.leftStyle .TopRightBgr {background: url(../images/marine/lcolumn-t-r.gif) no-repeat top right;}

.leftStyle .BottomCenter {background: url(../images/marine/lcolumn-b.gif) repeat-x bottom; overflow: hidden; height: 100%;}
.leftStyle .BottomRight {background: url(../images/marine/lcolumn-b-r.gif) no-repeat; float: right; height: 17px; width: 19px;}

.leftStyle .hidden-title .BlockTop, 
.leftStyle .block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.leftStyle .hidden-title .TopCenter, 
.leftStyle .block-simple .TopCenter {background: url(../images/marine/lcolumn-t.gif) repeat-x top;}
.leftStyle .hidden-title .TopRight, 
.leftStyle .block-simple .TopRight {background: url(../images/marine/lcolumn-t-r.gif) no-repeat top right; float: right; height: 16px; width: 19px;}
.leftStyle .hidden-title .TopTitle { display: none; }
/*** Structure of Block Left Column ***/

/*** Structure of Block Center Column ***/
/*** Structure of Block Center Column ***/

/*** Structure of Block Right Column ***/
.rightStyle .TopCenter {background: url(../images/marine/lcolumn-t.gif) repeat-x top;}
.rightStyle .TopLeftBgr {background: url(../images/marine/rcolumn-t-l.gif) no-repeat top left;}

.rightStyle .BottomCenter {background: url(../images/marine/rcolumn-b.gif) repeat-x bottom;}
.rightStyle .BottomLeft {background: url(../images/marine/rcolumn-bl.gif) no-repeat; float: left; height: 17px; width: 19px;}

.rightStyle .hidden-title .BlockTop, 
.rightStyle .block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.rightStyle .hidden-title .TopCenter, 
.rightStyle .block-simple .TopCenter {background: url(../images/marine/lcolumn-t.gif) repeat-x top;}
.rightStyle .hidden-title .TopLeft, 
.rightStyle .block-simple .TopLeft {background: url(../images/marine/rcolumn-t-l.gif) no-repeat top left; float: left; height: 16px; width: 19px;}
.rightStyle .hidden-title .TopTitle { display: none; }
/*** Structure of Block Right Column ***/

/*** User Home Page ***/
.UHBRows				{clear: both;}
.UserHomeBlock		{float: left; position: relative; width: 49%;}
.UHBContent			{padding: 7px;}
.UHBContent div 	{margin: 0px 0px 0px 50px;}

.userHomeLogout 		{clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a 	{color: #FFFFFF; font-weight: bold;}

.UserHomeBlock img.orders 					{background: url(../images/icons/admin_orders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 				{background: url(../images/icons/admin_profile.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 				{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 				{background: url(../images/icons/admin_support.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 					{background: url(../images/icons/admin_forum.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 				{background: url(../images/icons/admin_products.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 					{background: url(../images/icons/admin_pages.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders			{background: url(../images/icons/admin_salesorders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 				{background: url(../images/icons/admin_merchant.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates				{background: url(../images/icons/admin_affiliates.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments				{background: url(../images/icons/admin_payments.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts					{background: url(../images/icons/admin_carts.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist				{background: url(../images/icons/admin_wishlist.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders				{background: url(../images/icons/admin_reminders.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd span.spacer {color: #1584D2;}	/* '|' between button */

a.button {font: 14px/20px Arial, Helvetica, sans-serif; padding: 0px 10px 0px 0px; white-space: nowrap;}
a.button img 	{display: none;}
a.button-add	{font-weight: bold;}

a.buttonBasket {font: 14px/20px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonBasket img 	{display: none;}
a.button-shopping 	{font-weight: bold;}	
a.button-checkout 	{font-weight: bold;}

a.buttonCart {font: 12px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonCart img 		{display: none;}

a.buttonMore {font: 12px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonMore img 	{display:none;}

a.disabled {color: #EEEEEE; cursor: text; font: bold 14px/20px Arial, Helvetica, sans-serif; padding: 0px 10px 0px 0px;}
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #2E5BB6; border: 2px solid #3C6DD0; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/
.CategoryList		{display: block; margin: 0px 20px 0px 10px; padding: 0px;}
.CategoryList li		{background: url(../images/marine/tree_top.gif) no-repeat 0px 1px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.SubCategoryList		{background: url(../images/marine/tree_line.gif) repeat-y 2px 0px; display: block; margin: 4px 0px 0px 0px; padding: 0px;}
.SubCategoryList li		{background: url(../images/marine/tree_begin.gif) no-repeat 2px 9px; display: block; list-style: none; margin: 0px; padding: 2px 0px 0px 14px;}
.SubCategoryList li.lastCategory		{background: #133D92 url(../images/marine/tree_end.gif) no-repeat 2px -9px;}

.selectedsubCategory a.title, 
.selectedtopCategory a.title {color: #7BC8FF;}
.selectedsubCategory ul a.title, 
.selectedtopCategory ul a.title {color: #B2E004;}

.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}
.block-products-list .productImg, 
.block-product-details .productImg {margin-right: 10px; margin-bottom: 10px; padding: 1px;}

.featuresList	{border: 2px solid #133D92; float: right; margin: 0px 0px 5px 5px; padding: 6px; width: 40%;}

.specification	{}
.groupTitle		{background: #133D92; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #133D92; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px; white-space: nowrap;}
.matrixQty		{border-left: 1px solid #133D92; border-top: 1px solid #133D92; float: left;}
.matrixPrice	{border-top: 1px solid #133D92; float: left;}
.matrixTitle	{background: none; border-right: 1px solid #133D92; border-bottom: 1px solid #133D92; font-weight: bold; padding: 3px 6px; text-align: center;}
.matrixItem		{border-right: 1px solid #133D92; border-bottom: 1px solid #133D92; padding: 3px 6px; text-align: left;}

/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 14px; font-weight: bold; background: #19449A; color: #B2E004; padding: 6px !important; }
.productsCategoryDesc	{background: #133D92; padding: 6px !important; }
.productsDelimiter 		{background: #133D92; padding: 0px !important;}
.productsDelimiterTop 	{background: #133D92; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px solid #133D92;}
.hDelimiter {background: #133D92; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs 			{border-bottom: 2px solid #133D92; height: 1%; margin: 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.DetailTabs li 			{display: block; float: left; list-style: none; margin: 0px 10px 0px 0px; padding: 0px;}
.DetailTabs li.tab 			{background: none; border: 1px solid #133D92; border-bottom: none;}
.DetailTabs li.tabActive 		{background: #133D92; border: 1px solid #133D92; border-bottom: none;}
.DetailTabs a.tab					{background: none; color: #B2E004; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tab:hover			{background: #133D92; color: #FFFFFF; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tabActive			{background: #133D92; color: #FFFFFF; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}
.DetailTabs a.tabActive:hover	{background: #133D92; color: #FFFFFF; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #10398A; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #10398A; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #10398A; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding: 0px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{text-align: left; clear: right; display: block;}
.offerItem 			{text-align: left;}
.offerImg			{float: left; margin-right: 10px; margin-bottom: 10px;} 
.offerText			{text-align: left;}
.offerItem 
a.buttonMore		{display: block;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumMessageLeft 	{background: #BEE4FF; border-left: 1px solid #19449A; border-top: 1px solid #19449A; border-bottom: 1px solid #19449A;}
.forumMessageRight 	{background: #BEE4FF; border: 1px solid #19449A;}
.forumMessageTop 		{background: #19449A; border-bottom: 1px solid #19449A;}
/*** Forum ***/

/*** Footer ***/
.footerAll	{background: url(../images/marine/border-bt.gif) repeat-x 0px 1px; height: 1%; overflow: hidden; padding: 5px 0px 0px 0px; position: relative;}
.footerAll a 	{color: #7BC8FF; font-size: 12px; text-decoration: underline;}
.footerMenu	{text-align: center; font-size: 11px; position: relative; margin: 0px auto; top: 24px; width: 50%;}
.footerMenu	span {padding: 0px 0px 0px 5px;}
.footerHTML	{float: left; text-align: center; padding: 10px; width: 25%;}
.footerImg	{text-align: right; padding: 10px 10px 0px 0px;}
.footerImg img		{width: 80px; height: 26px; border:0px;}
/*** Footer ***/

/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background: url(../images/marine/admin-tabs-bgr2.gif); height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #19449A;}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: #2E5BB6; border: 1px solid #19449A; border-bottom: none; cursor: pointer; font: 11px/18px Verdana, sans-serif; margin: 8px 2px 0px 2px; padding: 2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background: #2E5BB6; border: 1px solid #19449A; border-top: 2px solid #19449A; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin: 3px 2px 0px 2px; padding: 4px 8px 4px 8px; white-space: nowrap;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
.priceBlock {color: #B1FAFF; font-weight: bold;}
.priceBlock .price {font-weight: bold;}
.priceBlock .priceTax {font-weight: normal;}

.priceBlockOld {color: #B1FAFF; text-decoration: line-through;}
.priceBlockOld .price {font-weight: normal;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #B1FAFF; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #B1FAFF; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #B1FAFF; font-weight: bold; border: none; background: transparent;}
.salesPrice {font-weight: bold;}
.salesTax {font-weight: normal;}

.priceSaveBlock {color: #FFA; font-weight: bold;}
.priceSaveBlock .price {font-weight: bold;}
.priceSaveBlock .percent {font-weight: normal;}

.pointsPriceBlock {}
.pointsPriceBlock .points {}

.rewardPointsBlock {}
.rewardPointsBlock .points {}
/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #5C7199;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #2E5BB6; border: 1px solid #19449A;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #5C7199;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #2E5BB6; border: 1px solid #19449A;}
.shipping-img-close	img {margin: 5px 5px 5px 0px; }
.shipping-descr		{padding: 0px 15px 10px 15px; font-size: 14px; width: 570px; font-family: Arial, Helvetica, sans-serif; }
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 20px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #2E5BB6; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}