/*** General styles ***/
body			{font: 12px Tahoma, Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background: #FAD03A url(../images/rainbow/bgr-top.jpg) repeat-x top;}
body.popup	{font: 12px Tahoma, Arial, Helvetica, sans-serif; color: #000000; margin: 0px; padding: 0px; background: #FAD03A;}

tr, td		{font: 12px Tahoma, Arial, Helvetica, sans-serif; color: #000000;}

h1, h2		{padding: 0px; margin: 0px;}

a						{color: #00628B; outline: 0px; text-decoration: underline;}
a:hover				{text-decoration: none;}
a.header 			{color: #FFFFFF;}
a.header:hover		{color: #FAF7AA; text-decoration: underline;}
a.title				{text-decoration: none;}
a.title:hover 		{text-decoration: underline;}
a.bigtitle			{text-decoration: none;}
a.bigtitle:hover 	{text-decoration: underline;}
a.smallText			{font-size: 11px;}

input					{font: 14px Tahoma, Arial, Helvetica, sans-serif; color: #000000;}
input.search,		
input.text,			
input.field, 
input.fieldSmall	{background: #FFFCC0; border: 1px solid #9DC8DA;}
input.search		{font-size: 16px !important; width: 120px;}
input.fieldSmall	{font-size: 12px;}
input.submit		{
	background: transparent;
	border: none; 
	color: #FF6C00; 
	cursor: pointer; 
	font-size: 18px; 
	text-transform: lowercase;
}
	input#clear		{color: #8A8A8A;}
	input#reset		{color: #8A8A8A;}
	input#preview	{color: #FF6C00;}
	input#cancel	{color: #8A8A8A;}
	input#delete	{color: #8A8A8A;}
select				{background: #FFFCC0; border: 1px solid #9DC8DA; font: 14px Arial, Helvetica, sans-serif;}
select.search		{font-size: 16px; margin-bottom: 5px;}
textarea				{background: #FFFCC0; border: 1px solid #9DC8DA; font: 14px Arial, Helvetica, sans-serif;}

.middlebg 			{background: #DDDDDD; font-weight: bold;}
.middlebg td 		{font-weight: bold;}
.usualbg  			{background: transparent;}
.errorbg  			{background: #FFE0E0; border: 1px solid #CC0000; color: #CC0000; padding: 6px; text-align: center;}
.popup 
.errorbg				{padding: 4px;}
.messagebg  		{color: #0000CC; font-weight: bold; padding: 6px; text-align: center;}
.block-order-info 
.messagebg  		{padding: 2px 6px; text-align: right;}

.padding10px				{padding: 10px;}
.block-categories-list 
.padding10px				{padding: 10px 0px;}
.padding6px 				{padding: 6px;}
.padding6px td				{padding: 6px;}
.block-product-details
.padding6px td				{padding: 6px 10px;}
.padding6px td td			{padding: 0px;}
.padding6px
.padding4px td				{padding: 4px;}
.padding4px td				{padding: 4px;}
.padding4px td td			{padding: 0px;}
.padding2px 				{padding: 2px;}
table.padding10px, 
table.padding6px, 
table.padding4px, 
table.padding2px 			{padding: 0px;}

.ArticleImg		{border: none; float: left; margin: 0px 10px 5px 0px;}
.ArticleDescription	{padding: 10px 0px;}

.introBlock {border: 1px solid #CCCCCC; margin: 5px; padding: 6px;}

.articleDate	{color: #828282; font-size: 11px; font-style: italic; }
.titleText		{color: #00628B; text-decoration: none; }
.top				{font-size: 11px;}
.smallText		{font-size: 11px;}
.middleText		{font-size: 13px;}
.bigText			{font-size: 14px;}
.comment			{font-size: 11px; color: #7777CC;}
.required		{color: #FF0000;}
.message			{color: Blue;}
.title			{font-size: 13px; font-weight: bold;}
.bigtitle		{font-size: 14px; font-weight: bold;}
.error			{color: #D50000; }
.terms			{height: 300px; width: 600px; overflow: auto; border: 1px solid silver; }
.link				{color: #C5CCD0; text-decoration: underline;}

span.nobr      {white-space: nowrap !important;}
.overhidd		{height: 1%; overflow: hidden;}
.floatright 	{float: right;}
.floatleft 		{float: left;}
.clearboth 		{clear: both;}

form {margin: 0; padding: 0;}
/*** General styles ***/

/*** Frame set ***/
.frameBlocks	{margin: auto; padding: 0; text-align: left;}
.headerStyle	{padding: 0 20px; position: relative; z-index: 100;}
.contentStyle	{clear: both; height: 1%; overflow: hidden; padding: 0 20px; position: relative; z-index: 1;}
.footerStyle	{clear: both;}

.leftStylePadding		{padding: 0 10px 0 0;}
.rightStylePadding	{padding: 0 0 0 10px;}

/* Four frames */
.fourFrames .hotStyle			{float: left; position: relative; width: 80%;}
.fourFrames .leftStyle			{float: left; position: relative; width: 25%;}
.fourFrames .centerStyle		{float: left; position: relative; width: 75%;}
.fourFrames .rightStyle			{float: left; position: relative; width: 20%;}

/* Three frames */
.threeFrames .leftStyle		{float: left; position: relative; width: 20%;}
.threeFrames .centerStyle	{float: left; position: relative; width: 60%;}
.threeFrames .rightStyle	{float: left; position: relative; width: 20%;}

/* Two frames */
.twoFrames .leftStyle	{float: left; position: relative; width: 30%;}
.twoFrames .centerStyle	{float: left; position: relative; width: 70%;}

/* One frames */
.oneFrame .centerStyle	{position: relative; width: 100%;}
/*** Frame set ***/

/*** Header ***/
.Header {margin: auto auto 15px auto; position: relative; z-index: 100;}
.HeaderLogo {float: left;} 
.HeaderLogo img {border: none; margin: 34px 25px 11px 5px;}
.HeaderMenu {margin: 0px 0px 0px 250px; padding: 63px 0px 0px 0px;}

/* Top Menu */
.TopMenu 			{display: block; height: 32px; margin: 0px; overflow: hidden; padding: 0px 0px 0px 0px; z-index: 20;}
.TopMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap;}
.TopMenu li.topmenu		{padding: 0px 20px; z-index: 50;}
.TopMenu li.begin			{display: none;}
.TopMenu li.end			{display: none;}

/* Top Menu Links */
a.menu					{color: #FFFFFF; display: block; font: 18px "MS Sans Serif", Geneva, sans-serif; padding: 0px 0px 0px 10px; text-decoration: none; text-transform: lowercase;}
a.menu:hover			{color: #FFFFFF;}
a.menuActive			{background: url(../images/rainbow/tmenu-a.gif) no-repeat 0px center; color: #FBB401; display: block; font: 18px "MS Sans Serif", Geneva, sans-serif; padding: 0px 0px 0px 10px; text-decoration: none; text-transform: lowercase;}
a.menuActive:hover	{color: #FBB401;}

/* Secondary Menu */
ul.secondaryMenu 			{display: block; height: 30px; margin: 0px 0px 0px 20px; overflow: hidden; padding: 0px; z-index: 20;}
ul.secondaryMenu li 			{display: block; float: left; list-style: none; margin: 0px; padding: 0px;}
ul.secondaryMenu li.secondaryMenu			{padding: 0px 20px;}
ul.secondaryMenu li.secondaryBegin			{display: none;}
ul.secondaryMenu li.secondaryEnd				{display: none;}

/* Secondary Menu Links */
a.secondaryMenu 			{color: #FFFFFF; display: block; font: 18px "MS Sans Serif", Geneva, sans-serif; padding: 0px 0px 0px 10px; text-decoration: none; text-transform: lowercase;}
a.secondaryMenu:hover 	{color: #FFFFFF;}
a.secondaryMenuActive 			{background: url(../images/rainbow/tmenu-a.gif) no-repeat 0px center; color: #FBB401; display: block; font: 18px "MS Sans Serif", Geneva, sans-serif; padding: 0px 0px 0px 10px; text-decoration: none; text-transform: lowercase;}
a.secondaryMenuActive:hover	{color: #FBB401;}

/* Sub Menu */
.SubMenu 		{border: 1px solid #6E7CAF; border-bottom: none; display: none; margin: 2px 0px 0px 10px; padding: 0px; position: absolute; width: 150px;}
.SubMenu li 		{border-top: none !important; border-bottom: 1px solid #6E7CAF; display: block; float: left; list-style: none; margin: 0px; padding: 0px; white-space: nowrap; width: 150px;}
.SubMenu li.topmenu		{padding: 0px; position: relative;}
.SubMenu li.secondaryMenu	{background: none !important; padding: 0px !important; position: relative;}
.SubMenu a.menu				{background: #C8C1FB !important; color: #0A0509; font: 12px Tahoma, Arial, Helvetica, sans-serif; padding: 2px 10px; text-decoration: none;}
.SubMenu a.menu:hover		{background: #DDD9FF !important; color: #26779A;}
.SubMenu a.secondaryMenu			{background: #C8C1FB !important; color: #0A0509; font: 12px Tahoma, Arial, Helvetica, sans-serif; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenu:hover	{background: #DDD9FF !important; color: #26779A;}
.SubMenu a.secondaryMenuActive			{background: #C8C1FB !important; color: #0A0509; font: 12px Tahoma, Arial, Helvetica, sans-serif; padding: 2px 10px; text-decoration: none;}
.SubMenu a.secondaryMenuActive:hover	{background: #DDD9FF !important; color: #26779A;}

.SubMenu ul		{border: 1px solid #6E7CAF; border-bottom: none; display: none; left: 150px; margin: 0px; padding: 0px; position: absolute; top: -1px;}
.SubMenu span.nobr      {white-space: normal !important;}
/*** Header ***/

/*** Breadcrumbs ***/
.BreadcrumbRightBgr {border: 1px solid #DDDDDD; height: 100%; margin: 0px 0px 15px 0px; overflow: hidden; position: relative;}
.BreadcrumbRSS {float: right; padding: 10px; text-align: right;}
.Breadcrumbs {background: none;  overflow: hidden; height: 100%;}
.BreadcrumbsBgr {padding: 10px 0px 10px 10px;}
.BreadcrumbsBgr a.treeItemLast {font-weight: bold; text-decoration: none; cursor: text;}
.BreadcrumbsBgr a.treeItemLast:hover {font-weight: bold; cursor: text;}
.BreadcrumbsBgr span {color: #00628B;}
.BreadcrumbsBgr img {display: none;}

/* Step to Order Pages */
.BreadcrumbsBgr span.nonactive {display: inline; font-weight: bold; color: #5287A3; margin-right: 10px;}
.BreadcrumbsBgr span.active {display: inline; font-weight: bold; color: #00628B; margin-right: 10px;}
/*** Breadcrumbs ***/

/*** Structure of Block ***/
.BlockTop {position: relative; width: 100%;}
.TopCenter {background: url(../images/rainbow/block-t-l.gif) no-repeat left top; position: relative;}
.TopLeftBgr {background: url(../images/rainbow/block-t-r.gif) no-repeat right top; position: relative;}
.TopRightBgr {background: url(../images/rainbow/block-bgr.gif) repeat-x top; height: 100%; margin: 0px 6px; overflow: hidden; position: relative;}

.TopTitleIco {float: right; padding: 10px; text-align: right;}
.TopTitle {background: none;  overflow: hidden; height: 100%;}
.TopTitleBgr {color: #00628B; font: 18px "MS Sans Serif", Geneva, sans-serif; padding: 10px; text-align: left; text-transform: lowercase;}
.TopTitleBgr h1 {color: #00628B; font: 18px "MS Sans Serif", Geneva, sans-serif; text-align: left; text-transform: lowercase;}

.BlockMiddle {background: url(../images/rainbow/block-bgr.gif) repeat-y right; position: relative;}
.MiddleCenter {background: url(../images/rainbow/block-bgr.gif) repeat-y left; overflow: hidden; height: 100%; padding: 0px 10px; position: relative;}
.BlockData { position: relative; overflow: hidden; }

.BlockBottom {background: url(../images/rainbow/block-b-l.gif) no-repeat left bottom; display: block; margin-bottom: 8px; position: relative; font-size: 1px;}
.BottomCenter {background: url(../images/rainbow/block-b-r.gif) no-repeat right bottom; overflow: hidden; height: 100%;}
.BottomLeft {background: url(../images/rainbow/block-bgr.gif) repeat-x bottom; height: 6px; margin: 0px 6px;}
/*** Structure of Block ***/

/*** Structure of Block Without Title ***/
.hidden-title .BlockTop, 
.block-simple .BlockTop {display: block; position: relative; font-size: 1px;}
.hidden-title .TopCenter, 
.block-simple .TopCenter {background: url(../images/rainbow/block-t-l.gif) no-repeat left top;}
.hidden-title .TopLeftBgr, 
.block-simple .TopLeftBgr {background: url(../images/rainbow/block-t-r.gif) no-repeat right top;}
.hidden-title .TopRightBgr, 
.block-simple .TopRightBgr {background: url(../images/rainbow/block-bgr.gif) repeat-x top; height: 6px;}
.hidden-title .TopTitle { display: none; }
/*** Structure of Block Without Title ***/

/*** Structure of Block Left Column ***/
/*** Structure of Block Left Column ***/

/*** Structure of Block Center Column ***/
/*** Structure of Block Center Column ***/

/*** Structure of Block Right Column ***/
/*** Structure of Block Right Column ***/

/*** Structure of Offers and Categories Blocks ***/
/*** Structure of Block Right Column ***/

/*** User Home Page ***/
.UHBRows				{clear: both;}
.UserHomeBlock		{float: left; position: relative; width: 49%;}
.UHBContent			{padding: 7px;}
.UHBContent div 	{margin: 0px 0px 0px 50px;}

.userHomeLogout 		{clear: both; padding: 0px 20px 0px 20px; text-align: right;}
.userHomeLogout a 	{color: #000000; font-weight: bold;}

.UserHomeBlock img.orders 					{background: url(../images/icons/admin_orders_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.profile 				{background: url(../images/icons/admin_profile_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.arr		 				{background: url(../images/icons/arr.gif) no-repeat; width: 15px; height: 16px; border:0px; margin: 0px 5px 0px 0px; position: relative; bottom: -4px;}
.UserHomeBlock img.support 				{background: url(../images/icons/admin_support_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.forum 					{background: url(../images/icons/admin_forum_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.products 				{background: url(../images/icons/admin_products_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.pages 					{background: url(../images/icons/admin_pages_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.salesorders			{background: url(../images/icons/admin_salesorders_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.merchant 				{background: url(../images/icons/admin_merchant_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.affiliates 			{background: url(../images/icons/admin_affiliates_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.payments 				{background: url(../images/icons/admin_payments_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.carts	 				{background: url(../images/icons/admin_carts_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.wishlist 				{background: url(../images/icons/admin_wishlist_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
.UserHomeBlock img.reminders				{background: url(../images/icons/admin_reminders_d.png) no-repeat; width: 50px; height: 50px; border:0px; float: left;}
/*** User Home Page ***/

/*** Button Links ***/
td.butTd span.spacer {display: none;}	/* '|' between button */

a.button {color: #26779A; font: 18px "MS Sans Serif", Geneva, sans-serif; padding: 0px 10px 0px 0px; text-transform: lowercase; white-space: nowrap;}
a.button img 	{display: none;}
a.button-add	{color: #FF4E00;}

a.buttonBasket {color: #26779A; font: 18px "MS Sans Serif", Geneva, sans-serif; text-transform: lowercase; white-space: nowrap;}
a.buttonBasket img 	{display: none;}
a.button-shopping 	{color: #FF4E00;}	
a.button-checkout 	{color: #FF4E00;}

a.buttonCart {font: 12px Arial, Helvetica, sans-serif; white-space: nowrap;}
a.buttonCart img 		{display: none;}

a.buttonMore {color: #26779A; font: 18px "MS Sans Serif", Geneva, sans-serif; text-transform: lowercase; white-space: nowrap;}
a.buttonMore img 	{display:none;}

a.disabled {color: gray; cursor: text; font: 18px "MS Sans Serif", Geneva, sans-serif; padding: 0px 10px 0px 0px; text-decoration: none; text-transform: lowercase;}
/*** Button Links ***/

/*** Filter popup on more button ***/
.block-filter .BlockMiddle {z-index: 90;}
.block-filter .MiddleCenter {overflow: visible; position: static; z-index: 90;}
.filterPopup {background-color: #CDD29C; border: 1px solid #DDDDDD; display: none; margin-left: -5px; padding: 3px 4px; position: absolute; z-index: 100;}
/*** Filter popup on more button ***/

/*** Categories ***/
.CategoryList		{display: block; margin: 0px; padding: 0px;}
.CategoryList li		{background: url(../images/rainbow/tree_top.gif) no-repeat 0px 1px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 18px;}
.SubCategoryList		{display: block; margin: 4px 0px 0px 0px; padding: 0px;}
.SubCategoryList li		{background: url(../images/rainbow/tree_begin.gif) no-repeat 0px 1px; display: block; list-style: none; margin: 0px; padding: 2px 0px 0px 17px;}
.SubCategoryList li.lastCategory		{background: url(../images/rainbow/tree_end.gif) no-repeat 0px 1px;}

.selectedsubCategory a.title, 
.selectedtopCategory a.title {color: #FFFFFF;}
.selectedsubCategory ul a.title, 
.selectedtopCategory ul a.title {color: #00628B;}

.topCategory .category_img, .subCategory .category_img, .selectedtopCategory .category_img, .selectedsubCategory .category_img {margin: 0px 5px 0px 0px;}
/*** Categories ***/

/*** Products list (list, table view) and product details ***/
.block-product-details .titleTopCenter	{padding-left: 10px;}
.block-products-list .productImg, 
.block-product-details .productImg {margin-right: 10px; margin-bottom: 10px; padding: 1px;}

.featuresList	{border: 2px solid #DDDDDD; float: right; margin: 0px 0px 5px 5px; padding: 6px; width: 40%;}

.specification	{}
.groupTitle		{background: #DDDDDD; font-size: 120%; padding: 6px;}
.feature			{border-bottom: 1px solid #DDDDDD; display: block; padding: 6px;}
.featureName	{float: left; font-weight: bold; padding: 0px; width: 40%;}
.featureValue	{padding: 0px 0px 0px 45%;}

/* Matrix prices for product */
.matrix			{margin: 10px 0px;}
.matrixQty		{border-left: 1px solid #DDDDDD; border-top: 1px solid #E9E9E9; float: left;}
.matrixPrice	{border-top: 1px solid #DDDDDD; float: left;}
.matrixTitle	{background: #CDD29C; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; font-weight: bold; padding: 3px 6px; text-align: center;}
.matrixItem		{border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; padding: 3px 6px; text-align: left;}

/* Visualisation product list as table */
.productsTable th 		{padding: 3px;}
.productsTable td 		{padding: 3px;}
.productsCategory 		{font-size: 14px; font-weight: bold; background: #DDDDDD; color: #000000; padding: 6px !important; }
.productsCategoryDesc	{background: #DDDDDD; padding: 6px !important; }
.productsDelimiter 		{background: #DDDDDD; padding: 0px !important;}
.productsDelimiterTop 	{background: #DDDDDD; padding: 0px !important;}
.productsDelimiterTop img 	{height: 2px;}

/* Delimiter for list and rollover for details */
.vDelimiter {border-right: 1px solid #DDDDDD;}
.hDelimiter {background: #DDDDDD; border: 0px;}
.rolloverImagesTop {padding: 10px 0px 0px 0px;}
.rolloverImages {float: left; padding: 5px; text-align: center; width: 30%;}
.manufacturerImage {padding: 10px 0px 0px 0px;}

/* Visualisation tubs on product details */
.DetailTabs 			{border-bottom: 2px solid #DDDDDD; height: 1%; margin: 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.DetailTabs li 			{display: block; float: left; list-style: none; margin: 0px 10px 0px 0px; padding: 0px;}
.DetailTabs li.tab 			{background: none; border: 1px solid #DDDDDD; border-bottom: none;}
.DetailTabs li.tabActive 		{background: #DDDDDD; border: 1px solid #DDDDDD; border-bottom: none;}
.DetailTabs a.tab					{background: none; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tab:hover			{background: #DDDDDD; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none;}
.DetailTabs a.tabActive			{background: #DDDDDD; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}
.DetailTabs a.tabActive:hover	{background: #DDDDDD; color: #000000; display: block; font-size: 12px; font-weight: bold; padding: 5px 8px; text-decoration: none; cursor: text;}

/*** Products list (list, table view) and product details ***/

/*** Related products ***/
.relTitle {padding: 0px 0px 5px 0px;}
.relImg {margin: 0px 5px 5px 0px;}
/*** Related products ***/

/*** Small Cart ***/
.paddingCart td		{padding: 0px;}
.paddingCart .cartTitle td			{background: #DDDDDD; padding: 4px;}
.paddingCart .cartItem td			{border-bottom: 1px solid #DDDDDD; padding: 2px 4px;}
.paddingCart .cartGoodsTotal td	{border-top: 2px solid #DDDDDD; padding: 4px;}
/*** Small Cart ***/

/*** Latest ***/
td.topArticle {padding: 0px;}
td.subArticle {padding: 3px 3px 0px 0px;}
td.topArticle a.buttonMore	{display: block; padding-top: 2px;}
a.subArticle {padding-left: 8px; font-size: 11px; background: url(../images/bullet.gif) no-repeat left 3px;}
/*** Latest ***/

/*** Offers ***/
.offerTitleTop		{display: none;}
.offerTitle			{text-align: left; clear: right; display: block;}
.offerItem 			{text-align: left;}
.offerImg			{float: left; border: 1px solid #78C7FF; margin-right: 10px; margin-bottom: 10px;} 
.offerText			{text-align: left;}
.offerItem 
a.buttonMore		{display: block;}
/*** Offers ***/

/*** Forum ***/
.forumAdmin 			{color: blue; font-weight: bold;}
.forumUser 				{color: black; font-weight: bold;}
.forumGuest       	{color: black;  font-weight: bold; font-style: italic;}
.forumMessageLeft 	{background: #FFFCC0; border-left: 1px solid #9DC8DA; border-top: 1px solid #9DC8DA; border-bottom: 1px solid #9DC8DA;}
.forumMessageRight 	{background: #FFFCC0; border: 1px solid #9DC8DA;}
.forumMessageTop 		{background: #FAD03A; border-bottom: 1px solid #9DC8DA;}
/*** Forum ***/

/*** Footer ***/
.footerAll			{background: #FCA503 url(../images/rainbow/bgr-b.gif) repeat-x 0px 0px;}
.footerMenu			{
	background: url(../images/rainbow/bottom-img-t.gif) no-repeat 0px 0px;
	display: block;
	height: 26px;
	padding-top: 55px;
	text-align: center;
}
.footerMenu	span 	{display: none;}
.footerMenu	img.separator 	{display: inline-block; width: 3px; height: 3px; background: #4298BB; margin: 0px 5px 4px 6px; vertical-align: bottom;}
.footerHTML			{
	background: url(../images/rainbow/bottom-img-b.gif) no-repeat 0px 0px;
	height: 56px;
	padding-top: 10px;
	text-align: center;
	}
.footerImg	{text-align: right; padding: 0px 10px 0px 0px;}
.footerImg img		{width: 80px; height: 26px; border:0px;}
/*** Footer ***/

/*** Visualisation tubs on UserHome pages ***/
.AdminTabs 				{background: url(../images/default/admin-tabs-bgr-light.gif); height: 1%; margin: 0px 0px 10px 0px; overflow: hidden; padding: 0px 0px 0px 10px;}
.AdminTabs li 				{display: block; float: left; list-style: none; margin: 0px 0px 0px 0px; padding: 0px;}
.AdminTabs li.adminTab			{border-bottom: 1px solid #919B9C;}
.AdminTabs li.adminTabActive	{border: none;}
.AdminTabs li.BeginTab			{display: none;}
.AdminTabs li.EndTab			{display: none;}
div.adminTab 			{background: none; border: 1px solid #919B9C; border-bottom: none; cursor: pointer; font: 11px/18px Verdana, sans-serif; margin: 8px 2px 0px 2px; padding: 2px 8px 1px 8px; white-space: nowrap;}
div.adminTabActive 	{background: #6FAFCA; border: 1px solid #919B9C; border-top: 2px solid #919B9C; border-bottom: none; font: bold 11px/18px Verdana, sans-serif; margin: 3px 2px 0px 2px; padding: 4px 8px 4px 8px; white-space: nowrap;}
a.blackSm, a.blackSm:hover {text-decoration: none;}
/*** Visualisation tubs on UserHome pages ***/

/*** Prices on the site ***/
.priceBlock {color: #000; font-weight: bold;}
.priceBlock .price {font-weight: bold;}
.priceBlock .priceTax {font-weight: normal;}

.priceBlockOld {color: #000; text-decoration: line-through;}
.priceBlockOld .price {font-weight: normal;}
.priceBlockOld .priceTax {font-weight: normal;}

.priceBlockHidden {color: #000; font-weight: bold; display: none;}
.priceBlockHidden .price {font-weight: bold;}
.priceBlockHidden .priceTax {font-weight: normal;}

.priceBlockEdit {color: #000; font-weight: bold;}
.priceBlockEdit input.price {text-align: right; font-weight: bold; width: 60px; font-size: 13px; color: black; border: 1px solid #A3ACB1;}

.salesBlock {color: #000; font-weight: bold; border: none; background: transparent;}
.salesPrice {font-weight: bold;}
.salesTax {font-weight: normal;}

.priceSaveBlock {color: #0A0; font-weight: bold;}
.priceSaveBlock .price {font-weight: bold;}
.priceSaveBlock .percent {font-weight: normal;}

.pointsPriceBlock {}
.pointsPriceBlock .points {}

.rewardPointsBlock {}
.rewardPointsBlock .points {}
/*** Prices on the site ***/

/*** Rating part ***/
.SummaryStatistic img					{margin-top: -2px;}
.SummaryStatistic .percentage img 	{margin-right: 10px;}
.ShowReviews img							{margin-top: -2px;}
.ShowReviews span							{padding: 0px 10px;}
.RatingImage								{float: left;}
.RatingText									{margin-left: 110px;}

.neutral {display: none;}
.commend		{background: url(../images/icons/commend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.discommend	{background: url(../images/icons/discommend.png) no-repeat; width: 20px; height: 20px; border:0px;}
.not-rated	{background: url(../images/icons/not-rated.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-1	{background: url(../images/icons/rating-1.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-2	{background: url(../images/icons/rating-2.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-3	{background: url(../images/icons/rating-3.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-4	{background: url(../images/icons/rating-4.png) no-repeat; width: 97px; height: 18px; border:0px;}
.rating-5	{background: url(../images/icons/rating-5.png) no-repeat; width: 97px; height: 18px; border:0px;}
/*** Rating part ***/

/*** Wishlist pop-up window ***/
.wishlist-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.wishlist-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 400px; background: #96AD7F;}
.wishlist-block		{position: relative; bottom: 5px; right: 5px; width: 400px; background: #E8E1A5; border: 1px solid #5FA1C3;}
.wishlist-img-close	img {margin: 10px 10px 5px 0px;}
.wishlist-descr		{padding: 0px 35px 20px 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align:justify;}
/*** Wishlist pop-up window ***/

/*** Shipping pop-up window ***/
.shipping-opacity	{display: none; z-index: 900; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: #E1E1E1;}
.shipping-shadow	{display: none; z-index: 1000; position: absolute; top: 0px; left: 0px; width: 600px; background: #96AD7F;}
.shipping-block		{position: relative; bottom: 5px; right: 5px; width: 600px; background: #E8E1A5; border: 1px solid #5FA1C3;}
.shipping-img-close	img {margin: 5px 5px 5px 0px; }
.shipping-descr		{padding: 0px 15px 10px 15px; font-size: 14px; width: 570px; font-family: Arial, Helvetica, sans-serif; }
/*** Shipping pop-up window ***/

/*** New Product's icon ***/
.block-product-details .newProduct {display: block; position: relative; padding-right: 34px !important;}
.block-product-details .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; margin: 0px 0px -6px 2px;}
.block-products-list .newProduct img {background: url(../images/icons/new_l.png) no-repeat; width: 30px; height: 22px; border: none; position: relative; margin: 0px 0px -6px 2px;}
.newProduct img {background: url(../images/icons/new_m.png) no-repeat; width: 20px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** New Product's icon ***/

/*** Restricted Item's icon ***/
.block-products-list .restrictedItem img.restrictedItem {background: url(../images/icons/lock.png) no-repeat; width: 22px; height: 23px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedItem img.restrictedItem {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
.restrictedCategory img.restrictedCategory {background: url(../images/icons/lock-s.png) no-repeat; width: 15px; height: 16px; border: none; position: relative; margin: 0px 0px -3px 2px;}
/*** Restricted Item's icon ***/

/*** Manual list ***/
.level1 {padding: 2px 2px 2px 15px;}
.level1 a {font-weight: bold;}
.level1 a:hover {font-weight: bold;}
.level2 {padding: 2px 2px 2px 30px;}
.level3 {padding: 2px 2px 2px 40px;}
.level4 {padding: 2px 2px 2px 50px;}
/*** Manual list *****/

/*** Custom menu list ***/
.CustomMenu ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.CustomMenu ul ul		{display: block; margin: 0px; padding: 0px;}
.CustomMenu ul li		{background: url(../images/bullet.gif) no-repeat 5px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 15px;}
.CustomMenu ul li a		{font-weight: bold;}
.CustomMenu ul li li a		{font-weight: normal;}
/*** Custom menu list ***/

/*** Site map list ***/
.SiteMap ul		{display: block; margin: 0px; padding: 0px;}
.SiteMap ul ul		{display: block; margin: 0px; padding: 0px 0px 0px 10px;}
.SiteMap ul li		{background: url(../images/bullet.gif) no-repeat 0px 6px; display: block; list-style: none; margin: 0px; padding: 2px 0px 2px 10px;}
.SiteMap ul li a		{font-weight: bold;}
.SiteMap ul li li a		{font-weight: normal;}
/*** Site map list ***/

/*** Image slider box ***/
.imageSlider	{position: relative; overflow: hidden;}

.sliderClassVertical	{top: -2000px; border-bottom: 1px solid #E9E9E9; position: absolute; width: 100%;}
.sliderClassVertical td.padding10px	{padding: 20px;}

.sliderClassHorizontal		{left: -2000px; position: absolute; width: 100%;}
.sliderClassHorizontal td.padding10px	{padding: 10px 30px;}

/* Image slider tooltip */
.soPopupContent {position: absolute; z-index: 999; width: 300px; border: 1px solid #CED7DF; background: #FFFFFF; padding: 20px; display: none;}
.soPopupContent a.bigtitle	{display: block; margin-bottom: 15px; text-align: center;}
.soPopupImg	{text-align: center; margin-bottom: 15px;}
.soPopupImg img	{border: 1px solid #E8ECF0;}
.soText	{text-align: justify;}
.popupTooltip	{display: none;}
/*** Image slider box ***/

/***  ***/
.block-articles-details .titleTopCenter	{padding: 6px 0px 6px 0px;}
.block-basket-recommended select	{margin-right: 5px;}
.block-user-profile .titleTopCenter div	{text-align: center;}
.block-search select	{margin-bottom: 7px;}
.block-reviews .titleTopCenter	{padding: 8px 10px;}