<div class="block-login {block_class}" style="{block_style}">
<a name="block_login_{pb_id}"></a>
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">

<form action="{login_form_url}#block_login_{pb_id}" name="login" method="post">
<input type="hidden" name="login_action" value="{login_action}" />
<input type="hidden" name="return_page" value="{return_page}" />
{hidden_parameters}

<table align="center" border="0">
<!-- BEGIN login_errors -->
<tr>
	<td colspan="2" align="center">
		<div class="errorbg">{errors_list}</div>
	</td>
</tr>
<!-- END login_errors -->
<!-- BEGIN login_form -->
<tr>
	<td align="right">{LOGIN_FIELD}&nbsp;</td>
	<td><input class="text" type="text" name="user_login" value="{user_login}" size="15" maxlength="64" /></td>
</tr>
<tr>
	<td align="right">{PASSWORD_FIELD}&nbsp;</td>
	<td><input class="text" type="password" name="user_password" value="" size="15" maxlength="32" /></td>
</tr>
<tr>
	<td></td>
	<td align="right">
		<span class="submit"><input class="submit" type="submit" value=" {LOGIN_BUTTON} " /></span>
	</td>
</tr>
<tr class="usualbg">
  <td colspan="2" align="right">&nbsp;<a href="{forgot_password_href}">{FORGOT_PASSWORD_MSG}</a></td>
</tr>
<!-- END login_form --><!-- BEGIN logout_form -->
<tr>
	<td colspan="2" align="right">{LOGIN_AS_MSG} <b>{user_login}</b></td>
</tr>
<tr>
	<td colspan="2" align="right">{ACCESS_HOME_MSG} <a href="{user_home_href}">{CLICK_HERE_MSG}</a></td>
</tr>
<tr>
	<td colspan="2" align="right">
		<span class="submit"><input class="submit" type="submit" value=" {LOGOUT_BUTTON} " /></span>
	</td>
</tr>
<!-- END logout_form -->
</table>
</form>

		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>