<div class="block-twitter-feed {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">			<div class="padding10px">
			<!-- BEGIN twitter_errors -->
			<div class="errorbg">{errors_list}</div>
			<!-- END twitter_errors -->
			
			<!-- BEGIN twitter_feeds -->
			<div class="twitter">
				<div class="twitter_feed" id="twitter_update_list">Loading...</div>  
				<script src="http://twitter.com/javascripts/blogger.js" type="text/javascript"></script>  
				<script src="http://api.twitter.com/1/statuses/user_timeline.json?id={tf_username}&count={tf_recs}&callback=twitterCallback2" type="text/javascript"></script>  
			</div>
			<!-- END twitter_feeds -->
		</div>		</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>

