<script language="JavaScript" type="text/javascript">
//<![CDATA[
var compareMinAllowed = "{COMPARE_MIN_ALLOWED_MSG}";
var compareMaxAllowed = "{COMPARE_MAX_ALLOWED_MSG}";
//]]>
</script>
<div class="block-ads-recently-viewed {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">

		<form action="{compare_href}" name="{compare_name}" method="get">
		<input type="hidden" name="items" value="" />
		<table width="100%" cellspacing=0 cellpadding=2 border="0"><!-- BEGIN recently_viewed_items -->
		<tr>
			<td class="top">

				<!-- begin top_image --><a href="{details_href}"><img src="{src}" {width} {height} hspace="5" border="0" alt="{alt}" align="left" /></a><!-- end top_image -->
	  
				<b>{top_position}.</b> <a href="{details_href}">{top_name}</a> <!-- begin top_value_block -->- <b>{top_value}</b> {top_tax_price}<!-- end top_value_block -->

				<!-- begin top_desc --><br />{desc_text}<!-- end top_desc -->

				<!-- begin recent_compare -->
				<div align="right">
					<input type="checkbox" name="compare" value="{item_id}" />
					<a class="smallText" href="#" onclick="return compareRecentItems('{compare_name}');"><b>{COMPARE_MSG}</b></a>
				</div><!-- end recent_compare -->

			</td>
		</tr><!-- END recently_viewed_items --> 
		</table>
		</form>

		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>