<div id="pb_{pb_id}" class="block-basket {block_class}" style="{block_style}">
<form name="shopping_cart" action=""><input type="hidden" name="pb_id" value="{pb_id}" /></form>
<script type="text/javascript" src="js/basket.js"></script>
<script type="text/javascript" src="js/images.js"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[
var removeFromCart = "{REMOVE_FROM_CART_JS}";
var cartQtyZero = "{CART_QTY_ZERO_JS}";
var alterCartQty = "{ALTER_CART_QTY_JS}";
var requiredProperty = "{REQUIRED_PROPERTY_MSG}";
var requiredMessage = "{REQUIRED_MESSAGE}";
var addProduct = "{ADD_PRODUCT_MSG}";
var confirmAdd = "{confirm_add}";
//]]>
</script>
<script language="JavaScript" type="text/javascript">
	function check_qiwi() {
		var qiwi_number = prompt('{MSG_QIWI_PHONE_ENTER}');
		if (qiwi_number == null) {
			return false;
		} else {
			var re = new RegExp("^\\d{"+"10}$");	
			if (!re.test(qiwi_number)) {
				alert('{MSG_QIWI_PHONE_ERROR}');
				return false;
			}
			document.cookie = "qiwi_number=" + escape(qiwi_number);
		}
		return true;
	}
</script>
     <!-- begin call_center_mode -->
	<div class="message"> 
		{CALL_CENTER_MODE_MSG}
	</div><!-- end call_center_mode -->
    
	<!-- begin sc_errors -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr class="errorbg"> 
		<td valign="top" align="center">
  
			<table width="100%" border="0" cellspacing="1" cellpadding="5">
			<tr><td class="errorbg" align="center">
				{errors_list}
			</td></tr>
			</table>
  
		</td>
	</tr>
	</table><br /><!-- end sc_errors -->
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<!-- begin empty -->
		<table cellpadding="5" cellspacing="1" width="100%" class="headerbg">
		<tr class="usualbg" align="center">
			<td class="bigtitle">{EMPTY_CART_MSG}</td>
		</tr></table>
		<!-- end empty -->
		<!-- begin basket -->
		<form name="basket" action="{basket_href}">
		{hidden_parameters}
		<input type="hidden" name="cart" value="QTY" />
		<input type="hidden" name="rnd" value="{random_value}" />
		<input type="hidden" name="cart_id" value="" />
		<input type="hidden" name="new_quantity" value="" />
		<table border="0" cellspacing="1" width="100%" class="headerbg padding6px">
		<tr class="middlebg">
			<!-- begin item_image_header -->
			<td></td><!-- end item_image_header -->
			<!-- begin item_name_header -->
			<td>{PROD_TITLE_COLUMN}</td><!-- end item_name_header -->
			<!-- begin item_price_header -->
			<td align="right">{PROD_PRICE_COLUMN} {tax_note_excl}</td><!-- end item_price_header -->
			<!-- begin item_tax_percent_header -->
			<td align="right">{tax_name} (%)</td><!-- end item_tax_percent_header -->
			<!-- begin item_tax_header -->
			<td align="right">{tax_name}</td><!-- end item_tax_header -->
			<!-- begin item_price_incl_tax_header -->
			<td align="right">{PROD_PRICE_COLUMN} {tax_note}</td><!-- end item_price_incl_tax_header -->
			<!-- begin item_quantity_header -->
			<td align="right"> {PROD_QTY_COLUMN} </td><!-- end item_quantity_header -->
			<!-- begin item_price_total_header -->
			<td align="right"> {PROD_TOTAL_COLUMN} {tax_note_excl} </td><!-- end item_price_total_header -->
			<!-- begin item_tax_total_header -->
			<td align="right"> {tax_name} {PROD_TAX_TOTAL_COLUMN} </td><!-- end item_tax_total_header -->
			<!-- BEGIN item_price_incl_tax_total_header -->
			<td align="right"> {PROD_TOTAL_COLUMN} {tax_note} </td><!-- END item_price_incl_tax_total_header -->
			<td> &nbsp; </td>
		</tr><!-- begin items -->
		<tr class="usualbg" valign="top">
			<!-- begin item_image_column -->
			<td class="usualbg" align="center" valign="top">
				<!-- begin image_preview -->
				<img src="{src}" {height} {width} border="0" alt="{alt}" align="left" />
				<!-- end image_preview -->
			</td>
			<!-- end item_image_column -->
			<!-- begin item_name_column -->
			<td class="usualbg">
				<a href="{product_url}">{item_name}</a>
				<!-- begin item_code_block -->
				<br />{PROD_CODE_MSG}:  {item_code} <!-- end item_code_block -->	
				<!-- begin manufacturer_code_block -->
				<br />{MANUFACTURER_CODE_MSG}:  {manufacturer_code} <!-- end manufacturer_code_block -->	
				<font class="smallText">{properties_values}</font>
				<!-- begin components_block -->
				<div> {PROD_SUBCOMPONENTS_MSG}: </div>
				<!-- begin components -->
				<div>{selection_name} {component_quantity} x {component_name} {component_price} {component_icon}</div>
				<!-- end components -->
				<!-- end components_block -->
				<!-- begin edit_options_link -->
				<div class="editOptions"><a class="editOptions" href="{product_options_href}?cart_id={cart_id}">{EDIT_OPTIONS_MSG}</a></div>
				<!-- end edit_options_link -->
				<!-- begin choose_options_link -->
				<div class="chooseOptions"><a class="chooseOptions" href="{product_options_href}?cart_id={cart_id}">{CHOOSE_OPTIONS_MSG}</a></div>
				<!-- end choose_options_link -->

				<!-- begin specification_block -->
					<!-- begin spec_groups -->
					<div> <u>{group_name}</u> </div><!-- begin spec_features -->
					<div>{feature_name}: {feature_value}</div><!-- end spec_features --><!-- end spec_groups -->
				<!-- end specification_block -->
				<!-- begin item_taxes -->
				<div>{tax_name}:&nbsp;{tax_amount_total}</div><!-- end item_taxes -->
				<!-- begin points_price_block -->
				<div class="points_price">{POINTS_PRICE_MSG}:&nbsp;{points_price}</div><!-- end points_price_block -->
				<!-- begin reward_points_block -->
				<div class="reward_points">{REWARD_POINTS_MSG}:&nbsp;{reward_points}</div><!-- end reward_points_block -->
				<!-- begin reward_credits_block -->
				<div class="reward_credits">{REWARD_CREDITS_MSG}:&nbsp;{reward_credits}</div><!-- end reward_credits_block -->
				<!-- begin item_error -->
				<div class="error">{errors_list}</div>
				<!-- end item_error -->
				<!-- begin item_notice -->
				<div class="messagebg" align="center">{notice_list}</div><!-- end item_notice -->
			</td>
			<!-- end item_name_column -->
			<!-- begin item_price_column -->
			<td align="right">{price_excl_tax}</td><!-- end item_price_column -->
			<!-- begin item_tax_percent_column -->
			<td align="right">{tax_percent}</td><!-- end item_tax_percent_column -->
			<!-- begin item_tax_column -->
			<td align="right">{tax}&nbsp;</td><!-- end item_tax_column -->
			<!-- begin item_price_incl_tax_column -->
			<td align="right">{price_incl_tax}</td><!-- end item_price_incl_tax_column -->
			<!-- begin item_quantity_column -->
			<td align="right">{quantity}</td><!-- end item_quantity_column -->
			<!-- begin item_price_excl_tax_total_column -->
			<td align="right">{price_excl_tax_total}</td><!-- end item_price_excl_tax_total_column -->
			<!-- begin item_tax_total_column -->
			<td align="right">{tax_total}</td><!-- end item_tax_total_column -->
			<!-- begin item_price_incl_tax_total_column -->
			<td align="right">{price_incl_tax_total}</td><!-- end item_price_incl_tax_total_column -->
			<td align="center"><a href="{remove_href}" onclick="return confirmDelete('{item_type}');">{REMOVE_FROM_CART_MSG}</a></td>
		</tr><!-- end items -->
		<tr class="middlebg">
			<td colspan="{columns_colspan}">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><!-- begin reward_points_total_block -->
						<div>{REWARD_POINTS_MSG}: {reward_points_total}</div><!-- end reward_points_total_block --><!-- begin reward_credits_total_block -->
						<div>{REWARD_CREDITS_MSG}: {reward_credits_total}</div><!-- end reward_credits_total_block -->
					</td>
					<td align="right"> {GOODS_TOTAL_MSG} </td>
				</tr>
				</table>
			</td>
			<!-- BEGIN goods_total_excl_tax_column -->
			<td align="right"> {goods_total_excl_tax} </td><!-- END goods_total_excl_tax_column -->
			<!-- BEGIN goods_tax_total_column -->
			<td align="right"> {goods_tax_total} </td><!-- END goods_tax_total_column -->
			<!-- BEGIN goods_total_incl_tax_column -->
			<td align="right"> {goods_total_incl_tax} </td><!-- END goods_total_incl_tax_column -->
			<td> &nbsp; </td>
		</tr><!-- begin coupons -->
		<tr class="usualbg" valign="top">
			<td class="usualbg" colspan="{columns_colspan}">{coupon_title}</td>
			<!-- BEGIN discount_amount_excl_tax_column -->
			<td align="right">{discount_amount_excl_tax}</td><!-- END discount_amount_excl_tax_column -->
			<!-- BEGIN discount_tax_column -->
			<td align="right">{discount_tax_amount}</td><!-- END discount_tax_column -->
			<!-- BEGIN discount_amount_incl_tax_column -->
			<td align="right">{discount_amount_incl_tax}</td><!-- END discount_amount_incl_tax_column -->
			<td align="center"><a href="{remove_href}" onclick="return confirmDelete('{item_type}');">{COUPON_REMOVE_MSG}</a></td>
		</tr><!-- end coupons --><!-- begin discount -->
		<tr class="middlebg">
			<td colspan="{columns_colspan}" align="right"> {TOTAL_DISCOUNT_MSG} </td>
			<!-- BEGIN total_discount_amount_excl_tax_column -->
			<td align="right"> {total_discount_excl_tax} </td><!-- END total_discount_amount_excl_tax_column -->
			<!-- BEGIN total_discount_tax_column -->
			<td align="right"> {total_tax_discount_amount} </td><!-- END total_discount_tax_column -->
			<!-- BEGIN total_discount_amount_incl_tax_column -->
			<td align="right"> {total_discount_incl_tax} </td><!-- END total_discount_amount_incl_tax_column -->
			<td> &nbsp; </td>
		</tr><!-- end discount -->
		<!-- begin vouchers -->
		<tr class="usualbg" valign="top">
			<td class="usualbg" colspan="{columns_colspan}">{voucher_title} ({voucher_max_amount})</td>
			<!-- BEGIN voucher_excl_tax_column -->
			<td align="right">{voucher_amount_excl_tax}</td><!-- END voucher_excl_tax_column -->
			<!-- BEGIN voucher_tax_column -->
			<td align="right">{voucher_tax_amount}</td><!-- END voucher_tax_column -->
			<!-- BEGIN voucher_incl_tax_column -->
			<td align="right">{voucher_amount_incl_tax}</td><!-- END voucher_incl_tax_column -->
			<td align="center"><a href="{remove_href}" onclick="return confirmDelete('{item_type}');">{COUPON_REMOVE_MSG}</a></td>
		</tr><!-- end vouchers --><!-- begin discounted -->
		<tr class="middlebg">
			<td colspan="{columns_colspan}" align="right"> {GOODS_WITH_DISCOUNT_MSG} </td>
			<!-- BEGIN discounted_amount_excl_tax_column -->
			<td align="right"> {discounted_amount_excl_tax} </td><!-- END discounted_amount_excl_tax_column -->
			<!-- BEGIN discounted_tax_column -->
			<td align="right"> {discounted_tax_amount} </td><!-- END discounted_tax_column -->
			<!-- BEGIN discounted_amount_incl_tax_column -->
			<td align="right"> {discounted_amount_incl_tax} </td><!-- END discounted_amount_incl_tax_column -->
			<td> &nbsp; </td>
		</tr><!-- end discounted -->
		</table>
		</form><!-- end basket -->
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"><!-- begin coupon_errors -->
		<tr>
			<td><div class="errorbg">{errors_list}</div></td>
			<td></td>
		</tr><!-- end coupon_errors -->
		<tr class="padding6px" > <!-- begin coupon_form -->
			<td>
				<form name="coupon" action="{basket_href}">
				<input type="hidden" name="operation" value="add" />
				{hidden_parameters}
				<table cellspacing="1"><tr>
				<td>{COUPON_CODE_FIELD}:</td>
				<td><input class="field" size="16" type="text" name="coupon_code" value="{coupon_code}" /></td>
				<td><span class="submit"><input class="submit" type="submit" value="{APPLY_BUTTON}" /></span></td>
				</tr></table>
				</form>
			</td><!-- end coupon_form -->
			<td align="right" class="butTd">
				<!-- begin continue_button -->
				<a class="buttonBasket button-shopping" id="shopping" href="{rp_href}"> <span>{CONTINUE_SHOPPING_MSG}</span> <img src="images/tr.gif" alt="{CONTINUE_SHOPPING_MSG}" /></a>
				<span class="spacer">&nbsp;|&nbsp;</span><!-- end continue_button -->
				<!-- begin products_button -->
				<a class="buttonBasket button-products" id="products" href="#" onclick="productsWin('{call_center_products_href}'); return false;"> <span>{PRODUCTS_TITLE}</span> <img src="images/tr.gif" alt="{PRODUCTS_MSG}" /></a>
				<span class="spacer">&nbsp;|&nbsp;</span><!-- end products_button -->
				<a class="buttonBasket button-retrieve" id="retrieve" href="{cart_retrieve_href}"><span>{RETRIEVE_CART_BUTTON}</span><img src="images/tr.gif" alt="{RETRIEVE_CART_BUTTON}" /></a><!-- begin basket_links -->
				<span class="spacer">&nbsp;|&nbsp;</span>
				<a class="buttonBasket button-save" id="save" href="{cart_save_href}"><span>{SAVE_CART_BUTTON}</span><img src="images/tr.gif" alt="{SAVE_CART_BUTTON}" /></a>
				<span class="spacer">&nbsp;|&nbsp;</span>
				<a class="buttonBasket button-clear" id="clear" href="{remove_all_href}" onclick=" return confirm('{CLEAR_CART_JS}');"><span>{CLEAR_CART_MSG}</span><img src="images/tr.gif" alt="{CLEAR_CART_MSG}" /></a>
				<span class="spacer">&nbsp;|&nbsp;</span>
				<!-- begin shipping_button -->
				<a class="buttonBasket button-shipping" id="shipping" href="{shipping_calculator_href}" onclick="popupShippingWin('{shipping_calculator_href}'); return false;"><span>{SHIPPING_CALCULATOR_MSG}</span><img src="images/tr.gif" alt="{SHIPPING_CALCULATOR_MSG}" /></a>
				<span class="spacer">&nbsp;|&nbsp;</span>
				<!-- end shipping_button -->
				<a class="buttonBasket button-checkout" id="checkout" href="{checkout_href}"> <span>{GOTO_CHECKOUT_MSG}</span> <img src="images/tr.gif" alt="{GOTO_CHECKOUT_MSG}" /></a><!-- end basket_links -->
			</td>
		</tr><!-- begin fast_checkout_form -->
		<tr>
			<td colspan="2">
			<div class="fast_checkout">
				<form name="fast_checkout" action="{order_info_url}" method="post" onsubmit="return checkFastCheckoutDetails();">
				<input type="hidden" name="operation" value="fast_checkout" />
				<input type="hidden" name="fast_payment_id" value="{fast_payment_id}" />
				<input type="hidden" name="postcode_required" value="{postcode_required}" />
				<input type="hidden" name="state_required" value="{state_required}" />
				<input type="hidden" name="country_required" value="{country_required}" />
				<div class="fast_checkout_inner padding6px middlebg" style="font-weight:bold;">				
					&ndash;&ndash; {OR_USE_MSG} &ndash;&ndash;
				</div>
				<div class="fast_checkout_inner">
		
						<!-- begin fast_checkout_country_select -->
						<span id="fast_checkout_country_name">{COUNTRY_FIELD}</span> <span class="asterix">{country_required}</span> 
						<select style="font-size: 8pt; width: 200px;" name="fast_checkout_country_id"><!-- begin fast_checkout_country_id -->
							<option {fast_checkout_country_id_selected} value="{fast_checkout_country_id_value}">{fast_checkout_country_id_description}</option><!-- end fast_checkout_country_id -->
						</select><!-- end fast_checkout_country_select -->
						<!-- begin fast_checkout_country_hidden -->
						<input type="hidden" name="fast_checkout_country_id" value="{fast_checkout_country_id_value}" />
						<!-- end fast_checkout_country_hidden -->
			    
						<!-- begin fast_checkout_state_select -->
						<span id="fast_checkout_state_name">{STATE_FIELD}</span> <span class="asterix">{state_required}</span>
						<select style="font-size: 8pt;" name="fast_checkout_state_id"><!-- begin fast_checkout_state_id -->
							<option {fast_checkout_state_id_selected} value="{fast_checkout_state_id_value}">{fast_checkout_state_id_description}</option><!-- end fast_checkout_state_id -->
						</select>
						<!-- end fast_checkout_state_select -->
						<!-- begin fast_checkout_state_hidden -->
						<input type="hidden" name="fast_checkout_state_id" value="{fast_checkout_state_id_value}" />
						<!-- end fast_checkout_state_hidden -->
			    
						<!-- begin fast_checkout_postcode_textbox -->
						<span id="fast_checkout_postcode_name">{ZIP_FIELD}</span> <span class="asterix">{postcode_required}</span>
						<input style="font-size: 8pt;" class="text" type="text" name="fast_checkout_postcode" value="{fast_checkout_postcode}" size="8" maxlength="16" />
						<!-- end fast_checkout_postcode_textbox  -->
						<!-- begin fast_checkout_postcode_hidden -->
						<input type="hidden" name="fast_checkout_postcode" value="{fast_checkout_postcode_value}" />
						<!-- end fast_checkout_postcode_hidden -->
		
				</div>
				
				<div class="fast_checkout_payments" style="overflow:hidden">
						<!-- begin fast_checkout_payments -->
							<div class="fast_checkout_payment" style="float:left; padding:10px;">
								<!-- begin fast_checkout_image -->
								<input type="image" name="fast_checkout_ps_id_{fast_payment_id}" alt="{fast_checkout_alt}" {fast_checkout_width} {fast_checkout_height}
									src="{fast_checkout_src}" onclick="{check_qiwi}document.fast_checkout.fast_payment_id.value={fast_payment_id};" />
								<!-- end fast_checkout_image -->
								<!-- begin fast_checkout_button -->
								<span class="submit"><input class="submit" type="submit" 
									value="{fast_checkout_alt}" onclick="{check_qiwi}document.fast_checkout.fast_payment_id.value={fast_payment_id};" /></span>
								<!-- end fast_checkout_button -->
							</div><!-- end fast_checkout_payments -->
				</div>
					
		
				</form>
			</div>
			</td>
		</tr>
		
		<script type="text/javascript">
			var allowedCountiesPid = [
				<!-- begin countriesTypes -->
				<!-- begin psCountriesList -->
				{ 
					systemId:{systemId},
					allowedCountries: [{ctnsIds}]
				}{separator}
				<!-- end psCountriesList -->
				<!-- end countriesTypes -->
			];
			Array.prototype.in_array = function(p_val) {
				for(var i = 0, l = this.length; i < l; i++)	{
					if(this[i] == p_val) {
						return true;
					}
				}
				return false;
			}
			
			var CountriesChecker = {
				operationRequire: false,
				restrictedSysyemsLength: 0,
				existedPS: {existed_ps},
				init: function(){
					var psLength = this.restrictedSysyemsLength = allowedCountiesPid.length;
					if (psLength == 0) return false;
					this.operationRequire = true;
					this.checkSelectedCountry();
				},
				checkSelectedCountry: function(){
					var userCountry = document.fast_checkout.fast_checkout_country_id.selectedIndex;
					if(CountriesChecker.operationRequire === false) return false;
					else if(userCountry == 0) CountriesChecker.getAllowedPS(0);
					else{
						CountriesChecker.getAllowedPS(document.fast_checkout.fast_checkout_country_id[userCountry].value);
					}
				},
				getAllowedPS: function(_uC){
					var i, cForm = document.fast_checkout, currentPS, cElem;
					_uC = parseInt(_uC),_disabled = 0;
					for (i = 0; i < CountriesChecker.restrictedSysyemsLength; i += 1){
						currentPS = 'fast_checkout_ps_id_' + allowedCountiesPid[i].systemId;
						cElem = document.getElementsByName(currentPS)[0];
						if(allowedCountiesPid[i].allowedCountries.in_array(_uC) === false){
							cElem.style.display = "none";
							_disabled +=1;
						}
						else{
							cElem.style.display = "block";
						}
					}
					this.checkDelimiterVisibility(_disabled);					
				},
				checkDelimiterVisibility: function(bannedElems){
					var _topDelimiter = document.getElementById('topDelimiter');
					if (CountriesChecker.existedPS == bannedElems){
						_topDelimiter.style.display = 'none';
					}
					else{
						_topDelimiter.style.display = '';
					}
				}
			}
			CountriesChecker.init();
			var _countryChecker = document.fast_checkout.fast_checkout_country_id;
			if (!_countryChecker.addEventListener) {
				_countryChecker.attachEvent("onchange", CountriesChecker.checkSelectedCountry);
			}
			else {
				_countryChecker.addEventListener("change", CountriesChecker.checkSelectedCountry, false);
			}
		</script><!-- end fast_checkout_form -->
		</table>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>