<a name="block_{pb_id}"></a>
<div class="block-subscribe {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<!-- begin subscribe_error -->
			<div class="errorbg"><b>{error_desc}</b></div>
			<!-- end subscribe_error -->
			<!-- begin subscribe_message -->
			<div class="messagebg"><b>{message_desc}</b></div>
			<!-- end subscribe_message -->
			<div>{SUBSCRIBE_FORM_MSG}</div><br />
			<div>
				<form action="{current_href}#block_{pb_id}" method="get">
				{hidden_parameters}
				<input class="field" type="text" name="subscribed_email" value="{subscribed_email}" />
				<span class="submit"><input class="submit" type="submit" value="{SUBSCRIBE_BUTTON}" /></span>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>
