<table width="100%" border="0" cellspacing="0" cellpadding="0" class="manual"><!-- BEGIN section -->
<tr>
	<td class="level-{level}"><a href="{section_href}">{section_number}. {name}</a></td>
</tr><!-- END section -->
</table>