<div id="pb_{pb_id}" class="block-cart {block_class}" style="{block_style}">
<form name="small_cart" action=""><input type="hidden" name="pb_id" value="{pb_id}" /></form>
	<a href="{basket_href}" title="Cart" class='cartIco'>{SMALL_CART_TITLE}</a><br/>

<!-- begin empty_small_cart -->
	<!-- {EMPTY_CART_MSG} -->
	Товаров: {total_quantity} <br/>
	На сумму: {total_price}
<!-- end empty_small_cart -->

<!-- begin small_cart -->
	Товаров: {total_quantity} <br/>
	На сумму: {total_price}
<!-- end small_cart -->

</div>