<a name="block_{pb_id}"></a>
<div class="block-products-fast-add {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">

		<!-- BEGIN errors_block --><div class="errorbg" align="center"><b>{errors}</b></div><!-- END errors_block -->
		<!-- BEGIN message_block --><div class="messagebg" align="center">{message}</div><!-- END message_block -->

		<form action="{current_href}#block_{pb_id}" method="post" name="products_{pb_id}" />
		{hidden_parameters}
		<input type="hidden" name="operation" value="add" />
		<input type="hidden" name="pb_id" value="{pb_id}" />

		<table border="0" cellpadding="3" cellspacing="3">		
		<tr>
			<td>
				{CODE_MSG}
			</td>
			<td>
				<input class="search" type="text" name="fast_code" value="{fast_code}" />
			</td>			
		</tr>
		<tr>
			<td>
				{QUANTITY_MSG}
			</td>
			<td>
				<input class="search" type="text" name="fast_quantity" value="{fast_quantity}" />
			</td>
		</tr>		
		<tr>
			<td></td>
			<td>
				<span class="submit"><input class="submit" type="submit" value="{ADD_TO_CART_MSG}" name="add_product" /></span>
			</td>
		</tr>
		</table>				
		</form>
		
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>