<div class="block-login-simple {block_class}" style="{block_style}">
<a name="block_login_{pb_id}"></a>

<form action="{login_form_url}#block_login_{pb_id}" name="login_simple" method="post">
<input type="hidden" name="login_action" value="{login_action}" />
<input type="hidden" name="return_page" value="{return_page}" />
{hidden_parameters}

<!-- BEGIN login_errors -->
<div class="errorbg">{errors_list}</div>
<!-- END login_errors -->

<!-- BEGIN login_form -->
<div style="padding: 10px;">
	{LOGIN_FIELD}&nbsp;
	<input class="fieldSmall" type="text" name="user_login" value="{user_login}" size="15" maxlength="64" />
	&nbsp;{PASSWORD_FIELD}&nbsp;
	<input class="fieldSmall" type="password" name="user_password" value="" size="15" maxlength="32" />
		<span class="submit"><input class="submit" type="submit" value=" {LOGIN_BUTTON} " /></span>
		&nbsp;<a href="{forgot_password_href}">{FORGOT_PASSWORD_MSG}</a>
</div>
<!-- END login_form -->

<!-- BEGIN logout_form -->
<div style="padding: 10px;">
	<nobr>
	{LOGIN_AS_MSG} <b>{user_login}</b>. 
	{ACCESS_HOME_MSG} <a href="{user_home_href}">{CLICK_HERE_MSG}</a>
	&nbsp;&nbsp;
	<span class="submit"><input class="submit" type="submit" value=" {LOGOUT_BUTTON} " /></span>
	</nobr>
</div>
<!-- END logout_form -->

</form>

</div>