<div class="block-products-releases-hot {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<!-- begin releases -->
			<div class="padding2px">
				<a class="title" href="{releases_href}?item_id={item_id}">{release_title} ({PROD_VER_MSG} {version})</a>
				<div class="articleDate">{release_date}</div>
				<div class="smallText" align="justify">{release_desc}&nbsp;<a class="smallText" href="{releases_href}?item_id={item_id}"><b>{MORE_MSG}</b></a></div>

			</div>
			<!-- end releases -->
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>