<div class="block-user-reminders {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">

<table border="0" cellspacing="1" width="100%" class="padding6px"><!-- begin sorters -->
<tr class="middlebg" align="center">
	<td>{NAME_MSG}</td>
	<td>{ADDRESS_MSG}</td>
	<td>&nbsp;</td>
</tr><!-- end sorters --><!-- BEGIN records -->
<tr class="usualbg" valign="top">
	<td>{name}</td>
	<td>{address}</td>
	<td align="center"><a href="{user_address_href}?address_id={address_id}">{EDIT_MSG}</a></td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usualbg">
	<td>{NO_ADDRESSES_MSG}</td>
</tr><!-- END no_records -->
</table>	
<table border="0" cellspacing="1" width="100%" class="padding6px">
<tr class="middlebg">
	<td><a href="{user_address_href}">{ADD_NEW_MSG}</a></td><!-- begin navigator_block -->
	<td align="right">{navigator}</td><!-- end navigator_block -->
</tr>
</table>

	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>