<div class="block-manuals-list {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
		<div class="padding10px">
			<!-- begin no_manuals --><div class="messagebg">{NO_MANUALS_MSG}</div><!-- end no_manuals -->
			<!-- begin categories -->
			<div class="middlebg padding6px"><a href="{category_href}" class="bigtitle">{cat_name}</a></div>
			<div>{category_short_description}</div>
			<div class="padding10px">
				<!-- begin manuals -->
				<div class="padding6px">
					<div class="title"><a href="{manual_href}" class="{restricted_class}">{manual_title}<!--begin restricted_image--><img src="images/tr.gif" alt="" class="{restricted_class}" /><!--end restricted_image--></a></div>
					<div class="comment">{short_description}</div>
				</div>
				<!-- end manuals -->
			</div>
			<!-- end categories -->
		</div>
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>