<div class="block-filter {block_class}" style="{block_style}">
<div class="BlockTop">
	<div class="TopCenter">
		<div class="TopLeftBgr">
			<div class="TopRightBgr">
				<div class="TopLeft"></div>
				<div class="TopRight"></div>
				<div class="TopTitle">
					<div class="TopTitleBgr"><div>{block_title}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="BlockMiddle">
	<div class="MiddleCenter">
	
		<table border="0" cellpadding="0" cellspacing="0"><!-- begin filter_properties_rows -->
		<tr><!-- begin filter_properties_cols -->
			<td valign="top" class="padding10px">
				<div class="filter_name">{property_name}</div><!-- begin filter_values -->
				<a href="{filter_url}">{value_title} ({value_total})</a><br /><!-- end filter_values --><!-- begin filter_more_link -->
				<div>
					<a id="fp_link_{property_id}" href="#" onclick="popupBlock('fp_link_{property_id}', 'fp_more_{property_id}', 'fp_image_{property_id}'); return false;">
					<img id="fp_image_{property_id}" src="images/icons/plus_small.gif" width="9" height="9" border="0" alt="" />
					{MORE_MSG}
					</a>
				</div><!-- end filter_more_link -->

				<div id="fp_more_{property_id}" class="filterPopup"><!-- begin filter_more_values -->
				<span class="nobr"><a href="{filter_url}">{value_title} ({value_total})</a></span><br /><!-- end filter_more_values -->
				</div>

				<!-- begin filter_selected -->
				<b>{value_title}</b> - <a href="{filter_url}">{REMOVE_FILTER_MSG}</a><!-- end filter_selected -->
			</td><!-- end filter_properties_cols -->
		</tr><!-- end filter_properties_rows -->
		</table>
			
	</div>
</div>
<div class="BlockBottom">
	<div class="BottomCenter">
		<div class="BottomLeft"></div>
		<div class="BottomRight"></div>
	</div>
</div>
</div>