<div class="block-site-articles-search-form searchIco {block_class}" style="">
	<script src="./js/extra/jquery-ui-1.9.1.custom.min.js"></script>
	<script>
    $(function() {
        function log( message ) {
            $( "<div>" ).text( message ).prependTo( "#log" );
            $( "#log" ).scrollTop( 0 );
        }
		function LoadCSS() {	
			var $ = document; // shortcut
			var cssId = 'vi_articles_search_autocomplete';  
			if (!$.getElementById(cssId)){
			var head  = $.getElementsByTagName('head')[0];
			var link  = $.createElement('link');
			link.id   = cssId;
			link.rel  = 'stylesheet';
			link.type = 'text/css';
			link.href = './styles/extra/ui-blue/jquery-ui-1.9.1.custom.css';
			link.media = 'all';
			head.appendChild(link);}	
		}
		
		LoadCSS();
        $( "#vi_articles_autocomplete" ).autocomplete({
            source: "./blocks/vi_articles_search_autocomplite.php",
            minLength: 2,
            select: function( event, ui ) {
                location.href = 'article.php?article_id=' + ui.item.id;
            }
        }) 
		.data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                .data( "item.autocomplete", item )
                .append( "<a style='line-height:1em;'>" +"<img src='"+item.image_small+"' style='text-align:left;vertical-align:middle; margin:3px; width:50px;'>"+ item.value +"</a>" )
                .appendTo( ul );
        };
    });
	</script>
	<form action="{search_href}" method="get">
		<input class="searchField" type="text" name="sq" value="{q}" id="vi_articles_autocomplete" /> <input
			class="searchSubmit" type="submit" name="search"
			value="{SEARCH_BUTTON}" />
	</form>
</div>