<div class="block-site-search-form searchIco {block_class}" style="">
	<form action="{search_href}" method="get">
		<input class="searchField" type="text" name="sq" value="{q}" /> <input
			class="searchSubmit" type="submit" name="search"
			value="{SEARCH_BUTTON}" />
	</form>
</div>